{forum:check_edit/}
<div class="box_middle">
	<div class="box_middle_header">Forum - Redigera tråd</div>
	<div class="box_middle_content">

		<div class="box_middle_lefter">
			<form method="post" action="/{page:rurl/}">
				<b>Rubrik</b><br />
				<br />
				<input type="text" id="title" name="title" style="width:455px;" value="{forum:item get='title'/}"/><br />
				<br />
				<b>Text</b><br />
				<br />
				<textarea id="text" name="text" style="width:455px;height:200px;">{forum:item get="text"/}</textarea><br />
				<br />
				<input type="submit" class="button_green" name="forum_edit" style="margin:0px;" value="REDIGERA TRÅD" />
			</form>
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>