{forum:check_create/}

{page:rurl index="2" empty="true"}
	<div class="box_middle">
	<div class="box_middle_header">Forum</div>
	<div class="box_middle_content">

		<div class="box_middle_lefter">
			Här diskuteras och frågas det om det mesta som rör hotell- & restaurangbranschen. Jobbannonsering hänvisas till vår <a href="/platsbanken">platsbank</a>. Reklaminlägg raderas och medför blockering.<br />
			<br />
			<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;" />
			<br />
			{login:logged_in state="true"}
				<button class="button_green" onClick="window.location='/forum/create';">SKAPA TRÅD</button>
			{/login:logged_in}
			{login:logged_in state="false"}
				<button class="button_green" onClick="window.location='/konto/logga-in';">POSTA ETT INLÄGG</button>
			{/login:logged_in}
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>

{forum:list}
<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td colspan="2">
					<h2><a href='/forum/list/{forum:item get="id"/}'>{forum:item get="title"/}</a></h2>
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<h3>av {forum:item get="first_name"/} {forum:item get="last_name"/}</h3>
					<b>Skapad:</b> {forum:item get="created_on"/} <b>Svar:</b> {forum:item get="replies"/}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<br />
					<a href='/forum/list/{forum:item get="id"/}' style='color:#000;font-weight:normal;'>{forum:item get="text" cut="200" add="..."/}</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="box_empty_footer"></div>
</div>
{/forum:list}
{/page:rurl}





{page:rurl index="2" not_empty="true"}
{forum:thread_topic}
<a name="post_{forum:item get='id'/}"></a>
	<div class="box_middle">
	<div class="box_middle_header">{forum:item get="title"/}</div>
	<div class="box_middle_content" style="min-height:0px;">
		<div class="box_middle_lefter">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td valign="top" width="100px;">
						<img src="/public/images/users/{platsbanken:profile_image account_id='{forum:item get='account_id'/}' /}" style="max-width:75px;" title="Profilbild" />
					</td>
					<td valign="top">
						<h3>{forum:item get="first_name"/} {forum:item get="last_name"/}:</h3>
						{forum:item get="text"/}
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:10px;margin-bottom:10px;" />
					</td>
				</tr>
				<tr>
					<td colspan="2">
						{forum:item get="created_on"/}
					
						{forum:delete}
						<span style="float:right;">
							<a href="/forum/edit/{forum:item get='id'/}">Redigera</a> | <a href="/{page:rurl/}/delete/{forum:item get='id'/}" onClick="return confirm('Vill du verkligen radera denna tråd och alla poster i tråden?');">Radera</a>
						</span>
						{/forum:delete}
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="box_middle_footer"></div>
</div>
{/forum:thread_topic}



{forum:list}
<a name="post_{forum:item get='id'/}"></a>
<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content" style="min-height:0px;">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td valign="top" width="100px;">
					<img src="/public/images/users/{platsbanken:profile_image account_id='{forum:item get='account_id'/}' /}" style="max-width:75px;" title="Profilbild" />
				</td>
				<td valign="top">
					<h3>{forum:item get="first_name"/} {forum:item get="last_name"/}:</h3>
					{forum:item get="text"/}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:10px;margin-bottom:10px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					{forum:item get="created_on"/}
					
					{forum:delete}
						<span style="float:right;">
							<a href="/forum/edit/{forum:item get='id'/}">Redigera</a> | <a href="/{page:rurl/}/delete/{forum:item get='id'/}" onClick="return confirm('Vill du verkligen radera denna post?');">Radera</a>
						</span>
					{/forum:delete}
				</td>
			</tr>
		</table>
	</div>
	<div class="box_empty_footer"></div>
</div>
{/forum:list}



<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content" style="min-height:0px;">
	
		{login:logged_in state="false"}
			Vänligen <a href="/konto/logga-in">logga in</a> eller <a href="/konto/registrera">registrera dig</a>, för att svara på denna tråd.
		{/login:logged_in}
		
		{login:logged_in state="true"}
		<h3>Svara på tråd:</h3>
		<form method="post" action="/{page:rurl/}">
			<b>Rubrik</b><br />
			<br />
			<input type="text" id="title" name="title" style="width:455px;"/><br />
			<br />
			<b>Text</b><br />
			<br />
			<textarea id="text" name="text" style="width:455px;height:200px;"></textarea><br />
			<br />
			<input type="submit" class="button_green" name="forum_reply" style="margin:0px;" value="SVARA PÅ TRÅD" />
		</form>
		{/login:logged_in}
	</div>
	<div class="box_empty_footer"></div>
</div>
{/page:rurl}