<div class="box_middle">
	<div class="box_middle_header">{lang:get string="_startpage_welcome_to_the_new_hrtorget"/}</div>
	<div class="box_middle_content" style="padding-top:0px;min-height:0px;">

		<div class="box_middle_lefter" style="margin-bottom:0px;">
			{html_area:get id="5"/}
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>

{startpage:branschnyheter limit="20"}

{if:equals arg1="{startpage:increment/}" arg2="3"}

{banners:banners size_profile="4" check="true"}
	{banners:banners size_profile="4" random="true"}
		<div style="margin-bottom:10px;width:511px;">
		{banners:has_flash state="true"}
				<script>
					jQuery("document").ready(function($) {
						// flash check for advertisement
						if(swfobject.hasFlashPlayerVersion("1")) {
							// show the big banner
							var ad_big_flash = document.getElementById("startpage_flash_{banners:item get='id'/}");
							ad_big_flash.style.display = "block";
							var ad_big_image = document.getElementById("startpage_image_{banners:item get='id'/}");
							ad_big_image.style.display = "none";
						}
					});
				</script>
			<div id="startpage_flash_{banners:item get='id'/}" style="display:block;margin-bottom:10px !important;">
				<embed onClick="adClick({banners:item get='id'/});" id="animationName" width="511" wmode="transparent" loop="true" scale="noscale" allowscriptaccess="sameDomain" quality="high" bgcolor="#FFFFFF" name="animationName" src="/public/images/advertisement/{banners:item get='flash'/}" type="application/x-shockwave-flash">
			</div>
			<div id="startpage_image_{banners:item get='id'/}" style="display:block;margin-bottom:10px !important;">
				<a onClick="adClick({banners:item get='id'/});" href="{banners:item get='url'/}" target="_blank">
					<img src="/public/images/advertisement/{banners:item get='fallback'/}" title="banners" width="511" />
				</a>
			</div>
		{/banners:has_flash}
		{banners:has_flash state="false"}
			<div id="startpage_image2_{banners:item get='id'/}" style="display:block;margin-bottom:10px !important;">
				<a onClick="adClick({banners:item get='id'/});" href="{banners:item get='url'/}" target="_blank">
					<img src="/public/images/advertisement/{banners:item get='fallback'/}" title="banners" width="511" />
				</a>
			</div>
		{/banners:has_flash}
		</div>
	{/banners:banners}
{/banners:banners}

{/if:equals}


<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content">
		<table width="100%" cellpadding="0" cellspacing="0">
			{if:not_empty string="{startpage:item get='image_mini_thumb'/}"}
			<tr>
				<td valign="top" style="padding-right:20px;width:133px;" align="center">
					<a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">
						<img src="/public/images/branschnyheter/{startpage:get_image return='image_thumb' branschnyheter_id='{startpage:item get='id'/}' index='1'/}" title="{startpage:item get='title'/}" border="0" />
					</a>
				</td>
				<td valign="top">
					<h2><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">{startpage:item get="title" remove_br="true"/}</a></h2>
					<p><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" style="color:#000000;font-weight:normal;">{startpage:item get="breadcrumb" remove_br="true" cut="200" /}</a>... <a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">{lang:get string="_startpage_read_more"/}</a></p>
					
				</td>
			</tr>
			{/if:not_empty}
			
			{if:empty string="{startpage:item get='image_mini_thumb'/}"}
			<tr>
				<td valign="top">
					<h2><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">{startpage:item get="title" remove_br="true"/}</a></h2>
					<p><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" style="color:#000000;font-weight:normal;">{startpage:item get="breadcrumb" remove_br="true" cut="200" /}</a>... <a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">{lang:get string="_startpage_read_more"/}</a></p>
					
				</td>
			</tr>
			{/if:empty}
		</table>
	</div>
	<div class="box_empty_footer"></div>
</div>
{/startpage:branschnyheter}