<div class="box_middle">
	<div class="box_middle_header">Branschnyheter</div>
	<div class="box_middle_content">

		<div class="box_middle_lefter">
			<h2>{startpage:item get="title"/}</h2>
			{startpage:item get="breadcrumb"/}<br />
			<table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center">
			<img style="align:center;" src="/public/images/branschnyheter/{startpage:item get='image_big_1'/}"/>
			</td></tr></table>
			<br />
			{startpage:item get="text"/}<br />
			<table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center">
			<img style="align:center;" src="/public/images/branschnyheter/{startpage:item get='image_big_2'/}"/>
			</td></tr></table>
			<br />
			<br />
			Dela via Facebook<br />
			<div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial" data-action="recommend"></div>
		</div>
		
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td style="border-right:1px solid #E1E1E1;width:122px;"><button class="button_green" style="margin:0px;" onClick="window.location='/nyheter'">TILLBAKA</button></td>
					<td align="right" style="width:201px;">{startpage:previous check='true'}<button class="button_green" style="margin:0px;" onClick="window.location='/nyheter/{startpage:previous get='id'/}/{startpage:previous get='url_friendly'/}'">< FÖREGÅENDE NYHET</button>{/startpage:previous}</td>
					<td align="right" style="width:147px;">{startpage:next check='true'}<button class="button_green" style="margin:0px;" onClick="window.location='/nyheter/{startpage:next get='id'/}/{startpage:next get='url_friendly'/}'">NÄSTA NYHET ></button>{/startpage:next}</td>
				</tr>
			</table>
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>