# H1 TITLE #
{template:area id="1"}
	Startsidan
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/platsbanken.css" type="text/css" />
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1&appId=529919107039784";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
	{page:rurl index="1" empty="true"}
		{template:file path="/public/pages/startpage/main_box.htm"/}
	{/page:rurl}
	
	{page:rurl index="1" not_empty="true"}
		{template:file path="/public/pages/startpage/nyhet.htm"/}
	{/page:rurl}
{/template:area}

# THE RIGHT CONTENT AREA #
{template:area id="11"}

	{template:file path="/public/master_templates/prenumerera_senaste.htm"/}
	
{/template:area}