{template:area id="1"}
<link rel="stylesheet" href="/public/js/jquery_ui/jquery-ui.css" />
<script src="/public/js/jquery_ui/jquery-1.9.1.js"></script>
<script src="/public/js/jquery_ui/jquery-ui.js"></script>
<script>
$(function() {
{kontakt:requests status="waiting"}
	$( "#dialog_companies_{kontakt:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{kontakt:item get='id'/}" ).click(function() {
		$( "#dialog_companies_{kontakt:item get='id'/}" ).dialog( "open" );
	});
{/kontakt:requests}
{kontakt:requests status="accepted"}
	$( "#dialog_companies_{kontakt:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{kontakt:item get='id'/}" ).click(function() {
		$( "#dialog_companies_{kontakt:item get='id'/}" ).dialog( "open" );
	});
{/kontakt:requests}
{kontakt:requests status="declined"}
	$( "#dialog_companies_{kontakt:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{kontakt:item get='id'/}" ).click(function() {
		$( "#dialog_companies_{kontakt:item get='id'/}" ).dialog( "open" );
	});
{/kontakt:requests}
});
</script>
{/template:area}

{template:area id="2"}
<div style="margin:10px;">




{kontakt:requests}
	<div id="dialog_companies_{kontakt:item get='id'/}" title="Visa Förfrågan">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td width="150px" valign="top"><strong>Skickat</strong></td>
				<td valign="top">{kontakt:item get='sent'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>IP</strong></td>
				<td valign="top">{kontakt:item get='ip'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Typ</strong></td>
				<td valign="top">{kontakt:item get='type'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Namn</strong></td>
				<td valign="top">{kontakt:item get='name'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Email</strong></td>
				<td valign="top">{kontakt:item get='email'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Företags Namn</strong></td>
				<td valign="top">{kontakt:item get='company_name'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Telefon</strong></td>
				<td valign="top">{kontakt:item get='telephone'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Meddelande</strong></td>
				<td valign="top">{kontakt:item get='message'/}</td>
			</tr>
		</table>
	</div>
{/kontakt:requests}



<br/>
<br/>
<h2>Väntar på kontakt</h2>
<br/>
<table class="table" cellpadding="0" cellspacing="0" border="0">
	<tr>
        <th style="width:80px"></th>
        <th style="width:80px"></th>
        <th style="width:80px;"></th>
		<th style="width:100px;">Skickat</th>
		<th style="width:100px;">IP</th>
		<th style="width:80px;">Typ</th>
		<th style="width:80px;">Namn</th>
		<th style="width:100px;">Email</th>
		<th style="width:100px;">Företags&nbsp;Namn</th>
		<th style="width:80px;">Telefon</th>
		<th style="width:150px;">Meddelande</th>
	</tr>
	{kontakt:requests status="waiting"}
	<tr>
        <td style="text-align:center"><a href="#" class="opener_{kontakt:item get='id'/}" >Visa&nbsp;Förfrågan</a></td>
        <td style="text-align:center"><a href="#" onClick="document.location='/admin/kontakt/requests/accept/{kontakt:item get='id'/}';return false;" >Kontaktad</a></td>
        <td style="text-align:center"><a href="#" onClick="document.location='/admin/kontakt/requests/decline/{kontakt:item get='id'/}';return false;" >Ta&nbsp;Bort</a></td>
		<td>{kontakt:item get='sent'/}</td>
		<td>{kontakt:item get='ip'/}</td>
		<td>{kontakt:item get='type'/}</td>
		<td>{kontakt:item get='name'/}</td>
		<td>{kontakt:item get='email'/}</td>
		<td>{kontakt:item get='company_name'/}</td>
		<td>{kontakt:item get='telephone'/}</td>
		<td>{kontakt:item get='message' cut='50' add='...'/}</td>
	</tr>
	{/kontakt:requests}
</table>

<br/>
<br/>
<h2>Kontaktade</h2>
<br />
<table class="table" cellpadding="0" cellspacing="0" border="0">
	<tr>
        <th style="width:80px"></th>
        <th style="width:80px"></th>
        <th style="width:80px;"></th>
		<th style="width:100px;">Skickat</th>
		<th style="width:100px;">IP</th>
		<th style="width:80px;">Typ</th>
		<th style="width:80px;">Namn</th>
		<th style="width:100px;">Email</th>
		<th style="width:100px;">Företags&nbsp;Namn</th>
		<th style="width:80px;">Telefon</th>
		<th style="width:150px;">Meddelande</th>
	</tr>
	{kontakt:requests status="accepted"}
	<tr>
        <td style="text-align:center"><a href="#" class="opener_{kontakt:item get='id'/}" >Visa&nbsp;Förfrågan</a></td>
        <td style="text-align:center"></td>
        <td style="text-align:center"></td>
		<td>{kontakt:item get='sent'/}</td>
		<td>{kontakt:item get='ip'/}</td>
		<td>{kontakt:item get='type'/}</td>
		<td>{kontakt:item get='name'/}</td>
		<td>{kontakt:item get='email'/}</td>
		<td>{kontakt:item get='company_name'/}</td>
		<td>{kontakt:item get='telephone'/}</td>
		<td>{kontakt:item get='message' cut='50' add='...'/}</td>
	</tr>
	{/kontakt:requests}
</table>

<br/>
<br/>
<h2>Borttagna</h2>
<br/>
<table class="table" cellpadding="0" cellspacing="0" border="0">
	<tr>
        <th style="width:80px"></th>
        <th style="width:80px"></th>
        <th style="width:80px;"></th>
		<th style="width:100px;">Skickat</th>
		<th style="width:100px;">IP</th>
		<th style="width:80px;">Typ</th>
		<th style="width:80px;">Namn</th>
		<th style="width:100px;">Email</th>
		<th style="width:100px;">Företags&nbsp;Namn</th>
		<th style="width:80px;">Telefon</th>
		<th style="width:150px;">Meddelande</th>
	</tr>
	{kontakt:requests status="declined"}
	<tr>
        <td style="text-align:center"><a href="#" class="opener_{kontakt:item get='id'/}" >Visa&nbsp;Förfrågan</a></td>
        <td style="text-align:center"><a href="#" onClick="document.location='/admin/kontakt/requests/accept/{kontakt:item get='id'/}';return false;" >Kontaktad</a></td>
        <td style="text-align:center"></td>
        <td>{kontakt:item get='sent'/}</td>
		<td>{kontakt:item get='ip'/}</td>
		<td>{kontakt:item get='type'/}</td>
		<td>{kontakt:item get='name'/}</td>
		<td>{kontakt:item get='email'/}</td>
		<td>{kontakt:item get='company_name'/}</td>
		<td>{kontakt:item get='telephone'/}</td>
		<td>{kontakt:item get='message' cut='50' add='...'/}</td>
	</tr>
	{/kontakt:requests}
</table>

</div>
{/template:area}