<div class="branschguiden_search_bar_text">
	{lang:get string='_yellow_search_bar_description'/}
</div>
<div class="branschguiden_search_bar_input">
	<form method="GET" action="/branschguiden-sok">
	<input type="hidden" name="search_in" value="branschguiden" />
	<input type="text" class="branschguiden_search_bar_input_field{sok:search_string not_empty='true'} defaultTextActive{/sok:search_string}" name="q" rel="blur" title="Vad söker du?" value="{sok:search_string/}" />
</div>
<div class="branschguiden_search_bar_submit">
	<input type="SUBMIT" class="button_orange" value="{lang:get string='_yellow_search_bar_find'/}" style="font-size:11px;" />
	</form>
</div>