
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/public/js/vertical_ticker/jquery.totemticker.js"></script>
<script type="text/javascript">
$(function(){
	$('#vertical-ticker').totemticker({
		row_height:'5px', // Height of each ticker row in PX
		next:'#ticker-next', // ID of next button or link
		previous:'#ticker-previous', // ID of previous button or link
		stop:'#stop', // ID of stop button or link
		start:'#start', // ID of start button or link
		mousestop:true, // Stop while mouse is hovers over it
		speed: 300, // Speed of transition animation (ms)
		interval: 1000, // Time between change (ms)
		max_items: 5 // Maximum items to display
	});
});
</script>

<div class="branschguiden_search_bar_text">

	<span style="float:left;width:160px;">
		<ul id="vertical-ticker">
			<li><a href="#">Köksutrustning</a></li>
			<li><a href="#">Badrum</a></li>
			<li><a href="#">Diskmaskin</a></li>
		</ul>
	</span>
	<span style="float:leftwidth:600px;">
		hittar du bland 400 leverantörer i Branschguiden:
	</span>
</div>
<div class="branschguiden_search_bar_input">
	<form method="GET" action="/branschguiden-sok">
	<input type="hidden" name="search_in" value="branschguiden" />
	<input type="text" class="branschguiden_search_bar_input_field{sok:search_string not_empty='true'} defaultTextActive{/sok:search_string}" name="q" rel="blur" title="Vad söker du?" value="{sok:search_string/}" />
</div>
<div class="branschguiden_search_bar_submit">
	<input type="SUBMIT" class="button_orange" value="HITTA LEVERANTÖR" style="font-size:11px;" />
	</form>
</div>