		<div class="top_header" style="height:78px;overflow:hidden;width:980px;">
			<a href="{page:external_path/}" style="margin:0px;padding:0px;">
				<img src="{page:external_path/}/public/images/hrtorget-topbanner-2014.png" border="0" alt="Top Header" />
			</a>
		</div>
		
		<div class="top_menu">
		
			<div class="top_menu_wrapper">
			
				<div class="top_menu">
					<div class="top_menu_left"></div>
					<div class="top_menu_mid">
						<a href="{page:external_path/}/startsidan"><div class="top_menu_item{page:rurl index='0' equals='startsidan'} active{/page:rurl}{page:rurl index='0' empty='true'} active{/page:rurl}" onMouseOver="startHover('{page:rurl index='0' equals='startsidan'}active{/page:rurl}{page:rurl index='0' empty='true'}active{/page:rurl}')" onMouseOut="startHoverOut('{page:rurl index='0' equals='startsidan'}active{/page:rurl}{page:rurl index='0' empty='true'}active{/page:rurl}')">
							<div class="top_menu_item_left" id="left_0"></div>
							<div class="top_menu_item_mid menu_home" id="mid_0"><img src="{page:external_path/}/public/images/design/spacer.png" style="width:46px;height:50px;display:block;" title="Startsidan" border="0" /></div>
							<div class="top_menu_item_right" id="right_0"></div>
						</div></a>
						
						<a href="{page:external_path/}/branschguiden"><div class="top_menu_item{page:rurl index='0' equals='branschguiden'} active{/page:rurl}" onMouseOver="menuHover(1,'{page:rurl index='0' equals='branschguiden'}active{/page:rurl}')" onMouseOut="menuHoverOut(1,'{page:rurl index='0' equals='branschguiden'}active{/page:rurl}')">
							<div class="top_menu_item_left" id="left_1"></div>
							<div class="top_menu_item_mid" id="mid_1">{lang:get string='_top_menu_news'/}</div>
							<div class="top_menu_item_right" id="right_1"></div>
						</div></a>
						
						<div class="top_menu_item_divider"></div>
						
						<a href="{page:external_path/}/nyheter"><div class="top_menu_item{page:rurl index='0' equals='nyheter'} active{/page:rurl}" onMouseOver="menuHover(2,'{page:rurl index='0' equals='nyheter'}active{/page:rurl}')" onMouseOut="menuHoverOut(2,'{page:rurl index='0' equals='nyheter'}active{/page:rurl}')">
							<div class="top_menu_item_left" id="left_2"></div>
							<div class="top_menu_item_mid" id="mid_2">{lang:get string='_top_menu_latest_news'/}</div>
							<div class="top_menu_item_right" id="right_2"></div>
						</div></a>
						
						<div class="top_menu_item_divider"></div>
						
						<a href="{page:external_path/}/platsbanken"><div class="top_menu_item{page:rurl index='0' equals='platsbanken'} active{/page:rurl}" onMouseOver="menuHover(3,'{page:rurl index='0' equals='platsbanken'}active{/page:rurl}')" onMouseOut="menuHoverOut(3,'{page:rurl index='0' equals='platsbanken'}active{/page:rurl}')">
							<div class="top_menu_item_left" id="left_3"></div>
							<div class="top_menu_item_mid" id="mid_3">{lang:get string='_top_menu_job_section'/}</div>
							<div class="top_menu_item_right" id="right_3"></div>
						</div></a>
						
						<div class="top_menu_item_divider"></div>
						
						<a href="{page:external_path/}/till-salu"><div class="top_menu_item{page:rurl index='0' equals='till-salu'} active{/page:rurl}" onMouseOver="menuHover(4,'{page:rurl index='0' equals='till-salu'}active{/page:rurl}')" onMouseOut="menuHoverOut(4,'{page:rurl index='0' equals='till-salu'}active{/page:rurl}')">
							<div class="top_menu_item_left" id="left_4"></div>
							<div class="top_menu_item_mid" id="mid_4">{lang:get string='_top_menu_buy_sell'/}</div>
							<div class="top_menu_item_right" id="right_4"></div>
						</div></a>
						
						<div class="top_menu_item_divider"></div>
						
						<a href="{page:external_path/}/kalender"><div class="top_menu_item{page:rurl index='0' equals='kalender'} active{/page:rurl}" onMouseOver="menuHover(5,'{page:rurl index='0' equals='kalender'}active{/page:rurl}')" onMouseOut="menuHoverOut(5,'{page:rurl index='0' equals='kalender'}active{/page:rurl}')">
							<div class="top_menu_item_left" id="left_5"></div>
							<div class="top_menu_item_mid" id="mid_5">{lang:get string='_top_menu_calendar'/}</div>
							<div class="top_menu_item_right" id="right_5"></div>
						</div></a>
						
						<div class="top_menu_item_divider"></div>
						
						<a href="{page:external_path/}/forum"><div class="top_menu_item{page:rurl index='0' equals='forum'} active{/page:rurl}" onMouseOver="menuHover(6,'{page:rurl index='0' equals='forum'}active{/page:rurl}')" onMouseOut="menuHoverOut(6,'{page:rurl index='0' equals='forum'}active{/page:rurl}')">
							<div class="top_menu_item_left" id="left_6"></div>
							<div class="top_menu_item_mid" id="mid_6">{lang:get string='_top_menu_forum'/}</div>
							<div class="top_menu_item_right" id="right_6"></div>
						</div></a>
						
						<div class="top_menu_item_divider"></div>
						
						<a href="{page:external_path/}/om-oss"><div class="top_menu_item{page:rurl index='0' equals='om-oss'} active{/page:rurl}" onMouseOver="menuHover(7,'{page:rurl index='0' equals='om-oss'}active{/page:rurl}')" onMouseOut="menuHoverOut(7,'{page:rurl index='0' equals='om-oss'}active{/page:rurl}')">
							<div class="top_menu_item_left" id="left_7"></div>
							<div class="top_menu_item_mid" id="mid_7">{lang:get string='_top_menu_about'/}</div>
							<div class="top_menu_item_right" id="right_7"></div>
						</div></a>
						
						<div class="top_menu_item_divider"></div>
						
						<a href="{page:external_path/}/annonsera"><div class="top_menu_item{page:rurl index='0' equals='annonsera'} active{/page:rurl}" onMouseOver="menuHover(8,'{page:rurl index='0' equals='annonsera'}active{/page:rurl}')" onMouseOut="menuHoverOut(8,'{page:rurl index='0' equals='annonsera'}active{/page:rurl}')">
							<div class="top_menu_item_left" id="left_8"></div>
							<div class="top_menu_item_mid" id="mid_8">{lang:get string='_top_menu_advertise'/}</div>
							<div class="top_menu_item_right" id="right_8"></div>
						</div></a>
						
						<div class="top_menu_search">
							<form method="GET" action="/sok">
							<div class="search_box"><input type="TEXT" class="top_menu_search_box defaultTextActive" rel="blur" title="..." name="q" /></div>
							<div class="search_submit"><input type="SUBMIT" class="top_menu_search_submit" value="" /></div>
							</form>
						</div>
						
					</div>
					<div class="top_menu_right"></div>
				</div>
				
			</div>
		</div>