<div class="top_login_bar">
	<div class="top_login_wrapper">
		<div class="left"></div>
		<div class="middle">
		{login:logged_in state="true"}
			<div class="login_box">
				<div style="float:right;">
					<a href="/konto/logga-ut">{lang:get string='_login_bar_logout'/}</a>
					<span class="divider"></span>
					<a href="/konto/andra-losenord">{lang:get string='_login_bar_change_password'/}</a>
					{account:is_admin}
					<span class="divider"></span>
					<a href="/admin" target="_new">{lang:get string='_login_bar_administration'/}</a>
					{/account:is_admin}
				</div>
				<div style="float:left;">
					<a href="/konto/mitt-cv">{lang:get string='_login_bar_my_profile'/}</a>
					{permissions:check id="3" state="true" action="innerhtml"}
					<span class="divider"></span>
					<a href="/konto/mina-annonser">{lang:get string='_login_bar_my_adverts'/}{annonser:waiting_requests} ({annonser:total/}){/annonser:waiting_requests}</a>
					<span class="divider"></span>
					<a href="/konto/arbetsgivare/foretag">{lang:get string='_login_bar_my_companies'/}{arbetsgivare:waiting_requests} ({arbetsgivare:total/}){/arbetsgivare:waiting_requests}</a>
					{/permissions:check}
					<span class="divider"></span>
					<div class="profile_bar">
						{konto:profile get='personuppgifter' name='first_name'/} {konto:profile get='personuppgifter' name='last_name'/}
					</div>
					<div class="profile_bar" style="margin-left:20px;">
						<img src="/public/images/users/{konto:profile_image /}" title="Profilbild" />
					</div>
				</div>
			</div>
		{/login:logged_in}
		{login:logged_in state="false"}
			<div class="left_box">{lang:get string='_login_bar_text_1'/} <a href="/konto/registrera"><b>{lang:get string='_login_bar_text_button'/}</b></a> {lang:get string='_login_bar_text_2'/}</div>
			<div class="right_box"><a href="/konto/logga-in"><b>{lang:get string='_login_bar_login'/}</b></a></div>
		{/login:logged_in}
		</div>
		<div class="right"></div>
	</div>
</div>