<div class="box_small">
	<div class="box_small_header">{lang:get string='_subscriber_become_a_subscriber'/}</div>
	<div class="box_small_content">
		<b>{lang:get string='_subscriber_free'/}</b> {lang:get string='_subscriber_description'/}<br />
		<br />
		<form method="POST" action="/{page:rurl/}">
			{newsletter:check/}
			{newsletter:message check="true"}
				- Snyggt jobbat! Du kommer nu att få våra nyhetsbrev<br />
				<br />
			{/newsletter:message}
			<input type="text" class="defaultTextActive" style="width:205px;" rel="blur" title="Din epost" value="{lang:get string='_subscriber_your_email'/}" name="newsletter_email" /><br />
			<br />
			<input type="SUBMIT" class="button_green" value="{lang:get string='_subscriber_subscribe'/}" /><br />
			<input type="CHECKBOX" class="button_green" name="newsletter_remove" value="true" /> {lang:get string='_subscriber_unsubscribe'/}
			
		</form>
	</div>
	<div class="box_small_footer"></div>
</div>

<div class="box_small">
	<div class="box_small_header">{lang:get string='_facebook_title'/}</div>
	<div class="box_small_content" style="margin:0px;padding:0px;">
		<p style="padding-left:10px;">{lang:get string='_facebook_description'/}</p>
		<iframe src="{lang:get string='_facebook_page_url'/}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:261px; height:340px;" allowtransparency="true"></iframe>
	</div>
	<div class="box_small_footer"></div>
</div>

<div class="box_small">
	<div class="box_small_header">{lang:get string='_market_box_title'/}</div>
	<div class="box_small_content">
		{kop_salj:all_annonser limit="5"}
		<a href="/till-salu/{kop_salj:item get='id'/}/{functions:url_friendly string="{kop_salj:item get='title'/}"/}">{kop_salj:item get="title"/}</a><br />
		<a href="/till-salu/{kop_salj:item get='id'/}/{functions:url_friendly string="{kop_salj:item get='title'/}"/}" style="color:#000000;font-weight:normal;">{kop_salj:item get="description" cut="110" add="..." remove_br="true" /}</a>
		<br />
		<br />
		Pris: <b>{kop_salj:item get="price"/}</b><br />
		<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;" />
		{/kop_salj:all_annonser}
		<br />
		<a href="/till-salu">{lang:get string='_market_box_show_all'/}</a>
	</div>
	<div class="box_small_footer"></div>
</div>

<div class="box_small">
	<div class="box_small_header">{lang:get string='_latest_jobs_title'/}</div>
	<div class="box_small_content">
		{platsbanken:jobbannonser limit="5"}
		<a href="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string="{platsbanken:item get='title'/}"/}">{platsbanken:item get="title"/}</a><br />
		<a href="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string="{platsbanken:item get='title'/}"/}" style="color:#000000;font-weight:normal;">{platsbanken:item get="description" cut="200" add="..." remove_br="true" /}</a>
		<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;" />
		{/platsbanken:jobbannonser}
		<br />
		<a href="/platsbanken/arbetssokande">{lang:get string='_latest_jobs_read_more'/}</a>
	</div>
	<div class="box_small_footer"></div>
</div>