{page:rurl index="1" equals="leverantor"}
	{branschguiden:load_company url_friendly="{page:rurl index='2'/}"/}
	
	{if:not_empty string="{branschguiden:item get='banner_fallback'/}"}
		<div style="height:120px !important;display:block;overflow:hidden;">
			{banners:banners size_profile="2" random="true"}
				<div style="width:{banners:item get='width'/}px;height:{banners:item get='height'/}px;">
						{banners:has_flash state="true"}
							<script>
								jQuery("document").ready(function($) {
									// flash check for advertisement
									if(swfobject.hasFlashPlayerVersion("1")) {
										// show the big banner
										var ad_big_flash = document.getElementById("1company_big_flash_{banners:item get='id'/}");
										ad_big_flash.style.display = "block";
										var ad_big_image = document.getElementById("1company_big_image_{banners:item get='id'/}");
										ad_big_image.style.display = "none";
									}
								});
							</script>
							<div id="1company_big_flash_{banners:item get='id'/}" style="display:none;">
								<embed id="animationName" width="{banners:item get='width'/}px" height="{banners:item get='height'/}px" wmode="transparent" loop="true" scale="noscale" allowscriptaccess="sameDomain" quality="high" bgcolor="#FFFFFF" name="animationName" src="/public/images/advertisement/{banners:item get='flash'/}" type="application/x-shockwave-flash">
							</div>
							<div id="1company_big_image_{banners:item get='id'/}" style="display:block;">
								<a href="{banners:item get='url' link='true'/}" target="_blank" onClick="alert('test');">
									<img src="/public/images/advertisement/{banners:item get='fallback'/}" border="0" width="{banners:item get='width'/}px" height="{banners:item get='height'/}px" />
								</a>
							</div>
						{/banners:has_flash}
						{banners:has_flash state="false"}
							<div id="1company_big_imaged_{banners:item get='id'/}" style="display:block;">
								<a href="{banners:item get='url' link='true'/}" target="_blank" onClick="alert('test');">
									<img src="/public/images/advertisement/{banners:item get='fallback'/}" width="{banners:item get='width'/}px" height="{banners:item get='height'/}px" />
								</a>
							</div>
						{/banners:has_flash}
				</div>
			{/banners:banners}
		</div>
	{/if:not_empty}
{/page:rurl}

{page:rurl index="1" not_equal="leverantor"}
	{banners:banners size_profile="2" check="true"}
	<div style="height:120px !important;display:block;overflow:hidden;">
		<ul id="vertical-ticker" style="height:120px !important;">
		{banners:banners size_profile="2" random="true"}
			<li>
				<div style="width:{banners:item get='width'/}px;height:{banners:item get='height'/}px;">
						{banners:has_flash state="true"}
							<script>
								jQuery("document").ready(function($) {
									// flash check for advertisement
									if(swfobject.hasFlashPlayerVersion("1")) {
										// show the big banner
										var ad_big_flash = document.getElementById("ad_big_flash_{banners:item get='id'/}");
										ad_big_flash.style.display = "block";
										var ad_big_image = document.getElementById("ad_big_image_{banners:item get='id'/}");
										ad_big_image.style.display = "none";
									}
								});
							</script>
							<div id="ad_big_flash_{banners:item get='id'/}" style="display:none;">
								<embed onClick="adClick({banners:item get='id'/});" id="animationName" width="{banners:item get='width'/}px" height="{banners:item get='height'/}px" wmode="transparent" loop="true" scale="noscale" allowscriptaccess="sameDomain" quality="high" bgcolor="#FFFFFF" name="animationName" src="/public/images/advertisement/{banners:item get='flash'/}" type="application/x-shockwave-flash">
							</div>
							<div id="ad_big_image_{banners:item get='id'/}" style="display:block;">
								<a onClick="adClick({banners:item get='id'/});" href="{banners:item get='url' link='true'/}" target="_blank">
									<img src="/public/images/advertisement/{banners:item get='fallback'/}" border="0" width="{banners:item get='width'/}px" height="{banners:item get='height'/}px" />
								</a>
							</div>
						{/banners:has_flash}
						{banners:has_flash state="false"}
							<div id="ad_big_imaged_{banners:item get='id'/}" style="display:block;">
								<a onClick="adClick({banners:item get='id'/});" href="{banners:item get='url' link='true'/}" target="_blank">
									<img src="/public/images/advertisement/{banners:item get='fallback'/}" width="{banners:item get='width'/}px" height="{banners:item get='height'/}px" />
								</a>
							</div>
						{/banners:has_flash}
				</div>
			</li>
		{/banners:banners}
		</ul>
	</div>
	{/banners:banners}



	{banners:show_once unique_id="2"}
		{banners:more_than_one}
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
			<script type="text/javascript" src="/public/js/vertical_ticker/jquery.totemticker.js"></script>
			<script type="text/javascript">
				jQuery("document").ready(function($) {
					$('#vertical-ticker').totemticker({
						row_height:'150px', // Height of each ticker row in PX
						next:'#ticker-next', // ID of next button or link
						previous:'#ticker-previous', // ID of previous button or link
						stop:'#stop', // ID of stop button or link
						start:'#start', // ID of start button or link
						mousestop:true, // Stop while mouse is hovers over it
						speed: 500, // Speed of transition animation (ms)
						interval: 4000, // Time between change (ms)
						max_items: {banners:banners_total/} // Maximum items to display
					});
				});
			</script>
		{/banners:more_than_one}
	{/banners:show_once}

{/page:rurl}