{banners:banners size_profile="1" check="true"}
	{banners:banners size_profile="1" random="true"}
		<div style="width:190px;margin-top:7px;">
			{banners:has_flash state="true"}
				<script>
					jQuery("document").ready(function($) {
						// flash check for advertisement
						if(swfobject.hasFlashPlayerVersion("1")) {
							// show the big banner
							var ad_big_flash = document.getElementById("right_small_flash_{banners:item get='id'/}");
							ad_big_flash.style.display = "block";
							var ad_big_image = document.getElementById("right_small_image_{banners:item get='id'/}");
							ad_big_image.style.display = "none";
						}
					});
				</script>
			<div id="right_small_flash_{banners:item get='id'/}" style="display:none;background-color:#ffffff;">
				<embed onClick="adClick({banners:item get='id'/});" id="animationName" name="animationName" width="190" height="{if:not_empty string="{banners:parent get='size_override_height'/}" else="285"}{banners:parent get='size_override_height'/}{/if:not_empty}" wmode="transparent" loop="true" scale="noscale" allowscriptaccess="sameDomain" quality="high" bgcolor="#FFFFFF" src="/public/images/advertisement/{banners:item get='flash'/}" type="application/x-shockwave-flash">
			</div>
			<div id="right_small_image_{banners:item get='id'/}" style="display:block;background-color:#ffffff;">
				<a onClick="adClick({banners:item get='id'/});" href="{banners:item get='url' link='true'/}" target="_blank">
					<img src="/public/images/advertisement/{banners:item get='fallback'/}" title="banners" width="190" height="{if:not_empty string="{banners:parent get='size_override_height'/}" else="285"}{banners:parent get='size_override_height'/}{/if:not_empty}" />
				</a>
			</div>
		{/banners:has_flash}
		{banners:has_flash state="false"}
			<div id="right_small_image_{banners:item get='id'/}" style="display:block;background-color:#ffffff;">
				<a onClick="adClick({banners:item get='id'/});" href="{banners:item get='url' link='true'/}" target="_blank">
					<img src="/public/images/advertisement/{banners:item get='fallback'/}" title="banners" width="190" height="{if:not_empty string="{banners:parent get='size_override_height'/}" else="285"}{banners:parent get='size_override_height'/}{/if:not_empty}" />
				</a>
			</div>
		{/banners:has_flash}
		</div>
	{/banners:banners}
{/banners:banners}
