{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<script>
		function updateIframe(id,request) {
			var iframe = document.getElementById('cat_startpage_'+id);
			iframe.src = "/konto/arbetsgivare/foretag/kategorier/column/"+ id +"/{page:rurl index='3'/}/no-menu"+request;
		}
		function productEdit(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "none";
			edit.style.display = "block";
		}
		
		function productClose(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "block";
			edit.style.display = "none";
		}
		function productNew() {
			var newProduct = document.getElementById('company_product_new');
			newProduct.style.display = "block";
		}
	</script>
{/template:area}

{template:area id="2"}
{admin_foretag:update_info success_redirect="/admin/foretag/redigera/{page:rurl index='3'/}"/}
<div style="margin:10px;">


<input type="SUBMIT" onClick="window.location='/admin/foretag'" class="button_green" value="VISA ALLA FÖRETAG" />
<br />
<br />

<form method="post" action="/{page:rurl/}" enctype="multipart/form-data">
	<div class="platsbanken_lefter_row">
		<h2>Skapa Företag</h2>
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Konto Ägare</strong><br />
		<select name="companies_owner">
			<option value="_empty">- Välj Ägare -</option>
		{admin_foretag:accounts}
			<option value="{admin_foretag:subitem get='id'/}"{if:equals arg1="{admin_foretag:item get='owner'/}" arg2="{admin_foretag:subitem get='id'/}"} selected="selected"{/if:equals}>{admin_foretag:subitem get='first_name'/} {admin_foretag:subitem get='last_name'/} ({admin_foretag:subitem get='email'/})</option>
		{/admin_foretag:accounts}
		</select>
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Organisations Nummer</strong><br />
		<input type="text" class="form text" name="companies_org_number" value="{admin_foretag:item get='org_number'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Namn</strong><br />
		<input type="text" class="form text" name="companies_name" value="{admin_foretag:item get='name'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Beskrivning</strong><br />
		<input type="hidden" name="no_escape[]" value="companies_description" />
		<textarea class="ckeditor" name="companies_description">{admin_foretag:item get='description'/}</textarea>
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Adress</strong><br />
		<input type="text" class="form text" name="companies_street" value="{admin_foretag:item get='street'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Postkod</strong><br />
		<input type="text" class="form text" name="companies_zip" value="{admin_foretag:item get='zip'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Stad</strong><br />
		<input type="text" class="form text" name="companies_city" value="{admin_foretag:item get='city'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Hemsida</strong><br />
		<input type="text" class="form text" name="companies_website" value="{admin_foretag:item get='website'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Kontakt Email</strong><br />
		<input type="text" class="form text" name="companies_contact_mail" value="{admin_foretag:item get='contact_mail'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Telefon</strong><br />
		<input type="text" class="form text" name="companies_telephone" value="{admin_foretag:item get='telephone'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Fax</strong><br />
		<input type="text" class="form text" name="companies_fax" value="{admin_foretag:item get='fax'/}" />
	</div>

	<div class="platsbanken_lefter_row">
		<strong>Bild</strong><br />
		Ladda upp en bild: <input type="file" class="form text" name="companies_bild" id="companies_bild" />
	</div>
	
	
	
	
	<div class="platsbanken_lefter_row">
		<input type="submit" class="button_green" name="companies_submit" style="margin:0px;" value="SKAPA FÖRETAG" />
	</div>
	
	
	
</form>








</div>


{/template:area}