{template:area id="1"}

{/template:area}

{template:area id="2"}

<div style="margin:10px;">







<form method="POST" action="/admin/foretag">
	<input type="TEXT" name="search_foretag" />
	<input type="SUBMIT" name="search_foretag_submit" class="button_green" value="SÖK FÖRETAG" />
</form>

<br />

<input type="SUBMIT" onClick="window.location='/admin/foretag/create'" class="button_green" value="NYTT FÖRETAG" />
<input type="SUBMIT" onClick="window.location='/admin/foretag'" class="button_green" value="VISA ALLA FÖRETAG" />

<br />
<br />


<table cellpadding="0" cellspacing="10" border="0">
	<tr>
		<td><strong>Företag</strong></td>
		<td></td>
	</tr>
	{admin_foretag:list}
	<tr>
		<td valign="top" style="border-bottom:1px solid #dddddd;">{admin_foretag:item get='name'/}</td>
		<td valign="top" style="border-bottom:1px solid #dddddd;">
			<button class="button_green" onClick="window.location='/admin/foretag/redigera/{admin_foretag:item get='id'/}'">REDIGERA</button>
			<a href="/admin/foretag/radera/{admin_foretag:item get='id'/}" onClick="return confirm('Vill du verkligen radera detta företag?');">[Ta bort]</a>
		</td>
	</tr>
	{/admin_foretag:list}
</table>














</div>


{/template:area}