{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<script>
		function updateIframe(id,request) {
			var iframe = document.getElementById('cat_startpage_'+id);
			iframe.src = "/konto/arbetsgivare/foretag/kategorier/column/"+ id +"/{page:rurl index='3'/}/no-menu"+request;
		}
		function productEdit(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "none";
			edit.style.display = "block";
		}
		
		function productClose(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "block";
			edit.style.display = "none";
		}
		function productNew() {
			var newProduct = document.getElementById('company_product_new');
			newProduct.style.display = "block";
		}
	</script>
{/template:area}

{template:area id="2"}
{admin_foretag:update_info success_redirect="/admin/foretag/redigera/{page:rurl index='3'/}"/}
<div style="margin:10px;">


<input type="SUBMIT" onClick="window.location='/admin/foretag/create'" class="button_green" value="NYTT FÖRETAG" />
<input type="SUBMIT" onClick="window.location='/admin/foretag'" class="button_green" value="VISA ALLA FÖRETAG" />
<br />
<br />

<form method="post" action="/{page:rurl/}" enctype="multipart/form-data">
	<input type="hidden" name="companies_edit" value="{page:rurl index='3'/}" />
	<div class="platsbanken_lefter_row">
		<h2>Redigera Företag</h2>
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Konto Ägare</strong><br />
		<select name="companies_owner">
			<option value="_empty">- Välj Ägare -</option>
		{admin_foretag:accounts}
			<option value="{admin_foretag:subitem get='id'/}"{if:equals arg1="{admin_foretag:item get='owner'/}" arg2="{admin_foretag:subitem get='id'/}"} selected="selected"{/if:equals}>{admin_foretag:subitem get='first_name'/} {admin_foretag:subitem get='last_name'/} ({admin_foretag:subitem get='email'/})</option>
		{/admin_foretag:accounts}
		</select>
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Organisations Nummer</strong><br />
		<input type="text" class="form text" name="companies_org_number" value="{admin_foretag:item get='org_number'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Namn</strong><br />
		<input type="text" class="form text" name="companies_name" value="{admin_foretag:item get='name'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Beskrivning</strong><br />
		<input type="hidden" name="no_escape[]" value="companies_description" />
		<textarea class="ckeditor" name="companies_description">{admin_foretag:item get='description'/}</textarea>
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Adress</strong><br />
		<input type="text" class="form text" name="companies_street" value="{admin_foretag:item get='street'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Postkod</strong><br />
		<input type="text" class="form text" name="companies_zip" value="{admin_foretag:item get='zip'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Stad</strong><br />
		<input type="text" class="form text" name="companies_city" value="{admin_foretag:item get='city'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Hemsida</strong><br />
		<input type="text" class="form text" name="companies_website" value="{admin_foretag:item get='website'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Kontakt Email</strong><br />
		<input type="text" class="form text" name="companies_contact_mail" value="{admin_foretag:item get='contact_mail'/}" />
	</div>

	<div class="platsbanken_lefter_row">
		<strong>Telefon</strong><br />
		<input type="text" class="form text" name="companies_telephone" value="{admin_foretag:item get='telephone'/}" />   
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Fax</strong><br />
		<input type="text" class="form text" name="companies_fax" value="{admin_foretag:item get='fax'/}" />
	</div>

	<div class="platsbanken_lefter_row">
		<strong>Bild</strong><br />
		
		{admin_foretag:has_image state="true"}
		<img title="Ikon" src="/public/images/companies/{admin_foretag:item get='image_big'/}"><br />
		<input type="checkbox" name="companies_bild_radera" /> Radera Bild<br />
		{/admin_foretag:has_image}
		
		<br />
		Ladda upp en{admin_foretag:has_image state="false"} ny{/admin_foretag:has_image} bild: <input type="file" class="form text" name="companies_bild" id="companies_bild" />
	</div>
	
	

	

	<div class="platsbanken_lefter_row">
		<hr style="width:100%;border:0px;border-bottom:2px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
		<h3>Branschguiden Kategorier</h3>
		
		<div class="all_categories">
			{admin_foretag:all_categories}
				<div style="margin-left:{admin_foretag:padding padding='{admin_foretag:subitem get='padding'/}' pixels='25'/}px;">
					{admin_foretag:is_parent state="false"}
						<input type="checkbox" name="companies_categories[]" value="{admin_foretag:subitem get='id'/}"{admin_foretag:in_category company_id="{page:rurl index='3'/}" id="{admin_foretag:subitem get='id'/}" state="true"} checked="checked"{/admin_foretag:in_category} />
						{admin_foretag:subitem get="name"/}
					{/admin_foretag:is_parent}
					{admin_foretag:is_parent state="true"}
						<input type="checkbox" name="companies_categories[]" value="{admin_foretag:subitem get='id'/}"{admin_foretag:in_category company_id="{page:rurl index='3'/}" id="{admin_foretag:subitem get='id'/}" state="true"} checked="checked"{/admin_foretag:in_category} />
						<strong>{admin_foretag:subitem get="name"/}</strong>
					{/admin_foretag:is_parent}
				</div>
			{/admin_foretag:all_categories}
		</div>
	</div>
	
	
	
	
	<div class="platsbanken_lefter_row">
	
		<h3>Ägar-Rättigheter</h3>
		<input type="checkbox" name="companies_access_branschguiden"{if:equals arg1="{admin_foretag:item get='access_branschguiden'/}" arg2="true"} checked="checked"{/if:equals} /> Branschguiden <i>(Redigera kategorier och publicera företagsprodukter)</i><br />
		<input type="checkbox" name="companies_access_platsbanken"{if:equals arg1="{admin_foretag:item get='access_platsbanken'/}" arg2="true"} checked="checked"{/if:equals} /> Platsbanken <i>(Skapa platsannonser)</i><br />
		<br />
		<br />
		<input type="submit" class="button_green" name="companies_submit" style="margin:0px;" value="REDIGERA FÖRETAG" />
	</div>
	
	
	
	<div class="platsbanken_lefter_row">
		<hr style="width:100%;border:0px;border-bottom:2px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
		
		<h3>Företags Produkter</h3>
		<br />
		{admin_foretag:products}
			<div id="company_product_{admin_foretag:item get='id'/}_show">
				<strong>{admin_foretag:item get="title"/}</strong><br />
				<br />
				
				<table>
					<tr>
						<td>
							<button class="button_green" onClick="productEdit({admin_foretag:item get='id'/});return false;">REDIGERA</button>
						</td>
						<td>
							<form method="POST" action="/admin/foretag/redigera/{page:rurl index='3'/}">
								<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
								<input type="SUBMIT" onClick="return confirm('Vill du verkligen radera {admin_foretag:item get="title"/}?');" class="button_green" name="product_delete" value="TA BORT" />
							</form>
						</td>
						<td>
							{admin_foretag:product_position id="{admin_foretag:item get='id'/}" company_id="{page:rurl index='3'/}" position="not_first"}
							<form method="POST" action="/admin/foretag/redigera/{page:rurl index='3'/}">
								<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
								<input type="SUBMIT" class="button_green" name="product_move_up" value="FLYTTA UPP" />
							</form>
							{/admin_foretag:product_position}
						</td>
						<td>
							{admin_foretag:product_position id="{admin_foretag:item get='id'/}" company_id="{page:rurl index='3'/}" position="not_last"}
							<form method="POST" action="/admin/foretag/redigera/{page:rurl index='3'/}">
								<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
								<input type="SUBMIT" class="button_green" name="product_move_down" value="FLYTTA NER" />
							</form>
							{/admin_foretag:product_position}
						</td>
					</tr>
				</table>
				
				
				<br />
				<br />
				<img src="/public/images/products/{admin_foretag:item get='image'/}" />
				<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
			</div>
			
			
			<div id="company_product_{admin_foretag:item get='id'/}_edit" style="display:none;">
				<form method="POST" action="/admin/foretag/redigera/{page:rurl index='3'/}" enctype="multipart/form-data">
					<h3>Redigera {admin_foretag:item get='title'/}</h3>
					<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
					Rubrik:<br />
					<input type="text" style="width:400px;" name="product_title" value="{admin_foretag:item get='title'/}" /><br />
					<br />
					Text:<br />
					<textarea style="width:400px;" name="product_text">{admin_foretag:item get='text'/}</textarea><br />
					<br />
					Länk:<br />
					<input type="text" style="width:400px;" name="product_url" value="{admin_foretag:item get='url'/}" /><br />
					<br />
					Bild:<br />
					<input type="file" style="width:400px;" name="product_image" /><br />
					<br />
					<img src="/public/images/products/{admin_foretag:item get='image'/}" /><br />
					<br />
					<input type="submit" class="button_green" name="product_edit" value="REDIGERA PRODUKT" />
				</form>
				<br />
				<br />
				<a style="cursor:pointer;" onClick="productClose({admin_foretag:item get='id'/});return false;">Stäng</a><br />
				<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" /><br />
			</div>
		{/admin_foretag:products}
		<br />
		
		
		<a style="cursor:pointer;" onClick="productNew();return false;">Lägg till produkt</a>
		<div id="company_product_new" style="display:none;">
			<form method="POST" action="/admin/foretag/redigera/{page:rurl index='3'/}" enctype="multipart/form-data">
				Rubrik:<br />
				<input type="text" style="width:400px;" name="product_title" /><br />
				Text:<br />
				<textarea style="width:400px;" name="product_text"></textarea><br />
				Länk:<br />
				<input type="text" style="width:400px;" name="product_url" /><br />
				Bild:<br />
				<input type="file" style="width:400px;" name="product_image" /><br />
				<br />
				<input type="submit" class="button_green" name="product_new" value="LÄGG TILL PRODUKT" />
			</form>
			<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
		</div>
	</div>
	
	
	
</form>








</div>


{/template:area}