{page:rurl index="3" equals="publicera"}
	{arbetsgivare:publicera_branschnyhet success_redirect="/konto/arbetsgivare/foretag"/}
{/page:rurl}

<div class="box_big">
	<div class="box_big_header">Konto - Arbetsgivare - Branschnyheter</div>
	<div class="box_big_content">
		
	<div class="platsbanken_lefter">
	
	{arbetsgivare:access name="branschguiden" state="true"}
		<div class="platsbanken_lefter_row">
			<h2>Mina Branschnyheter</h2>
		</div>
		{arbetsgivare:branschnyheter}
		<div class="dina_utbildningar_item">
			<div class="dina_utbildningar_item_left">
				
				{arbetsgivare:status status='{arbetsgivare:item get="status"/}' equals='draft'}
					<strong>{arbetsgivare:item get="title"/}</strong><br />
					Ej publicerad
				{/arbetsgivare:status}
				
				{arbetsgivare:status status='{arbetsgivare:item get="status"/}' equals='accepted'}
					<strong><a href="/nyheter/{arbetsgivare:item get='id'/}/{functions:url_friendly string="{arbetsgivare:item get='title'/}"/}">{arbetsgivare:item get="title"/}</a></strong><br />
					Accepterad och publicerad
				{/arbetsgivare:status}
				
				{arbetsgivare:status status='{arbetsgivare:item get="status"/}' equals='waiting'}
					<strong>{arbetsgivare:item get="title"/}</strong><br />
					Granskas av administratör
				{/arbetsgivare:status}
				
				{arbetsgivare:status status='{arbetsgivare:item get="status"/}' equals='declined'}
					<strong>{arbetsgivare:item get="title"/}</strong><br />
					Branschnyhet har nekats <a href="/konto/arbetsgivare/branschnyhet/redigera/{arbetsgivare:item get='id'/}">[Läs mer]</a>
				{/arbetsgivare:status}
				
				<span style="float:right">
					<a href="/konto/arbetsgivare/branschnyhet/redigera/{arbetsgivare:item get='id'/}">Redigera</a> | <a href="/konto/arbetsgivare/branschnyhet/{arbetsgivare:item get='id'/}/radera" style="color:red" onclick="javascript:return confirm('Vill du verkligen radera {arbetsgivare:item get="name"/}?')">Ta bort</a>
				</span>
			</div>
		</div>
		{/arbetsgivare:branschnyheter}
		<div class="platsbanken_lefter_row">
			<button class="button_green" style="margin:0px;" onClick="document.location='/konto/arbetsgivare/branschnyhet/ny';return false;">LÄGG TILL BRANSCHNYHET</button>
		</div>
	{/arbetsgivare:access}
	
	
	
		<div class="platsbanken_lefter_row">
			<h2>Mina Företag</h2>
		</div>
		{arbetsgivare:companies}
		<div class="dina_utbildningar_item">
			<div class="dina_utbildningar_item_left">
				<strong>{arbetsgivare:item get="name"/}</strong>
				<span style="float:right">
					{arbetsgivare:owns_company id="{arbetsgivare:item get='id'/}" state="true"}<a href="/konto/arbetsgivare/foretag/begaran/{arbetsgivare:item get='id'/}">Ansökningar{arbetsgivare:waiting_requests company_id="{arbetsgivare:item get='id'/}"} ({arbetsgivare:total/}){/arbetsgivare:waiting_requests}</a> | <a href="/konto/arbetsgivare/foretag/redigera/{arbetsgivare:item get='id'/}">Redigera</a> | {/arbetsgivare:owns_company}<a href="/konto/arbetsgivare/foretag/{arbetsgivare:item get='id'/}/radera" style="color:red" onclick="javascript:return confirm('Vill du verkligen radera {arbetsgivare:item get="name"/}?')">Ta bort</a>
				</span>
			</div>
		</div>
		{/arbetsgivare:companies}
		<div class="platsbanken_lefter_row">
			<button class="button_green" style="margin:0px;" onClick="document.location='/konto/arbetsgivare/foretag/ny';return false;">LÄGG TILL FÖRETAG</button>
		</div>
	</div>
		
		
		
		
	{page:rurl index="3" not_empty="true"}
		
		{page:rurl index="3" equals="ny"}
			{arbetsgivare:update_branschnyhet success_redirect="/konto/arbetsgivare/branschnyhet"/}
			
			<div class="platsbanken_divider"></div>
			
			<div class="platsbanken_lefter">
				<form method="post" action="/konto/arbetsgivare/branschnyhet/ny" enctype="multipart/form-data">
						
					<div class="platsbanken_lefter_row">
						<h2>Skapa Branschnyhet</h2>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Välj Företag</strong><br />
						<select name="branschnyheter_company">
						{arbetsgivare:companies_branschnyheter}
							<option value="{arbetsgivare:item get='id'/}">{arbetsgivare:item get='name'/}</option>
						{/arbetsgivare:companies_branschnyheter}
						</select>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Rubrik</strong><br />
						<input type="text" class="form text" name="branschnyheter_title" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='branschnyheter' name='title' posted_first='true'/}" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Brödtext</strong><br />
						<input type="hidden" name="no_escape[]" value="branschnyheter_breadcrumb" />
						<textarea class="ckeditor" name="branschnyheter_breadcrumb">{arbetsgivare:info index='{page:rurl index="4"/}' get='branschnyheter' name='breadcrumb' posted_first='true'/}</textarea>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Text</strong><br />
						<input type="hidden" name="no_escape[]" value="branschnyheter_text" />
						<textarea class="ckeditor" name="branschnyheter_text">{arbetsgivare:info index='{page:rurl index="4"/}' get='branschnyheter' name='text' posted_first='true'/}</textarea>
					</div>
			
					<div class="platsbanken_lefter_row">
						<strong>Bilder</strong><br />
						
						Bild 1: <input type="file" class="form text" name="branschnyheter_bild[]" id="branschnyheter_bild[]" /><br />
						<br />
						Bild 2: <input type="file" class="form text" name="branschnyheter_bild[]" id="branschnyheter_bild[]" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<input type="submit" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA" />
						<input type="submit" class="button_green" name="branschnyheter_submit" style="margin:0px;" value="LÄGG TILL BRANSCHNYHET" />
					</div>
					
				</form>
			</div>
			
		{/page:rurl}
		
		
		
		{page:rurl index="3" equals="redigera"}
				{arbetsgivare:update_branschnyhet success_redirect="/konto/arbetsgivare/foretag"/}
			
			<div class="platsbanken_divider"></div>
			
			<div class="platsbanken_lefter">
				<form method="post" action="/konto/arbetsgivare/branschnyhet/redigera/{page:rurl index='4'/}" enctype="multipart/form-data">
						
					<div class="platsbanken_lefter_row">
						<h2>Redigera Branschnyhet</h2>
					</div>
					
					{arbetsgivare:status_comment index="{page:rurl index='4'/}"}
					<div class="platsbanken_lefter_row">
						<font color="red"><h3>Meddelande från Administratör:</h3>
						{arbetsgivare:info index='{page:rurl index="4"/}' get='branschnyheter' name='status_comment'/}</font>
					</div>
					{/arbetsgivare:status_comment}
					
					<div class="platsbanken_lefter_row">
						<strong>Välj Företag</strong><br />
						<select name="branschnyheter_company">
						{arbetsgivare:companies_branschnyheter}
							<option value="{arbetsgivare:item get='id'/}">{arbetsgivare:item get='name'/}</option>
						{/arbetsgivare:companies_branschnyheter}
						</select>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Rubrik</strong><br />
						<input type="text" class="form text" name="branschnyheter_title" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='branschnyheter' name='title' posted_first='true'/}" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Brödtext</strong><br />
						<input type="hidden" name="no_escape[]" value="branschnyheter_breadcrumb" />
						<textarea class="ckeditor" name="branschnyheter_breadcrumb">{arbetsgivare:info index='{page:rurl index="4"/}' get='branschnyheter' name='breadcrumb' posted_first='true'/}</textarea>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Text</strong><br />
						<input type="hidden" name="no_escape[]" value="branschnyheter_text" />
						<textarea class="ckeditor" name="branschnyheter_text">{arbetsgivare:info index='{page:rurl index="4"/}' get='branschnyheter' name='text' posted_first='true'/}</textarea>
					</div>
			
					<div class="platsbanken_lefter_row">
						<strong>Bilder</strong><br />
						
						{arbetsgivare:branschnyhet_image id="1" state="true" index="{page:rurl index='4'/}"}
							<img src="/public/images/branschnyheter/{arbetsgivare:item get='image'/}" /><br />
							<input type="checkbox" name="branschnyheter_bild_radera_1" /> Radera Bild<br />
							<br />
						{/arbetsgivare:branschnyhet_image}
						Bild 1: <input type="file" class="form text" name="branschnyheter_bild[]" id="branschnyheter_bild[]" /><br />
						<br />
						{arbetsgivare:branschnyhet_image id="2" state="true" index="{page:rurl index='4'/}"}
							<img src="/public/images/branschnyheter/{arbetsgivare:item get='image'/}" /><br />
							<input type="checkbox" name="branschnyheter_bild_radera_2" /> Radera Bild<br />
							<br />
						{/arbetsgivare:branschnyhet_image}
						Bild 2: <input type="file" class="form text" name="branschnyheter_bild[]" id="branschnyheter_bild[]" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<input type="submit" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA" />
						<input type="submit" class="button_green" name="branschnyheter_edit" style="margin:0px;" value="SPARA BRANSCHNYHET" />
					</div>
					
				</form>
			</div>
			
		{/page:rurl}
		
		
	{/page:rurl}
	</div>
	<div class="box_big_footer"></div>
</div>