# H1 TITLE #
{template:area id="1"}
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/platsbanken.css" type="text/css" />
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
{arbetsgivare:load_branschnyhet id="{page:rurl index='4'/}"/}
<div class="box_big">
	<div class="box_big_header">Konto - Branschnyheter - Förhandsgranskning</div>
	<div class="box_big_content">
		
		<div class="box_big_lefter">
			<h2>{arbetsgivare:item get="title"/}</h2>
			{arbetsgivare:item get="breadcrumb"/}<br />
			<table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center">
			<img style="align:center;" src="/public/images/branschnyheter/{arbetsgivare:item get='image_big_1'/}"/>
			</td></tr></table>
			<br />
			{arbetsgivare:item get="text"/}<br />
			<table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center">
			<img style="align:center;" src="/public/images/branschnyheter/{arbetsgivare:item get='image_big_2'/}"/>
			</td></tr></table>
		</div>
		
		<div class="big_box_divider"></div>
		
		<div class="box_big_lefter">
			<input type="submit" class="button_green" style="margin:0px;" onClick="document.location='/konto/arbetsgivare/branschnyhet/redigera/{page:rurl index='4'/}'" value="REDIGERA" />
			<input type="submit" class="button_green" style="margin:0px;" onClick="document.location='/konto/arbetsgivare/branschnyhet/publicera/{page:rurl index='4'/}'" value="PUBLICERA" />
		</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>

	
{/template:area}