<div class="box_big">
	<div class="box_big_header">Konto - Arbetsgivare - Företag</div>
	<div class="box_big_content">
	
	{arbetsgivare:check_companies}
		<font color="red">För att kunna lägga till en jobb annons måste du skapa ett företag, eller tillhöra ett existerande företag.</font>
	{/arbetsgivare:check_companies}
		
	<div class="platsbanken_lefter">
	
	
	
	{arbetsgivare:access name="branschguiden" state="true"}
		<div class="platsbanken_lefter_row">
			<h2>Mina Branschnyheter</h2>
		</div>
		{arbetsgivare:branschnyheter}
		<div class="dina_utbildningar_item">
			<div class="dina_utbildningar_item_left">
				
				{arbetsgivare:status status='{arbetsgivare:item get="status"/}' equals='draft'}
					<strong>{arbetsgivare:item get="title"/}</strong><br />
					Ej publicerad
				{/arbetsgivare:status}
				
				{arbetsgivare:status status='{arbetsgivare:item get="status"/}' equals='accepted'}
					<strong><a href="/nyheter/{arbetsgivare:item get='id'/}/{functions:url_friendly string="{arbetsgivare:item get='title'/}"/}">{arbetsgivare:item get="title"/}</a></strong><br />
					Accepterad och publicerad
				{/arbetsgivare:status}
				
				{arbetsgivare:status status='{arbetsgivare:item get="status"/}' equals='waiting'}
					<strong>{arbetsgivare:item get="title"/}</strong><br />
					Granskas av administratör
				{/arbetsgivare:status}
				
				{arbetsgivare:status status='{arbetsgivare:item get="status"/}' equals='declined'}
					<strong>{arbetsgivare:item get="title"/}</strong><br />
					Branschnyhet har nekats <a href="/konto/arbetsgivare/branschnyhet/redigera/{arbetsgivare:item get='id'/}">[Läs mer]</a>
				{/arbetsgivare:status}
				
				<span style="float:right">
					<a href="/konto/arbetsgivare/branschnyhet/redigera/{arbetsgivare:item get='id'/}">Redigera</a> | <a href="/konto/arbetsgivare/branschnyhet/{arbetsgivare:item get='id'/}/radera" style="color:red" onclick="javascript:return confirm('Vill du verkligen radera {arbetsgivare:item get="name"/}?')">Ta bort</a>
				</span>
			</div>
		</div>
		{/arbetsgivare:branschnyheter}
		<div class="platsbanken_lefter_row">
			<button class="button_green" style="margin:0px;" onClick="document.location='/konto/arbetsgivare/branschnyhet/ny';return false;">LÄGG TILL BRANSCHNYHET</button>
		</div>
	{/arbetsgivare:access}
	
	
	
		<div class="platsbanken_lefter_row">
			<h2>Mina Företag</h2>
		</div>
		{arbetsgivare:companies}
		<div class="dina_utbildningar_item">
			<div class="dina_utbildningar_item_left">
				<strong>{arbetsgivare:item get="name"/}</strong>
				<span style="float:right">
					{arbetsgivare:owns_company id="{arbetsgivare:item get='id'/}" state="true"}<a href="/konto/arbetsgivare/foretag/begaran/{arbetsgivare:item get='id'/}">Ansökningar{arbetsgivare:waiting_requests company_id="{arbetsgivare:item get='id'/}"} ({arbetsgivare:total/}){/arbetsgivare:waiting_requests}</a> | <a href="/konto/arbetsgivare/foretag/redigera/{arbetsgivare:item get='id'/}">Redigera</a> | {/arbetsgivare:owns_company}<a href="/konto/arbetsgivare/foretag/{arbetsgivare:item get='id'/}/radera" style="color:red" onclick="javascript:return confirm('Vill du verkligen radera {arbetsgivare:item get="name"/}?')">Ta bort</a>
				</span>
			</div>
		</div>
		{/arbetsgivare:companies}
		<div class="platsbanken_lefter_row">
			<button class="button_green" style="margin:0px;" onClick="document.location='/konto/arbetsgivare/foretag/ny';return false;">LÄGG TILL FÖRETAG</button>
		</div>
	</div>
		
	{page:rurl index="3" not_empty="true"}
		
		{page:rurl index="3" equals="ny"}

			{arbetsgivare:check_org_number/}
		
			{arbetsgivare:org_number state="empty"}
				<div class="platsbanken_divider"></div>
				
				<div class="platsbanken_lefter">
					<form method="post" action="/{page:rurl/}">
							
						<div class="platsbanken_lefter_row">
							<h2>Lägg till Företag</h2>
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Organisations Nummer</strong><br />
							<input type="text" class="form text" name="org_number" value="" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<input type="submit" class="button_green" name="org_number_check" style="margin:0px;" value="GÅ VIDARE TILL NÄSTA STEG" />
						</div>
					</form>
				</div>
			{/arbetsgivare:org_number}
			

			
			{arbetsgivare:org_number state="exists"}
				<div class="platsbanken_divider"></div>
				
				<div class="platsbanken_lefter">
					<strong>{arbetsgivare:item get="name"/} finns redan registrerat!</strong><br />
					<br />
					Du kan ansöka om tillstånd att få lägga upp jobb annonser via {arbetsgivare:item get="name"/}.<br />
					<br />
					{arbetsgivare:waiting_request id="{arbetsgivare:item get='id'/}" state="false"}
						{arbetsgivare:in_company id="{arbetsgivare:item get='id'/}" state="false"}<span style="float:left"><button class="button_green" onClick="document.location='/konto/arbetsgivare/foretag/jag-jobbar-har/{arbetsgivare:item get='id'/}';return false;">ANSÖK TILLGÅNG</button></span>{/arbetsgivare:in_company}
						{arbetsgivare:in_company id="{arbetsgivare:item get='id'/}" state="true"}<span style="float:left">Du har tillgång!</span>{/arbetsgivare:in_company}
					{/arbetsgivare:waiting_request}
					{arbetsgivare:waiting_request id="{arbetsgivare:item get='id'/}" state="true"}
						<span style="float:left">Väntar på svar...</span>
					{/arbetsgivare:waiting_request}
				</div>
			{/arbetsgivare:org_number}
			
			
			
			
			{arbetsgivare:org_number state="create"}
				{arbetsgivare:update_info success_redirect="/konto/arbetsgivare/foretag"/}
				
				<div class="platsbanken_divider"></div>
				
				<div class="platsbanken_lefter">
					<form method="post" action="/konto/arbetsgivare/foretag/ny" enctype="multipart/form-data">
							
						<div class="platsbanken_lefter_row">
							<h2>Nytt Företag</h2>
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Organisations Nummer</strong><br />
							<input type="hidden" name="companies_org_number" value="{arbetsgivare:get_org_number/}" />
							<input type="text" class="form text" disabled="disabled" value="{arbetsgivare:get_org_number/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Namn</strong><br />
							<input type="text" class="form text" name="companies_name" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='name' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Beskrivning</strong><br />
							<input type="hidden" name="no_escape[]" value="companies_description" />
							<textarea class="ckeditor" name="companies_description">{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='description' posted_first='true'/}</textarea>
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Adress</strong><br />
							<input type="text" class="form text" name="companies_street" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='street' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Postkod</strong><br />
							<input type="text" class="form text" name="companies_zip" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='zip' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Stad</strong><br />
							<input type="text" class="form text" name="companies_city" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='city' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Hemsida</strong><br />
							<input type="text" class="form text" name="companies_website" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='website' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Kontakt Email</strong><br />
							<input type="text" class="form text" name="companies_contact_mail" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='contact_mail' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Telefon</strong><br />
							<input type="text" class="form text" name="companies_telephone" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='telephone' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Fax</strong><br />
							<input type="text" class="form text" name="companies_fax" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='fax' posted_first='true'/}" />
						</div>
				
						<div class="platsbanken_lefter_row">
							<strong>Bild</strong><br />
							
							{arbetsgivare:has_image state="true"}
							<img title="Ikon" src="/public/images/companies/{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='image_big'/}"><br />
							<input type="checkbox" name="companies_bild_radera" /> Radera Bild<br />
							{/arbetsgivare:has_image}
							
							<br />
							Ladda upp en{arbetsgivare:has_image state="false"} ny{/arbetsgivare:has_image} bild: <input type="file" class="form text" name="companies_bild" id="companies_bild" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<input type="submit" class="button_green" name="companies_submit" style="margin:0px;" value="LÄGG TILL FÖRETAG" />
						</div>
						
					</form>
				</div>
			{/arbetsgivare:org_number}
			
			
		{/page:rurl}
		
		
		
		{page:rurl index="3" equals="jag-jobbar-har"}
		{arbetsgivare:send_request id="{page:rurl index='4'/}"/}
		<div class="platsbanken_divider"></div>
		
		<div class="platsbanken_lefter">
		
			{arbetsgivare:success state="true"}
			<div class="platsbanken_lefter_row">
				Du har nu skickat en ansökning, om att få tillgång till att publicera jobb annonser via {arbetsgivare:item get="name"/}.<br />
				<br />
				Den som står som ägare till {arbetsgivare:item get="name"/} på HRtorget.se, har fått din ansökning.<br />
				<br />
				<strong>Ett mail kommer att skickas till dig när du fått ett besked.</strong>
			</div>
			{/arbetsgivare:success}
			
			{arbetsgivare:success state="false"}
			<div class="platsbanken_lefter_row">
				Du har redan skickat en ansökning, om att få tillgång till att publicera jobb annonser via {arbetsgivare:item get="name"/}.<br />
				<br />
				Den som står som ägare till {arbetsgivare:item get="name"/} på HRtorget.se, har fått din ansökning.<br />
				<br />
				<strong>Ett mail kommer att skickas till dig när du fått ett besked.</strong>
			</div>
			{/arbetsgivare:success}
			
		</div>
		{/page:rurl}
		
		
		
		{page:rurl index="3" equals="sok"}
		<div class="platsbanken_divider"></div>
		
		<div class="platsbanken_lefter">
			<form method="post" action="/{page:rurl/}">
					
				<div class="platsbanken_lefter_row">
					<h2>Sök Efter Företag</h2>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Sökord</strong> <i>(Namn eller organisations nummer)</i><br />
					<input type="text" class="form text" name="foretag_sok" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<button class="button_green" style="margin:0px;">SÖK</button>
				</div>
				
			</form>
		</div>
		
		{arbetsgivare:searched}
		<div class="platsbanken_divider"></div>
		
		<div class="platsbanken_lefter">
			<div class="platsbanken_lefter_row">
				<h3>Din sökning "{arbetsgivare:search/}" gav {arbetsgivare:total/}st träffar</h3>
			</div>
			
			{arbetsgivare:sok}
			<div class="dina_utbildningar_item">
				<div class="dina_utbildningar_item_left">
					<strong>{arbetsgivare:item get="name"/}</strong>
					{arbetsgivare:waiting_request id="{arbetsgivare:item get='id'/}" state="false"}
						{arbetsgivare:in_company id="{arbetsgivare:item get='id'/}" state="false"}<span style="float:right"><a href="/konto/arbetsgivare/foretag/jag-jobbar-har/{arbetsgivare:item get='id'/}" onclick="javascript:return confirm('Vill du skicka en ansökning, om att få tillgång till att lägga till jobb annonser för {arbetsgivare:item get="name"/}?')">Ansök tillgång!</a></span>{/arbetsgivare:in_company}
						{arbetsgivare:in_company id="{arbetsgivare:item get='id'/}" state="true"}<span style="float:right">Du har tillgång!</span>{/arbetsgivare:in_company}
					{/arbetsgivare:waiting_request}
					{arbetsgivare:waiting_request id="{arbetsgivare:item get='id'/}" state="true"}
						<span style="float:right">Väntar på svar...</span>
					{/arbetsgivare:waiting_request}
				</div>
			</div>
			{/arbetsgivare:sok}
		</div>
		{/arbetsgivare:searched}
		
		{/page:rurl}
		
		
		
		{page:rurl index="3" equals="redigera"}
			{arbetsgivare:owns_company id="{page:rurl index='4'/}" state="true"}
				{arbetsgivare:update_info success_redirect="/konto/arbetsgivare/foretag"/}
			
				<div class="platsbanken_divider"></div>
				
				<div class="platsbanken_lefter">
					<form method="post" action="/{page:rurl/}" enctype="multipart/form-data">
						<input type="hidden" name="companies_edit" value="{page:rurl index='4'/}" />
						<div class="platsbanken_lefter_row">
							<h2>Redigera Företag</h2>
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Organisations Nummer</strong><br />
							<input type="text" class="form text" disabled="disabled" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='org_number' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Namn</strong><br />
							<input type="text" class="form text" name="companies_name" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='name' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Beskrivning</strong><br />
							<input type="hidden" name="no_escape[]" value="companies_description" />
							<textarea class="ckeditor" name="companies_description">{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='description' posted_first='true'/}</textarea>
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Adress</strong><br />
							<input type="text" class="form text" name="companies_street" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='street' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Postkod</strong><br />
							<input type="text" class="form text" name="companies_zip" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='zip' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Stad</strong><br />
							<input type="text" class="form text" name="companies_city" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='city' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Hemsida</strong><br />
							<input type="text" class="form text" name="companies_website" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='website' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Kontakt Email</strong><br />
							<input type="text" class="form text" name="companies_contact_mail" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='contact_mail' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Telefon</strong><br />
							<input type="text" class="form text" name="companies_telephone" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='telephone' posted_first='true'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Fax</strong><br />
							<input type="text" class="form text" name="companies_fax" value="{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='fax' posted_first='true'/}" />
						</div>
				
						<div class="platsbanken_lefter_row">
							<strong>Bild</strong><br />
							
							{arbetsgivare:has_image state="true"}
							<img title="Ikon" src="/public/images/companies/{arbetsgivare:info index='{page:rurl index="4"/}' get='companies' name='image_big'/}"><br />
							<input type="checkbox" name="companies_bild_radera" /> Radera Bild<br />
							{/arbetsgivare:has_image}
							
							<br />
							Ladda upp en{arbetsgivare:has_image state="false"} ny{/arbetsgivare:has_image} bild: <input type="file" class="form text" name="companies_bild" id="companies_bild" />
						</div>
						
						

						
						
						{arbetsgivare:access name="branschguiden" state="true"}
						<div class="platsbanken_lefter_row">
							<hr style="width:100%;border:0px;border-bottom:2px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
							<h3>Branschguiden Kategorier</h3>
							
							<div class="all_categories">
								{arbetsgivare:all_categories}
									<div style="margin-left:{arbetsgivare:padding padding='{arbetsgivare:item get='padding'/}' pixels='25'/}px;">
										{arbetsgivare:is_parent state="false"}
											<input type="checkbox" name="companies_categories[]" value="{arbetsgivare:item get='id'/}"{arbetsgivare:in_category company_id="{page:rurl index='4'/}" id="{arbetsgivare:item get='id'/}" state="true"} checked="checked"{/arbetsgivare:in_category} />
											{arbetsgivare:item get="name"/}
										{/arbetsgivare:is_parent}
										{arbetsgivare:is_parent state="true"}
											<input type="checkbox" name="companies_categories[]" value="{arbetsgivare:item get='id'/}"{arbetsgivare:in_category company_id="{page:rurl index='4'/}" id="{arbetsgivare:item get='id'/}" state="true"} checked="checked"{/arbetsgivare:in_category} />
											<strong>{arbetsgivare:item get="name"/}</strong>
										{/arbetsgivare:is_parent}
									</div>
								{/arbetsgivare:all_categories}
							</div>
						</div>
						{/arbetsgivare:access}
						
						
						
						
						<div class="platsbanken_lefter_row">
							<input type="submit" class="button_green" name="companies_submit" style="margin:0px;" value="UPPDATERA FÖRETAG" />
						</div>
						
						
						
						
						{arbetsgivare:access name="branschguiden" state="true"}
						<div class="platsbanken_lefter_row">
							<hr style="width:100%;border:0px;border-bottom:2px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
							
							<h3>Företags Produkter</h3>
							<br />
							{arbetsgivare:products}
								<div id="company_product_{arbetsgivare:item get='id'/}_show">
									<strong>{arbetsgivare:item get="title"/}</strong><br />
									<br />
									
									<table>
										<tr>
											<td>
												<button class="button_green" onClick="productEdit({arbetsgivare:item get='id'/});return false;">REDIGERA</button>
											</td>
											<td>
												<form method="POST" action="/konto/arbetsgivare/foretag/redigera/{page:rurl index='4'/}">
													<input type="hidden" name="product_id" value="{arbetsgivare:item get='id'/}" />
													<input type="SUBMIT" onClick="return confirm('Vill du verkligen radera {arbetsgivare:item get="title"/}?');" class="button_green" name="product_delete" value="TA BORT" />
												</form>
											</td>
											<td>
												{arbetsgivare:product_position id="{arbetsgivare:item get='id'/}" company_id="{page:rurl index='4'/}" position="not_first"}
												<form method="POST" action="/konto/arbetsgivare/foretag/redigera/{page:rurl index='4'/}">
													<input type="hidden" name="product_id" value="{arbetsgivare:item get='id'/}" />
													<input type="SUBMIT" class="button_green" name="product_move_up" value="FLYTTA UPP" />
												</form>
												{/arbetsgivare:product_position}
											</td>
											<td>
												{arbetsgivare:product_position id="{arbetsgivare:item get='id'/}" company_id="{page:rurl index='4'/}" position="not_last"}
												<form method="POST" action="/konto/arbetsgivare/foretag/redigera/{page:rurl index='4'/}">
													<input type="hidden" name="product_id" value="{arbetsgivare:item get='id'/}" />
													<input type="SUBMIT" class="button_green" name="product_move_down" value="FLYTTA NER" />
												</form>
												{/arbetsgivare:product_position}
											</td>
										</tr>
									</table>
									
									
									<br />
									<br />
									<img src="/public/images/products/{arbetsgivare:item get='image'/}" />
									<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
								</div>
								
								
								<div id="company_product_{arbetsgivare:item get='id'/}_edit" style="display:none;">
									<form method="POST" action="/konto/arbetsgivare/foretag/redigera/{page:rurl index='4'/}" enctype="multipart/form-data">
										<h3>Redigera {arbetsgivare:item get='title'/}</h3>
										<input type="hidden" name="product_id" value="{arbetsgivare:item get='id'/}" />
										Rubrik:<br />
										<input type="text" style="width:400px;" name="product_title" value="{arbetsgivare:item get='title'/}" /><br />
										<br />
										Text:<br />
										<textarea style="width:400px;" name="product_text">{arbetsgivare:item get='text'/}</textarea><br />
										<br />
										Länk:<br />
										<input type="text" style="width:400px;" name="product_url" value="{arbetsgivare:item get='url'/}" /><br />
										<br />
										Bild:<br />
										<input type="file" style="width:400px;" name="product_image" /><br />
										<br />
										<img src="/public/images/products/{arbetsgivare:item get='image'/}" /><br />
										<br />
										<input type="submit" class="button_green" name="product_edit" value="REDIGERA PRODUKT" />
									</form>
									<br />
									<br />
									<a style="cursor:pointer;" onClick="productClose({arbetsgivare:item get='id'/});return false;">Stäng</a><br />
									<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" /><br />
								</div>
							{/arbetsgivare:products}
							<br />
							
							
							<a style="cursor:pointer;" onClick="productNew();return false;">Lägg till produkt</a>
							<div id="company_product_new" style="display:none;">
								<form method="POST" action="/konto/arbetsgivare/foretag/redigera/{page:rurl index='4'/}" enctype="multipart/form-data">
									Rubrik:<br />
									<input type="text" style="width:400px;" name="product_title" /><br />
									Text:<br />
									<textarea style="width:400px;" name="product_text"></textarea><br />
									Länk:<br />
									<input type="text" style="width:400px;" name="product_url" /><br />
									Bild:<br />
									<input type="file" style="width:400px;" name="product_image" /><br />
									<br />
									<input type="submit" class="button_green" name="product_new" value="LÄGG TILL PRODUKT" />
								</form>
								<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
							</div>
						</div>
						{/arbetsgivare:access}
						
						
						
					</form>
				</div>
			{/arbetsgivare:owns_company}
		{/page:rurl}
		
		
		
		
		{page:rurl index="3" equals="begaran"}
			{arbetsgivare:owns_company id="{page:rurl index='4'/}" state="true"}
				
				<div class="platsbanken_divider"></div>
				
				<div class="platsbanken_lefter">
					<form method="post" action="/{page:rurl/}">
							
						<div class="platsbanken_lefter_row">
							<h2>Ansökningar för {arbetsgivare:get_company get="name" id="{page:rurl index='4'/}"/}</h2>
						</div>
						
						<div class="platsbanken_lefter_row">
							De användare som har ansökt om tillstånd att få lägga upp jobb ansökningar via {arbetsgivare:get_company get="name" id="{page:rurl index='4'/}"/}.
						</div>
						
						{arbetsgivare:requests id="{page:rurl index='4'/}"}
						<div class="dina_utbildningar_item">
							<div class="dina_utbildningar_item_left">
								<strong>{arbetsgivare:get_account get="first_name" id="{arbetsgivare:item get='account_id'/}"/} {arbetsgivare:get_account get="last_name" id="{arbetsgivare:item get='account_id'/}"/}</strong>
								<span style="float:right">
									({arbetsgivare:request_status company_id="{arbetsgivare:item get='company_id'/}" account_id="{arbetsgivare:item get='account_id'/}" allowed="Tillåten" denied="Nekad" user_removed="Själv borttagen" waiting="Väntar på svar..."/}) <a href="/konto/arbetsgivare/foretag/begaran/{page:rurl index='4'/}/tillat/{arbetsgivare:item get='account_id'/}">Tillåt</a> | <a href="/konto/arbetsgivare/foretag/begaran/{page:rurl index='4'/}/neka/{arbetsgivare:item get='account_id'/}" style="color:red" onclick="javascript:return confirm('Vill du verkligen neka {arbetsgivare:get_account get="first_name" id="{arbetsgivare:item get='account_id'/}"/} {arbetsgivare:get_account get="last_name" id="{arbetsgivare:item get='account_id'/}"/}, från att lägga upp jobb annonser via {arbetsgivare:get_company get="name" id="{page:rurl index='4'/}"/}?')">Neka</a>
								</span>
							</div>
						</div>
						{/arbetsgivare:requests}
						
					</form>
				</div>
				
			{/arbetsgivare:owns_company}
		{/page:rurl}
		
		
	{/page:rurl}
	</div>
	<div class="box_big_footer"></div>
</div>