{template:area id="1"}
	{page:rurl index="3" empty="true"}
		<script>
			function updateIframe(id,request) {
				var iframe = document.getElementById('cat_startpage_'+id);
				iframe.src = "/konto/arbetsgivare/foretag/kategorier/column/"+ id +"/{page:rurl index='6'/}/no-menu"+request;
			}
		</script>
	{/page:rurl}
	
	{page:rurl index="5" equals="4"}
		<script>
			function load(id) {
				parent.updateIframe(3,"?parent="+id);
			}
		</script>
	{/page:rurl}
	
	{page:rurl index="5" equals="3"}
		<script>
			function toggle(id) {
				window.location = "/konto/arbetsgivare/foretag/kategorier/column/3/{page:rurl index='6'/}/no-menu?column=3&toggle="+ id +"&parent="+ {branschguiden:parent/};
			}
		</script>
		{branschguiden:column_update/}
	{/page:rurl}

{/template:area}

{template:area id="2"}
	{page:rurl index="4" equals="column"}

		{page:rurl index="5" equals="4"}
			<div class="column">
				<ul>
			{branschguiden:column index="4"}
					<li onClick="load({branschguiden:item get='id'/});">
						<div class="title">{branschguiden:item get="name"/}</div>
						<div class="buttons"></div>
					</li>
			{/branschguiden:column}
				</ul>
			</div>
		{/page:rurl}
		
		{page:rurl index="5" equals="3"}
			<div class="column">
				<ul>
				{branschguiden:parent_category}
					<li>
						<div class="title"><b>{branschguiden:item get="name"/}</b></div>
					</li>
				{/branschguiden:parent_category}
				{branschguiden:column index="3" start="<li><div class='title'>Välj en huvudkategori till vänster</div></li>" empty="<li><div class='title'>Det finns inga under-kategorier.</div></li>"}
					<li onClick="toggle({branschguiden:item get='id'/});">
						<div class="title">{branschguiden:item get="name"/}</div>
						<div class="buttons">{branschguiden:sub_category_selected}<img src="/public/images/admin/icons/save.png" />{/branschguiden:sub_category_selected}</div>
					</li>
				{/branschguiden:column}
				</ul>
			</div>
		{/page:rurl}

	{/page:rurl}

{/template:area}