# H1 TITLE #
{template:area id="1"}
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/platsbanken.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/public/js/ad-gallery/jquery.ad-gallery.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/public/js/ad-gallery/jquery.ad-gallery.js"></script>
	<script type="text/javascript">
	$(function() {
		var galleries = $('.ad-gallery').adGallery();
	});
	</script>
	<style type="text/css">
		#gallery {
			padding: 0px;
			width: 471px;
		}
		#descriptions {
			position: relative;
			height: 50px;
			margin-top: 0px;
			width: 471px;
			padding: 0px;
			overflow: hidden;
		}
		#descriptions .ad-image-description {
			position: absolute;
		}
		#descriptions .ad-image-description .ad-description-title {
			display: block;
		}
		.ad-gallery .ad-image-wrapper .ad-next {
			width: 75% !important;
		}
	</style>
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
<div class="box_middle">
	<div class="box_middle_header">Köp & Sälj Annons - Förhandsgranskning</div>
	<div class="box_middle_content">
		
		<div class="box_middle_lefter">
			<h2>{kop_salj:item get="title"/}</h2>
			
			
			<div id="gallery" class="ad-gallery">
				<div class="ad-image-wrapper"></div>
				<div class="ad-controlsREMOVE"></div>
				<div class="ad-nav">
					<div class="ad-thumbs">
						<ul class="ad-thumb-list">
						{kop_salj:images}
							<li>
								<a href="/public/images/kop_salj/{kop_salj:image get='image'/}">
									<img src="/public/images/kop_salj/{kop_salj:image get='thumb'/}" class="image{kop_salj:image get='index'/}">
								</a>
							</li>
						{/kop_salj:images}
						</ul>
					</div>
				</div>
			</div>
			<br />
			<br />
			<h2>Pris: {kop_salj:item get="price"/}:-</h2>
			<br />
			
			<table width="100%" cellpadding="3" cellspacing="5" border="0">
				<tr>
					<td width="70%" valign="top">
						{kop_salj:item get="description"/}
					</td>
					<td width="30%" valign="top" style="line-height:20px;"><p></p>
						<strong>Upplagd:</strong> {kop_salj:item get="added"/}<br />
						<strong>Pris:</strong> {kop_salj:item get="price"/}:-<br />
						<strong>Ort:</strong> {kop_salj:item get="city"/}<br />
						<strong>Region:</strong> {kop_salj:region id="{kop_salj:item get='region'/}"/}<br />
						<strong>Kontaktperson:</strong><br />
						{kop_salj:item get="contact_name"/}<br />
						<strong>Tele 1:</strong> {kop_salj:item get="contact_phone_1"/}<br />
						<strong>Tele 2:</strong> {kop_salj:item get="contact_phone_2"/}
					</td>
				</tr>
			</table>
		</div>
		
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			<input type="submit" class="button_green" style="margin:0px;" onClick="document.location='/konto/mina-annonser/kop-salj/redigera/{page:rurl index='4'/}'" value="REDIGERA" />
			<input type="submit" class="button_green" style="margin:0px;" onClick="document.location='/konto/mina-annonser/kop-salj/publicera/{page:rurl index='4'/}'" value="PUBLICERA" />
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>

	
{/template:area}


# THE RIGHT CONTENT AREA #
{template:area id="11"}

	{template:file path="/public/master_templates/prenumerera_senaste.htm"/}
	
{/template:area}