<div class="box_big">
	<div class="box_big_header">Konto - Annonser</div>
	<div class="box_big_content">
		
	{template:file path="/public/pages/konto/mina_annonser_top.htm"/}
		
	{page:rurl index="3" not_empty="true"}
		<div class="platsbanken_divider"></div>
		
		
		{page:rurl index="3" equals="ny"}
		{kop_salj:update_info success_redirect="/konto/mina-annonser/kop-salj"/}
		<div class="platsbanken_lefter">
			<form method="POST" action="/{page:rurl/}" enctype="multipart/form-data">
					
				<div class="platsbanken_lefter_row">
					<h2>Ny Köp & Sälj Annons</h2>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Kategori</strong><br />
					<select name="kop_salj_category" class="form">
						<option value="_empty">- Välj Kategori -</option>
						{kop_salj:categories}<option value="{kop_salj:item get='id'/}"{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='category' value='{kop_salj:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{kop_salj:item get='title'/}</option>{/kop_salj:categories}
					</select>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Rubrik</strong><br />
					<input type="text" class="form text" name="kop_salj_title" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='title' posted_first='true'/}" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Pris</strong><br />
					<input type="text" class="form text" name="kop_salj_price" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='price' posted_first='true'/}" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Beskrivning</strong><br />
					<textarea class="ckeditor" name="kop_salj_description">{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='description' posted_first='true'/}</textarea>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Ort</strong><br />
					<input type="text" class="form text" name="kop_salj_city" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='city' posted_first='true'/}" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Region</strong><br />
					<select name="kop_salj_region" class="form">
						<option value="_empty">- Välj Region -</option>
						{platsbanken:regions}<option value="{platsbanken:item get='id'/}"{platsbanken:info index='{page:rurl index="4"/}' get='kop_salj' name='region' value='{platsbanken:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{platsbanken:item get='name'/}</option>{/platsbanken:regions}
					</select>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Kontakt Person</strong><br />

					Namn<br />
					<input type="text" name="kop_salj_contact_name" class="form text" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='contact_name' posted_first='true'/}" /><br />
					Telefon 1<br />
					<input type="text" name="kop_salj_contact_phone_1" class="form text" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='contact_phone_1' posted_first='true'/}" /><br />
					Telefon 2<br />
					<input type="text" name="kop_salj_contact_phone_2" class="form text" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='contact_phone_2' posted_first='true'/}" /><br />
					Email<br />
					<input type="text" name="kop_salj_contact_email" class="form text" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='contact_email' posted_first='true'/}" /><br />
					<br />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Bilder (Max 10st)</strong><br />
					Bild 1 <input type="file" name="kop_salj_bild2[]" /><br />
					<br />
					Bild 2 <input type="file" name="kop_salj_bild2[]" /><br />
					<br />
					Bild 3 <input type="file" name="kop_salj_bild2[]" /><br />
					<br />
					Bild 4 <input type="file" name="kop_salj_bild2[]" /><br />
					<br />
					Bild 5 <input type="file" name="kop_salj_bild2[]" /><br />
					<br />
					Bild 6 <input type="file" name="kop_salj_bild2[]" /><br />
					<br />
					Bild 7 <input type="file" name="kop_salj_bild2[]" /><br />
					<br />
					Bild 8 <input type="file" name="kop_salj_bild2[]" /><br />
					<br />
					Bild 9 <input type="file" name="kop_salj_bild2[]" /><br />
					<br />
					Bild 10 <input type="file" name="kop_salj_bild2[]" /><br />
				</div>
				
				<div class="platsbanken_lefter_row">
					<input type="submit" class="button_green" name="kop_salj_submit" style="margin:0px;" value="SKAPA ANNONS" />
				</div>
				
			</form>
		</div>
		{/page:rurl}
		
		
		{page:rurl index="3" equals="redigera"}
		{kop_salj:owns_annons state="true" id="{page:rurl index='4'/}"}
			{kop_salj:update_info success_redirect="/konto/mina-annonser/kop-salj"/}
			
			<div class="platsbanken_lefter">
				<form method="post" action="/{page:rurl/}" enctype="multipart/form-data">
					
				<div class="platsbanken_lefter_row">
					<h2>Redigera Köp & Sälj Annons</h2>
				</div>
					
				{kop_salj:status_comment index="{page:rurl index='4'/}"}
				<div class="platsbanken_lefter_row">
					<font color="red"><h3>Meddelande från Administratör:</h3>
					{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='status_comment'/}</font>
				</div>
				{/kop_salj:status_comment}
				
				<div class="platsbanken_lefter_row">
					<strong>Kategori</strong><br />
					<select name="kop_salj_category" class="form">
						<option value="_empty">- Välj Kategori -</option>
						{kop_salj:categories}<option value="{kop_salj:item get='id'/}"{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='category' value='{kop_salj:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{kop_salj:item get='title'/}</option>{/kop_salj:categories}
					</select>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Rubrik</strong><br />
					<input type="text" class="form text" name="kop_salj_title" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='title' posted_first='true'/}" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Pris</strong><br />
					<input type="text" class="form text" name="kop_salj_price" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='price' posted_first='true'/}" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Beskrivning</strong><br />
					<textarea class="ckeditor" name="kop_salj_description">{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='description' posted_first='true'/}</textarea>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Ort</strong><br />
					<input type="text" class="form text" name="kop_salj_city" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='city' posted_first='true'/}" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Region</strong><br />
					<select name="kop_salj_region" class="form">
						<option value="_empty">- Välj Region -</option>
						{kop_salj:regions}<option value="{kop_salj:item get='id'/}"{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='region' value='{kop_salj:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{kop_salj:item get='name'/}</option>{/kop_salj:regions}
					</select>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Kontakt Person</strong><br />

					Namn<br />
					<input type="text" name="kop_salj_contact_name" class="form text" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='contact_name' posted_first='true'/}" /><br />
					Telefon 1<br />
					<input type="text" name="kop_salj_contact_phone_1" class="form text" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='contact_phone_1' posted_first='true'/}" /><br />
					Telefon 2<br />
					<input type="text" name="kop_salj_contact_phone_2" class="form text" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='contact_phone_2' posted_first='true'/}" /><br />
					Email<br />
					<input type="text" name="kop_salj_contact_email" class="form text" value="{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='contact_email' posted_first='true'/}" /><br />
					<br />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Bilder (Max 10st)</strong><br />
					Bild 1 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					{kop_salj:has_image id="{page:rurl index='4'/}" index="1"}
						<img src="/public/images/kop_salj/{kop_salj:image get='image'/}" /><br />
						Radera bild? <input type="checkbox" name="kop_salj_delete_image[]" value="1" /><br />
						<br />
					{/kop_salj:has_image}
					
					
					<br />
					Bild 2 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					{kop_salj:has_image id="{page:rurl index='4'/}" index="2"}
						<img src="/public/images/kop_salj/{kop_salj:image get='image'/}" /><br />
						Radera bild? <input type="checkbox" name="kop_salj_delete_image[]" value="2" /><br />
						<br />
					{/kop_salj:has_image}
					
					
					<br />
					Bild 3 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					{kop_salj:has_image id="{page:rurl index='4'/}" index="3"}
						<img src="/public/images/kop_salj/{kop_salj:image get='image'/}" /><br />
						Radera bild? <input type="checkbox" name="kop_salj_delete_image[]" value="3" /><br />
						<br />
					{/kop_salj:has_image}
					
					
					<br />
					Bild 4 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					{kop_salj:has_image id="{page:rurl index='4'/}" index="4"}
						<img src="/public/images/kop_salj/{kop_salj:image get='image'/}" /><br />
						Radera bild? <input type="checkbox" name="kop_salj_delete_image[]" value="4" /><br />
						<br />
					{/kop_salj:has_image}
					
					
					<br />
					Bild 5 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					{kop_salj:has_image id="{page:rurl index='4'/}" index="5"}
						<img src="/public/images/kop_salj/{kop_salj:image get='image'/}" /><br />
						Radera bild? <input type="checkbox" name="kop_salj_delete_image[]" value="5" /><br />
						<br />
					{/kop_salj:has_image}
					
					
					<br />
					Bild 6 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					{kop_salj:has_image id="{page:rurl index='4'/}" index="6"}
						<img src="/public/images/kop_salj/{kop_salj:image get='image'/}" /><br />
						Radera bild? <input type="checkbox" name="kop_salj_delete_image[]" value="6" /><br />
						<br />
					{/kop_salj:has_image}
					
					
					<br />
					Bild 7 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					{kop_salj:has_image id="{page:rurl index='4'/}" index="7"}
						<img src="/public/images/kop_salj/{kop_salj:image get='image'/}" /><br />
						Radera bild? <input type="checkbox" name="kop_salj_delete_image[]" value="7" /><br />
						<br />
					{/kop_salj:has_image}
					
					
					<br />
					Bild 8 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					{kop_salj:has_image id="{page:rurl index='4'/}" index="8"}
						<img src="/public/images/kop_salj/{kop_salj:image get='image'/}" /><br />
						Radera bild? <input type="checkbox" name="kop_salj_delete_image[]" value="8" /><br />
						<br />
					{/kop_salj:has_image}
					
					
				</div>
				
				<div class="platsbanken_lefter_row">
					<input type="submit" class="button_green" name="kop_salj_preview" style="margin:0px;" value="FÖRHANDSGRANSKA ANNONS" />
					<input type="submit" class="button_green" name="kop_salj_edit" style="margin:0px;" value="REDIGERA ANNONS" />
				</div>
				
			</form>
			</div>
		{/kop_salj:owns_annons}
		{/page:rurl}
		
		
	{/page:rurl}
	</div>
	<div class="box_big_footer"></div>
</div>