{konto:register_check/}

<div class="box_big">
	<div class="box_big_header">Konto - Registrera</div>
	<div class="box_big_content">
		
		{konto:registration_success state="false"}
			<div class="box_big_lefter">
				<div style="width:100%;padding-left:100px;">
					<h2>Spara tid och registrera dig med Facebook genom ett klick!</h2>
					<a class="button_facebook_register" style="margin-top:10px;float:left;" href="/konto/logga-in/facebook" onClick="document.getElementById('facebook_logging_in').style.display='block'"></a><br />
					<div id="facebook_logging_in" style="display:none;margin-top:10px;margin-bottom:10px;"><img src="/public/images/loader.gif" /></div><br />
					<br />
				</div>
			</div>
			
			<div class="big_box_divider"></div>
			
			

			<div class="box_big_lefter">
				<div style="width:100%;padding-left:100px;">
					<form method="POST" action="/konto/registrera" id="register_form" name="register_form">
						<table cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td style="padding-bottom:15px;">
									<h3>Registrera Konto - Ange Kontaktinformation</h3>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:15px;">
									<b>Förnamn</b>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:15px;">
									<div id="reg_error_first_name" style="display:none;color:red">Du måste ange ett förnamn.</div>
									<input type="text" id="register_first_name" name="register_first_name" style="width:294px;" />
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:15px;">
									<b>Efternamn</b>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:15px;">
									<div id="reg_error_last_name" style="display:none;color:red">Du måste ange ett efternamn.</div>
									<input type="text" id="register_last_name" name="register_last_name" style="width:294px;" />
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:15px;">
									<b>Email</b> <i>(Ett bekräftelsemail komma att skickas till dig)</i>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:15px;">
									<div id="reg_error_email_exists" style="display:none;color:red">
										Email adressen finns redan registrerad.<br />
										Glömt ditt lösenord? <a href="/konto/forlorat-losenord">Skicka ett nytt till din mail!</a>
									</div>
									<div id="reg_error_email" style="display:none;color:red">Email adressen är ej giltig.</div>
									<input type="text" id="register_email" name="register_email" style="width:294px;" />
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:15px;">
									<b>Lösenord</b>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:15px;">
									<div id="reg_error_password" style="display:none;color:red">Lösenorden du angav stämmer ej överens med varandra.</div>
									<div id="reg_error_password_empty" style="display:none;color:red">Du måste ange ett lösenord.</div>
									<input type="password" id="register_password" name="register_password" style="width:294px;" />
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:15px;">
									<b>Bekräfta Lösenord</b>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:21px;">
									<div id="reg_error_password" style="display:none;color:red">Bekräfta lösenord igen.</div>
									<input type="password" id="register_password_retype" name="register_password_retype" style="width:294px;" />
								</td>
							</tr>
							<tr>
								<td style="padding-bottom:21px;">
									<input type="submit" class="button_green" style="float:left;" name="register_submit" value="REGISTRERA" />
									
									
								</td>
							</tr>
							<tr>
								<td>{login:failed}<span class="error"></span> <font color="red">Det gick inte att logga in, vänligen försök igen.<br /><a href="/kontakt">Eller kontakta HRTorget.</a></font>{/login:failed}</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		{/konto:registration_success}
		
		
		
		
		{konto:registration_success state="true"}
			<div class="box_big_lefter">
				<h2>Grattis! Du har registrerat dig på HRtorget.se! Vänligen verifiera din email.</h2>
				Du måste verifiera din email, genom att följa länken i mailet du fått från oss.<br />
				<br />
				Det kan ta upp till 5 minuter att få mailet, men det skickas oftast direkt.
			</div>
		{/konto:registration_success}
		
		
	</div>
	<div class="box_big_footer"></div>
</div>