# H1 TITLE #
{template:area id="1"}
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/platsbanken.css" type="text/css" />
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
{platsbanken:load_jobb_annons id="{page:rurl index='4'/}"/}
<div class="box_big">
	<div class="box_big_header">Konto - Mina Annonser - Jobb Annons - Förhandsgranskning</div>
	<div class="box_big_content">
	
		<div class="box_big_lefter">
			<h2>{annonser:company_info id="{platsbanken:item get='company_id'/}" get='name'/}</h2>
			{platsbanken:subitem get="description"/}
		</div>
		
		<div class="big_box_divider"></div>
		
		<div class="box_big_lefter">
			<h2>{platsbanken:item get="title"/}</h2>
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td width="65%" valign="top">
						<img src="/public/images/jobbannonser/{platsbanken:item get='image_big'/}" title="Ikon" />
					</td>
					<td width="35%" valign="top">
						<b>Upplagd:</b> 2013-02-06, 17:55<br />
						<br />
						<b>Företag:</b> {annonser:company_info id="{platsbanken:item get='company_id'/}" get='name'/}<br />
						<br />
						<b>Adress:</b><br />
						{annonser:company_info id="{platsbanken:item get='company_id'/}" get='street'/}<br />
						{annonser:company_info id="{platsbanken:item get='company_id'/}" get='zip'/} {annonser:company_info id="{platsbanken:item get='company_id'/}" get='city'/}<br />
						<br />
						<b>Hemsida:</b><br />
						{annonser:company_info id="{platsbanken:item get='company_id'/}" get='website'/}<br />
						
						{annonser:contact_persons index="{page:rurl index='4'/}"}
						<br /><b>Kontakt Person</b><br />
						Namn: {annonser:item get="name"/}<br />
						Telefon: {annonser:item get="telephone"/}<br />
						Email: {annonser:item get="email"/}<br />
						{/annonser:contact_persons}
					</td>
				</tr>
			</table><br />
			<br />
			{platsbanken:item get="description"/}
		</div>
		
		<div class="big_box_divider"></div>
		
		<div class="box_big_lefter">
			<strong>Sista ansökningsdatum:</strong> {annonser:last_day index='{page:rurl index="4"/}' date='d'/} {functions:month number="{annonser:last_day index='{page:rurl index="4"/}' date='n'/}"/} {annonser:last_day index='{page:rurl index="4"/}' date='Y'/}<br />
			<br />
			<strong>Ansökningen sker via:</strong><br />
			<br />
			{annonser:extern_website index='{page:rurl index="4"/}' state='empty'}
				<form method="post" action="#" onSubmit="return false;">
					<b>Rubrik:</b><br />
					<input type="text" class="text form wide" name="application_title" value="Intresseanmälan - {platsbanken:item get='title'/}"/><br />
					<br />
					<b>Ditt Meddelande:</b><br />
					<i>Utöver ditt CV som skickas automatiskt</i><br />
					<textarea class="textarea form wide" name="application_message"></textarea><br />
					<br />
					<input type="submit" class="button_green" style="margin:0px;" value="SKICKA ANSÖKAN" />
				</form>
			{/annonser:extern_website}
			
			{annonser:extern_website index='{page:rurl index="4"/}' state='not_empty'}
				<a href="{functions:proper_url url='{platsbanken:item get="extern_website"/}'/}" target="_blank">{functions:proper_url url='{platsbanken:item get="extern_website"/}'/}</a>
			{/annonser:extern_website}
		</div>
		
		<div class="big_box_divider"></div>
		
		<div class="box_big_lefter">
			<input type="submit" class="button_green" style="margin:0px;" onClick="document.location='/konto/mina-annonser/jobb-annons/redigera/{page:rurl index='4'/}'" value="REDIGERA" />
			<input type="submit" class="button_green" style="margin:0px;" onClick="document.location='/konto/mina-annonser/jobb-annons/publicera/{page:rurl index='4'/}'" value="PUBLICERA" />
		</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>

	
{/template:area}