<div class="box_big">
	<div class="box_big_header">Konto - Annonser</div>
	<div class="box_big_content">
		
	{template:file path="/public/pages/konto/mina_annonser_top.htm"/}
		
	{page:rurl index="3" not_empty="true"}
		<div class="platsbanken_divider"></div>
		
		
		{page:rurl index="3" equals="ny"}
		{annonser:update_info success_redirect="/konto/mina-annonser/jobb-annons"/}
		<div class="platsbanken_lefter">
			<form method="post" action="/{page:rurl/}" enctype="multipart/form-data">
					
				<div class="platsbanken_lefter_row">
					<h2>Ny Jobb Annons</h2>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Företag</strong><br />
					<select name="jobbannonser_company_id" class="form">
						<option value="_empty">- Välj Företag -</option>
						{annonser:companies}<option value="{annonser:item get='id'/}"{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='company_id' value='{annonser:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{annonser:item get='name'/}</option>{/annonser:companies}
					</select>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Kategori</strong><br />
					<select name="jobbannonser_category_id" class="form">
						<option value="_empty">- Välj Kategori -</option>
						{annonser:job_categories}<option value="{annonser:item get='id'/}"{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='category_id' value='{annonser:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{annonser:item get='name'/}</option>{/annonser:job_categories}
					</select>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Region</strong><br />
					<select name="jobbannonser_region" class="form">
						<option value="_empty">- Välj Region -</option>
						<option>hej</option>
					</select>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Rubrik</strong><br />
					<input type="text" class="form text" name="jobbannonser_title" value="{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='title' posted_first='true'/}" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Beskrivning</strong><br />
					<textarea class="ckeditor" name="jobbannonser_description">{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='description' posted_first='true'/}</textarea>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Sista ansökningsdatum</strong><br />
					<input type="text" class="form text" id="jobbannonser_last_day" name="jobbannonser_last_day" value="{annonser:last_day index='{page:rurl index="4"/}'/}" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Kontakt Personer</strong><br />
					
					{annonser:contact_persons}
					Namn<br />
					<input type="text" name="jobbannonser_new_contact_name[]" class="form text" value="{annonser:item get='name'/}" /><br />
					Telefon<br />
					<input type="text" name="jobbannonser_new_contact_telephone[]" class="form text" value="{annonser:item get='telephone'/}" /><br />
					Email<br />
					<input type="text" name="jobbannonser_new_contact_email[]" class="form text" value="{annonser:item get='email'/}" /><br />
					<br />
					{/annonser:contact_persons}
					
					Namn<br />
					<input type="text" name="jobbannonser_new_contact_name[]" class="form text" value="" /><br />
					Telefon<br />
					<input type="text" name="jobbannonser_new_contact_telephone[]" class="form text" value="" /><br />
					Email<br />
					<input type="text" name="jobbannonser_new_contact_email[]" class="form text" value="" /><br />
					<br />
					<input type="submit" class="button_green" name="jobbannonser_new_contact" style="margin:0px;" value="LÄGG TILL KONTAKT PERSON" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Bild</strong><br />
					<input type="file" class="form" class="form text" name="jobbannonser_bild" id="jobbannonser_bild" />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Ansökning via extern hemsida</strong> <input type="checkbox" name="jobbannonser_extern_ansokning" id="jobbannonser_extern_ansokning" /><br />
					<div id="extern_ansokning" style="display:none;">
						Hemsida: <input type="text" class="form text" name="jobbannonser_extern_ansokning_website" value="{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='extern_website' posted_first='true'/}" />
					</div>
				</div>
				
				<div class="platsbanken_lefter_row">
					<input type="submit" class="button_green" name="jobbannonser_submit" style="margin:0px;" value="SKAPA ANNONS" />
				</div>
				
			</form>
		</div>
		{/page:rurl}
		
		
		{page:rurl index="3" equals="redigera"}
		{annonser:owns_annons state="true" id="{page:rurl index='4'/}"}
			{annonser:update_info success_redirect="/konto/mina-annonser/jobb-annons"/}
			
			<div class="platsbanken_lefter">
				<form method="post" action="/{page:rurl/}" enctype="multipart/form-data">
					<div class="platsbanken_lefter_row">
						<h2>Redigera Jobb Annons</h2>
					</div>
					
					{annonser:status_comment index="{page:rurl index='4'/}"}
					<div class="platsbanken_lefter_row">
						<font color="red"><h3>Meddelande från Administratör:</h3>
						{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='status_comment'/}</font>
					</div>
					{/annonser:status_comment}
				
					<div class="platsbanken_lefter_row">
						<strong>Företag</strong><br />
						<select name="jobbannonser_company_id" class="form">
							<option value="_empty">- Välj Företag -</option>
							{annonser:companies}<option value="{annonser:item get='id'/}"{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='company_id' value='{annonser:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{annonser:item get='name'/}</option>{/annonser:companies}
						</select>
					</div>
				
					<div class="platsbanken_lefter_row">
						<strong>Kategori</strong><br />
						<select name="jobbannonser_category_id" class="form">
							<option value="_empty">- Välj Kategori -</option>
							{annonser:job_categories}<option value="{annonser:item get='id'/}"{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='category_id' value='{annonser:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{annonser:item get='name'/}</option>{/annonser:job_categories}
						</select>
					</div>
				
					<div class="platsbanken_lefter_row">
						<strong>Region</strong><br />
						<select name="jobbannonser_region" class="form">
							<option value="_empty">- Välj Region -</option>
							{annonser:regions}<option value="{annonser:item get='id'/}"{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='region' value='{annonser:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{annonser:item get='name'/}</option>{/annonser:regions}
						</select>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Rubrik</strong><br />
						<input type="text" class="form text" name="jobbannonser_title" value="{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='title' posted_first='true'/}" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Beskrivning</strong><br />
						<input type="hidden" name="no_escape[]" value="jobbannonser_description" />
						<textarea class="ckeditor" name="jobbannonser_description">{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='description' posted_first='true'/}</textarea>
					</div>
				
					<div class="platsbanken_lefter_row">
						<strong>Sista ansökningsdatum</strong><br />
						<input type="text" class="form text" id="jobbannonser_last_day" name="jobbannonser_last_day" value="{annonser:last_day index='{page:rurl index="4"/}'/}" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Kontakt Personer</strong><br />
						
						{annonser:contact_persons}
						Namn<br />
						<input type="text" name="jobbannonser_new_contact_name[]" class="form text" value="{annonser:item get='name'/}" /><br />
						Telefon<br />
						<input type="text" name="jobbannonser_new_contact_telephone[]" class="form text" value="{annonser:item get='telephone'/}" /><br />
						Email<br />
						<input type="text" name="jobbannonser_new_contact_email[]" class="form text" value="{annonser:item get='email'/}" /><br />
						<br />
						{/annonser:contact_persons}
						
						Namn<br />
						<input type="text" name="jobbannonser_new_contact_name[]" class="form text" value="" /><br />
						Telefon<br />
						<input type="text" name="jobbannonser_new_contact_telephone[]" class="form text" value="" /><br />
						Email<br />
						<input type="text" name="jobbannonser_new_contact_email[]" class="form text" value="" /><br />
						<br />
						<input type="submit" class="button_green" name="jobbannonser_new_contact" style="margin:0px;" value="LÄGG TILL KONTAKT PERSON" />
					</div>
				
					<div class="platsbanken_lefter_row">
						<strong>Bild</strong><br />
						
						{annonser:has_image state="true"}
						<img title="Ikon" src="/public/images/jobbannonser/{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='image_big'/}"><br />
						<input type="checkbox" name="jobbannonser_bild_radera" /> Radera Bild<br />
						{/annonser:has_image}
						
						<br />
						Ladda upp en{annonser:has_image state="false"} ny{/annonser:has_image} bild: <input type="file" class="form text" name="jobbannonser_bild" id="jobbannonser_bild" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Ansökning via extern hemsida</strong> <input type="checkbox" name="jobbannonser_extern_ansokning" id="jobbannonser_extern_ansokning"{annonser:extern_website index='{page:rurl index="4"/}' state='not_empty'} checked="checked"{/annonser:extern_website} /><br />
						<div id="extern_ansokning" style="display:none;">
							Hemsida: <input type="text" class="form text" name="jobbannonser_extern_ansokning_website" value="{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='extern_website' posted_first='true'/}" />
						</div>
					</div>
					
					<div class="platsbanken_lefter_row">
						<input type="submit" class="button_green" name="jobbannonser_preview" style="margin:0px;" value="FÖRHANDSGRANSKA" />
						<input type="submit" class="button_green" name="jobbannonser_edit" style="margin:0px;" value="PUBLICERA" />
					</div>
					
				</form>
			</div>
		{/annonser:owns_annons}
		{/page:rurl}
		
		
	{/page:rurl}
	</div>
	<div class="box_big_footer"></div>
</div>