{konto:andra_losenord/}

<div class="box_big">
	<div class="box_big_header">Konto - Ändra Lösenord</div>
	<div class="box_big_content">
		
			<div class="box_big_lefter">
			
				{konto:andra_losenord_success state="false"}
					<h2>Ange nytt lösenord nedan:</h2>
					<br />
					<form method="POST" action="">
					Lösenord:<br />
					<input type="password" id="andra_password" name="andra_password" style="width:294px;" /><br />
					<br />
					Upprepa Lösenord:<br />
					<input type="password" id="andra_password_check" name="andra_password_check" style="width:294px;" /><br />
					<br />
					<input type="submit" class="button_green" style="float:left;" value="BYT LÖSENORD" />
					<br />
					<br />
					<br />
					</form>
				{/konto:andra_losenord_success}
				
				{konto:andra_losenord_success state="true"}
					<h2>Ditt lösenord har ändrats!</h2>
					Lösenordet till ditt konto har ändrats.
				{/konto:andra_losenord_success}
				
			</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>