{page:rurl not_contain="no-menu"}

{page:rurl index="1" equals="language"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' empty='language'}class="header" {/page:rurl}onClick="navigateToContent('/admin/language');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Språk</strong><br /><font size="1">Översättningar</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}

{page:rurl index="1" equals="automatiska-script"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' empty='automatiska-script'}class="header" {/page:rurl}onClick="navigateToContent('/admin/automatiska-script');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Alla Scripts</strong><br /><font size="1">Automatiska script</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}

{page:rurl index="1" equals="kontakt"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' empty='kontakt'}class="header" {/page:rurl}onClick="navigateToContent('/admin/kontakt');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Kontakt</strong><br /><font size="1">Kontakt förfrågningar</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}

{page:rurl index="1" equals="banners"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' empty='all'}class="header" {/page:rurl}onClick="navigateToContent('/admin/banners');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Banner Bibliotek</strong><br /><font size="1">Redigera/Radera Banners</font></span>
			</li>
			<li {page:rurl index='2' equals='branschguiden'}class="header" {/page:rurl}onClick="navigateToContent('/admin/banners/branschguiden');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Branschguiden</strong><br /><font size="1">Aktiva Banners</font></span>
			</li>
			<li {page:rurl index='2' equals='top-big'}class="header" {/page:rurl}onClick="navigateToContent('/admin/banners/top-big');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Stor Topp Banner</strong><br /><font size="1">Aktiva Banners</font></span>
			</li>
			<li {page:rurl index='2' equals='right-small'}class="header" {/page:rurl}onClick="navigateToContent('/admin/banners/right-small');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Mindre Höger Banner</strong><br /><font size="1">Aktiva Banners</font></span>
			</li>
			<li {page:rurl index='2' equals='right-big'}class="header" {/page:rurl}onClick="navigateToContent('/admin/banners/right-big');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Stor Höger Banner</strong><br /><font size="1">Aktiva Banners</font></span>
			</li>
			<li {page:rurl index='2' equals='startpage-small'}class="header" {/page:rurl}onClick="navigateToContent('/admin/banners/startpage-small');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Mindre Startsidan Banner</strong><br /><font size="1">Aktiva Banners</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}
<!--
{page:rurl index="1" equals="reklam"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' equals='big'}class="header" {/page:rurl}onClick="navigateToContent('/admin/reklam/big');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Stora Banners</strong><br /><font size="1">Redigera Stora Banners</font></span>
			</li>
			<li {page:rurl index='2' equals='small'}class="header" {/page:rurl}onClick="navigateToContent('/admin/reklam/small');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Små Banners</strong><br /><font size="1">Redigera Små Banners</font></span>
			</li>
			<li {page:rurl index='2' equals='startpage'}class="header" {/page:rurl}onClick="navigateToContent('/admin/reklam/startpage');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Startsidans Banner</strong><br /><font size="1">Redigera Startsidans Banner</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}
-->
{page:rurl index="1" equals="kop-salj"}
	<div class="tabs">
		<ul>
			<!--<li {page:rurl index='2' equals='meddelanden'}class="header" {/page:rurl}onClick="navigateToContent('/admin/kop-salj/meddelanden');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Meddelanden</strong><br /><font size="1">Granska meddelanden</font></span>
			</li>-->
			<li {page:rurl index='2' equals='annonser'}class="header" {/page:rurl}onClick="navigateToContent('/admin/kop-salj/annonser');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Granska</strong><br /><font size="1">Köp & Sälj Annonser</font></span>
			</li>
            <li {page:rurl index='2' equals='maklarkonton'}class="header" {/page:rurl}onClick="">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Maklarkonton</strong><br /><font size="1">Maklarkonton</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}

{page:rurl index="1" equals="html-ytor"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='1' equals='html-ytor'}class="header" {/page:rurl}onClick="navigateToContent('/admin/html-ytor');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>HTML Ytor</strong><br /><font size="1">Redigera HTML ytor</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}

{page:rurl index="1" equals="kalender"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='1' equals='kalender'}class="header" {/page:rurl}onClick="navigateToContent('/admin/kalender');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Kalender</strong><br /><font size="1">Redigera kalendern</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}

{page:rurl index="1" equals="branschnyheter"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' equals='requests'}class="header" {/page:rurl}onClick="navigateToContent('/admin/branschnyheter/requests');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Granska</strong><br /><font size="1">Branschnyheter</font></span>
			</li>
		</ul>
		<ul>
			<li {page:rurl index='2' equals='add'}class="header" {/page:rurl}onClick="navigateToContent('/admin/branschnyheter/add');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Lägg till</strong><br /><font size="1">Branschnyheter</font></span>
			</li>
		</ul>
		<!--<ul>
			<li {page:rurl index='2' equals='edit'}class="header" {/page:rurl}onClick="navigateToContent('/admin/branschnyheter/edit');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Redigera</strong><br /><font size="1">Branschnyheter</font></span>
			</li>
		</ul>-->
	</div>
{/page:rurl}

{page:rurl index="1" equals="branschguiden"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' equals='create'}class="header" {/page:rurl}onClick="navigateToContent('/admin/branschguiden/foretag');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Företag</strong><br /><font size="1">Skapa/Redigera</font></span>
			</li>
			<li {page:rurl index='2' equals='requests'}class="header" {/page:rurl}onClick="navigateToContent('/admin/branschguiden/requests');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Förfrågningar</strong><br /><font size="1">Skickade av besökare</font></span>
			</li>
			<li {page:rurl index='2' equals='requests-email-templates'}class="header" {/page:rurl}onClick="navigateToContent('/admin/branschguiden/requests-email-templates');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Förfrågningar - Emails</strong><br /><font size="1">Mallar för emails</font></span>
			</li>
			<li {page:rurl index='2' equals='kategorier'}class="header" {/page:rurl}onClick="navigateToContent('/admin/branschguiden/kategorier');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Redigera Kategorier</strong><br /><font size="1">Lägg till / Redigera / Ta bort</font></span>
			</li>
			<li {page:rurl index='2' equals='kategorier-pa-startsidan'}class="header" {/page:rurl}onClick="navigateToContent('/admin/branschguiden/kategorier-pa-startsidan');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Branschguidens Förstasida</strong><br /><font size="1">Kategorier som visas</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}

{page:rurl index="1" equals="platsbanken"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' equals='alla-platsannonser'}class="header" {/page:rurl}onClick="navigateToContent('/admin/platsbanken/alla-platsannonser');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Alla platsannonser</strong><br /><font size="1">Alla platsannonser</font></span>
			</li>
			<li {page:rurl index='2' equals='lagg-till-platsannons'}class="header" {/page:rurl}onClick="navigateToContent('/admin/platsbanken/lagg-till-platsannons');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Lägg till Platsannons</strong><br /><font size="1">Lägg till Platsannons</font></span>
			</li>
			<li {page:rurl index='2' equals='job-categories'}class="header" {/page:rurl}onClick="navigateToContent('/admin/platsbanken/job-categories');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>JobbKategorier</strong><br /><font size="1">Lägg till / Redigera / Ta bort</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}

{page:rurl index="1" equals="taggar"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' equals='visa'}class="header" {/page:rurl}onClick="navigateToContent('/admin/taggar/visa');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Visa Taggar</strong><br /><font size="1">Lista alla taggar</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}


{page:rurl index="1" equals="forum"}
	<div class="tabs">
		<ul>
			<li {page:rurl index='2' equals='all_posts'}class="header" {/page:rurl}onClick="navigateToContent('/admin/forum/all_posts');">
				<span class="icon_house"></span>
				<span class="left_menu_title"><strong>Alla Inlägg</strong><br /><font size="1">Alla inläggr</font></span>
			</li>
		</ul>
	</div>
{/page:rurl}

{/page:rurl}