# H1 TITLE #
{template:area id="1"}
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<script>
		function updateIframe(id,request) {
			var iframe = document.getElementById('cat_startpage_'+id);
			iframe.src = "/konto/arbetsgivare/foretag/kategorier/column/"+ id +"/{page:rurl index='4'/}/no-menu"+request;
		}
		function productEdit(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "none";
			edit.style.display = "block";
		}
		
		function productClose(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "block";
			edit.style.display = "none";
		}
		function productNew() {
			var newProduct = document.getElementById('company_product_new');
			newProduct.style.display = "block";
		}
	</script>
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
	
	{page:rurl index="2" equals="foretag"}
		{template:file path="/public/pages/konto/arbetsgivare/foretag.htm"/}
	{/page:rurl}
	
	{page:rurl index="2" equals="branschnyhet"}
		{template:file path="/public/pages/konto/arbetsgivare/branschnyhet.htm"/}
	{/page:rurl}
	
{/template:area}