# H1 TITLE #
{template:area id="1"}
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
			<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	{page:rurl index="0" equals="konto"}{page:rurl index="1" empty="true"}<script src="http://connect.facebook.net/en_US/all.js"></script>{/page:rurl}{/page:rurl}
	{page:rurl index="2" equals="bild"}
		{page:rurl index="3" equals="crop"}
			<meta http-equiv="Pragma" content="no-cache">
			<meta http-equiv="Expires" content="0">
			<script src="/public/js/jcrop/jquery.min.js"></script>
			<script src="/public/js/jcrop/jquery.Jcrop.js"></script>
			<script type="text/javascript">
			  jQuery(function($){

				// Create variables (in this scope) to hold the API and image size
				var jcrop_api,
					boundx,
					boundy,

					// Grab some information about the preview pane
					$preview = $('#preview-pane'),
					$pcnt = $('#preview-pane .preview-container'),
					$pimg = $('#preview-pane .preview-container img'),

					xsize = 185,
					ysize = 215;
				
				$('#target').Jcrop({
				  onChange: updateCoords,
				  onSelect: updatePreview,
				  aspectRatio: xsize / ysize
				},function(){
				  // Use the API to get the real image size
				  var bounds = this.getBounds();
				  boundx = bounds[0];
				  boundy = bounds[1];
				  // Store the API in the jcrop_api variable
				  jcrop_api = this;

				  // Move the preview into the jcrop container for css positioning
				  $preview.appendTo(jcrop_api.ui.holder);
				});
				
				function updateCoords(c) {
					$('#x').val(c.x);
					$('#y').val(c.y);
					$('#w').val(c.w);
					$('#h').val(c.h);
				};

				function checkCoords() {
					if (parseInt($('#w').val())) return true;
					alert('Du måste skala bilden först.');
					return false;
				};

				function updatePreview(c)
				{
				  if (parseInt(c.w) > 0)
				  {
					var rx = xsize / c.w;
					var ry = ysize / c.h;

					$pimg.css({
					  width: Math.round(rx * boundx) + 'px',
					  height: Math.round(ry * boundy) + 'px',
					  marginLeft: '-' + Math.round(rx * c.x) + 'px',
					  marginTop: '-' + Math.round(ry * c.y) + 'px'
					});
				  }
				};

			  });


			</script>
			<link rel="stylesheet" href="/public/css/jcrop/jquery.Jcrop.css" type="text/css" />
			<style type="text/css">

			/* Apply these styles only when #preview-pane has
			   been placed within the Jcrop widget */
			#preview-pane {
				position: absolute;
				top: 0px;
				right: -185px;
				display: block;
				width: 185px;
				height: 215px;
			}

			/* The Javascript code will set the aspect ratio of the crop
			   area based on the size of the thumbnail preview,
			   specified here */
			#preview-pane .preview-container {
			  width: 185px;
			  height: 215px;
			  overflow: hidden;
			}
			</style>
		{/page:rurl}
	{/page:rurl}
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}

	{page:rurl index="1" equals="mitt-cv"}
		{page:rurl index="2" empty="true"}
			{konto:progress redirect="true" prefix="/konto/mitt-cv/" 1="personuppgifter" 2="utbildningar" 3="anstallningar" 4="bild"/}
		{/page:rurl}
		
		{template:file path="/public/pages/konto/cv/cv.htm"/}
	{/page:rurl}
	
{/template:area}