# H1 TITLE #
{template:area id="1"}
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
	
	{template:file path="/public/pages/konto/meddelanden/meddelanden.htm"/}
	
{/template:area}