# H1 TITLE #
{template:area id="1"}
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	 <script>
	$(document).ready(function() {
		$('#jobbannonser_last_day').datepicker({
			onSelect: function(dateText, inst) {
				$(".ui-datepicker a").removeAttr("href");
				//Get today's date at midnight
				var today = new Date();
				today = Date.parse(today.getMonth()+1+'/'+today.getDate()+'/'+today.getFullYear());
				//Get the selected date (also at midnight)
				var selDate = Date.parse(dateText);
				
				if(selDate < today) {
					//If the selected date was before today, continue to show the datepicker
					$('#jobbannonser_last_day').val('');
					$(inst).datepicker('show');
				}
			}
		});
		
		// If "extern hemsida" been clicked
		$('#jobbannonser_extern_ansokning').change(function() {
			$('#extern_ansokning').toggle(this.checked);
		}).change();

	});

	</script>
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
	
	{page:rurl index="2" equals="kop-salj"}
		{template:file path="/public/pages/konto/kop_salj/kop_salj.htm"/}
	{/page:rurl}
	
	{page:rurl index="2" equals="jobb-annons"}
		{template:file path="/public/pages/konto/mina_annonser/mina_annonser.htm"/}
	{/page:rurl}
	
	{page:rurl index="2" empty="true"}
		{template:file path="/public/pages/konto/kop_salj/kop_salj.htm"/}
	{/page:rurl}
	
{/template:area}