	<div class="platsbanken_lefter" style="margin-bottom:40px;">
		<form method="post" action="/{page:rurl/}">
			<div class="platsbanken_lefter_row">
				<h2>Mina Köp & Sälj Annonser</h2>
			</div>
			{kop_salj:annonser}
			<div class="dina_utbildningar_item">
				<div class="dina_utbildningar_item_left">
					
					{kop_salj:status status='{kop_salj:item get="status"/}' equals='draft'}
						<strong>{kop_salj:item get="title"/}</strong><br />
						Ej publicerad
					{/kop_salj:status}
					
					{kop_salj:status status='{kop_salj:item get="status"/}' equals='accepted'}
						<strong><a href="/till-salu/{kop_salj:item get='id'/}/{functions:url_friendly string="{kop_salj:item get='title'/}"/}">{kop_salj:item get="title"/}</a></strong><br />
						Accepterad och publicerad
					{/kop_salj:status}
					
					{kop_salj:status status='{kop_salj:item get="status"/}' equals='waiting'}
						<strong>{kop_salj:item get="title"/}</strong><br />
						Granskas av administratör
					{/kop_salj:status}
					
					{kop_salj:status status='{kop_salj:item get="status"/}' equals='declined'}
						<strong>{kop_salj:item get="title"/}</strong><br />
						Jobbannons har nekats <a href="/konto/mina-annonser/kop-salj/redigera/{kop_salj:item get='id'/}">[Läs mer]</a>
					{/kop_salj:status}
					
					<span style="float:right">
						<a href="/konto/mina-annonser/kop-salj/redigera/{kop_salj:item get='id'/}">Redigera</a> | <a href="/konto/mina-annonser/kop-salj/{kop_salj:item get='id'/}/radera" style="color:red" onclick="javascript:return confirm('Vill du verkligen radera denna annons?')">Ta bort</a>
					</span>
				</div>
			</div>
			{/kop_salj:annonser}
			<div class="platsbanken_lefter_row">
				<button class="button_green" style="margin:0px;" onClick="document.location='/konto/mina-annonser/kop-salj/ny';return false;">NY KÖP & SÄLJ ANNONS</button>
			</div>
		</div>
		
		
	{arbetsgivare:access name="platsbanken" state="true"}
		{annonser:allowed_companies state="true"}
		<div class="platsbanken_lefter">
		<form method="post" action="/{page:rurl/}">
			<div class="platsbanken_lefter_row">
				<h2>Mina Jobb Annonser</h2>
			</div>
			{annonser:jobb}
			<div class="dina_utbildningar_item">
				<div class="dina_utbildningar_item_left">
					
					{annonser:status status='{annonser:item get="status"/}' equals='draft'}
						<strong>{annonser:item get="title"/}</strong><br />
						Ej publicerad
					{/annonser:status}
					
					{annonser:status status='{annonser:item get="status"/}' equals='accepted'}
						<strong><a href="/platsbanken/jobb-annons/{annonser:item get='id'/}/{functions:url_friendly string="{annonser:item get='title'/}"/}">{annonser:item get="title"/}</a></strong><br />
						Accepterad och publicerad
					{/annonser:status}
					
					{annonser:status status='{annonser:item get="status"/}' equals='waiting'}
						<strong>{annonser:item get="title"/}</strong><br />
						Granskas av administratör
					{/annonser:status}
					
					{annonser:status status='{annonser:item get="status"/}' equals='declined'}
						<strong>{annonser:item get="title"/}</strong><br />
						Jobbannons har nekats <a href="/konto/mina-annonser/jobb-annons/redigera/{annonser:item get='id'/}">[Läs mer]</a>
					{/annonser:status}
					
					<span style="float:right">
						<a href="/konto/mina-annonser/jobb-annons/redigera/{annonser:item get='id'/}">Redigera</a> | <a href="/konto/mina-annonser/jobb-annons/{annonser:item get='id'/}/radera" style="color:red" onclick="javascript:return confirm('Vill du verkligen radera denna jobb annons?')">Ta bort</a>
					</span>
				</div>
			</div>
			{/annonser:jobb}
			<div class="platsbanken_lefter_row">
				<button class="button_green" style="margin:0px;" onClick="document.location='/konto/mina-annonser/jobb-annons/ny';return false;">NY JOBB ANNONS</button>
			</div>
		</form>
		</div>
		{/annonser:allowed_companies}
		
		{annonser:allowed_companies state="false"}
		<div class="platsbanken_lefter">
		<form method="post" action="/{page:rurl/}">
			<div class="platsbanken_lefter_row">
				<h2>Mina Jobb Annonser</h2>
			</div>
			<div class="platsbanken_lefter_row">
				Du måste lägga till ett företag innan du kan skapa en jobb annons.
			</div>
			<div class="platsbanken_lefter_row">
				<button class="button_green" style="margin:0px;" onClick="document.location='/konto/arbetsgivare/foretag';return false;">MINA FÖRETAG</button>
			</div>
		</form>
		</div>
		{/annonser:allowed_companies}
	{/arbetsgivare:access}