{pager:set attr="items_per_page" value="30"/}
{pager:set attr="page_index" value="2"/}
{pager:set attr="page_margin" value="2"/}
{pager:set attr="url" value="/nyheter/page/[ID]"/}
{pager:number_of_items value="{startpage:total_items/}"/}
{pager:divider} {/pager:divider}
{pager:inactive}<button class="button_green" onClick="window.location='{pager:get attr='url'/}'">[ID]</button>{/pager:inactive}
{pager:active}<button class="button_green" onClick="window.location='{pager:get attr='url'/}">([ID])</button>{/pager:active}
{pager:prefix}<button class="button_green" onClick="window.location='/nyheter/page/[FIRST]{page:rurl index='3' not_empty='true'}/{page:rurl index='3'/}{/page:rurl}'">FÖRSTA</button> {/pager:prefix}
{pager:suffix} <button class="button_green" onClick="window.location='/nyheter/page/[LAST]{page:rurl index='3' not_empty='true'}/{page:rurl index='3'/}{/page:rurl}'">SISTA</button>{/pager:suffix}

{template:area id="20"}Nyttiga hotell-  & restaurangnyheter | Nyheter |  Hotell- & Restaurangtorget{/template:area}
{template:area id="21"}Har hittar du nyttiga &  intressanta nyheter från hotell- & restauragbranschen. Hör gärna av dig om du har en nyhet som vi kan publicera.{/template:area}
{template:area id="22"}nyheter nyhet utrustning smart maskin tjänst Hotell- & Restaurangtorget restaurang hotell storkök cafe{/template:area}

{startpage:branschnyheter}
<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content" style="min-height:0px !important;">
		<table width="100%" cellpadding="0" cellspacing="0">
			{if:not_empty string="{startpage:get_image return='image_thumb' branschnyheter_id='{startpage:item get='id'/}"}
			<tr>
				<td valign="top" style="padding-right:20px;width:133px;" align="center">
					<a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">
						<img style="max-width:150px;" src="/public/images/branschnyheter/{startpage:get_image return='image_thumb' branschnyheter_id='{startpage:item get='id'/}' index='1'/}" title="{startpage:item get='title'/}" border="0" />
					</a>
				</td>
				<td valign="top">
					<h2><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" style="line-height:22px;color:#000000 !important;">{startpage:item get="title" remove_br="true"/}</a></h2>
					<p><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" style="color:#000000;font-weight:normal;">{startpage:item get="breadcrumb" remove_br="true" cut="200" /}</a>... <a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">Läs mer</a></p>
				</td>
			</tr>
			{/if:not_empty}
			
			{if:empty string="{startpage:get_image return='image_thumb' branschnyheter_id='{startpage:item get='id'/}"}
			<tr>
				<td colspan="2" valign="top">
					<h2><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" style="line-height:22px;color:#000000 !important;">{startpage:item get="title" remove_br="true"/}</a></h2>
					<p><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" style="color:#000000;font-weight:normal;">{startpage:item get="breadcrumb" remove_br="true" cut="200" /}</a>... <a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">Läs mer</a></p>
				</td>
			</tr>
			{/if:empty}
		</table>
	</div>
	<div class="box_empty_footer"></div>
</div>
{/startpage:branschnyheter}

<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content" style="min-height:0px;">
		{pager:pages/}
	</div>
	<div class="box_empty_footer"></div>
</div>