{template:area id="2"}
	<link rel="image_src" href="http:/public/images/branschnyheter/{startpage:item get='image_big_1'/}" />
{/template:area}
{template:area id="99"}<meta property="og:image" content="http://www.{page:server_name/}/public/images/branschnyheter/{startpage:get_image return='image_big' branschnyheter_id='{startpage:item get='id'/}' index='1'/}"/>{/template:area}
{template:area id="12"}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1&appId=529919107039784";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
{/template:area}


{template:area id="20"}{startpage:item get='title'/}{/template:area}
{template:area id="21"}{startpage:item get="breadcrumb" cut="156"/}{/template:area}
{template:area id="22"}nyheter nyhet utrustning smart maskin tjänst Hotell- & Restaurangtorget restaurang hotell storkök cafe{/template:area}
<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content">

		<div class="box_middle_lefter">
			<span style="color:grey;">Du är här:</span> <a href="/startsidan">Startsida</a> - <a href="/nyheter">Nyheter</a> - {startpage:item get='title'/}<br />
			<br />
			<hr style="border:0px;border-bottom:1px solid #e1e1e1;" />
			<br />
			<h2 style="font-size:22px;margin-bottom:35px;line-height:25px !important;">{startpage:item get="title"/}</h2>
			<font color="grey">{date:unix_to_format unix="{startpage:item get='added'/}" format="Y-m-d H:i:s"/}</font><br />
			<b>{startpage:item get="breadcrumb" popup="true"/}</b>
			<br />
			<br />
			<table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center">
			<img style="align:center;max-width:472px" src="/public/images/branschnyheter/{startpage:get_image return='image_big' branschnyheter_id='{startpage:item get='id'/}' index='1'/}" title="{startpage:item get='title'/}"/>
			</td></tr></table>
			<br />
			{startpage:item get="text_1" popup="true"/}
			<br />
			<br />
			{admin_branschnyheter:has_image type="image_big_2" state="true" branschnyheter_id="{startpage:item get='id'/}" }
			<table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center">
			<img style="align:center;max-width:472px" src="/public/images/branschnyheter/{startpage:get_image return='image_big_2' branschnyheter_id='{startpage:item get='id'/}' index='2'/}" title="{startpage:item get='title'/}"/>
			</td></tr></table>
            {/admin_branschnyheter:has_image}
			<br />
            {startpage:item get="text_2" popup="true"/}
			<br />
			<br />  
			<div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div>
		</div>
		
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td style="border-right:1px solid #E1E1E1;width:122px;"><button class="button_green" style="margin:0px;" onClick="window.location='/nyheter'">TILLBAKA</button></td>
					<td align="right" style="width:201px;">{startpage:previous check='true'}<button class="button_green" style="margin:0px;" onClick="window.location='/nyheter/{startpage:previous get='id'/}/{startpage:previous get='url_friendly'/}'">< FÖREGÅENDE NYHET</button>{/startpage:previous}</td>
					<td align="right" style="width:147px;">{startpage:next check='true'}<button class="button_green" style="margin:0px;" onClick="window.location='/nyheter/{startpage:next get='id'/}/{startpage:next get='url_friendly'/}'">NÄSTA NYHET ></button>{/startpage:next}</td>
				</tr>
			</table>
		</div>
		
	</div>
	<div class="box_empty_footer"></div>
</div>

{startpage:branschnyheter limit="20" exclude="{startpage:item get='id'/}"}
<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content">
		<table width="100%" cellpadding="0" cellspacing="0">
			{if:not_empty string="{startpage:item get='image_mini_thumb'/}"}
			<tr>
				<td valign="top" style="padding-right:20px;width:133px;" align="center">
					<a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">
						<img src="/public/images/branschnyheter/{startpage:get_image return='image_thumb' branschnyheter_id='{startpage:item get='id'/}' index='1'/}" title="{startpage:item get='title'/}" border="0" />
					</a>
				</td>
				<td valign="top">
					<h2><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">{startpage:item get="title" remove_br="true"/}</a></h2>
					<p><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" style="color:#000000;font-weight:normal;">{startpage:item get="breadcrumb" remove_br="true" cut="200" /}</a>... <a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">{lang:get string="_startpage_read_more"/}</a></p>
					
				</td>
			</tr>
			{/if:not_empty}
			
			{if:empty string="{startpage:item get='image_mini_thumb'/}"}
			<tr>
				<td colspan="2" valign="top">
					<h2><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">{startpage:item get="title" remove_br="true"/}</a></h2>
					<p><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" style="color:#000000;font-weight:normal;">{startpage:item get="breadcrumb" remove_br="true" cut="200" /}</a>... <a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}">{lang:get string="_startpage_read_more"/}</a></p>
					
				</td>
			</tr>
			{/if:empty}
		</table>
	</div>
	<div class="box_empty_footer"></div>
</div>
{/startpage:branschnyheter}