{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	<script>
	$(document).ready(function() {
		$('#reklam_start_date').datepicker({
			onSelect: function(dateText, inst) {
				$(".ui-datepicker a").removeAttr("href");
				//Get today's date at midnight
				var today = new Date();
				today = Date.parse(today.getMonth()+1+'/'+today.getDate()+'/'+today.getFullYear());
				//Get the selected date (also at midnight)
				var selDate = Date.parse(dateText);
				
				if(selDate < today) {
					//If the selected date was before today, continue to show the datepicker
					$('#reklam_start_date').val('');
					$(inst).datepicker('show');
				}
			}
		});
		
		$('#reklam_end_date').datepicker({
			onSelect: function(dateText, inst) {
				$(".ui-datepicker a").removeAttr("href");
				//Get today's date at midnight
				var today = new Date();
				today = Date.parse(today.getMonth()+1+'/'+today.getDate()+'/'+today.getFullYear());
				//Get the selected date (also at midnight)
				var selDate = Date.parse(dateText);
				
				if(selDate < today) {
					//If the selected date was before today, continue to show the datepicker
					$('#reklam_end_date').val('');
					$(inst).datepicker('show');
				}
			}
		});

	});
	</script>
{/template:area}

{template:area id="2"}

<div style="margin:10px;">

	<h2>Små Banners</h2>

	<a href="/admin/reklam/small/lagg-till">Lägg till</a>
	
	{page:rurl index="3" equals="redigera"}
		<br />
		<br />
		<h2>Redigera</h2>
		<br />
		
		<form method="POST" action="/admin/reklam/small/redigera/{page:rurl index='4'/}" enctype="multipart/form-data">
			<input type="hidden" name="reklam_type" value="small" />
			<strong>Namn</strong>
			<br />
			<br />
			<input type="text" name="reklam_name" style="width:300px;" value="{reklam:item get='name'/}" />
			<br />
			<br />
			<strong>URL</strong>
			<br />
			<br />
			<input type="text" name="reklam_url" style="width:300px;" value="{reklam:item get='url'/}" />
			<br />
			<br />
			<strong>Startdatum</strong>
			<br />
			<br />
			<input type="text" id="reklam_start_date" name="reklam_start_date" style="width:300px;" value="{reklam:item get='start_date'/}" />
			<br />
			<br />
			<strong>Slutdatum</strong>
			<br />
			<br />
			<input type="text" id="reklam_end_date" name="reklam_end_date" style="width:300px;" value="{reklam:item get='end_date'/}" />
			<br />
			<br />
			<strong>Flash</strong>
			<br />
			{reklam:has_flash state="true"}
				 <embed id="animationName" width="190" height="285" loop="true" scale="noscale" allowscriptaccess="sameDomain" quality="high" bgcolor="#FFFFFF" name="animationName" src="/public/images/advertisement/{reklam:item get='flash'/}" type="application/x-shockwave-flash">
			{/reklam:has_flash}
			<br />
			<input type="file" name="reklam_flash" style="width:300px;" />
			<br />
			<br />
			<strong>Fallback Bild</strong>
			<br />
			{reklam:has_image state="true"}
				 <img src="/public/images/advertisement/{reklam:item get='image'/}" />
			{/reklam:has_image}
			<br />
			<input type="file" name="reklam_image" style="width:300px;" />
			<br />
			<br />
			<input type="submit" name="reklam_edit" class="button_green" value="REDIGERA" />

		</form>
		
		<br />
	{/page:rurl}
	
	{page:rurl index="3" equals="lagg-till"}
		<br />
		<br />
		<h2>Lägg till</h2>
		<br />
		
		<form method="POST" action="/admin/reklam/small/lagg-till" enctype="multipart/form-data">
			<input type="hidden" name="reklam_type" value="small" />
			<strong>Namn</strong>
			<br />
			<br />
			<input type="text" name="reklam_name" style="width:300px;" />
			<br />
			<br />
			<strong>URL</strong>
			<br />
			<br />
			<input type="text" name="reklam_url" style="width:300px;" />
			<br />
			<br />
			<strong>Startdatum</strong>
			<br />
			<br />
			<input type="text" id="reklam_start_date" name="reklam_start_date" style="width:300px;" />
			<br />
			<br />
			<strong>Slutdatum</strong>
			<br />
			<br />
			<input type="text" id="reklam_end_date" name="reklam_end_date" style="width:300px;" />
			<br />
			<br />
			<strong>Flash</strong>
			<br />
			<br />
			<input type="file" name="reklam_flash" style="width:300px;" />
			<br />
			<br />
			<strong>Fallback Bild</strong>
			<br />
			<br />
			<input type="file" name="reklam_image" style="width:300px;" />
			<br />
			<br />
			<input type="submit" name="reklam_add" class="button_green" value="LÄGG TILL" />
		</form>
		
		<br />
	{/page:rurl}
	
	<br />
	<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;" />
	<br />
	
	<table cellpadding="3" cellspacing="3" border="0">
	
		<tr>
			<td align="center"><b>Namn</b></td>
			<td align="center"><b>URL</b></td>
			<td align="center"><b>Flash</b></td>
			<td align="center"><b>Bild</b></td>
			<td></td>
		</tr>
		
	{reklam:list type="small"}
		<tr>
			<td>{reklam:item get="name"/}</td>
			<td>{reklam:item get="url"/}</td>
			<td>
				<embed id="animationName" width="190" height="285" loop="true" scale="noscale" allowscriptaccess="sameDomain" quality="high" bgcolor="#FFFFFF" name="animationName" src="/public/images/advertisement/{reklam:item get='flash'/}" type="application/x-shockwave-flash">
			</td>
			<td><img src="/public/images/advertisement/{reklam:item get='image'/}" /></td>
			<td>
				<button class="button_green" onClick="window.location='/admin/reklam/small/redigera/{reklam:item get='id'/}';">REDIGERA</button> 
				<button class="button_green" onClick="window.location='/admin/reklam/small/radera/{reklam:item get='id'/}';">RADERA</button>
			</td>
		</tr>

		<tr>
			<td colspan="5">
				<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;" />
			</td>
		</tr>
	{/reklam:list}
	
	
	
	</table>
	
</div>
	
{/template:area}
















