{template:area id="20" desc="title"}Bli medlem | Logga in | Hotell- & Restaurangtorget ! | Hrtorget.se{/template:area}
{template:area id="21" desc="description"}Bli medlem | Logga in | Hotell- & Restaurangtorget ! | Hrtorget.se{/template:area}
{template:area id="22" desc="keywords"}Bli medlem  Logga in  Hotell- & Restaurangtorget Hrtorget.se{/template:area}


{template:area id="2"}
	<script src="http://connect.facebook.net/en_US/all.js"></script>
{/template:area}

<div id="fb-root"></div>

{konto:register_check/}

{login:logged_in state="false"}
	{login:check_login redirect="/konto/logga-in" /}
	<div class="box_big">
		<div class="box_big_header">Logga in eller Registrera dig!</div>
		<div class="box_big_content" style="height:350px;">
			<div style="width:50%;padding-left:0px;float:left;">
				<h1 style="margin-bottom:20px;">Logga In</h1>
				<form method="post" action="/konto/logga-in">
					<table cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td style="padding-bottom:21px;"><b>Email</b></td>
						</tr>
						<tr>
							<td style="padding-bottom:21px;"><input type="text" name="login_email" style="width:294px;" /></td>
						</tr>
						<tr>
							<td style="padding-bottom:21px;"><b>Lösenord - <a href="/konto/glomt-losenord">Glömt Lösenordet?</a></b></td>
						</tr>
						<tr>
							<td style="padding-bottom:21px;"><input type="password" name="login_password" style="width:294px;" /></td>
						</tr>
						<tr>
							<td style="padding-bottom:21px;">
								<input type="submit" class="button_green" style="float:left;" name="login_submit" value="LOGGA IN" />
								<a class="button_facebook" style="margin-left:21px;float:left;" href="/konto/logga-in/facebook" onClick="document.getElementById('facebook_logging_in').style.display='block'"></a>
								<div id="facebook_logging_in" style="display:none;margin-top:10px;"><img src="/public/images/loader.gif" /></div>
							</td>
						</tr>
						<tr>
							<td><a href="/konto/skicka-aktiveringsmail">Skicka verifierings mail igen!</a><br /><br /></td>
						</tr>
						<tr>
							<td>{login:failed}<span class="error"></span> <font color="red">Det gick inte att logga in, vänligen försök igen.<br /><a href="/kontakt">Eller kontakta HRTorget.</a></font>{/login:failed}</td>
						</tr>
					</table>
				</form>
			</div>
			<div style="width:45%;padding-left:20px;float:left;">
				<h1 style="margin-bottom:20px;">Registrera dig!</h1>
				<form method="POST" action="/konto/registrera">
				<input type="submit" class="button_green" style="float:left;" name="login_submit" value="KLICKA HÄR FÖR ATT REGISTRERA DIG" />
				</form>
			</div>
		</div>
		<div class="box_big_footer"></div>
	</div>
{/login:logged_in}



{login:logged_in state="true"}
	{login:fb_update_account redirect="/konto/forsta-uppdatering"/}
	<div class="box">
		<span style="float:left;">Inloggad som: <strong>{account:user get="name"/}</strong></span> <span style="float:right;"><strong><a href="/konto/loggaut">Logga Ut</a></strong></span><br />
		<hr style="width:100%;border:0px;border-bottom:1px solid #09779E;" />
		
		<a href="/konto">Mitt Konto</a> | <a href="/konto/meddelanden">Meddelanden</a>
		<hr style="width:100%;border:0px;border-bottom:1px solid #aed4e2;" />
		
		<div id="progressbar"><div id="progress" style="width:50%;"><div id="pbaranim">50%</div></div></div>
		
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td class="progressText progressDivider progressGreen" onClick="location.href='/platsbanken/mittkonto/uppdatera/personuppgifter';">Personuppgifter</td>
				<td class="progressText progressDivider progressGreen" onClick="location.href='/platsbanken/mittkonto/uppdatera/utbildningar';">Utbildningar</td>
				<td class="progressText progressDivider" onClick="location.href='/platsbanken/mittkonto/uppdatera/anstallningar';">Anställningar</td>
				<td class="progressText" onClick="location.href='/platsbanken/mittkonto/uppdatera/bild';">Bild</td>
			</tr>
		</table>
	</div>
{/login:logged_in}