{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<link rel="stylesheet" href="/public/js/jquery_ui/jquery-ui.css" />
	<script src="/public/js/jquery_ui/jquery-1.9.1.js"></script>
	<script src="/public/js/jquery_ui/jquery-ui.js"></script>
    <script src="/public/js/admin/kalender/kalender.js"></script>
	<script>
		$(document).ready(function() {
			$('#kalender_date').datepicker({
				onSelect: function(dateText, inst) {
					$(".ui-datepicker a").removeAttr("href");
					//Get today's date at midnight
					var today = new Date();
					today = Date.parse(today.getMonth()+1+'/'+today.getDate()+'/'+today.getFullYear());
					//Get the selected date (also at midnight)
					var selDate = Date.parse(dateText);
					
					if(selDate < today) {
						//If the selected date was before today, continue to show the datepicker
						$('#kalender_date').val('');
						$(inst).datepicker('show');
					}
				}
			});

		});
	</script>
{/template:area}

{template:area id="2"}

<div style="margin:10px;">
	<button class="button_green" onClick="window.location='/admin/kalender/lagg-till';">LÄGG TILL</button>
	
	{page:rurl index="2" equals="redigera"}
		{kalender:loadnewitem id="{page:rurl index='3'/}" /}
		<br />
		<br />
		<h2>Redigera</h2>
		<br />
		
		<form method="POST" action="/admin/kalender/redigera/{page:rurl index='3'/}" enctype="multipart/form-data">
            <input type="hidden" id="kalender_image_radera" name="kalender_image_radera" value=""/>
			<strong>Rubrik</strong>
			<br />
			<br />
			<input type="text" name="kalender_title" style="width:300px;" value="{kalender:item get='title'/}" />
			<br />
			<br />
			<strong>Text</strong>
			<br />
			<br />
			 <input type="hidden" name="no_escape[]" value="kalender_text" />
			<textarea name="kalender_text" class="ckeditor" style="width:500px;height:300px;">{kalender:item get="text"/}</textarea>
			<br />
			<br />
			<strong>Plats</strong>
			<br />
			<br />
			<input type="text" name="kalender_place" style="width:300px;" value="{kalender:item get='place'/}" />
			<br />
			<br />
			<strong>Datum</strong>
			<br />
			<br />
			<input type="text" id="kalender_date" name="kalender_date" style="width:300px;" value="{kalender:date/}" />
			<br />
			<br />
			<strong>Tid (tex 19:30)</strong>
			<br />
			<br />
			<input type="text" name="kalender_time" style="width:300px;" value="{kalender:item get='time'/}" />
			<br />
			<br />
			<strong>Bild</strong>                    
			<br />
		    <div class="img_upload_div">
                <div class="img_upload_add">
                        <div style="display:none">
                            <input type="file" name="kalender_image" />
                        </div>

                        {kalender:kalendar_has_image state="false"}
                        <button type="button" class="button_green image_file_btn" id="kalender_image_btn" title="Ladda upp en bild" ><img src="/public/images/admin/icons/add_24.png"/></button>
                        {/kalender:kalendar_has_image}
                        <div id="kalender_image_file_path" style="display:none"></div>


                        {kalender:kalendar_has_image state="true"}
                      <img id="kalender_image_holder" title="Ikon" src="/public/images/kalender/{kalender:item get='image'/}"><br />
                        {/kalender:kalendar_has_image}
                 </div>
            </div>
            <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="kalender_image_del_btn"><img src="/public/images/admin/icons/minus_24.png"/></button>
			<br />
			<br />
			<input type="submit" name="kalender_edit" class="button_green" value="REDIGERA" />
		</form>
		
		<br />
		<hr />
	{/page:rurl}
	
	{page:rurl index="2" equals="lagg-till"}
		<br />
		<br />
		<h2>Lägg till</h2>
		<br />

		<form method="POST" action="/admin/kalender/lagg-till" enctype="multipart/form-data">
			<strong>Rubrik</strong>
			<br />
			<br />
			<input type="text" name="kalender_title" style="width:300px;" />
			<br />
			<br />
			<strong>Text</strong>
			<br />
			<br />
			<textarea name="kalender_text" style="width:500px;height:300px;"></textarea>
			<br />
			<br />
			<strong>Plats</strong>
			<br />
			<br />
			<input type="text" name="kalender_place" style="width:300px;" />
			<br />
			<br />
			<strong>Datum</strong>
			<br />
			<br />
			<input type="text" id="kalender_date" name="kalender_date" style="width:300px;" />
			<br />
			<br />
			<strong>Tid (tex 19:30)</strong>
			<br />
			<br />
			<input type="text" name="kalender_time" style="width:300px;" />
			<br />
			<br />
			<strong>Bild</strong>
			<br />
			<br />
			<div class="img_upload_div">
                <div class="img_upload_add">
                  <div style="display:none">
                    <input type="file" name="kalender_image" />
                  </div>
                  <button type="button" class="button_green image_file_btn" id="kalender_image_btn" title="Ladda upp en bild" ><img src="/public/images/admin/icons/add_24.png"/></button>
                  <div id="kalender_image_file_path" style="display:none"></div>
                 </div>
            </div>
            <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="kalender_image_del_btn"><img src="/public/images/admin/icons/minus_24.png"/></button>
			<br />
			<br />
			<input type="submit" name="kalender_add" class="button_green" value="LÄGG TILL" />
		</form>
		
		
		<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;"/>
	{/page:rurl}
	
	<table class="table" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<th></th>
			<th></th>
			<th>Rubrik</th>
			<th>Text</th>
			<th>Plats</th>
			<th>Datum</th>
			<th>Tid</th>
			<th>Bild</th>
			<td></td>
		</tr>		
		
		
	{kalender:list}
		<tr>
			<td><button class="button_green" onClick="window.location='/admin/kalender/redigera/{kalender:item get='id'/}';">REDIGERA</button></td>
			<td><button class="button_green" onClick="window.location='/admin/kalender/radera/{kalender:item get='id'/}';">RADERA</button></td>
			<td>{kalender:item get="title"/}</td>
			<td>{kalender:item get="text"/}</td>
			<td>{kalender:item get="place"/}</td>
			<td>{kalender:date/}</td>
			<td>{kalender:item get="time"/}</td>
			<td><img src="/public/images/kalender/{kalender:item get='image'/}" /></td>
		</tr>
	{/kalender:list}
	</table>
	
	
	</div>
	
</div>
	
{/template:area}
















