{admin:tagg id="{page:rurl index='3'/}"}
	<h1>{admin:item get="name"/}</h1>
	
	{admin:methods parent="{page:rurl index='3'/}"}
		<fieldset>
			<legend><h2>{admin:subitem get="name"/}</h2></legend>
			{admin:subitem get='description'/}
		</fieldset><br />
	{/admin:methods}
{/admin:tagg}