{template:area id="1"}
<style type="text/css">
table th
{
	text-align:left;
}

input[type='text'],select
{
  width:300px;
}

</style>
{/template:area}

{template:area id="2"}

<div style="margin:10px;display:table">
    <form method="POST" action="/admin/kalender/redigera/{page:rurl index='3'/}" enctype="multipart/form-data">
    <div style="display:table-cell;width:500px">

			<strong>Företag</strong>
			<br />
			<select name="jobbannonser_company_id" class="form">
				<option value="_empty">- Välj Företag -</option>
				{annonser:companies}<option value="{annonser:item get='id'/}"{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='company_id' value='{annonser:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{annonser:item get='name'/}</option>{/annonser:companies}
			</select>
			<br />
			<br />
			
			<strong>Kategori</strong>
			<br />
			<select name="jobbannonser_category_id" class="form">
				<option value="_empty">- Välj Kategori -</option>
				{annonser:job_categories}<option value="{annonser:item get='id'/}"{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='category_id' value='{annonser:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{annonser:item get='name'/}</option>{/annonser:job_categories}
			</select>
			<br />
			<br />
			
			<strong>Region</strong>
			<br />
			<select name="jobbannonser_region" class="form">
				<option value="_empty">- Välj Region -</option>
				{annonser:regions}<option value="{annonser:item get='id'/}"{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='region' value='{annonser:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{annonser:item get='name'/}</option>{/annonser:regions}
			</select>
			<br />
			<br />
			
			<button class="button_green" onClick="">FÖRHANDSGRANSKA</button>
			<button class="button_green" onClick="">PUBLICERA</button>
			<br />
			<br />
			
			<strong>Rubrik</strong>
			<br />
			<input type="text" class="form text" name="jobbannonser_title" value="{annonser:info index='{page:rurl index='4'/}'/}" get='jobbannonser' name='title' posted_first='true' />
			<br /> 
			<br />
			
			<strong>Beskrivning</strong><br />
			<textarea class="ckeditor" name="jobbannonser_description">{annonser:info index='{page:rurl index="4"/}' get='jobbannonser' name='description' posted_first='true'/}</textarea>
			<br /> 
			<br />
			<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;"/>
			<br />
			<strong>Kontakt Personer</strong>
			<br />
				
			{annonser:contact_persons}
			Namn<br />
			<input type="text" name="jobbannonser_new_contact_name[]" class="form text" value="{annonser:item get='name'/}" /><br />
			Telefon<br />
			<input type="text" name="jobbannonser_new_contact_telephone[]" class="form text" value="{annonser:item get='telephone'/}" /><br />
			Email<br />
			<input type="text" name="jobbannonser_new_contact_email[]" class="form text" value="{annonser:item get='email'/}" /><br />
			<br />
			{/annonser:contact_persons}
			
			Namn<br />
			<input type="text" name="jobbannonser_new_contact_name[]" class="form text" value="" /><br />
			Telefon<br />
			<input type="text" name="jobbannonser_new_contact_telephone[]" class="form text" value="" /><br />
			Email<br />
			<input type="text" name="jobbannonser_new_contact_email[]" class="form text" value="" /><br />
			<br />
			<input type="submit" class="button_green" name="jobbannonser_new_contact" style="margin:0px;" value="LÄGG TILL KONTAKT PERSON" />
			<br />
			<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;"/>
			<br />

			
			<strong>Ansökning via extern hemsida</strong> <input type="checkbox" name="jobbannonser_extern_ansokning" id="jobbannonser_extern_ansokning" /><br />
			<div id="extern_ansokning" style="display:none;">
				Hemsida: <input type="text" class="form text" name="jobbannonser_extern_ansokning_website" value="{annonser:info index='{page:rurl index='4'/}" get='jobbannonser' name='extern_website' posted_first='true' />
			</div>
			
			<br />
			<br />
		   <button class="button_green" onClick="">FÖRHANDSGRANSKA</button>
			<button class="button_green" onClick="">PUBLICERA</button>

    </div>
    <div style="display:table-cell">
        <strong>Bild</strong>
        <br />
        <!--<input type="file" class="form" class="form text" name="jobbannonser_bild" id="jobbannonser_bild" />-->
        <div class="img_upload_div">
             <div class="img_upload_add">
                    <input type="file" id="jobbannonser_bild" style="display:none"/>
                    <button type="button" class="button_green" id="jobbannonser_bild_btn" title="Lägga till en bild" onclick="$('#jobbannonser_bild').click();"><img src="/public/images/admin/icons/add_24.png"/></button>
                    <div id="file_path" style="display:none"></div>
             </div>
        </div>
        <br />
        <button type="button" class="button_orange" style="width:315px" title="Ta bort bilden"><img src="/public/images/admin/icons/minus_24.png"/></button>
        <br />
        <br />
        <strong>Bildtext</strong>
        <br />
        <input type="text" name="image_text" value="" />
        <br />
        <br />
    </div>
    </form>
</div>
 <script type="text/javascript">
$(document).ready(function(){
     $("#jobbannonser_bild").on("change",function(){
         $("#file_path").html($(this).val());
         $("#file_path").css("display","");
         $("#jobbannonser_bild_btn").css("display","none");
     });
});
</script>
{/template:area}

