﻿{template:area id="1"}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
{/template:area}

{template:area id="2"}
<div style="margin:10px;">

<form method="POST" action="/admin/platsbanken">
	<input type="TEXT" name="search_platsbanken" />
	<input type="SUBMIT" name="search_platsbanken_submit" class="button_green" value="SÖK" />
</form>

<br />
<br />

<table class="foretag" cellpadding="0" cellspacing="0" border="0">
     <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Datum</th>
        <th>Annonsrubrik</th>
        <th>Foretag</th>
        <th></th>
        <th></th>
     </tr>
     {admin_platsbanken:jobbannonser}
     <tr>
        <td><a href="/konto/mina-annonser/jobb-annons/redigera/{admin_platsbanken:item get='id'/}" target="_blank">Visa</a></td>
        <td><a href="#" onClick="window.location='/admin/platsbanken/redigera/{admin_platsbanken:item get='id'/}'">Redigera</a></td>
        <td><a href="/admin/platsbanken/radera/{admin_platsbanken:item get='id'/}" onClick="return confirm('Vill du verkligen radera \'{admin_platsbanken:item get='title'/}\'?');">Radera</a></td>
        <td>{date:unix_to_format format='Y-m-d' unix='{admin_platsbanken:item get="added" /}' /}</td>
        <td>{admin_platsbanken:item get='title'/}</td>
        <td>{annonser:company_info id='{admin_platsbanken:item get="company_id"/}' get='name'/}</td>
        <td><a href="/admin/platsbanken/email/{admin_platsbanken:item get='id'/}/annons_website" target="_self">Meddela annonsor om upplagd</a></td>
        <td><a href="/admin/platsbanken/email/{admin_platsbanken:item get='id'/}/annons_facebook">Meddela annonsor om FB</a></td>
     </tr>
     {/admin_platsbanken:jobbannonser}
</table>
</div>
{/template:area}