{template:area id="1"}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script>
$(function() {
{annonser:requests status="waiting"}
	$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{annonser:item get='id'/}" ).click(function() {
		$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog( "open" );
	});
{/annonser:requests}
{annonser:requests status="accepted"}
	$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{annonser:item get='id'/}" ).click(function() {
		$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog( "open" );
	});
{/annonser:requests}
{annonser:requests status="declined"}
	$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{annonser:item get='id'/}" ).click(function() {
		$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog( "open" );
	});
{/annonser:requests}
});
</script>
{/template:area}

{template:area id="2"}
{annonser:requests status="waiting"}
	<div id="dialog_annonser_{annonser:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td width="150px"><strong>Företag</strong></td>
				<td>{annonser:company_info id='{annonser:item get="company_id"/}' get='name'/}</td>
			</tr>
			<tr>
				<td><strong>Rubrik</strong></td>
				<td>{annonser:item get='title'/}</td>
			</tr>
			<tr>
				<td><strong>Kategori</strong></td>
				<td>{annonser:category_info id='{annonser:item get="category_id"/}' get='name'/}</td>
			</tr>
			<tr>
				<td><strong>Kontakt Personer</strong></td>
				<td>
					{annonser:unserialize string='{annonser:item get="contact_persons"/}'}
						Namn: {annonser:subitem get="name"/}<br />
						Telefon: {annonser:subitem get="telephone"/}<br />
						Email: {annonser:subitem get="email"/}<br />
						----------------------------<br />
					{/annonser:unserialize}
				</td>
			</tr>
			<tr>
				<td><strong>Sista inlämningsdatum</strong></td>
				<td>{annonser:last_day string='{annonser:item get="last_day"/}'/}</td>
			</tr>
			<tr>
				<td><strong>Beskrivning</strong></td>
				<td>{annonser:item get="description"/}</td>
			</tr>
			<tr>
				<td><strong>Bild</strong></td>
				<td><img src="/public/images/jobbannonser/{annonser:item get='image_big'/}" title="Ikon" /></td>
			</tr>
			<tr>
				<td><strong>Aktion</strong><br />(Väntar på svar)</td>
				<td>
					<button onClick="document.location='/admin/platsbanken/annonser/accept/{annonser:item get='id'/}';return false;">Godkänn</button><br />
					<form method="POST" action="/admin/platsbanken/annonser/decline/{annonser:item get='id'/}">
						Meddelande:<br />
						<textarea class="textarea" name="jobbannons_status_comment">{annonser:item get='status_comment'/}</textarea><br />
						<button>Neka</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
{/annonser:requests}
{annonser:requests status="accepted"}
	<div id="dialog_annonser_{annonser:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td width="150px"><strong>Företag</strong></td>
				<td>{annonser:company_info id='{annonser:item get="company_id"/}' get='name'/}</td>
			</tr>
			<tr>
				<td><strong>Rubrik</strong></td>
				<td>{annonser:item get='title'/}</td>
			</tr>
			<tr>
				<td><strong>Kategori</strong></td>
				<td>{annonser:category_info id='{annonser:item get="category_id"/}' get='name'/}</td>
			</tr>
			<tr>
				<td><strong>Kontakt Personer</strong></td>
				<td>
					{annonser:unserialize string='{annonser:item get="contact_persons"/}'}
						Namn: {annonser:subitem get="name"/}<br />
						Telefon: {annonser:subitem get="telephone"/}<br />
						Email: {annonser:subitem get="email"/}<br />
						----------------------------<br />
					{/annonser:unserialize}
				</td>
			</tr>
			<tr>
				<td><strong>Sista inlämningsdatum</strong></td>
				<td>{annonser:last_day string='{annonser:item get="last_day"/}'/}</td>
			</tr>
			<tr>
				<td><strong>Beskrivning</strong></td>
				<td>{annonser:item get="description"/}</td>
			</tr>
			<tr>
				<td><strong>Bild</strong></td>
				<td><img src="/public/images/jobbannonser/{annonser:item get='image_big'/}" title="Ikon" /></td>
			</tr>
			<tr>
				<td><strong>Aktion</strong> (Godkänd)</td>
				<td>
					<form method="POST" action="/admin/platsbanken/annonser/decline/{annonser:item get='id'/}">
						Meddelande:<br />
						<textarea class="textarea" name="jobbannons_status_comment">{annonser:item get='status_comment'/}</textarea><br />
						<button>Neka</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
{/annonser:requests}
{annonser:requests status="declined"}
	<div id="dialog_annonser_{annonser:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td width="150px"><strong>Företag</strong></td>
				<td>{annonser:company_info id='{annonser:item get="company_id"/}' get='name'/}</td>
			</tr>
			<tr>
				<td><strong>Rubrik</strong></td>
				<td>{annonser:item get='title'/}</td>
			</tr>
			<tr>
				<td><strong>Kategori</strong></td>
				<td>{annonser:category_info id='{annonser:item get="category_id"/}' get='name'/}</td>
			</tr>
			<tr>
				<td><strong>Kontakt Personer</strong></td>
				<td>
					{annonser:unserialize string='{annonser:item get="contact_persons"/}'}
						Namn: {annonser:subitem get="name"/}<br />
						Telefon: {annonser:subitem get="telephone"/}<br />
						Email: {annonser:subitem get="email"/}<br />
						----------------------------<br />
					{/annonser:unserialize}
				</td>
			</tr>
			<tr>
				<td><strong>Sista inlämningsdatum</strong></td>
				<td>{annonser:last_day string='{annonser:item get="last_day"/}'/}</td>
			</tr>
			<tr>
				<td><strong>Beskrivning</strong></td>
				<td>{annonser:item get="description"/}</td>
			</tr>
			<tr>
				<td><strong>Bild</strong></td>
				<td><img src="/public/images/jobbannonser/{annonser:item get='image_big'/}" title="Ikon" /></td>
			</tr>
			<tr>
				<td><strong>Aktion</strong> (Nekad)</td>
				<td>
					<form method="POST" action="/admin/platsbanken/annonser/decline/{annonser:item get='id'/}">
						Meddelande:<br />
						<textarea class="textarea" name="jobbannons_status_comment">{annonser:item get='status_comment'/}</textarea><br />
						<button>Uppdatera</button>
					</form>
					<br />
					<button onClick="document.location='/admin/platsbanken/annonser/accept/{annonser:item get='id'/}';return false;">Godkänn</button>
				</td>
			</tr>
		</table>
	</div>
{/annonser:requests}



<div style="margin-left:10px">
	<div style="margin-top:20px">
		<h2>Väntar på svar</h2>
		<br/><br/>
		<table class="table" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<th style="width:90px"></th>
				<th style="width:90px"></th>
				<th style="width:150px">Företag</th>
				<th style="width:300px">Rubrik</th>
				<th style="width:150px">Kategori</th>
				<th style="width:150px">Sista inlämningsdatum</th>		
			</tr>
			{annonser:requests status="waiting"}
			<tr>
				<td><a href="#" onClick="document.location='/admin/platsbanken/annonser/accept/{annonser:item get='id'/}';return false;">Godkänn</a></td>
				<td><a href="#" onClick="document.location='/admin/platsbanken/annonser/decline/{annonser:item get='id'/}';return false;">Neka</a></td>
				<td>{annonser:company_info id='{annonser:item get="company_id"/}' get='name'/}</td>
				<td>{annonser:item get='title'/}</td>
				<td>{annonser:category_info id='{annonser:item get="category_id"/}' get='name'/}</td>
				<td>{annonser:last_day string='{annonser:item get="last_day"/}'/}</td>
				<td><button id="opener_{annonser:item get='id'/}">Visa Annons</button></td>
				<!--<td>
					<button onClick="document.location='/admin/platsbanken/annonser/accept/{annonser:item get='id'/}';return false;">Godkänn</button>
					<button onClick="document.location='/admin/platsbanken/annonser/decline/{annonser:item get='id'/}';return false;">Neka</button>
				</td>-->
			</tr>
			{/annonser:requests}
		</table>
	</div>

	<div style="margin-top:20px">
		<h2>Godkända</h2>
		<br/><br/>
		<table class="table" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<th style="width:90px"></th>
				<th style="width:90px"></th>
				<th style="width:150px">Företag</th>
				<th style="width:300px">Rubrik</th>
				<th style="width:150px">Kategori</th>
				<th style="width:150px">Sista inlämningsdatum</th>
			</tr>
			{annonser:requests status="accepted"}
			<tr>
				<td><a class="opener_{annonser:item get='id'/}" href="#">Visa Annons</a></td>
				<td><a href="#" onClick="document.location='/admin/platsbanken/annonser/decline/{annonser:item get='id'/}';return false;">Neka</a></td>
				<td>{annonser:company_info id='{annonser:item get="company_id"/}' get='name'/}</td>
				<td>{annonser:item get='title'/}</td>
				<td>{annonser:category_info id='{annonser:item get="category_id"/}' get='name'/}</td>
				<td>{annonser:last_day string='{annonser:item get="last_day"/}'/}</td>		
			</tr>
			{/annonser:requests}
		</table>
	</div>
	
	<div style="margin-top:20px">
		<h2>Nekade</h2>
		<br/><br/>
		<table class="table" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<th style="width:90px"></th>
				<th style="width:90px"></th>
				<th style="width:150px">Företag</th>
				<th style="width:300px">Rubrik</th>
				<th style="width:150px">Kategori</th>
				<th style="width:150px">Sista inlämningsdatum</th>
				
			</tr>
			{annonser:requests status="declined"}
			<tr>
				<td><a class="opener_{annonser:item get='id'/}" href="#">Visa Annons</a></td>
				<td><a href="#" onClick="document.location='/admin/platsbanken/annonser/accept/{annonser:item get='id'/}';return false;">Godkänn</a></td>
				<td>{annonser:company_info id='{annonser:item get="company_id"/}' get='name'/}</td>
				<td>{annonser:item get='title'/}</td>
				<td>{annonser:category_info id='{annonser:item get="category_id"/}' get='name'/}</td>
				<td>{annonser:last_day string='{annonser:item get="last_day"/}'/}</td>

			</tr>
			{/annonser:requests}
		</table>
		{/template:area}
	</div>
</div>