{template:area id="1"}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script>
$(function() {
{annonser:intresseanmalningar status="waiting"}
	$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{annonser:item get='id'/}" ).click(function() {
		$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog( "open" );
	});
{/annonser:intresseanmalningar}
{annonser:intresseanmalningar status="accepted"}
	$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{annonser:item get='id'/}" ).click(function() {
		$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog( "open" );
	});
{/annonser:intresseanmalningar}
{annonser:intresseanmalningar status="declined"}
	$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{annonser:item get='id'/}" ).click(function() {
		$( "#dialog_annonser_{annonser:item get='id'/}" ).dialog( "open" );
	});
{/annonser:intresseanmalningar}
});
</script>
{/template:area}

{template:area id="2"}
{annonser:intresseanmalningar status="waiting"}
	<div id="dialog_annonser_{annonser:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td valign="top"><strong>Namn</strong></td>
				<td valign="top">{account:by_id id="{annonser:item get='account_id'/}" get="first_name"/} {account:by_id id="{annonser:item get='account_id'/}" get="last_name"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Rubrik</strong></td>
				<td valign="top">{annonser:item get='title'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Meddelande</strong></td>
				<td valign="top">{annonser:item get="message"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Aktion</strong><br />(Väntar på svar)</td>
				<td valign="top">
					<button onClick="document.location='/admin/platsbanken/intresseanmalningar/accept/{annonser:item get='id'/}';return false;">Godkänn</button><br />
					<form method="POST" action="/admin/platsbanken/intresseanmalningar/decline/{annonser:item get='id'/}">
						<button>Neka</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
{/annonser:intresseanmalningar}
{annonser:intresseanmalningar status="accepted"}
	<div id="dialog_annonser_{annonser:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td valign="top"><strong>Namn</strong></td>
				<td valign="top">{account:by_id id="{annonser:item get='account_id'/}" get="first_name"/} {account:by_id id="{annonser:item get='account_id'/}" get="last_name"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Rubrik</strong></td>
				<td valign="top">{annonser:item get='title'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Meddelande</strong></td>
				<td valign="top">{annonser:item get="message"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Aktion</strong><br />(Godkänd)</td>
				<td valign="top">
					<form method="POST" action="/admin/platsbanken/intresseanmalningar/resend/{annonser:item get='id'/}">
						<button>Skicka mails igen</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
{/annonser:intresseanmalningar}
{annonser:intresseanmalningar status="declined"}
	<div id="dialog_annonser_{annonser:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td valign="top"><strong>Namn</strong></td>
				<td valign="top">{account:by_id id="{annonser:item get='account_id'/}" get="first_name"/} {account:by_id id="{annonser:item get='account_id'/}" get="last_name"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Rubrik</strong></td>
				<td valign="top">{annonser:item get='title'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Meddelande</strong></td>
				<td valign="top">{annonser:item get="message"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Aktion</strong><br />(Nekad)</td>
				<td valign="top">
					<button onClick="document.location='/admin/platsbanken/intresseanmalningar/accept/{annonser:item get='id'/}';return false;">Godkänn</button><br />
				</td>
			</tr>
		</table>
	</div>
{/annonser:intresseanmalningar}



<div style="margin-left:10px">
    <br/>
    <h3>Väntar på svar</h3>
    <br/>
    <br/>
    <table class="table" cellpadding="0" cellspacing="0" border="0">
    	<tr>
            <th style="width:80px"></th>
            <th style="width:100px"></th>
            <th style="width:80px"></th>
    		<th style="width:150px">Namn</th>
    		<th style="width:200px">Rubrik</th>
    		<th style="width:200px">Meddelande</th>
    	</tr>
    	{annonser:intresseanmalningar status="waiting"}
    	<tr>
            <td style="text-align:center"><a href="#" class="opener_{annonser:item get='id'/}">Visa Annons</a></td>
            <td style="text-align:center"><a href="#" onClick="document.location='/admin/platsbanken/intresseanmalningar/accept/{annonser:item get='id'/}';return false;">Godkänn</a></td>
            <td style="text-align:center"><a href="#" onClick="document.location='/admin/platsbanken/intresseanmalningar/decline/{annonser:item get='id'/}';return false;">Neka</a></td>
    		<td >{account:by_id id="{annonser:item get='account_id'/}" get="first_name"/} {account:by_id id="{annonser:item get='account_id'/}" get="last_name"/}</td>
    		<td >{annonser:item get='title' cut='50' add='...'/}</td>
    		<td >{annonser:item get="message" cut='50' add='...'/}</td>
    	</tr>
    	{/annonser:intresseanmalningar}
    </table>

    <br/>
    <br/>
    <h3>Godkända</h3>
    <br/>

    <table class="table" cellpadding="0" cellspacing="0" border="0">
    	<tr>
            <th style="width:80px"></th>
            <th style="width:100px"></th>
            <th style="width:80px"></th>
    		<th style="width:150px">Namn</th>
    		<th style="width:200px">Rubrik</th>
    		<th style="width:200px">Meddelande</th>
    	</tr>
    	{annonser:intresseanmalningar status="accepted"}
    	<tr>
            <td style="text-align:center"><a href="#" class="opener_{annonser:item get='id'/}">Visa Annons</a></td>
            <td style="text-align:center"><a href="#" onClick="document.location='/admin/platsbanken/intresseanmalningar/resend/{annonser:item get='id'/}';return false;">Skicka mails igen</a></td>
            <td></td>
            <td >{account:by_id id="{annonser:item get='account_id'/}" get="first_name"/} {account:by_id id="{annonser:item get='account_id'/}" get="last_name"/}</td>
    		<td >{annonser:item get='title' cut='50' add='...'/}</td>
    		<td >{annonser:item get="message" cut='50' add='...'/}</td>
    	</tr>
    	{/annonser:intresseanmalningar}
    </table>

    <br/>
    <br/>
    <h3>Nekade</h3>
    <br/>

    <table class="table" cellpadding="0" cellspacing="0" border="0">
    	<tr>
            <th style="width:80px"></th>
            <th style="width:100px"></th>
            <th style="width:80px"></th>
    		<th style="width:150px">Namn</th>
    		<th style="width:200px">Rubrik</th>
    		<th style="width:200px">Meddelande</th>
    	</tr>
    	{annonser:intresseanmalningar status="declined"}
    	<tr>
            <td style="text-align:center"><a href="#" class="opener_{annonser:item get='id'/}">Visa Annons</a></td>
            <td style="text-align:center"><a href="#" onClick="document.location='/admin/platsbanken/intresseanmalningar/accept/{annonser:item get='id'/}';return false;">Godkänn</a></td>
            <td></td>
            <td >{account:by_id id="{annonser:item get='account_id'/}" get="first_name"/} {account:by_id id="{annonser:item get='account_id'/}" get="last_name"/}</td>
    		<td >{annonser:item get='title' cut='50' add='...'/}</td>
    		<td >{annonser:item get="message" cut='50' add='...'/}</td>
    	</tr>
    	{/annonser:intresseanmalningar}
    </table>
</div>
{/template:area}