{template:area id="1"}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="/public/js/admin/platsbanken/admin_platsbanken.js"></script>
<script src="/public/js/ckeditor/ckeditor.js"></script>
<script>
$(function() {

});
</script>
{/template:area}

{template:area id="2"}
<div style="margin:10px;">
    <form id="job_ads_form" method="post" action="/{page:rurl/}" enctype="multipart/form-data">
    <input type="hidden" name="job_edit" value="{page:rurl index='3'/}" />
    <input type="hidden" id="jobb_annons_logo_radera" name="jobb_annons_logo_radera" value="" />
    <input type="hidden" id="jobb_annons_image_radera" name="jobb_annons_image_radera" value="" />
     <div>
        <div class="platsbanken_lefter_row">
  			<strong>Välj Företag</strong>
  			<select name="platsannons_company">
                <option value="_empty">- Välj Företag -</option>
  			   	{admin_platsbanken:get_companies}
					<option value="{admin_platsbanken:subitem get='id'/}" {admin_platsbanken:set_dropdown current="{admin_platsbanken:subitem get='id'/}" set="{admin_platsbanken:item get='company_id'/}"/}>{admin_platsbanken:subitem get='name'/}</option>
				{/admin_platsbanken:get_companies}
  			</select>
           <input type="checkbox" id="platsannons_show_company" name="platsannons_show_company" value="yes"/> Koppla inte till företag
  		</div>

        <div class="platsbanken_lefter_row">
    		<!--<input type="submit" class="button_green" name="platsannons_preview" style="margin:0px;" value="FÖRHANDSGRANSKA" />-->
    		<input type="submit" class="button_green job_publish" name="platsannons_publish" style="margin:0px;" value="PUBLICERA" />
  		</div>
    </div>
     <div class="display_table" style="margin-top:20px">
        <div class="display_table_cell" style="padding-right:20px">
          <div class="platsbanken_lefter_row">
              <strong>Annonsens Rubrik</strong><br />
              <input type="text" class="form text" name="platsannons_title" style="width:750px" value="{admin_platsbanken:item get='title'/}" />
          </div>
          <div class="platsbanken_lefter_row">
              <strong>Om företaget</strong><br />
              <textarea class="ckeditor" name="platsannons_intro" style="width:750px">{admin_platsbanken:item get='intro'/}</textarea>
          </div>
          <div class="platsbanken_lefter_row">
              <strong>Annonstext</strong><br />
              <textarea class="ckeditor" name="platsannons_body" style="width:750px">{admin_platsbanken:item get='description'/}</textarea>
          </div>
          <div class="display_table">
            <div class="display_table_cell" style="padding-right:20px">
                <div class="platsbanken_lefter_row">
            		<strong>Namn</strong><br />
            		<input type="text" class="form text" name="platsannons_company_name" value="{admin_platsbanken:item get='company_name'/}" />
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Orgno</strong><br />
            		<input type="text" class="form text" name="platsannons_company_vat_no" value="{admin_platsbanken:item get='org_number'/}" />
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Gatuadress</strong><br />
            		<input type="text" class="form text" name="platsannons_company_street" value="{admin_platsbanken:item get='street'/}" />
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Postno</strong><br />
            		<input type="text" class="form text" name="platsannons_company_postno" value="{admin_platsbanken:item get='zip'/}" />
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Ort</strong><br />
            		<input type="text" class="form text" name="platsannons_company_city" value="{admin_platsbanken:item get='city'/}" />
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Län</strong><br />
                    <select name="platsannons_company_state">
                        <option value=""></option>
                        <option value="Blekinge" {admin_platsbanken:set_dropdown current="Blekinge" set="{admin_platsbanken:item get='state'/}"/}>Blekinge</option>
                        <option value="Dalarna" {admin_platsbanken:set_dropdown current="Dalarna" set="{admin_platsbanken:item get='state'/}"/}>Dalarna</option>
                        <option value="Gotland" {admin_platsbanken:set_dropdown current="Gotland" set="{admin_platsbanken:item get='state'/}"/}>Gotland</option>
                        <option value="Gävleborg" {admin_platsbanken:set_dropdown current="Gävleborg" set="{admin_platsbanken:item get='state'/}"/}>Gävleborg</option>
                        <option value="Halland" {admin_platsbanken:set_dropdown current="Halland" set="{admin_platsbanken:item get='state'/}"/}>Halland</option>
                        <option value="Jämtland" {admin_platsbanken:set_dropdown current="Jämtland" set="{admin_platsbanken:item get='state'/}"/}>Jämtland</option>
                        <option value="Jönköping" {admin_platsbanken:set_dropdown current="Jönköping" set="{admin_platsbanken:item get='state'/}"/}>Jönköping</option>
                        <option value="Kalmar" {admin_platsbanken:set_dropdown current="Kalmar" set="{admin_platsbanken:item get='state'/}"/}>Kalmar</option>
                        <option value="Kronoberg" {admin_platsbanken:set_dropdown current="Kronoberg" set="{admin_platsbanken:item get='state'/}"/}>Kronoberg</option>
                        <option value="Skåne" {admin_platsbanken:set_dropdown current="Skåne" set="{admin_platsbanken:item get='state'/}"/}>Skåne</option>
                        <option value="Stockholm" {admin_platsbanken:set_dropdown current="Stockholm" set="{admin_platsbanken:item get='state'/}"/}>Stockholm</option>
                        <option value="Södermanland" {admin_platsbanken:set_dropdown current="Södermanland" set="{admin_platsbanken:item get='state'/}"/}>Södermanland</option>
                        <option value="Uppsala" {admin_platsbanken:set_dropdown current="Uppsala" set="{admin_platsbanken:item get='state'/}"/}>Uppsala</option>
                        <option value="Värmland" {admin_platsbanken:set_dropdown current="Värmland" set="{admin_platsbanken:item get='state'/}"/}>Värmland</option>
                        <option value="Västerbotten" {admin_platsbanken:set_dropdown current="Västerbotten" set="{admin_platsbanken:item get='state'/}"/}>Västerbotten</option>
                        <option value="Västernorrland" {admin_platsbanken:set_dropdown current="Västernorrland" set="{admin_platsbanken:item get='state'/}"/}>Västernorrland</option>
                        <option value="Västmanland" {admin_platsbanken:set_dropdown current="Västmanland" set="{admin_platsbanken:item get='state'/}"/}>Västmanland</option>
                        <option value="Västra Götaland" {admin_platsbanken:set_dropdown current="Västra Götaland" set="{admin_platsbanken:item get='state'/}"/}>Västra Götaland</option>
                        <option value="Örebro" {admin_platsbanken:set_dropdown current="Örebro" set="{admin_platsbanken:item get='state'/}"/}>Örebro</option>
                        <option value="Östergötland" {admin_platsbanken:set_dropdown current="Östergötland" set="{admin_platsbanken:item get='state'/}"/}>Östergötland</option>
                        <option value="--------------" {admin_platsbanken:set_dropdown current="--------------" set="{admin_platsbanken:item get='state'/}"/}>--------------</option>
                        <option value="Danmark" {admin_platsbanken:set_dropdown current="Danmark" set="{admin_platsbanken:item get='state'/}"/}>Danmark</option>
                        <option value="Norge" {admin_platsbanken:set_dropdown current="Norge" set="{admin_platsbanken:item get='state'/}"/}>Norge</option>
                        <option value="Utomlands" {admin_platsbanken:set_dropdown current="Utomlands" set="{admin_platsbanken:item get='state'/}"/}>Utomlands</option>
                    </select>
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>E-post</strong><br />
            		<input type="text" class="form text" name="platsannons_company_email" value="{admin_platsbanken:item get='contact_mail'/}" />
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Företagets hemsida</strong><br />
            		<input type="text" class="form text" name="platsannons_company_website" value="{admin_platsbanken:item get='website'/}" />
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Telefon</strong><br />
            		<input type="text" class="form text" name="platsannons_company_telephone" value="{admin_platsbanken:item get='telephone'/}" />
            	</div>
                <div class="platsbanken_lefter_row">
                    <hr class="custom_hr"/>
                </div>


                <div class="platsbanken_lefter_row">
            		<strong>Kontakperson 1</strong><br />
                    <div class="input_img_div"><input type="text" class="form text" name="platsannons_contact_name[]" value="{admin_platsbanken:maincontact get='name' type='contact'/}" />
                    <div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_contact"/></div></div>

            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Telefon till kontaktperson</strong><br />
            		<input type="text" class="form text" name="platsannons_contact_phone[]" value="{admin_platsbanken:maincontact get='telephone'/}" />
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Email till kontaktperson</strong><br />
            		<input type="text" class="form text" name="platsannons_contact_email[]" value="{admin_platsbanken:maincontact get='contact_email'/}" />
            	</div>
                <div class="additional_platsannons_contact">
                     <ul class="additional_platsannons_contact_list additional_list">
                        {admin_platsbanken:get_contacts min='1' id='{admin_platsbanken:item get="id"/}'}
                            <li>
                                <div>
                                    <div class="platsbanken_lefter_row">
                                		<hr class="custom_hr"/>
                                	</div>
                                    <div class="platsbanken_lefter_row">
                                		<strong>Kontakperson {admin_platsbanken:subitem get='rownumber'/}</strong><br />
                                        <div class="input_img_div"><input type="text" class="form text" name="platsannons_contact_name[]" value="{admin_platsbanken:subitem get='name'/}" />
                                        <div class="add_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_contact"/></div></div>

                                	</div>
                                    <div class="platsbanken_lefter_row">
                                		<strong>Telefon till kontaktperson</strong><br />
                                		<input type="text" class="form text" name="platsannons_contact_phone[]" value="{admin_platsbanken:subitem get='telephone'/}" />
                                	</div>
                                    <div class="platsbanken_lefter_row">
                                		<strong>Email till kontaktperson</strong><br />
                                		<input type="text" class="form text" name="platsannons_contact_email[]" value="{admin_platsbanken:subitem get='contact_email'/}" />
                                	</div>
                                </div>
                            </li>
                        {/admin_platsbanken:get_contacts}
                     </ul>
                </div>

                <div class="platsbanken_lefter_row">
                    <hr class="custom_hr"/>
                </div>

                <div class="platsbanken_lefter_row">
            		<strong>Annons kategori</strong><br />
            		<select class="form text" name="platsannons_category">
                        <option value="_empty">- Välj Kategori -</option>
                        {annonser:job_categories}
                            <option value="{annonser:item get='id'/}" {admin_platsbanken:set_dropdown current="{annonser:item get='id'/}" set="{admin_platsbanken:item get='category_id'/}"/}>{annonser:item get='name'/}</option>
                        {/annonser:job_categories}
                    </select>
            	</div>

                <div class="platsbanken_lefter_row" style="display:table">
                    <div style="display:table-cell">
                		<strong>Sista datum för ansökan</strong><br />
                		<div>
                           <input name="platsannons_date" type="text" value="{functions:date time='{admin_platsbanken:item get='last_day'/}' date='Y-m-d' /}" class="date"/>
                        </div>
                    </div>
                    <div style="display:table-cell">
                        <strong>Tilläggs kommentar till datum</strong><br />
                        <input type="text" class="form text" name="platsannons_date_comment" value="{admin_platsbanken:item get='last_day_comment'/}" />
                    </div>
            	</div>
                <div class="platsbanken_lefter_row">
            		<strong>Svarsform</strong> * Antingen via E-post eller företagshemsida<br />
					För mail: "mailto:email@email.com"<br />
					annars för vanlig hemsida: "www.example.com"
            		<input type="text" class="form text" name="platsannons_contact" value="{admin_platsbanken:item get='extern_website'/}" />
            	</div>
            </div>
            <div class="display_table_cell">
               <div class="platsbanken_lefter_row">
    		        <div class="section_header">Lägg till logo & bilder</div>
               </div>
               <div class="platsbanken_lefter_row">
                    <strong>Logotyp</strong>
    		        <div class="img_upload_div">
                       <div class="img_upload_add">
                              <div style="display:none">
                                  <input type="file" name="platsannons_logo" />
                              </div>

                              {admin_platsbanken:has_logo state="false"}
                              <button type="button" class="button_green image_file_btn" id="add_logo_btn"  title="Ladda upp en bild"><img src="/public/images/admin/icons/add_24.png"/></button>
                              {/admin_platsbanken:has_logo}
                              <div id="create_logo_file_path" style="display:none"></div>

                              {admin_platsbanken:has_logo state="true"}
                                <img id="platsannons_logo_src" title="Ikon" src="/public/images/jobbannonser/{admin_platsbanken:item get='logo'/}"><br />
                              {/admin_platsbanken:has_logo}
                       </div>
                    </div>
                    <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="delete_logo_btn"><img src="/public/images/admin/icons/minus_24.png"/></button>
               </div>

               <div class="platsbanken_lefter_row">
                    <div class="display_table">
                         <div class="display_table_cell">

                                <strong>Stor bild 1</strong>
                		        <div class="img_upload_div">
                                   <div class="img_upload_add">

                                              <div class="input_file_div" style="display:none">
                                                  <input type="file" name="platsannons_image[]" class="image_file_{admin_platsbanken:subitem get='rnum'/} image_file_input" multiple='multiple' image_id='{admin_platsbanken:subitem get='rnum'/}' />
                                              </div>
                                              {admin_platsbanken:has_image state="false"}
                                              <button type="button" class="button_green image_file_btn" id="image_file_btn_{admin_platsbanken:subitem get='rnum'/}" title="Ladda upp en bild" image_id="{admin_platsbanken:subitem get='rnum'/}"><img src="/public/images/admin/icons/add_24.png"/></button>
                                              {/admin_platsbanken:has_image}
                                              <div id="create_image_file_path_{admin_platsbanken:subitem get='rnum'/}" style="display:none"></div>

                                            {admin_platsbanken:get_images limit='1' id='{admin_platsbanken:item get="id"/}'}
                                              {admin_platsbanken:has_image state="true"}
                                                <img id="platsannons_img_src_{admin_platsbanken:subitem get='rnum'/}" title="Ikon" src="/public/images/jobbannonser/{admin_platsbanken:subitem get='image'/}" image_id='{admin_platsbanken:subitem get='rnum'/}'><br />
                                              {/admin_platsbanken:has_image}
                                           {/admin_platsbanken:get_images}
                                   </div>
                                </div>
                                <button type="button" class="button_orange delete_image_btn" style="width:315px" title="Radera bild" image_id='{admin_platsbanken:subitem get="rnum"/}'><img src="/public/images/admin/icons/minus_24.png"/></button>

                         </div>
                         <div class="display_table_cell" style="padding-top: 20px; padding-left: 10px;">
                              <img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_images"/>
                         </div>
                    </div>
               </div>
               <div class="platsbanken_lefter_row image_list">
                     {admin_platsbanken:get_images min='1' id='{admin_platsbanken:item get="id"/}'}
                     <div class='jobbannons_image_div' style='margin-top:10px'>
                        <strong>Stor bild {admin_platsbanken:subitem get='rownumber'/}</strong>
                        <div class="img_upload_div">
                            <div class="img_upload_add">
                                <div class="input_file_div" style="display:none">
                                    <input type="file" name="platsannons_image[]" class="image_file_{admin_platsbanken:subitem get='rnum'/} image_file_input" multiple='multiple' image_id='{admin_platsbanken:subitem get="rnum"/}' />
                                </div>
                                {admin_platsbanken:has_image state="false"}
                                <button type="button" class="button_green image_file_btn" id="image_file_btn_{admin_platsbanken:subitem get='rnum'/} " title="Ladda upp en bild" image_id="{admin_platsbanken:subitem get='rnum'/}"><img src="/public/images/admin/icons/add_24.png"/></button>
                                {/admin_platsbanken:has_image}
                                <div id="create_image_file_path_{admin_platsbanken:subitem get='rnum'/}" style="display:none"></div>

                                {admin_platsbanken:has_image state="true"}
                                  <img id="platsannons_img_src" title="Ikon" src="/public/images/jobbannonser/{admin_platsbanken:subitem get='image'/}"><br />
                                {/admin_platsbanken:has_image}
                            </div>
                        </div>
                        <button type="button" class="button_orange delete_image_btn" style="width:315px" title="Radera bild"><img src="/public/images/admin/icons/minus_24.png"/></button>
                     </div>
                     {/admin_platsbanken:get_images}
               </div>

          </div>
          </div>

        </div>
     </div>
      <div>
        <div class="platsbanken_lefter_row">
    		<!--<input type="submit" class="button_green" name="platsannons_preview" style="margin:0px;" value="FÖRHANDSGRANSKA" />-->
    		<input type="submit" class="button_green job_publish" name="platsannons_publish" style="margin:0px;" value="PUBLICERA" />
  		</div>
     </div>
     </form>
</div>
{/template:area}