<div class="box_big">
	<div class="box_big_header">Konto - Mitt CV</div>
	<div class="box_big_content">
	
		<div style="margin-bottom:20px;">
		
			<div class="platsbanken_cv_top platsbanken_cv_top_1{konto:progress step='1' true=' platsbanken_cv_top_filled_1'/}" onClick="window.location='/konto/mitt-cv/personuppgifter';">
				Personuppgifter
			</div>
			<div class="platsbanken_cv_top platsbanken_cv_top_2{konto:progress step='2' true=' platsbanken_cv_top_filled_2'/}" onClick="window.location='/konto/mitt-cv/utbildningar';">
				Utbildningar
			</div>
			<div class="platsbanken_cv_top platsbanken_cv_top_3{konto:progress step='3' true=' platsbanken_cv_top_filled_3'/}" onClick="window.location='/konto/mitt-cv/anstallningar';">
				Anställningar
			</div>
			<div class="platsbanken_cv_top platsbanken_cv_top_4{konto:progress step='4' true=' platsbanken_cv_top_filled_4'/}" onClick="window.location='/konto/mitt-cv/bild';">
				Bild
			</div>
		
		</div>
		
	{page:rurl index="2" equals="personuppgifter"}
		{konto:update_profile success_redirect="/konto/mitt-cv/utbildningar"/}
		
		<div class="platsbanken_navigation">
			<div class="platsbanken_navigation_left"></div>
			<div class="platsbanken_navigation_right"><a href="/konto/mitt-cv/utbildningar">Nästa steg</a></div>
		</div>
		
		<form method="post" action="/konto/mitt-cv/personuppgifter">
			<table width="100%" border="0" cellspacing="5" cellpadding="5">
				<tr>
					<td colspan="2"><h2>Uppdatera Personuppgifter</h2></td>
				</tr>
				<tr>
					<td class="formTitle">Förnamn *</td>
					<td><input type="text" class="form" name="personuppgifter_first_name" value="{konto:profile get='personuppgifter' name='first_name' posted_first='true'/}" /></td>
				</tr>
				<tr>
					<td class="formTitle">Efternamn *</td>
					<td><input type="text" class="form" name="personuppgifter_last_name" value="{konto:profile get='personuppgifter' name='last_name' posted_first='true'/}" /></td>
				</tr>
				<tr>
					<td class="formTitle">Adress *</td>
					<td><input type="text" class="form" name="personuppgifter_street_name" value="{konto:profile get='personuppgifter' name='street_name' posted_first='true'/}" /></td>
				</tr>
				<tr>
					<td class="formTitle">Postnummer *</td>
					<td><input type="text" class="form" name="personuppgifter_zip_code" value="{konto:profile get='personuppgifter' name='zip_code' posted_first='true'/}" /></td>
				</tr>
				<tr>
					<td class="formTitle">Stad</td>
					<td><input type="text" class="form" name="personuppgifter_city" value="{konto:profile get='personuppgifter' name='city' posted_first='true'/}" /></td>
				</tr>
				<tr>
					<td class="formTitle">Län</td>
					<td>
						<select name="personuppgifter_county" class="form">
							<option value="_empty"{konto:profile get='personuppgifter' name='county' value='_empty' posted_first='true' return=' selected="selected"'/}>- Välj -</option>
							<option value="Blekinge"{konto:profile get='personuppgifter' name='county' value='Blekinge' posted_first='true' return=' selected="selected"'/}>Blekinge</option>
							<option value="Dalarna"{konto:profile get='personuppgifter' name='county' value='Dalarna' posted_first='true' return=' selected="selected"'/}>Dalarna</option>
							<option value="Gotland"{konto:profile get='personuppgifter' name='county' value='Gotland' posted_first='true' return=' selected="selected"'/}>Gotland</option>
							<option value="Gävleborg"{konto:profile get='personuppgifter' name='county' value='Gävleborg' posted_first='true' return=' selected="selected"'/}>Gävleborg</option>
							<option value="Halland"{konto:profile get='personuppgifter' name='county' value='Halland' posted_first='true' return=' selected="selected"'/}>Halland</option>
							<option value="Jämtland"{konto:profile get='personuppgifter' name='county' value='Jämtland' posted_first='true' return=' selected="selected"'/}>Jämtland</option>
							<option value="Jönköping"{konto:profile get='personuppgifter' name='county' value='Jönköping' posted_first='true' return=' selected="selected"'/}>Jönköping</option>
							<option value="Kalmar"{konto:profile get='personuppgifter' name='county' value='Kalmar' posted_first='true' return=' selected="selected"'/}}>Kalmar</option>
							<option value="Kronoberg"{konto:profile get='personuppgifter' name='county' value='Kronoberg' posted_first='true' return=' selected="selected"'/}>Kronoberg</option>
							<option value="Norrbotten"{konto:profile get='personuppgifter' name='county' value='Norrbotten' posted_first='true' return=' selected="selected"'/}>Norrbotten</option>
							<option value="Skåne"{konto:profile get='personuppgifter' name='county' value='Skåne' posted_first='true' return=' selected="selected"'/}>Skåne</option>
							<option value="Stockholm"{konto:profile get='personuppgifter' name='county' value='Stockholm' posted_first='true' return=' selected="selected"'/}>Stockholm</option>
							<option value="Södermanland"{konto:profile get='personuppgifter' name='county' value='Södermanland' posted_first='true' return=' selected="selected"'/}>Södermanland</option>
							<option value="Uppsala"{konto:profile get='personuppgifter' name='county' value='Uppsala' posted_first='true' return=' selected="selected"'/}>Uppsala</option>
							<option value="Värmland"{konto:profile get='personuppgifter' name='county' value='Värmland' posted_first='true' return=' selected="selected"'/}>Värmland</option>
							<option value="Västerbotten"{konto:profile get='personuppgifter' name='county' value='Västerbotten' posted_first='true' return=' selected="selected"'/}>Västerbotten</option>
							<option value="Västernorrland"{konto:profile get='personuppgifter' name='county' value='Västernorrland' posted_first='true' return=' selected="selected"'/}>Västernorrland</option>
							<option value="Västmanland"{konto:profile get='personuppgifter' name='county' value='Västmanland' posted_first='true' return=' selected="selected"'/}>Västmanland</option>
							<option value="Västra Götaland"{konto:profile get='personuppgifter' name='county' value='Västra Götaland' posted_first='true' return=' selected="selected"'/}>Västra Götaland</option>
							<option value="Örebro"{konto:profile get='personuppgifter' name='county' value='Örebro' posted_first='true' return=' selected="selected"'/}>Örebro</option>
							<option value="Östergötland"{konto:profile get='personuppgifter' name='county' value='Östergötland' posted_first='true' return=' selected="selected"'/}>Östergötland</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="formTitle">Telefon</td>
					<td><input type="text" class="form" name="personuppgifter_phone_number" value="{konto:profile get='personuppgifter' name='phone_number' posted_first='true'/}" /></td>
				</tr>
				<tr>
					<td class="formTitle">Mobil</td>
					<td><input type="text" class="form" name="personuppgifter_cell_number" value="{konto:profile get='personuppgifter' name='cell_number' posted_first='true'/}" /></td>
				</tr>
				<tr>
					<td class="formTitle">Födelsedatum *</td>
					<td>
						<select name="personuppgifter_birth_year" class="form">
							<option value="_empty">- År -</option>
							{functions:loop from="{functions:year/}" to="1900"}<option value="{functions:item get='index'/}"{konto:profile get='personuppgifter' name='birth_year' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
						</select>
						<select name="personuppgifter_birth_month" class="form">
							<option value="_empty">- Månad -</option>
							{functions:months}<option value="{functions:item get='number'/}"{konto:profile get='personuppgifter' name='birth_month' value='{functions:item get='number'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='name'/}</option>{/functions:months}
						</select>
						<select name="personuppgifter_birth_day" class="form">
							<option value="_empty">- Dag -</option>
							{functions:loop from="1" to="31"}<option value="{functions:item get='index'/}"{konto:profile get='personuppgifter' name='birth_day' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
						</select>
					</td>
				</tr>
				<tr>
					<td class="formTitle" valign="top">Personligt Brev</td>
					<td align="left">
						<textarea class="form textarea" style="width:530px;height:260px;" name="personuppgifter_personal_letter" />{konto:profile get='personuppgifter' name='personal_letter' posted_first='true'/}</textarea>
					</td>
				</tr>
				<tr>
					<td class="formTitle">Har B-körtkort</td>
					<td align="left"><input type="checkbox" class="form_none" name="personuppgifter_drivers_b_card" value="true"{konto:profile get='personuppgifter' name='drivers_b_card' value='true' posted_first='true' return=' checked="checked"'/} /></td>
				</tr>
				<tr>
					<td class="formTitle">Har tillgång till bil</td>
					<td align="left"><input type="checkbox" class="form_none" name="personuppgifter_drivers_have_car" value="true"{konto:profile get='personuppgifter' name='drivers_have_car' value='true' posted_first='true' return=' checked="checked"'/} /></td>
				</tr>
				<tr>
					<td class="formTitle">Kön *</td>
					<td align="left">
						<input type="radio" class="form_none" name="personuppgifter_gender" value="male"{konto:profile get='personuppgifter' name='gender' value='male' posted_first='true' return=' checked="checked"'/} /> Man<br />
						<input type="radio" class="form_none" name="personuppgifter_gender" value="female"{konto:profile get='personuppgifter' name='gender' value='female' posted_first='true' return=' checked="checked"'/} /> Kvinna<br />
					</td>
				</tr>
				<tr>
					<td class="formTitle" valign="top">Jobb Intressen</td>
					<td align="left">
						<div class="all_categories">
								{konto:all_categories}
									<div class="{konto:div_class/}">
										<input type="checkbox" name="companies_categories[]" value="{konto:item get='id'/}"{konto:in_category id="{konto:item get='id'/}" state="true"} checked="checked"{/konto:in_category} />
										{konto:item get="name"/}
									</div>
								{/konto:all_categories}
						</div>
					</td>
				</tr>
				<tr>
					<td class="formTitle"></td>
					<td align="left"><input type="submit" class="button_green" name="personuppgifter_submit" style="margin:0px;" value="SPARA" /></td>
				</tr>
			</table>
		</form>
	{/page:rurl}
	
	{page:rurl index="2" equals="utbildningar"}
		{konto:errors action="set" parent="utbildningar" child="from_to" text="Startdatumet måste ske före slutdatumet."/}
		
		{konto:update_profile success_redirect="/konto/mitt-cv/utbildningar"/}
		
		<div class="platsbanken_navigation">
			<div class="platsbanken_navigation_left"><a href="/konto/mitt-cv/personuppgifter">Tillbaka</a></div>
			<div class="platsbanken_navigation_right"><a href="/konto/mitt-cv/anstallningar">Nästa steg</a></div>
		</div>
		
		<div class="dina_utbildningar">
			<div class="dina_utbildningar_title">Dina Utbildningar</div>
			{konto:utbildningar}
			<div class="dina_utbildningar_item">
				<div class="dina_utbildningar_item_left">
					<strong>{konto:item get="school"/}</strong> {konto:item get="from_year"/} - {konto:item get="to_year"/}
					<span style="float:right"><a href="/konto/mitt-cv/utbildningar/{konto:item get='id'/}">Redigera</a> | <a href="/konto/mitt-cv/utbildningar/{konto:item get='id'/}/radera" style="color:red" onclick="javascript:return confirm('Vill du verkligen radera?')">Ta bort</a></span>
				</div>
			</div>
			{/konto:utbildningar}
			<div class="dina_utbildningar_item" style="border:0px;margin-top:20px;">
				<div class="dina_utbildningar_item_left"><button class="button_green" style="margin:0px;" onClick="document.location='/konto/mitt-cv/utbildningar';return false;">NY UTBILDNING</button></div>
			</div>
		</div>
			
		<div class="platsbanken_divider"></div>
		
		<div class="platsbanken_lefter">
			<form method="post" action="/{page:rurl/}">
				{page:rurl index="3" not_empty="true"}
				<input type="hidden" name="utbildningar_edit" value="{page:rurl index='3'/}" />
				
				<div class="platsbanken_lefter_row">
					<h2>Uppdatera Utbildning</h2>
				</div>
				
				{konto:errors action="check"}
				<div class="platsbanken_lefter_row">
					<ul>
					{konto:errors action="list"}
						<li><font color="red">{konto:item get="text"/}</font></li>
					{/konto:errors}
					</ul>
				</div>
				{/konto:errors}
				
				<div class="platsbanken_lefter_row">
					<strong>Skola & Kurs</strong><br />
					<input type="text" class="form text" name="utbildningar_school" rel="blur" value="{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='school' posted_first='true'/}" title="Skola..."/><br />
					<br />
					<input type="text" class="form text" name="utbildningar_program" rel="blur" value="{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='program' posted_first='true'/}" title="Kurs..." />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Utbildningsnivå</strong><br />
					<input type="radio" class="form_none radio" name="utbildningar_education_level" value="gymnasie"{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='education_level' value='gymnasie' posted_first='true' return=' checked="checked"'/} /> Gymnasie<br />
					<input type="radio" class="form_none radio" name="utbildningar_education_level" value="hogskola"{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='education_level' value='hogskola' posted_first='true' return=' checked="checked"'/} /> Högskola, KY-utbildning eller liknande<br />
					<input type="radio" class="form_none radio" name="utbildningar_education_level" value="grundskola"{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='education_level' value='grundskola' posted_first='true' return=' checked="checked"'/} /> Grundskola<br />
					<input type="radio" class="form_none radio" name="utbildningar_education_level" value="annat"{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='education_level' value='annat' posted_first='true' return=' checked="checked"'/} /> Annat<br />
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Startdatum</strong><br />
					<select name="utbildningar_from_year" class="form">
						<option value="_empty">- År -</option>
						{functions:loop from="{functions:year/}" to="1900"}<option value="{functions:item get='index'/}"{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='from_year' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
					</select>
					<select name="utbildningar_from_month" class="form">
						<option value="_empty">- Månad -</option>
						{functions:months}<option value="{functions:item get='number'/}"{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='from_month' value='{functions:item get='number'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='name'/}</option>{/functions:months}
					</select>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Slutdatum</strong><br />
					<select name="utbildningar_to_year" class="form">
						<option value="_empty">- År -</option>
						{functions:loop from="{functions:year/}" to="1900"}<option value="{functions:item get='index'/}"{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='to_year' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
					</select>
					<select name="utbildningar_to_month" class="form">
						<option value="_empty">- Månad -</option>
						{functions:months}<option value="{functions:item get='number'/}"{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='to_month' value='{functions:item get='number'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='name'/}</option>{/functions:months}
					</select>
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Kommentarer</strong><br />
					<textarea class="form" name="utbildningar_comments">{konto:profile index='{page:rurl index="3"/}' get='utbildningar' name='comments' posted_first='true'/}</textarea>
				</div>
				
				<div class="platsbanken_lefter_row">
					<input type="submit" class="button_green" name="utbildningar_submit" style="margin:0px;" value="SPARA UTBILDNING" />
				</div>
					{/page:rurl}
					
					{page:rurl index="3" empty="true"}
					<div class="platsbanken_lefter_row">
						<h2>Ny Utbildning</h2>
					</div>
				
					{konto:errors action="check"}
					<div class="platsbanken_lefter_row">
						<ul>
						{konto:errors action="list"}
							<li><font color="red">{konto:item get="text"/}</font></li>
						{/konto:errors}
						</ul>
					</div>
					{/konto:errors}
					
					<div class="platsbanken_lefter_row">
						<h3>Skola & Kurs</h3><br />
						<input type="text" class="form text" rel="blur" name="utbildningar_school" value="{konto:profile get='utbildningar' name='school' posted_first='true'/}" title="Skola..." /><br />
						<br />
						<input type="text" class="form text" rel="blur" name="utbildningar_program" value="{konto:profile get='utbildningar' name='program' posted_first='true'/}" title="Kurs..." />
					</div>
					
					<div class="platsbanken_lefter_row">
						<h3>Utbildningsnivå</h3>
						<input type="radio" class="form_none radio" name="utbildningar_education_level" value="gymnasie"{konto:profile get='utbildningar' name='education_level' value='gymnasie' posted_first='true' return=' checked="checked"'/} /> Gymnasie<br />
						<input type="radio" class="form_none radio" name="utbildningar_education_level" value="hogskola"{konto:profile get='utbildningar' name='education_level' value='hogskola' posted_first='true' return=' checked="checked"'/} /> Högskola, KY-utbildning eller liknande<br />
						<input type="radio" class="form_none radio" name="utbildningar_education_level" value="grundskola"{konto:profile get='utbildningar' name='education_level' value='grundskola' posted_first='true' return=' checked="checked"'/} /> Grundskola<br />
						<input type="radio" class="form_none radio" name="utbildningar_education_level" value="annat"{konto:profile get='utbildningar' name='education_level' value='annat' posted_first='true' return=' checked="checked"'/} /> Annat<br />
					</div>
					
					<div class="platsbanken_lefter_row">
						<h3>Startdatum</h3><br />
						<select name="utbildningar_from_year" class="form">
							<option value="_empty">- År -</option>
							{functions:loop from="{functions:year/}" to="1900"}<option value="{functions:item get='index'/}"{konto:profile get='utbildningar' name='from_year' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
						</select>
						<select name="utbildningar_from_month" class="form">
							<option value="_empty">- Månad -</option>
							{functions:months}<option value="{functions:item get='number'/}"{konto:profile get='utbildningar' name='from_month' value='{functions:item get='number'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='name'/}</option>{/functions:months}
						</select>
					</div>
					
					<div class="platsbanken_lefter_row">
						<h3>Slutdatum</h3><br />
						<select name="utbildningar_to_year" class="form">
							<option value="_empty">- År -</option>
							{functions:loop from="{functions:year/}" to="1900"}<option value="{functions:item get='index'/}"{konto:profile get='utbildningar' name='to_year' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
						</select>
						<select name="utbildningar_to_month" class="form">
							<option value="_empty">- Månad -</option>
							{functions:months}<option value="{functions:item get='number'/}"{konto:profile get='utbildningar' name='to_month' value='{functions:item get='number'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='name'/}</option>{/functions:months}
						</select>
					</div>
					
					<div class="platsbanken_lefter_row">
						<h3>Kommentarer</h3><br />
						<textarea class="form textarea" name="utbildningar_comments" rel="blur" title="...">{konto:profile get='utbildningar' name='comments' posted_first='true'/}</textarea>
					</div>
					
					<div class="platsbanken_lefter_row">
						<input type="submit" class="button_green" name="utbildningar_submit" style="margin:0px;" value="LÄGG TILL I DINA UTBILDNINGAR" />
					</div>
					{/page:rurl}
			</form>
		</div>
	{/page:rurl}
	
	{page:rurl index="2" equals="anstallningar"}
		{konto:errors action="set" parent="anstallningar" child="from_to" text="Startdatumet måste ske före slutdatumet."/}
		{konto:update_profile success_redirect="/konto/mitt-cv/anstallningar"/}
		
		<div class="platsbanken_navigation">
			<div class="platsbanken_navigation_left"><a href="/konto/mitt-cv/utbildningar">Tillbaka</a></div>
			<div class="platsbanken_navigation_right"><a href="/konto/mitt-cv/bild">Nästa steg</a></div>
		</div>
		
		<div class="dina_utbildningar">
			<div class="dina_utbildningar_title">Dina Anställningar</div>
			{konto:anstallningar}
			<div class="dina_utbildningar_item">
				<div class="dina_utbildningar_item_left">
					<strong>{konto:item get="company"/}</strong> {konto:item get="from_year"/} - {konto:item get="to_year"/}
					<span style="float:right"><a href="/konto/mitt-cv/anstallningar/{konto:item get='id'/}">Redigera</a> | <a href="/konto/mitt-cv/anstallningar/{konto:item get='id'/}/radera" style="color:red" onclick="javascript:return confirm('Vill du verkligen radera?')">Ta Bort</a></span>
				</div>
			</div>
			{/konto:anstallningar}
			<div class="dina_utbildningar_item" style="border:0px;margin-top:20px;">
				<div class="dina_utbildningar_item_left"><button class="button_green" style="margin:0px;" onClick="document.location='/konto/mitt-cv/anstallningar';return false;">NY ANSTÄLLNING</button></div>
			</div>
		</div>

		<div class="platsbanken_divider"></div>
		
		<div class="platsbanken_lefter">
			<form method="post" action="/{page:rurl/}">
				{page:rurl index="3" not_empty="true"}
				<input type="hidden" name="anstallningar_edit" value="{page:rurl index='3'/}" />
					
					<div class="platsbanken_lefter_row">
						<h2>Uppdatera Anställning</h2>
					</div>
				
					{konto:errors action="check"}
					<div class="platsbanken_lefter_row">
						<ul>
						{konto:errors action="list"}
							<li><font color="red">{konto:item get="text"/}</font></li>
						{/konto:errors}
						</ul>
					</div>
					{/konto:errors}
					
					<div class="platsbanken_lefter_row">
						<strong>Företag</strong><br />
						<input type="text text" class="form" name="anstallningar_company" value="{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='company' posted_first='true'/}" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Stad</strong><br />
						<input type="text text" class="form" name="anstallningar_city" value="{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='city' posted_first='true'/}" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Arbetsuppgifter</strong><br />
						<textarea class="form text" name="anstallningar_tasks">{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='tasks' posted_first='true'/}</textarea>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Startdatum</strong><br />
						<select name="anstallningar_from_year" class="form">
							<option value="_empty">- År -</option>
							{functions:loop from="{functions:year/}" to="1900"}<option value="{functions:item get='index'/}"{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='from_year' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
						</select>
						<select name="anstallningar_from_month" class="form">
							<option value="_empty">- Månad -</option>
							{functions:months}<option value="{functions:item get='number'/}"{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='from_month' value='{functions:item get='number'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='name'/}</option>{/functions:months}
						</select>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Slutdatum</strong><br />
						<select name="anstallningar_to_year" class="form">
							<option value="_empty">- År -</option>
							{functions:loop from="{functions:year/}" to="1900"}<option value="{functions:item get='index'/}"{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='to_year' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
						</select>
						<select name="anstallningar_to_month" class="form">
							<option value="_empty">- Månad -</option>
							{functions:months}<option value="{functions:item get='number'/}"{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='to_month' value='{functions:item get='number'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='name'/}</option>{/functions:months}
						</select>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Kommentarer</strong><br />
						<textarea class="form textarea" name="anstallningar_comments">{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='comments' posted_first='true'/}</textarea>
					</div>
						
						<div class="platsbanken_lefter_row">
							<input type="submit" class="button_green" name="anstallningar_submit" style="margin:0px;" value="SPARA ANSTÄLLNING" />
						</div>
					
					{/page:rurl}
					
					{page:rurl index="3" empty="true"}
					
					<div class="platsbanken_lefter_row">
						<h2>Ny Anställning</h2>
					</div>
				
					{konto:errors action="check"}
					<div class="platsbanken_lefter_row">
						<ul>
						{konto:errors action="list"}
							<li><font color="red">{konto:item get="text"/}</font></li>
						{/konto:errors}
						</ul>
					</div>
					{/konto:errors}
					
					<div class="platsbanken_lefter_row">
						<strong>Företag</strong><br />
						<input type="text" class="form text" name="anstallningar_company" value="{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='company' posted_first='true'/}" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Stad</strong><br />
						<input type="text" class="form text" name="anstallningar_city" value="{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='city' posted_first='true'/}" />
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Arbetsuppgifter</strong><br />
						<textarea class="form textarea" name="anstallningar_tasks">{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='tasks' posted_first='true'/}</textarea>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Startdatum</strong><br />
						<select name="anstallningar_from_year" class="form">
							<option value="_empty">- År -</option>
							{functions:loop from="{functions:year/}" to="1900"}<option value="{functions:item get='index'/}"{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='from_year' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
						</select>
						<select name="anstallningar_from_month" class="form">
							<option value="_empty">- Månad -</option>
							{functions:months}<option value="{functions:item get='number'/}"{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='from_month' value='{functions:item get='number'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='name'/}</option>{/functions:months}
						</select>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Slutdatum</strong><br />
						<select name="anstallningar_to_year" class="form">
							<option value="_empty">- År -</option>
							{functions:loop from="{functions:year/}" to="1900"}<option value="{functions:item get='index'/}"{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='to_year' value='{functions:item get='index'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='index'/}</option>{/functions:loop}
						</select>
						<select name="anstallningar_to_month" class="form">
							<option value="_empty">- Månad -</option>
							{functions:months}<option value="{functions:item get='number'/}"{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='to_month' value='{functions:item get='number'/}' posted_first='true' return=' selected="selected"'/}>{functions:item get='name'/}</option>{/functions:months}
						</select>
					</div>
					
					<div class="platsbanken_lefter_row">
						<strong>Kommentarer</strong><br />
						<textarea class="form textarea" name="anstallningar_comments">{konto:profile index='{page:rurl index="3"/}' get='anstallningar' name='comments' posted_first='true'/}</textarea>
					</div>
					
					<div class="platsbanken_lefter_row">
						<input type="submit" class="button_green" name="anstallningar_submit" style="margin:0px;" value="SPARA ANSTÄLLNING" />
					</div>
					
					{/page:rurl}
			</form>
		</div>
	{/page:rurl}
	
	{page:rurl index="2" equals="bild"}
		<div class="platsbanken_navigation">
			<div class="platsbanken_navigation_left"><a href="/konto/mitt-cv/anstallningar">Tillbaka</a></div>
			<div class="platsbanken_navigation_right"></div>
		</div>
		{page:rurl index="3" empty="true"}
			{if:equals arg1="{konto:profile get='bild' name='step'/}" arg2="2"}{redirect:to url="/konto/mitt-cv/bild/crop"/}{/if:equals}
			{konto:update_profile success_redirect="/konto/mitt-cv/bild/crop"/}
			<form method="post" action="/{page:rurl/}" enctype="multipart/form-data">
				<table width="100%" border="0" cellspacing="5" cellpadding="5">
					<tr>
						<td colspan="2"><h2>Uppdatera Bild</h2></td>
					</tr>
					<tr>
						<td valign="top" width="200px">
							Ladda upp en ny bild<br />
							<input type="file" class="form" name="bild_image" id="bild_image" /><br />
							<input type="submit" class="form" name="bild_submit" value="Ladda upp" />
						</td>
						<td valign="top">
							Nuvarande bild<br />
							<img src="/public/images/users/{konto:profile_image /}" />
						</td>
					</tr>
				</table>
			</form>
		{/page:rurl}
		{page:rurl index="3" not_empty="true"}
			{konto:update_profile success_redirect="/konto/mitt-cv"/}
				<table width="100%" border="0" cellspacing="5" cellpadding="5">
					<tr>
						<td>
							<img src="/public/images/uploads/{konto:profile_image/}" id="target" />
							<div id="preview-pane">
								<div class="preview-container">
								  <img src="/public/images/uploads/{konto:profile_image/}" id="preview" alt="Preview" />
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<form onsubmit="return checkCoords();" method="post" action="/konto/mitt-cv/bild/crop">
								<input id="id" type="hidden" name="id" value="{konto:profile get='personuppgifter' name='profile_image'/}">
								<input id="x" type="hidden" name="x">
								<input id="y" type="hidden" name="y">
								<input id="w" type="hidden" name="w">
								<input id="h" type="hidden" name="h">
								<input class="btn btn-large btn-inverse" type="submit" name="bild_crop" value="Skala Bild">
							</form>
						</td>
					</tr>
				</table>
		{/page:rurl}
	{/page:rurl}
	
	{page:rurl index="2" empty="true"}
	
		<div class="platsbanken_navigation">
			<div class="platsbanken_navigation_left"></div>
			<div class="platsbanken_navigation_right"></div>
		</div>
		
		<img src="/public/images/admin/icons/save.png" />  Alla uppgifter är angivna, ditt CV är komplett!<br />
		<br />
		Du kan nu börja leta efter jobb på <a href="/platsbanken/arbetssokande">Platsbanken</a>.<br />
		<br />
		<hr size="1" width="100%" style="margin-top:10px;margin-bottom:10px;border:0px;border-bottom:1px #E1E1E1 solid;" />
		<br />
		<h2>Förhandsgranskning - <a href="/platsbanken/cv/{account:user get='id'/}/{functions:url_friendly string='{account:by_id id='{account:user get='id'/}' get='first_name'/}'/}-{functions:url_friendly string='{account:by_id id='{account:user get='id'/}' get='last_name'/}'/}">Visa mitt CV</a></h2>
		<br />
		{cv:load_profile id="{account:user get='id'/}" /}
		<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" width="150">
						<img src="/public/images/users/{cv:profile_image/}" height="150" width="130" title="Ikon" />
					</td>
					<td valign="top">
						<h2>{account:by_id id='{cv:item get='account_id'/}' get='first_name'/} {account:by_id id='{cv:item get='account_id'/}' get='last_name'/}</h2>
						<b>Ålder:</b> {cv:age/}<br />
						<b>Ort:</b> {cv:item get='city'/}, {cv:item get='county'/}<br />
						<br />
						<br />
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td><h3>Utbildningar</h3></td>
								<td></td>
							</tr>
							{cv:utbildningar}
							<tr>
								<td width="220px"><b>{cv:subitem get="school"/}</b></td>
								<td>{cv:subitem get="from_year"/}/{cv:subitem get="from_month"/} - {cv:subitem get="to_year"/}/{cv:subitem get="to_month"/}</td>
							</tr>
							<tr>
								<td colspan="2">{cv:subitem get="education_level"/} / {cv:subitem get="program"/}</td>
							</tr>
							<tr>
								<td colspan="2"><hr size="1" width="100%" style="margin-top:10px;margin-bottom:10px;border:0px;border-bottom:1px #E1E1E1 solid;" /></td>
							</tr>
							{/cv:utbildningar}
						</table>
						<br />
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td><h3>Anställningar</h3></td>
								<td></td>
							</tr>
							{cv:anstallningar}
							<tr>
								<td width="220px"><b>{cv:subitem get="company"/}</b></td>
								<td>{cv:subitem get="from_year"/}/{cv:subitem get="from_month"/} - {cv:subitem get="to_year"/}/{cv:subitem get="to_month"/}</td>
							</tr>
							<tr>
								<td colspan="2">{cv:subitem get="tasks"/}</td>
							</tr>
							<tr>
								<td colspan="2"><hr size="1" width="100%" style="margin-top:10px;margin-bottom:10px;border:0px;border-bottom:1px #E1E1E1 solid;" /></td>
							</tr>
							{/cv:anstallningar}
						</table>
						<br />
						
						<h3>Jobb Intressen</h3>
						{cv:categories}
							{cv:category/}<br />
						{/cv:categories}
						
						<hr size="1" width="100%" style="margin-top:10px;margin-bottom:10px;border:0px;border-bottom:1px #E1E1E1 solid;" />
						
						<h3>Kontaktuppgifter</h3>
						{permissions:check id="3" state="true" action="innerhtml"}
						<b>Email</b>: {cv:email/}<br />
						<b>Telefon</b>: {cv:item get='phone_number'/}<br />
						<b>Mobil</b>: {cv:item get='cell_number'/}<br />
						{/permissions:check}
						
						{permissions:check id="3" state="false" action="innerhtml"}
						Du måste vara en registrerad arbetsgivare för att ta del av kontaktuppgifter.<br />
						<br 7>
						<a href="#">Läs mer om registrerade arbetsgivare här</a>
						{/permissions:check}
						<br />
						
					</td>
				</tr>
			</table>
	{/page:rurl}
	
		</div>
	<div class="box_big_footer"></div>
</div>