<div class="box_big">
	<div class="box_big_header">Mitt Konto</div>
	<div class="box_big_content">
		<div style="width:100%;padding-left:100px;">
			<a href="/konto/mitt-cv">Mitt CV</a>
		</div>
	</div>
	<div class="box_big_footer"></div>
</div>