.autoexpand {
	border: 1px dashed limegreen;
	background: transparent;
	height: inherit;
	width: inherit;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 0px;
	margin: 0px;
	min-height: inherit;
}