{pager:set attr="items_per_page" value="9999"/}
{pager:set attr="page_index" value="2"/}
{pager:set attr="page_margin" value="2"/}
{pager:set attr="url" value="/platsbanken/arbetssokande/[ID]"/}
{pager:number_of_items value="{platsbanken:total_items/}"/}
{pager:divider} - {/pager:divider}
{pager:inactive}<a href="{pager:get attr='url'/}">[ID]</a>{/pager:inactive}
{pager:active}[<a href="{pager:get attr='url'/}">[ID]</a>]{/pager:active}
{pager:prefix}<a href="/platsbanken/arbetssokande/[FIRST]{page:rurl index='3' not_empty='true'}/{page:rurl index='3'/}{/page:rurl}">{lang:get string='_job_list_pager_first'/}</a> {/pager:prefix}
{pager:suffix} <a href="/platsbanken/arbetssokande/[LAST]{page:rurl index='3' not_empty='true'}/{page:rurl index='3'/}{/page:rurl}">{lang:get string='_job_list_pager_last'/}</a>{/pager:suffix}
{pager:previous} <a href="/platsbanken/arbetssokande/[PREVIOUS]{page:rurl index='3' not_empty='true'}/{page:rurl index='3'/}{/page:rurl}">{lang:get string='_job_list_pager_previous'/}</a> {/pager:previous}
{pager:next}  <a href="/platsbanken/arbetssokande/[NEXT]{page:rurl index='3' not_empty='true'}/{page:rurl index='3'/}{/page:rurl}">{lang:get string='_job_list_pager_next'/}</a> {/pager:next}

{template:area id="20" desc="title"}{lang:get string='_job_list_page_title'/}{/template:area}
{template:area id="21" desc="description"}{lang:get string='_job_list_page_description'/}{/template:area}
{template:area id="22" desc="keywords"}{lang:get string='_job_list_page_keywords'/}{/template:area}

<div class="box_big">
	<div class="box_big_header">{lang:get string='_job_list_news_title'/}</div>
	<div class="box_big_content" style="min-height:0px;">
	
		<div class="box_big_lefter">
			<div style="float:left;display:block;width:60%;height:75px;">
				{lang:get string='_job_list_news_description'/}
			</div>
			<div style="float:left;display:block;width:40%;height:75px;text-align:center;">
				<h3 style="font-size:13px !important;">Intresserad av att nå över 27.000 personer <br />
					i branschen med en platsannons?</h3><br />
				<a class="button_green" href="/annonsera" style="padding-top:10px;font-size:12px;">ANNONSERA I PLATSBANKEN</a>
			</div>
		</div>
		
		<div class="box_big_lefter">
			<form method="POST" action="/platsbanken/arbetssokande">
				<select name="platsbanken_categories">
					<option value="_all">ALLA KATEGORIER</option>
					{platsbanken:categories}
						<option value="{platsbanken:item get='id'/}"{platsbanken:selected_category id='{platsbanken:item get="id"/}' return=' selected="selected"'/}>{platsbanken:item get="name"/}</option>
					{/platsbanken:categories}
				</select>
				<select name="platsbanken_regions">
					<option value="_all">ALLA REGIONER</option>
					{platsbanken:regions}
						{if:equals arg1="{platsbanken:item get='name'/}" arg2="Danmark"}
						<option disabled>---------------</option>
						<option value="26">Norge</option>
						{/if:equals}
						
						{if:not_equals arg1="{platsbanken:item get='name'/}" arg2="Norge"}
						<option value="{platsbanken:item get='id'/}"{platsbanken:selected_region id='{platsbanken:item get="id"/}' return=' selected="selected"'/}>{platsbanken:item get="name"/}</option>
						{/if:not_equals}
						
						{if:equals arg1="{platsbanken:item get='name'/}" arg2="Övriga länder"}
						<option disabled>---------------</option>
						{/if:equals}
					{/platsbanken:regions}
				</select>
				<button name="platsbanken_submit" class="button_green" style="margin:0px;margin-left:10px;">SÖK</button>
			</form>
		</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>

{platsbanken:jobbannonser}
<div class="box_big_empty">
	<div class="box_big_empty_header"></div>
	<div class="box_big_empty_content" style="height:auto !important;">
		<div class="box_big_empty_icon" style="text-align:center;vertical-align:middle;">
			<a href="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string="{platsbanken:item get='title'/}"/}">
				<img style="max-width:150px;" src="/public/images/companies/{platsbanken:get_company company_id='{platsbanken:item get='company_id'/}' get='image_thumb'/}" title="{platsbanken:item get='title'/}" border="0" />
			</a>
		</div>
		<div class="box_big_empty_text">
			<div class="box_big_empty_text_title"><a href="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string="{platsbanken:item get='title'/}"/}" style="font-size:18px !important;">{platsbanken:item get="title"/}</a></div>
			<div class="box_big_empty_text_area" style="font-weight:normal !important;margin-right:-40px !important;"></div>
			<div class="box_big_empty_text_text" style="height:55px !important;padding-top:5px;display:block;margin-top:14px;">
				<a href="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string="{platsbanken:item get='title'/}"/}" style="color:#000000 !important;font-weight:normal !important;">{platsbanken:item get="description" remove_br="true" cut="250"/}...</a> <a href="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string="{platsbanken:item get='title'/}"/}">Läs mer</a>
				<br />
				<span style="color:#808080 !important;margin-top:10px;display:block;">{platsbanken:get_region get="name" id="{platsbanken:item get='region'/}"/} | {platsbanken:get_category get="name" id="{platsbanken:item get='category_id'/}"/}</span>
			</div>
			<div class="box_big_empty_text_readmore" style="margin-left:533px !important;margin-top:112px !important;"></div>
		</div>
	</div>
	<div class="box_big_empty_footer"></div>
</div>
{/platsbanken:jobbannonser}
