<div class="box_big">
	<div class="box_big_header">Platsbanken</div>
	<div class="box_big_content">

		<div class="box_big_lefter">
			<a href="/platsbanken/arbetssokande">Visa Jobb Annonser</a> | Visa CVn
		</div>
		
		<div class="big_box_divider"></div>
		
		<div class="box_big_lefter">
			Platsbanken uppdateras dagligen med nya och spännande jobb inom hotell-& restaurangbranschen.
		</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>


{platsbanken:arbetssokande}
<div class="box_big_empty">
	<div class="box_big_empty_header"></div>
	<div class="box_big_empty_content">
		<div class="box_big_empty_icon">
			<img src="/public/images/users/{platsbanken:profile_image/}" height="100" title="Ikon" />
		</div>
		<div class="box_big_empty_text">
			<div class="box_big_empty_text_title"><a href="/platsbanken/cv/{platsbanken:item get='account_id'/}/{functions:url_friendly string='{account:by_id id='{platsbanken:item get='account_id'/}' get='first_name'/}'/}-{functions:url_friendly string='{account:by_id id='{platsbanken:item get='account_id'/}' get='last_name'/}'/}">{account:by_id id="{platsbanken:item get='account_id'/}" get="first_name"/} {account:by_id id="{platsbanken:item get='account_id'/}" get="last_name"/}</a></div>
			<div class="box_big_empty_text_area">{platsbanken:get_region get="name" id="{platsbanken:item get='region'/}"/}</div>
			<div class="box_big_empty_text_text">{platsbanken:item get="description" cut="200" remove_br="true"/}</div>
			<div class="box_big_empty_text_readmore"><a href="/platsbanken/cv/{platsbanken:item get='account_id'/}/{functions:url_friendly string='{account:by_id id='{platsbanken:item get='account_id'/}' get='first_name'/}'/}-{functions:url_friendly string='{account:by_id id='{platsbanken:item get='account_id'/}' get='last_name'/}'/}">Läs mer</a></div>
		</div>
	</div>
	<div class="box_big_empty_footer"></div>
</div>
{/platsbanken:arbetssokande}