# H1 TITLE #
{template:area id="1"}
	Platsbanken
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/platsbanken.css" type="text/css" />
{/template:area}

# THE MIDDLE CONTENT AREA #
{template:area id="10"}

{cv:load_profile id="{page:rurl index='2'/}" /}
<div class="box_middle">
	<div class="box_middle_header">{lang:get string='_job_member_profile_title'/}</div>
	<div class="box_middle_content">
		
		<div class="box_middle_lefter">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="top" width="150">
						<img src="/public/images/users/{cv:profile_image/}" height="150" width="130" title="Ikon" />
					</td>
					<td valign="top">
						<h2>{account:by_id id='{cv:item get='account_id'/}' get='first_name'/} {account:by_id id='{cv:item get='account_id'/}' get='last_name'/}</h2>
						<b>{lang:get string='_job_member_profile_age'/}</b> {cv:age/}<br />
						<b>{lang:get string='_job_member_profile_city'/}</b> {cv:item get='city'/}, {cv:item get='county'/}<br />
						<br />
						<br />
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td colspan="2">
									{cv:item get='personal_letter'/}
								</td>
							</tr>
							<tr>
								<td colspan="2"><hr size="1" width="100%" style="margin-top:30px;margin-bottom:10px;border:0px;border-bottom:1px #E1E1E1 solid;" /></td>
							</tr>
							<tr>
								<td><h3>{lang:get string='_job_member_profile_degrees'/}</h3></td>
								<td></td>
							</tr>
							{cv:utbildningar}
							<tr>
								<td width="220px"><b>{cv:subitem get="school"/}</b></td>
								<td>{cv:subitem get="from_year"/}/{cv:subitem get="from_month"/} - {cv:subitem get="to_year"/}/{cv:subitem get="to_month"/}</td>
							</tr>
							<tr>
								<td colspan="2">{cv:subitem get="education_level"/} / {cv:subitem get="program"/}</td>
							</tr>
							<tr>
								<td colspan="2"><hr size="1" width="100%" style="margin-top:10px;margin-bottom:10px;border:0px;border-bottom:1px #E1E1E1 solid;" /></td>
							</tr>
							{/cv:utbildningar}
						</table>
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td><h3>{lang:get string='_job_member_profile_employments'/}</h3></td>
								<td></td>
							</tr>
							{cv:anstallningar}
							<tr>
								<td width="220px"><b>{cv:subitem get="company"/}</b></td>
								<td>{cv:subitem get="from_year"/}/{cv:subitem get="from_month"/} - {cv:subitem get="to_year"/}/{cv:subitem get="to_month"/}</td>
							</tr>
							<tr>
								<td colspan="2">{cv:subitem get="tasks"/}</td>
							</tr>
							<tr>
								<td colspan="2"><hr size="1" width="100%" style="margin-top:10px;margin-bottom:10px;border:0px;border-bottom:1px #E1E1E1 solid;" /></td>
							</tr>
							{/cv:anstallningar}
						</table>
						
						<h3>{lang:get string='_job_member_profile_job_interests'/}</h3>
						{cv:categories}
							{cv:category/}<br />
						{/cv:categories}
						
						<hr size="1" width="100%" style="margin-top:-3px;margin-bottom:10px;border:0px;border-bottom:1px #E1E1E1 solid;" />
						
						<h3>{lang:get string='_job_member_profile_contact_details'/}</h3>
						{permissions:check id="3" state="true" action="innerhtml"}
						<b>{lang:get string='_job_member_profile_contact_details_email'/}</b> {cv:email/}<br />
						<b>{lang:get string='_job_member_profile_contact_details_telephone'/}</b> {cv:item get='phone_number'/}<br />
						<b>{lang:get string='_job_member_profile_contact_details_mobile'/}</b> {cv:item get='cell_number'/}<br />
						{/permissions:check}
						
						{permissions:check id="3" state="false" action="innerhtml"}
						{lang:get string='_job_member_profile_need_to_have_a_registered_company'/}<br />
						<br />
						<a href="#">{lang:get string='_job_member_profile_read_more_about_companies_here'/}</a>
						{/permissions:check}
						<br />
						
					</td>
				</tr>
			</table>
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>
	
{/template:area}

# THE RIGHT CONTENT AREA #
{template:area id="11"}
	{template:file path="/public/master_templates/prenumerera_senaste.htm"/}
{/template:area}

# AFTER BODY TAG #
{template:area id="12"}
	
{/template:area}