{platsbanken:load_jobb_annons id="{page:rurl index='2'/}"/}

# H1 TITLE #
{template:area id="1"}
{/template:area}

# FACEBOOK SHARE IMAGE #
{template:area id="99"}<meta property="og:image" content="http://www.{page:server_name/}/public/images/jobbannonser/{platsbanken:item get='image_big'/}"/>{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/platsbanken.css" type="text/css" />
	<link rel="StyleSheet" href="/public/css/branschguiden.css" type="text/css" />
{/template:area}

{template:area id="13"}
<div style="display:block;width:900px;margin-top:13px;margin-bottom:5px;">
	<a href="/startsidan" style="font-weight:normal !important;">{lang:get string='_job_section_crumb_home'/}</a> > <a href="/platsbanken" style="font-weight:normal !important;">{lang:get string='_job_section_crumb_job_section'/}</a> > {platsbanken:item get='title'/}
</div>
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
	{template:area id="20" desc="title"}{platsbanken:item get='title'/} | {lang:get string='_job_section_advert_page_title'/}{/template:area}
	{template:area id="21" desc="description"}{platsbanken:item get="description" cut="128"/}. {lang:get string='_job_section_advert_page_description'/}{/template:area}
	{template:area id="22" desc="keywords"}{lang:get string='_job_section_advert_page_keywords'/}{/template:area}

	
{if:not_empty string="{platsbanken:item get='company_id'/}"}
<div class="box_small_2">
	<div class="box_small_header"></div>
	<div class="box_small_content" style="text-align:center;">
		<img style="max-width:169px;" src="/public/images/companies/{platsbanken:get_company company_id='{platsbanken:item get='company_id'/}' get='image_thumb'/}" title="{platsbanken:get_company company_id='{platsbanken:item get='company_id'/}' get='name'/}" alt="{platsbanken:get_company company_id='{platsbanken:item get='company_id'/}' get='name'/}" border="0" />
	</div>
	<div class="box_small_footer"></div>
</div>
{/if:not_empty}

<div class="box_small_2">
	<div class="box_small_header"></div>
	<div class="box_small_content">
		<b>{lang:get string='_job_section_last_day_to_apply'/}</b><br />
		{functions:date time='{platsbanken:item get="last_day"/}' date='Y-m-d'/}<br />
		
		{if:not_empty string="{platsbanken:item get='last_day_comment'/}"}
			<i>{platsbanken:item get='last_day_comment'/}</i>
			<br />
		{/if:not_empty}
		
		<br />
		
		<a class="button_green" href="{platsbanken:item get='extern_website'/}" target="_blank" style="overflow: hidden; width: 147px ! important; text-align: center; padding-top: 10px; font-size: 14px;">{lang:get string='_job_section_apply_for_the_job_button'/}</a><br />
		
	{admin_platsbanken:has_contacts state="true"}
		<br />
		<b>{lang:get string='_job_section_contact_persons'/}</b><br />
		
		{admin_platsbanken:get_contacts id="{platsbanken:item get='id'/}"}
			{admin_platsbanken:subitem get="name"/}<br />
			{admin_platsbanken:subitem get="telephone"/}<br />
			<a href="mailto:{admin_platsbanken:subitem get='contact_email'/}">{admin_platsbanken:subitem get="contact_email"/}</a><br />
			<br />
		{/admin_platsbanken:get_contacts}
	{/admin_platsbanken:has_contacts}
		
	{if:not_empty string="{platsbanken:item get='company_id'/}"}
		<br /><b>{lang:get string='_job_section_company'/}</b><br />
		{platsbanken:get_company company_id="{platsbanken:item get='company_id'/}" get="name"/}<br />
		<br />
		
		<b>{lang:get string='_job_section_address'/}</b><br />
		{platsbanken:get_company company_id="{platsbanken:item get='company_id'/}" get="street"/}<br />
		{platsbanken:get_company company_id="{platsbanken:item get='company_id'/}" get="zip"/} {platsbanken:get_company company_id="{platsbanken:item get='company_id'/}" get="city"/}<br />
		<br />
		
		<b>{lang:get string='_job_section_website'/}</b><br />
		<a href="{platsbanken:get_company company_id="{platsbanken:item get='company_id'/}" get="website" link="true"/}" target="_blank">{platsbanken:get_company company_id="{platsbanken:item get='company_id'/}" get="website"/}</a><br />
	{/if:not_empty}
		
	{if:not_empty string="{platsbanken:item get='added'/}"}
		<br /><b>{lang:get string='_job_section_added'/}</b><br />
		{date:unix_to_format unix='{platsbanken:item get="added"/}' format='Y-m-d'/}
	{/if:not_empty}
		
	</div>
	<div class="box_small_footer"></div>
</div>

{/template:area}
{template:area id="11"}

<div class="box_middle_2">
	<div class="box_middle_header"></div>
	<div class="box_middle_content">
		<h1 style="border-bottom:1px solid #a1a1a1;padding-bottom:15px;padding-top:5px;">{platsbanken:item get="title"/}</h1>
		<br />
		<b>{platsbanken:item get="intro" nl2br="true"/}</b><br />
		<br />
		{if:not_empty string="{platsbanken:item get='image_big'/}"}
		<span style="width:100%;text-align:center;display:block;">
			<img src="/public/images/jobbannonser/{platsbanken:item get='image_big'/}" border="0" name="{platsbanken:get_company company_id='{platsbanken:item get='company_id'/}' get='name'/}" alt="{platsbanken:get_company company_id='{platsbanken:item get='company_id'/}' get='name'/}" style="margin: auto;" />
		</span>
		<br />
		{/if:not_empty}
		<br />
		{platsbanken:item get="description"/}<br />
		<br />
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="50%">
					<iframe src="//www.facebook.com/plugins/like.php?href={page:url_encode/}&amp;width&amp;layout=button_count&amp;action=recommend&amp;show_faces=true&amp;share=true&amp;height=21&amp;" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
				</td>
				<td width="50%" align="right">
					<a href="/annonsera">{lang:get string='_job_section_advertise_in_job_sections'/}</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="box_middle_footer"></div>
</div>




<p style="margin-left:3px;margin-top:20px;margin-bottom:0px;">{functions:upper string='{lang:get string='_job_section_like_us_on_facebook'/}'/}</p>

<div class="box_middle_2">
	<div class="box_middle_header"></div>
	<div class="box_middle_content">
		<iframe src="{lang:get string='_job_section_facebook_url'/}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:523px; height:205px;" allowtransparency="true"></iframe>
	</div>
	<div class="box_middle_footer"></div>
</div>




<p style="margin-left:3px;margin-top:20px;margin-bottom:0px;">{functions:upper string='{lang:get string='_job_section_more_jobs'/}'/}</p>

{platsbanken:jobbannonser show_all="true" exclude="{platsbanken:item get='id'/}"}
<div class="box_middle_2">
	<div class="box_middle_header"></div>
	<div class="box_middle_content">
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td width="35%" valign="top" align="center">
					<a href="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string="{platsbanken:item get='title'/}"/}">
						<img title="ikon" style="max-width:150px !important;" src="/public/images/companies/{platsbanken:get_company company_id='{platsbanken:item get='company_id'/}' get='image_thumb'/}" border="0" />
					</a>
				</td>
				<td valign="top">
					<h2 style="margin-bottom:10px;"><a href="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string="{platsbanken:item get='title'/}"/}">{platsbanken:item get="title"/}</a></h2>
					<a style="font-weight:normal;color:#000000;" href="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string="{platsbanken:item get='title'/}"/}">
					{platsbanken:item get="description" cut="300" remove_br="true"/}... <b>Läs mer</b></a>
				</td>
			</tr>
		</table>
	</div>
	<div class="box_middle_footer"></div>
</div>
{/platsbanken:jobbannonser}

{/template:area}