# H1 TITLE #
{template:area id="1"}
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/platsbanken.css" type="text/css" />
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
{platsbanken:load_jobb_annons id="{page:rurl index='2'/}"/}

{template:area id="20" desc="title"}{platsbanken:item get='title'/} | Sök nu!{/template:area}
{template:area id="21" desc="description"}{platsbanken:item get="description" cut="128"/}. Sök redan idag! Se fler spännande jobb inom hotell- & restaurangbranschen på Hotell- & Restaurangtorget | Hrtorget.se{/template:area}
{template:area id="22" desc="keywords"}hotelljobb restaurangjobb kockjobb kock kockar personal bartenderjobb servitörjobb servitris chef hovmästare receptionistjobb bar platsbanken{/template:area}


<div class="box_big">
	<div class="box_big_header">Platsbanken - Jobb Annons</div>
	<div class="box_big_content">
	
		<div class="box_big_lefter">
			<h2>{annonser:company_info id="{platsbanken:item get='company_id'/}" get='name'/}</h2>
			{platsbanken:subitem get="description"/}
		</div>
		
		<div class="big_box_divider"></div>
		
		<div class="box_big_lefter">
			<h2>{platsbanken:item get="title"/}</h2>
			<table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td width="65%" valign="top">
						<img src="/public/images/jobbannonser/{platsbanken:item get='image_big'/}" title="Ikon" /><br />
						<br />
						{platsbanken:item get="description"/}
					</td>
					<td width="35%" valign="top" style="padding-left:10px;">
						<b>Upplagd:</b> 2013-02-06, 17:55<br />
						<br />
						<b>Företag:</b> {annonser:company_info id="{platsbanken:item get='company_id'/}" get='name'/}<br />
						<br />
						<b>Adress:</b><br />
						{annonser:company_info id="{platsbanken:item get='company_id'/}" get='street'/}<br />
						{annonser:company_info id="{platsbanken:item get='company_id'/}" get='zip'/} {annonser:company_info id="{platsbanken:item get='company_id'/}" get='city'/}<br />
						<br />
						<b>Hemsida:</b><br />
						<a href="{annonser:company_info id="{platsbanken:item get='company_id'/}" get='website'/}" target="_blank">{annonser:company_info id="{platsbanken:item get='company_id'/}" get='website'/}</a><br />
						
						{annonser:contact_persons index="{page:rurl index='2'/}"}
						<br /><b>Kontakt Person</b><br />
						Namn: {annonser:item get="name"/}<br />
						Telefon: {annonser:item get="telephone"/}<br />
						Email: {annonser:item get="email"/}<br />
						{/annonser:contact_persons}
					</td>
				</tr>
			</table>
		</div>
		
		<div class="big_box_divider"></div>
		
		<div class="box_big_lefter">
			<strong>Sista ansökningsdatum:</strong> {annonser:last_day index='{page:rurl index="2"/}' date='d'/} {functions:month number="{annonser:last_day index='{page:rurl index="2"/}' date='n'/}"/} {annonser:last_day index='{page:rurl index="2"/}' date='Y'/}<br />
			<br />
			{annonser:soon_last_day days="3" index='{page:rurl index="2"/}' state="not_out"}
				<font color="red">Sista ansökningsdatum löper snart ut!</font><br />
				<br />
			{/annonser:soon_last_day}
			{annonser:soon_last_day index='{page:rurl index="2"/}' state="out"}
				
			{/annonser:soon_last_day}
			<strong>Ansökning sker nedan:</strong><br />
			<br />
			
			{login:logged_in state="true"}
				{annonser:intresseanmalan status="empty"}
					{annonser:extern_website index='{page:rurl index="2"/}' state='empty'}
						<form method="post" action="/platsbanken/jobb-annons/{platsbanken:item get='id'/}/{functions:url_friendly string='{platsbanken:item get='title'/}'/}/intresseanmalan">
							<b>Rubrik:</b><br />
							<input type="text" class="text form wide" name="application_title" value="Intresseanmälan - {platsbanken:item get='title'/}"/><br />
							<br />
							<b>Ditt Meddelande:</b><br />
							<i>Utöver ditt CV som skickas automatiskt</i><br />
							<textarea class="textarea form wide" name="application_message"></textarea><br />
							<br />
							<input type="submit" class="button_green" style="margin:0px;" value="SKICKA ANSÖKAN" />
						</form>
					{/annonser:extern_website}
					
					{annonser:extern_website index='{page:rurl index="2"/}' state='not_empty'}
						<a href="{functions:proper_url url='{platsbanken:item get="extern_website"/}'/}" target="_blank">{functions:proper_url url='{platsbanken:item get="extern_website"/}'/}</a>
					{/annonser:extern_website}
				{/annonser:intresseanmalan}
				
				{annonser:intresseanmalan status="accepted"}
					Du har skickat en intresseanmälan på detta jobb!
				{/annonser:intresseanmalan}
				
				{annonser:intresseanmalan status="waiting"}
					Du har skickat en intresseanmälan på detta jobb!
				{/annonser:intresseanmalan}
				
				{annonser:intresseanmalan status="declined"}
					Du har skickat en intresseanmälan på detta jobb!
				{/annonser:intresseanmalan}
			{/login:logged_in}
			
			{login:logged_in state="false"}
				Vänligen registrera dig, för att skicka en intresseanmälan.<br />
				<br />
				<a href="#">Registrera mig</a>
			{/login:logged_in}
			
		</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>

	
{/template:area}