{template:area id="20" desc="title"}{branschguiden:from_url get='name'/} på Hotell- & Restaurangtorget{/template:area}
{template:area id="21" desc="description"}Få priser från flera leverantörer av {branschguiden:from_url get='name' lower='true'/} på Hotell- & Restaurangtorget{/template:area}
{template:area id="22" desc="keywords"}{branschguiden:from_url get='name' lower='true'/} offert restaurang cafe hotell stockholm göteborg malmö restaurangtorget{/template:area}



{branschguiden:check_request /}

<div style="position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:10007;background: url('public/js/jquery_ui/images/ui-bg_flat_0_aaaaaa_40x100.png') repeat-x scroll 50% 50% #AAAAAA;opacity: 0.3;display:none;" id="branschguiden_popup_background"></div>
<div class="box_small">
	<div class="box_small_header">{branschguiden:from_url get='name'/}</div>
	<div class="box_small_content">
		<a href="/branschguiden">Tillbaka till Branschguiden</a><br />
		
		<div class="box_small_divider"></div>

		{branschguiden:sublist id="{branschguiden:from_url get='id'/}" all="true"}
			<a href="/branschguiden/category/{branschguiden:from_url get='current_url'/}/{branschguiden:subitem get='current_url'/}" style="font-weight:normal !important;">
				{branschguiden:subitem get="name"/}
			</a><br />
			
			{branschguiden:sublist id="{branschguiden:subitem get='id'/}" all="true"}
				<span style="margin-left:25px;">
					<a href="/branschguiden/category/{branschguiden:from_url get='current_url'/}/{branschguiden:subitem get='current_url'/}" style="font-weight:normal !important;">
						{branschguiden:subitem get="name"/}
					</a>
				</span><br />
				
				{branschguiden:sublist id="{branschguiden:subitem get='id'/}" all="true"}
					<span style="margin-left:50px;">
						<a href="/branschguiden/category/{branschguiden:from_url get='current_url'/}/{branschguiden:subitem get='current_url'/}" style="font-weight:normal !important;">
							{branschguiden:subitem get="name"/}
						</a>
					</span><br />
				{/branschguiden:sublist}
			{/branschguiden:sublist}
		{/branschguiden:sublist}
	</div>
	<div class="box_small_footer"></div>
</div>

{template:area id="11"}

<div class="box_middle">
	<div class="box_middle_header">Skicka offertförfrågan till flera leverantörer samtidigt!</div>
	
	
	
	
	
	<div class="box_middle_content" id="request_form" style="display:none;">
		<form method="POST" action="?" id="request_form2" name="request_form">
		<h3>Antal leverantörer inom {branschguiden:from_url sub='true' get='name'/}: {branschguiden:get_total_companies category='{branschguiden:from_url sub='true' get='id'/}'/}st</h3>
		<div style="height:260px;">
			<input type="TEXT" rel="blur" name="request_name" id="request_name" class="text_half defaultTextActive" style="margin-right:18px;" value="Ditt namn" title="Ditt namn" />
			<input type="TEXT" rel="blur" name="request_email" id="request_email" class="text_half defaultTextActive" value="Epost" title="Epost" />

			<input type="TEXT" rel="blur" name="request_company_name" id="request_company_name" class="text_half defaultTextActive" style="margin-right:18px;" value="Företagsnamn" title="Företagsnamn" />
			<input type="TEXT" rel="blur"  name="request_telephone" id="request_telephone"class="text_half defaultTextActive" value="Telefon" title="Telefon" />
			<input type="TEXT" rel="blur"  name="request_title" id="request_title"class="text_whole defaultTextActive" value="Rubrik" title="Rubrik" />

			<textarea rel="blur"  name="request_text" id="request_text"class="text_whole defaultTextActive" title="Offertförfrågan">Offertförfrågan</textarea>
			
			<input type="SUBMIT" style="margin-top:18px;float:right;" class="button_green" id="request_submit" name="request_submit" value="SKICKA FÖRFRÅGAN" />
		</div>
        </form>
		
		<div id="valj_leverantor"></div>
		
		<div style="width:300px;border:0px;word-wrap:break-word;">
			Valda leverantörer:<br />
			<div id="choosen_suppliers">Inga leverantörer valda.</div>
		</div>
	</div>
	
	<div class="box_middle_content" id="request_form_empty">
		<h3>Antal leverantörer inom {branschguiden:from_url sub='true' get='name'/}: {branschguiden:get_total_companies category='{branschguiden:from_url sub='true' get='id'/}'/}st</h3>
		<div style="height:112px;">
			<textarea rel="blur" onFocus="switchForm();" class="text_whole defaultTextActive" style="height:30px;" title="Offertförfrågan">Offertförfrågan</textarea>
			
			<input type="SUBMIT" style="margin-top:18px;float:right;" class="button_green" onClick="switchForm();" value="SKICKA FÖRFRÅGAN" />
		</div>
	</div>
	
	
	
	
	
	<div class="box_middle_footer"></div>
</div>

{branschguiden:companies_in_category id="{branschguiden:from_url sub='true' get='id'/}"}
<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content">
		<div style="">
			<div class="box_empty_icon" style="text-align:center;">
				<a href="/branschguiden/leverantor/{functions:url_friendly string='{branschguiden:item get='name'/}'/}">
					<img src="/public/images/companies/{branschguiden:item get='image_big'/}" style="max-width:150px;max-height:100px;" title="{branschguiden:item get='name'/}" border="0" />
				</a>
			</div>
			<div class="box_empty_text">
				<div class="box_empty_text_title"><a href="/branschguiden/leverantor/{functions:url_friendly string='{branschguiden:item get='name'/}'/}">{branschguiden:item get='name'/}</a></div>
				<div class="box_empty_text_area2">
					<img src="/public/images/fa-offert.png" /> <input type="checkbox" name="request_companies[]" value="{branschguiden:item get='id'/}" title="{branschguiden:item get='name'/}" rel="offerts" />
					<br />
					<input type="BUTTON" class="green_button_contact_us contact_block_show" rel="contact_{branschguiden:item get='id'/}" value="Kontakta Oss" />
				</div>
				<div class="box_empty_text_text">
					
					<div style="position:relative;display: block; width: 235px; height: 107px;">
						<a href="/branschguiden/leverantor/{functions:url_friendly string='{branschguiden:item get='name'/}'/}" style="font-weight:normal;color:#000000;">
							{branschguiden:item get="description" remove_br="true"/}
						</a>
					</div>
					<div id="contact_{branschguiden:item get='id'/}" style="display: none;position:relative;background-color: #ffffff; margin-top: -107px; width: 235px; height: 107px; margin-left: 0px;">
						<h3>Kontakt Information</h3>
						Telefon: 035-123456<br />
						Mobil: 0701-123456<br />
						Epost: test@test.com
					</div>
					
				</div>
				<div class="box_empty_text_readmore"><a href="/branschguiden/leverantor/{functions:url_friendly string='{branschguiden:item get='name'/}'/}" target="_blank">Läs mer</a></div>
			</div>
		</div>
	</div>
	<div class="box_empty_footer"></div>
</div>
{/branschguiden:companies_in_category}

</form>
{/template:area}