{template:area id="2"}
<link rel="stylesheet" href="/public/css/map.css" type="text/css" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD1Vgfxtn0t8gt9LQQkIGitaxhWFGOSOMA&sensor=false"></script>
    <script type="text/javascript">
      var geocoder;
	  var map;
	  function initialize() {
		geocoder = new google.maps.Geocoder();
		var latlng = new google.maps.LatLng(56.670378, 12.861729);
		var mapOptions = {
		  zoom: 12,
		  center: latlng,
		  disableDefaultUI: true
		}
		map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		setColors();
		codeAddress();
		//setInfoBox();
	  }

	  function setColors() {
			var styles = [
			  {
				stylers: [
				  { saturation: -50 },
				  { lightness: 20 }
				]
			  },{
				featureType: "road",
				elementType: "geometry",
				stylers: [
				  { lightness: 60 },
				  { visibility: "simplified" }
				]
			  },{
				featureType: "road",
				elementType: "labels",
				stylers: [
				  { visibility: "off" }
				]
			  }
			];
		
		map.setOptions({styles: styles});
	  }

	  function codeAddress() {
	  
		var contentString = '<div id="content" style="width:300px;text-align:center;">'+
		  '<div id="siteNotice">'+
		  '</div>'+
		  '<h1 id="firstHeading" class="firstHeading" style="font-size:12px;">{branschguiden:item get="name"/}</h1>'+
		  '<div id="bodyContent" style="padding-bottom:10px;">'+
		  '<img style="width:169px;" src="/public/images/companies/{branschguiden:item get="image_big"/}" title="{branschguiden:item get="name"/}" border="0" />' +
		  '</div>'+
		  '</div>';

		var infowindow = new google.maps.InfoWindow({
		  content: contentString
		});
	  
		var address = "{branschguiden:item get='street'/} {branschguiden:item get='zip'/} {branschguiden:item get='city'/}";
		geocoder.geocode( { 'address': address}, function(results, status) {
		  if (status == google.maps.GeocoderStatus.OK) {
			map.setCenter(results[0].geometry.location);
			var marker = new google.maps.Marker({
				icon: "/public/images/KART-ICON6.png",
				map: map,
				position: results[0].geometry.location
			});
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map,marker);
			});
		  } else {
			/* alert("Geocode was not successful for the following reason: " + status); */
		  }
		});
	  }

	  var highlight;
	  function highlight(highlight) {
		if(highlight == "true") {
			var styles = [
			  {
				stylers: [
				  { saturation: -50 },
				  { lightness: 20 }
				]
			  },{
				featureType: "road",
				elementType: "geometry",
				stylers: [
				  { lightness: 60 },
				  { visibility: "simplified" }
				]
			  },{
				featureType: "road",
				elementType: "labels",
				stylers: [
				  { visibility: "off" }
				]
			  }
			];
		}
		else {
			var styles = [
			  {
				stylers: [
				  { saturation: -100 },
				  { lightness: 60 }
				]
			  },{
				featureType: "road",
				elementType: "geometry",
				stylers: [
				  { lightness: 60 },
				  { visibility: "simplified" }
				]
			  },{
				featureType: "road",
				elementType: "labels",
				stylers: [
				  { visibility: "off" }
				]
			  }
			];
		}
		
		map.setOptions({styles: styles});
	  }
	  
	  
	  var zoomed = 12;
	  function zoom(zooming) {
		if(zooming == "out") {
			zoomed = zoomed - 1;
		}
		else {
			zoomed = zoomed + 1;
		}
		
		map.setOptions({zoom: zoomed});
	  }

	  $(document).ready(function(){
			initialize();
	  });

	function toggleContactBox() {
		$("#contactBox").toggle();
		$("#mainBox").toggle();
	}

    </script>
{/template:area}

{branschguiden:load_company url_friendly="{page:rurl index='2'/}"/}

{template:area id="20" desc="title"}{branschguiden:item get='name'/} | Välkommen till {branschguiden:item get='name'/}{/template:area}
{template:area id="21" desc="description"}{branschguiden:item get='name'/} | Här hittar du hemsida, e-post, öppettider, telefon och övriga kontaktuppgifter till {branschguiden:item get='name'/}.{/template:area}
{template:area id="22" desc="keywords"}{branschguiden:item get='name'/} hemsida telefon adress företagsinfo fax mail e-post websida kontaktuppgifter öppettider hotell restaurang torget{/template:area}



<div class="box_small_2">
	<div class="box_small_header"></div>
	<div class="box_small_content" style="text-align:center;vertical-align:middle;">
		<a href="{branschguiden:item get='website' link='true'/}" target="_blank" rel="nofollow">
			<img style="max-width:150px;" src="/public/images/companies/{branschguiden:item get='image_big'/}" title="{branschguiden:item get='name'/}" border="0" />
		</a>
	</div>
	<div class="box_small_footer"></div>
</div>

<div class="box_small_2">
	<div class="box_small_header"></div>
	<div class="box_small_content" style="word-wrap: break-word;overflow: hidden;">
		<a href="javascript:void(0)" class="button_green kontakta_oss_button" style="width:147px;font-size:17px;padding-top:12px;text-align:center;" onClick="toggleContactBox()">KONTAKTA OSS</a><br />
		<br />
		<b>Hemsida:</b><br /><a href="{branschguiden:item get='website' link='true'/}" target="_blank" rel="nofollow">{branschguiden:item get="website"/}</a>

		
		{admin_foretag:company_websites company_id="{branschguiden:item get='id'/}"}
			<br /><a href="{admin_foretag:subitem get='website' link='true'/}" target="_blank" rel="nofollow">{admin_foretag:subitem get='website'/}</a>
		{/admin_foretag:company_websites}
		
		<br />
		<br />
		
		{if:not_empty string="{branschguiden:item get='facebook' link='true'/}"}
		<b>Facebook:</b><br /><a href="{branschguiden:item get='facebook' link='true'/}" target="_blank" rel="nofollow">{branschguiden:item get="facebook"/}</a><br />
		<br />
		{/if:not_empty}
		{if:not_empty string="{branschguiden:item get='twitter' link='true'/}"}
		<b>Twitter:</b><br /><a href="{branschguiden:item get='twitter' link='true'/}" target="_blank" rel="nofollow">{branschguiden:item get="twitter"/}</a><br />
		<br />
		{/if:not_empty}
		<b>Huvudkontor:</b><br />
		{branschguiden:item get="street"/}<br />
		{branschguiden:item get="zip"/} {branschguiden:item get="city"/}<br />
		
	{admin_foretag:company_addresses company_id="{branschguiden:item get='id'/}"}
		
		<br /><b>{admin_foretag:subitem get='section'/}:</b><br />
		{admin_foretag:subitem get='street' /}<br />
		{admin_foretag:subitem get='zip'/} {admin_foretag:subitem get='city'/}<br />
		
	{/admin_foretag:company_addresses}
		
		<br />
		{if:not_empty string="{branschguiden:item get='fax'/}"}
		<b>Fax:</b><br />{branschguiden:item get="fax"/}<br />
		<br />
		{/if:not_empty}
		<b>Kategorier:</b><br />
		
		{branschguiden:sorted_company_categories}
			<a style="font-weight:normal;color:#b8b8b8;" href="/branschguiden/category/{branschguiden:is_child}{branschguiden:parent_cat parent='{branschguiden:is_child get_parent='true'/}' get='name'/}/{/branschguiden:is_child}{branschguiden:subitem get='current_url'/}">{branschguiden:subitem get="name"/}</a><br />
		{/branschguiden:sorted_company_categories}
		
	</div>
	<div class="box_small_footer"></div>
</div>

{template:area id="11"}

<div class="box_middle_2" id="contactBox" style="display:none;">
	<div class="box_middle_header"></div>
	<div class="box_middle_content">
		<div style="float:right;">
			<a href="javascript:void(0);" onClick="toggleContactBox()">STÄNG</a>
		</div>
		
		<h1 style="border-bottom:1px solid #a1a1a1;padding-bottom:15px;padding-top:5px;">Kontakta {branschguiden:item get='name'/}</h1>
		<br />
		{if:not_empty string="{branschguiden:item get='telephone'/}"}
			Telefon:<br />
			<br />
			<font style="font-size:24px;font-weight:bold;line-height:30px;">{branschguiden:item get='telephone'/}</font><br />
		{/if:not_empty}
		
		{admin_foretag:company_telephones company_id="{branschguiden:item get='id'/}"}
			<font style="font-size:24px;font-weight:bold;line-height:30px;">{admin_foretag:subitem get='telephone'/}</font><br />
		{/admin_foretag:company_telephones}
		
		{if:not_empty string="{branschguiden:item get='mobile'/}"}
			<br />
			<br />
			Mobil:<br />
			<br />
			<font style="font-size:24px;font-weight:bold;line-height:30px;">{branschguiden:item get='mobile'/}</font><br />
		{/if:not_empty}
		
		{admin_foretag:company_mobiles company_id="{branschguiden:item get='id'/}"}
			<font style="font-size:24px;font-weight:bold;line-height:30px;">{admin_foretag:subitem get='mobile'/}</font><br />
		{/admin_foretag:company_mobiles}
		
		{if:not_empty string="{branschguiden:item get='contact_mail'/}"}
			<br />
			Epost:<br />
			<br />
			<a href="mailto:{branschguiden:item get='contact_mail'/}">
				<font style="font-size:24px;font-weight:bold;">{branschguiden:item get='contact_mail'/}</font>
			</a>
		{/if:not_empty}
		<br />
		<br />
	</div>
	<div class="box_middle_footer"></div>
</div>



<div class="box_middle_2" id="mainBox">
	<div class="box_middle_header"></div>
	<div class="box_middle_content" style="max-height:450px;overflow:hidden;" id="expandDescriptionBox">
		<h1 style="border-bottom:1px solid #a1a1a1;padding-bottom:15px;padding-top:5px;">{branschguiden:item get="name"/}</h1>
		<br />
		{branschguiden:item get="description" popup="true"/}
	</div>
	<div class="box_middle_content" id="expandDescriptionBoxen" style="text-align:right;min-height:0px !important;padding-right:10px;width:525px !important;">
		<a href="javascript:void(0)" id="expandDescription" onClick="expandDescription();">Läs mer</a>
	</div>
	<div class="box_middle_footer"></div>
</div>


{startpage:branschnyheter id="{branschguiden:item get='id'/}" not_empty="true"}
<p style="margin-left:3px;margin-top:20px;margin-bottom:0px;">{functions:upper string='NYHETER FRÅN {branschguiden:item get="name"/}'/}</p>

{startpage:branschnyheter id="{branschguiden:item get='id'/}"}
<div class="box_middle_2">
	<div class="box_middle_header"></div>
	<div class="box_middle_content">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top" style="padding-right:20px;width:133px;padding-top:3px;" align="center">
					<img src="/public/images/branschnyheter/{startpage:get_image return="image_thumb" branschnyheter_id="{startpage:item get='id'/}" index="1"/}" alt="{branschguiden:item get='name'/} - {startpage:item get='title'/}" title="{branschguiden:item get='name'/} - {startpage:item get='title'/}" />
				</td>
				<td valign="top">
					<h2><a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" class="black_link" target="_blank">{startpage:item get="id"/}</a></h2>
					<a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" class="black_link" target="_blank" style="font-weight:normal !important;">{startpage:item get="breadcrumb" nl2br="true" remove_br="true" cut="200" /}</a>... <a href="/nyheter/{startpage:item get='id'/}/{functions:url_friendly string="{startpage:item get='title'/}"/}" target="_blank">Läs mer</a></p>
					
				</td>
			</tr>
		</table>
	</div>
	<div class="box_middle_footer"></div>
</div>
{/startpage:branschnyheter}
{/startpage:branschnyheter}


{startpage:products id="{branschguiden:item get='id'/}" not_empty="true"}
<p style="margin-left:3px;margin-top:20px;margin-bottom:5px;">{functions:upper string='PRODUKTER FRÅN {branschguiden:item get="name"/}'/}</p>

{startpage:products id="{branschguiden:item get='id'/}"}
<div class="box_middle_2">
	<div class="box_middle_header"></div>
	<div class="box_middle_content">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top" style="padding-right:20px;width:133px;padding-top:3px;" align="center">
					<a href="{startpage:subitem get='link' link='true'/}" target="_blank">
						<img src="/public/images/products/{startpage:subitem get='image_thumb'/}" alt="{branschguiden:item get='name'/} | {startpage:item get='title'/}" title="{branschguiden:item get='name'/} | {startpage:item get='title'/}" />
					</a>
				</td>
				<td valign="top">
					<h2><strong><a href="{startpage:subitem get='link' link='true'/}" target="_blank">{startpage:subitem get="title"/}</a></strong></h2>
					<a href="{startpage:subitem get='link' link='true'/}" style="font-weight:normal;color:#000000;" target="_blank">{startpage:subitem get="description" nl2br="true" remove_br="true" cut="200" /}</a>... <a href="{startpage:subitem get='link' link='true'/}" target="_blank">Läs mer</a></p>
				</td>
			</tr>
		</table>
	</div>
	<div class="box_middle_footer"></div>
</div>
{/startpage:products}
{/startpage:products}




<p style="margin-left:3px;margin-top:20px;margin-bottom:5px;">{functions:upper string='{branschguiden:item get="name"/} PÅ KARTAN'/}</p>

<div class="box_middle_2">
	<div style="padding-top:20px;padding-bottom:20px;margin-left:auto;margin-right:auto;width:520px;height:400px;position:relative;">
		<div class="zoom-controls">
			<button class="zoom-in" onClick="zoom('in')">+</button>
			<button class="zoom-out" onClick="zoom('out')">-</button>
		</div>
		<div id="map-canvas"></div>
	</div>
</div>




<p style="margin-left:3px;margin-top:20px;margin-bottom:5px;">{functions:upper string='TAGGAR FÖR {branschguiden:item get="name"/}'/}</p>

<div class="box_middle_2">
	{branschguiden:get_tags}
		<div class="company_tag"><h3 style="margin:0px !important;">{branschguiden:get_this_tag/}</h3></div>
	{/branschguiden:get_tags}
</div>

{/template:area}