{template:area id="20" desc="title"}Branschguiden - All utrustning, inredning, maskiner & tjänster för hotell , restaurang, storkök  & café{/template:area}
{template:area id="21" desc="description"}Hotell- & restaurangbranschen är en djungel av leverantörer. I Branschguiden har vi samlat 400 leverantörer så att du enkelt hittar allt utrustning, maskiner, inredning & allt annat du kan tänkas behöva till din rörelse{/template:area}
{template:area id="22" desc="keywords"}utrustning inredning leverantörer grossister maskiner branschguiden hotell restaurang cafe storkök offert{/template:area}

<div class="box_big">
	<div class="box_big_header" style="text-align:center !important;">All utrustning, inredning, produkter & tjänster under samma tak!</div>
	<div class="box_big_content">
		<div style="margin-left:106px;text-align:center;width:73%;">
		Hotell- & restaurangbranschen är en djungel av leverantörer. Här har vi samlat ca 400 leverantörer så att du enkelt hittar allt du kan tänkas behöva till din rörelse under ett och samma tak.<br />
		<br />
		<a href="/annonsera" class="button_green" style="padding-top:10px;font-size:12px;">Klicka här om du är leverantör och vill synas i Branschguiden.</a>
		</div>
		
		<div class="big_box_divider"></div>
		
		<table style="width:100%" cellpadding="0" cellspacing="0">
			<tr>
				<td width="33%" valign="top">
					{branschguiden:list column="1"}
					<div class="column"{branschguiden:has_image state='true'} style="background-image:url(/public/images/branschguiden/{branschguiden:item get='image'/})"{/branschguiden:has_image}>
						<div class="title"><a href="/branschguiden/category/{branschguiden:item get='current_url'/}" style="color:#000000"><b>{branschguiden:item get="name"/}</b></a></div>
						<div class="list">
							<ul>
								{branschguiden:sublist id="{branschguiden:item get='id'/}"}<li><a href="/branschguiden/category/{branschguiden:item get='current_url'/}/{branschguiden:subitem get='current_url'/}">{branschguiden:subitem get="name"/}</a></li>{/branschguiden:sublist}
							</ul>
							<a href="/branschguiden/category/{branschguiden:item get='current_url'/}" style="color:grey;font-weight:normal;margin-left:60px;"><i>Visa alla underkategorier...</i></a>
						</div>
					</div>
					{/branschguiden:list}
				</td>
				<td width="33%" valign="top">
					{branschguiden:list column="2"}
					<div class="column"{branschguiden:has_image state='true'} style="background-image:url(/public/images/branschguiden/{branschguiden:item get='image'/})"{/branschguiden:has_image}>
						<div class="title"><a href="/branschguiden/category/{branschguiden:item get='current_url'/}" style="color:#000000"><b>{branschguiden:item get="name"/}</b></a></div>
						<div class="list">
							<ul>
								{branschguiden:sublist id="{branschguiden:item get='id'/}"}<li><a href="/branschguiden/category/{branschguiden:item get='current_url'/}/{branschguiden:subitem get='current_url'/}">{branschguiden:subitem get="name"/}</a></li>{/branschguiden:sublist}
							</ul>
							<a href="/branschguiden/category/{branschguiden:item get='current_url'/}" style="color:grey;font-weight:normal;margin-left:60px;"><i>Visa alla underkategorier...</i></a>
						</div>
					</div>
					{/branschguiden:list}
				</td>
				<td width="33%" valign="top">
					{branschguiden:list column="3"}
					<div class="column"{branschguiden:has_image state='true'} style="background-image:url(/public/images/branschguiden/{branschguiden:item get='image'/})"{/branschguiden:has_image}>
						<div class="title"><a href="/branschguiden/category/{branschguiden:item get='current_url'/}" style="color:#000000"><b>{branschguiden:item get="name"/}</b></a></div>
						<div class="list">
							<ul>
								{branschguiden:sublist id="{branschguiden:item get='id'/}"}<li><a href="/branschguiden/category/{branschguiden:item get='current_url'/}/{branschguiden:subitem get='current_url'/}">{branschguiden:subitem get="name"/}</a></li>{/branschguiden:sublist}
							</ul>
							<a href="/branschguiden/category/{branschguiden:item get='current_url'/}" style="color:grey;font-weight:normal;margin-left:60px;"><i>Visa alla underkategorier...</i></a>
						</div>
					</div>
					{/branschguiden:list}
				</td>
			</tr>
		</table>
	</div>
	<div class="box_big_footer"></div>
</div>