{page:rurl index="1" equals="branschguiden"}
<div id="branschguiden_popup" style="display:none;">
	<div id="branschguiden_popup_1" style="width:100%;height:100%;position:absolute;top:0px;left:0px;z-index:99998;background-image:url('/public/images/popup-svart-genomskinlig-ruta-80.png');">
	</div>

	<div id="branschguiden_popup_2" style="position:absolute;top:334px;left:10%;z-index:99999;">
		<div id="branschguiden_popup_close" onClick="dontShowPopupAgain();closePopup();"></div>
		<img src="/public/images/popup-branschguiden-forfragan-forklaring-utan-bakgrund3.png" border="0" />
	</div>
</div>
{/page:rurl}