{template:area id="1"}

{/template:area}

{template:area id="2"}
	
	<script language="JavaScript">
		jQuery("document").ready(function($) {
			$('.inhamtning_clicked').click(function() {
				$('.inhamtning_loader').css('display','inline');
			});
		});
	</script>
	
	<div style="padding:15px;">
		<a href="http://www.{page:server_name/}/cronjobz/cron_idrelay_api.php?redirect=true">Skicka nya emails till IDRelay ({cronjobs:new_emails/})</a><br />
		<br />
		<a class="inhamtning_clicked" href="http://www.{page:server_name/}/inhamtning/run_inhamtning.php?redirect=true">Köp & Sälj - Inhämtnings Script</a> <img class="inhamtning_loader" src="/public/images/loader.gif" border="0" style="display:none;" /><br />
		<font color="grey"><i>Kan ta tid att ladda, så låt den ladda klart.</i></font><br />
		<br />
	
	</div>
	
{/template:area}