{template:area id="20" desc="title"}Till salu | {kop_salj:item get="title"/} till salu{/template:area}
{template:area id="21" desc="description"}{kop_salj:item get="description" cut="128"/} | Hotell- & Restaurangtorget{/template:area}
{template:area id="22" desc="keywords"}Till salu restaurang resturang hotell caféer kafe natt klubb pizzeria bar begagnad utrustning köpes säljes{/template:area}



{template:area id="1337"}
	<link rel="stylesheet" type="text/css" href="/public/js/ad-gallery/jquery.ad-gallery.css">
	<script type="text/javascript" src="/public/js/ad-gallery/jquery.ad-gallery.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var imageLoaded = false;
			
			// Load the first image
			var wrapper = $("img.image-wrapper");
			var thumb = $("img.image0");
			var src = thumb.attr('src');
			
			new_img = new Image();
			new_img.onload = function() {
				var img_width  = this.width,
					img_heigth = this.height;
				
				wrapper.css({'width' : img_width+'px', 'height' : img_heigth+'px'});
				wrapper.attr('src', src);
			}
			new_img.src = src;
				
			// Assign the click event to the thumbnail images
			$('.gallery_thumbz').click(function() {
				var wrapper = $("img.image-wrapper");
				var thumb = $(this);
				var src = thumb.attr('src');
				wrapper.attr('src', src);
			});
		});
	</script>
{/template:area}

{template:area id="13"}
<div style="display:block;width:900px;margin-top:13px;margin-bottom:5px;">
	<a href="/till-salu" style="font-weight:normal !important;">Köp & Sälj</a> > <a style="font-weight:normal !important;" href="/till-salu/category/{kop_salj:category id='{kop_salj:item get='category'/}' get='url_friendly'/}/_all/1">{kop_salj:category id="{kop_salj:item get='category'/}"/}</a> > {kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/} (<a style="font-weight:normal !important;" href="javascript:void(0);" onClick="window.history.go(-1);">Gå tillbaka</a>)
</div>
{/template:area}

<div class="box_middle">
	<div class="box_middle_header_3"></div>
	<div class="box_middle_content" style="padding-top:0px !important;">

		<div class="box_middle_lefter">
			<h2 style="line-height:23px;margin-bottom:11px;">{kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/}</h2>

			<span style="margin-top:10px;margin-bottom:50px;">
			Upplagd: {functions:date time="{kop_salj:item get='added'/}" date="Y-m-d"/}
			</span>
			
			{kop_salj:images check="true"}
			<script type="text/javascript">
				
			</script>
			<div id="gallery" class="ad-gallery" style="margin-top:4px !important;">
				<div class="ad-image-wrapper" style="height:auto !important;"><img src="" class="image-wrapper" style="max-width:471px !important;max-height:400px !important;" onerror="this.src='/public/images/design/kamera.png'"/></div>
				<div class="ad-controlsREMOVE"></div>
				<div class="ad-nav">
					<div class="ad-thumbs">
						<ul class="ad-thumb-list">
						{kop_salj:images}
							<li>
									{if:not_exists string="{kop_salj:item get='image_1'/}" check="http"}
										{template:area id="99"}<meta property="og:image" content="http://www.{page:server_name/}/public/images/kop_salj/{kop_salj:image get='image'/}"/>
	{/template:area}
									<img width="80" height="60" src="/public/images/kop_salj/{kop_salj:image get='image'/}" class="image{kop_salj:image get='index'/} gallery_thumbz" onerror="this.src='/public/images/design/kamera.png'" />
									{/if:not_exists}
									{if:exists string="{kop_salj:item get='image_1'/}" check="http"}
										{template:area id="99"}<meta property="og:image" content="{kop_salj:image get='image'/}"/>
	{/template:area}
									<img width="80" height="60" src="{kop_salj:image get='image'/}" class="image{kop_salj:image get='index'/} gallery_thumbz" onerror="this.src='/public/images/design/kamera.png'" />
									{/if:exists}
							</li>
						{/kop_salj:images}
						</ul>
					</div>
				</div>
			</div>
			{/kop_salj:images}
			
			<br />
			<br />
			<h3>Pris: {kop_salj:item get="price"/}</h3>
			
			{kop_salj:item get="description"/}
			
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>


<div style="width:471px;background-color:#CFCED0;padding:20px;margin-bottom:10px;">
	<strong style="font-size:14px;">Mejla {kop_salj:item get='contact_name'/}</strong><br />
	<br />
	{login:logged_in state="true"}
	<form method="post" action="/{page:rurl/}" id="contact_form2">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top" width="155">
					<input style="width:130px !important;margin-bottom:10px;border:0px;" type="text" rel="blur" class="text form wide defaultTextActive" id="application_name" name="application_name" value="Ditt namn" title="Ditt namn" />
					<input style="width:130px !important;margin-bottom:10px;border:0px;" type="text" rel="blur" class="text form wide defaultTextActive" id="application_email" name="application_email" value="Din email" title="Din email" />
					<input style="width:130px !important;margin-bottom:10px;border:0px;" type="text" rel="blur" class="text form wide defaultTextActive" id="application_telephone" name="application_telephone" value="Ditt telefonnummer" title="Ditt telefonnummer" />
				</td>
				<td valign="top">
					<textarea style="border:0px;height:96px;margin-top: 0;" class="textarea form wide defaultTextActive" rel="blur" name="application_message" title="Ditt Meddelande">Ditt Meddelande</textarea><br />
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<div id="contact_error" style="padding-top:10px;color:#000;font-weight:bold;"></div>
				</td>
			</tr>
			<tr>
				<td align="right" colspan="2">
					<input type="submit" class="button_green" style="margin:0px;" name="application_submit" value="SKICKA" />
				</td>
			</tr>
		</table>
	</form>
	{/login:logged_in}
	
	{login:logged_in state="false"}
	<form method="post" action="/{page:rurl/}" id="contact_form2">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td valign="top" width="155">
					<input style="width:130px !important;margin-bottom:10px;border:0px;" type="text" rel="blur" class="text form wide defaultTextActive" id="application_name" name="application_name" value="Ditt namn" title="Ditt namn" />
					<input style="width:130px !important;margin-bottom:10px;border:0px;" type="text" rel="blur" class="text form wide defaultTextActive" id="application_email" name="application_email" value="Din email" title="Din email" />
					<input style="width:130px !important;margin-bottom:10px;border:0px;" type="text" rel="blur" class="text form wide defaultTextActive" id="application_telephone" name="application_telephone" value="Ditt telefonnummer" title="Ditt telefonnummer" />
				</td>
				<td valign="top">
					<textarea style="border:0px;height:96px;margin-top: 0;" class="textarea form wide defaultTextActive" rel="blur" name="application_message" title="Ditt Meddelande">Ditt Meddelande</textarea><br />
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2">
					<div id="contact_error" style="padding-top:10px;color:#000;font-weight:bold;"></div>
				</td>
			</tr>
			<tr>
				<td align="right" colspan="2">
					<input type="submit" class="button_green" style="margin:0px;" name="application_submit" value="SKICKA" />
				</td>
			</tr>
		</table>
	</form>
	{/login:logged_in}
</div>




<div class="box_middle">
	<div class="box_middle_header_3"></div>
	<div class="box_middle_content">

		<div class="box_middle_lefter">
		
			<b>Annonsör:</b><br />
			Ansvarig annonsör:<br />
			{kop_salj:item get="contact_name"/} {kop_salj:item get="contact_phone_1"/}<br />
			e-post: <a href="mailto:{kop_salj:item get='contact_email'/}">{kop_salj:item get="contact_email"/}</a><br />
		
		{if:not_empty string="{kop_salj:item get='contact_phone_2'/}"}
			<br />
			eller<br />
			{kop_salj:item get="contact_phone_2"/}
		{/if:not_empty}
			
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>