{template:area id="20" desc="title"}Till salu | {kop_salj:item get="title"/} till salu{/template:area}
{template:area id="21" desc="description"}{kop_salj:item get="description" cut="128"/} | Hotell- & Restaurangtorget{/template:area}
{template:area id="22" desc="keywords"}Till salu restaurang resturang hotell caféer kafe natt klubb pizzeria bar begagnad utrustning köpes säljes{/template:area}

{template:area id="13"}
<div style="display:block;width:900px;margin-top:13px;margin-bottom:5px;">
	<a href="/till-salu">Köp & Sälj</a> > <a href="/till-salu/category/{kop_salj:category id='{kop_salj:item get='category'/}' get='url_friendly'/}/{kop_salj:region id='{kop_salj:item get='region'/}' get='url_friendly'/}">{kop_salj:category id="{kop_salj:item get='category'/}"/}</a> > {kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/} (<a href="javascript:void(0);" onClick="window.history.go(-1);">Gå tillbaka</a>)
</div>
{/template:area}

<div class="box_middle">
	<div class="box_middle_header_3"></div>
	<div class="box_middle_content">

		<div class="box_middle_lefter">
			<h2>{kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/}</h2>
			
			<div id="gallery" class="ad-gallery">
				<div class="ad-image-wrapper"></div>
				<div class="ad-controlsREMOVE"></div>
				<div class="ad-nav">
					<div class="ad-thumbs">
						<ul class="ad-thumb-list">
						{kop_salj:images}
							<li>
									{if:not_exists string="{kop_salj:item get='image_1'/}" check="http"}
									<a href="/public/images/kop_salj/{kop_salj:image get='image'/}">
										<img width="80" height="60" src="/public/images/kop_salj/{kop_salj:image get='image'/}" class="image{kop_salj:image get='index'/}">
									</a>
									{/if:not_exists}
									{if:exists string="{kop_salj:item get='image_1'/}" check="http"}
									<a href="{kop_salj:image get='image'/}">
										<img width="80" height="60" src="{kop_salj:image get='image'/}" class="image{kop_salj:image get='index'/}">
									</a>
									{/if:exists}
							</li>
						{/kop_salj:images}
						</ul>
					</div>
				</div>
			</div>
			<br />
			<br />
			<h2>Pris: {kop_salj:item get="price"/}</h2>
			<br />
			
			<table width="100%" cellpadding="3" cellspacing="5" border="0">
				<tr>
					<td width="70%" valign="top" style="line-height:16px;">
						{kop_salj:item get="description"/}
					</td>
					<td width="30%" valign="top" style="line-height:20px;">
						<strong>Upplagd:</strong><br />
						{functions:date time="{kop_salj:item get='added'/}" date="Y-m-d, H:i"/}<br />
						<strong>Pris:</strong> {kop_salj:item get="price"/}<br />
						<strong>Ort:</strong> {kop_salj:item get="city"/}<br />
						<strong>Region:</strong> {kop_salj:region id="{kop_salj:item get='region'/}"/}<br />
						<strong>Kontaktperson:</strong><br />
						{kop_salj:item get="contact_name"/}<br />
						<strong>Tele 1:</strong> {kop_salj:item get="contact_phone_1"/}<br />
						<strong>Tele 2:</strong> {kop_salj:item get="contact_phone_2"/}
					</td>
				</tr>
			</table><br />
			<br />
			<strong>Skicka meddelande till säljaren:</strong><br />
			<br />
			{login:logged_in state="true"}
			<form method="post" action="/{page:rurl/}" id="contact_form2">
				<input type="text" rel="blur" class="text form wide defaultTextActive" id="application_name" name="application_name" value="Ditt namn" title="Ditt namn" /><br />
				<br />
				<input type="text" rel="blur" class="text form wide defaultTextActive" id="application_email" name="application_email" value="Din email" title="Din email" /><br />
				<br />
				<input type="text" rel="blur" class="text form wide defaultTextActive" id="application_telephone" name="application_telephone" value="Ditt telefonnummer" title="Ditt telefonnummer" /><br />
				<br />
				<textarea class="textarea form wide defaultTextActive" rel="blur" name="application_message" title="Ditt Meddelande">Ditt Meddelande</textarea><br />
				<br />
				<div id="contact_error" style="padding-top:10px;color:orange;font-weight:bold;"></div>
				<br />
				<input type="submit" class="button_green" style="margin:0px;" name="application_submit" value="SKICKA MEDDELANDE" />
			</form>
			{/login:logged_in}
			
			{login:logged_in state="false"}
			<form method="post" action="/{page:rurl/}" id="contact_form2">
				<input type="text" rel="blur" class="text form wide defaultTextActive" id="application_name" name="application_name" value="Ditt namn" title="Ditt namn" /><br />
				<br />
				<input type="text" rel="blur" class="text form wide defaultTextActive" id="application_email" name="application_email" value="Din email" title="Din email" /><br />
				<br />
				<input type="text" rel="blur" class="text form wide defaultTextActive" id="application_telephone" name="application_telephone" value="Ditt telefonnummer" title="Ditt telefonnummer" /><br />
				<br />
				<textarea class="textarea form wide defaultTextActive" rel="blur" name="application_message" title="Ditt Meddelande">Ditt Meddelande</textarea><br />
				<br />
				<div id="contact_error" style="padding-top:10px;color:orange;font-weight:bold;"></div>
				<br />
				<input type="submit" class="button_green" style="margin:0px;" name="application_submit" value="SKICKA MEDDELANDE" />
			</form>
			{/login:logged_in}
		</div>
		
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td style="border-right:1px solid #E1E1E1;width:122px;"><button class="button_green" style="margin:0px;" onClick="window.location='/till-salu'">TILLBAKA</button></td>
				</tr>
			</table>
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>