# H1 TITLE #
{template:area id="1"}
	Startsidan
{/template:area}

# SPECIFIC CSS FILES #
{template:area id="2"}
	<link rel="StyleSheet" href="/public/css/platsbanken.css" type="text/css" />
	<link rel="StyleSheet" href="/public/css/branschguiden.css" type="text/css" />
	<script type="text/javascript">
		var submit_disabled = false;
		var error_form = false;
		var popup_shown = false;
		
		$(document).ready(function() {
			$("#contact_form2").submit(function(){
				var valid = true;
				error_form = false;
				
				/* Check the form */
				if($('#application_name').val() == $('#application_name').attr('title')) {
					$("#application_name").addClass("request_error");
					valid = false;
					error_form = true;
				}
				else {
					$("#application_name").removeClass("request_error");
				}
				
				if($('#application_telephone').val() == $('#application_telephone').attr('title')) {
					$("#application_telephone").addClass("request_error");
					valid = false;
					error_form = true;
				}
				else {
					$("#application_telephone").removeClass("request_error");
				}
				
				if(!isValidEmailAddress($("#application_email").val())) {
					$("#application_email").addClass("request_error");
					valid = false;
					error_form = true;
				}
				else {
					$("#application_email").removeClass("request_error");
				}
				
				if(!valid) {
					$('#contact_error').html("Vänligen fyll i de obligatoriska fälten i formuläret ovan.");
				}
				else {
					$('#contact_error').html("");
				}
				
				return valid;
			});
		});
		
		function switchForm() {
			var old_form = document.getElementById("request_form_empty");
			old_form.style.display = "none";
			var new_form = document.getElementById("request_form");
			new_form.style.display = "block";
			document.forms['request_form'].elements['request_text'].focus();
		}
		
		function isValidEmailAddress(emailAddress) {
			var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
			return pattern.test(emailAddress);
		}
	</script>
	<style type="text/css">
		#gallery {
			padding: 0px;
			width: 471px;
		}
		#descriptions {
			position: relative;
			height: 50px;
			margin-top: 0px;
			width: 471px;
			padding: 0px;
			overflow: hidden;
		}
		#descriptions .ad-image-description {
			position: absolute;
		}
		#descriptions .ad-image-description .ad-description-title {
			display: block;
		}
		.ad-gallery .ad-image-wrapper .ad-next {
			width: 75% !important;
		}
	</style>
{/template:area}

# THE LEFT CONTENT AREA #
{template:area id="10"}
	{page:rurl index="1" empty="true"}
		{template:file path="/public/pages/kop_och_salj/main_box.htm"/}
	{/page:rurl}
	
	{page:rurl index="1" equals="category"}
		{template:file path="/public/pages/kop_och_salj/main_box.htm"/}
	{/page:rurl}
	
	{page:rurl index="1" equals="page"}
		{template:file path="/public/pages/kop_och_salj/main_box.htm"/}
	{/page:rurl}
	
	{page:rurl index="1" is_int="true"}
		{template:file path="/public/pages/kop_och_salj/annons.htm"/}
	{/page:rurl}
{/template:area}

# THE RIGHT CONTENT AREA #
{template:area id="11"}
	{template:file path="/public/master_templates/prenumerera_senaste.htm"/}
{/template:area}