{pager:set attr="items_per_page" value="20"/}
{pager:set attr="page_index" value="4"/}
{pager:set attr="page_margin" value="3"/}
{pager:number_of_items value="{kop_salj:total_items/}"/}
{pager:divider} {/pager:divider}
{pager:inactive}<button class="button_green" onClick="window.location='http://{pager:rurl/}/till-salu/category/{page:rurl index='2'/}/{page:rurl index='3'/}/[ID]'">[ID]</button>{/pager:inactive}
{pager:active}<button class="button_green" onClick="window.location='http://{pager:rurl/}/till-salu/category/{page:rurl index='2'/}/{page:rurl index='3'/}/[ID]">([ID])</button>{/pager:active}
{pager:prefix}<button class="button_green" onClick="window.location='http://{pager:rurl/}/till-salu/category/{page:rurl index='2'/}/{page:rurl index='3'/}/[FIRST]'">FÖRSTA</button> {/pager:prefix}
{pager:suffix} <button class="button_green" onClick="window.location='http://{pager:rurl/}/till-salu/category/{page:rurl index='2'/}/{page:rurl index='3'/}/[LAST]'">SISTA</button>{/pager:suffix}

{template:area id="20" desc="title"}Sveriges största köp & säljmarknad för hotell- & restaurangbranschen! Restauranger & hotell till salu!{/template:area}
{template:area id="21" desc="description"}Sveriges köp & säljmarknad för hotell- & restaurangbranschen! Restauranger, hotell- & utrustning till salu | Hotell- & Restaurangtorget | Hrtorget.se{/template:area}
{template:area id="22" desc="keywords"}Till salu restaurang resturang hotell caféer kafe natt klubb pizzeria bar begagnad utrustning köpes säljes{/template:area}


<div class="box_middle">
	<div class="box_middle_header">Köp & Sälj</div>
	<div class="box_middle_content">
		
		<div class="box_middle_lefter">
			Har du en restaurang, hotell eller något annat till salu? På jakt efter begagnad restaurangutrustning? Här annonserar du gratis.
			<br />
			<br />
			<a href="/annonsera">Speciella regler gäller för dig som är mäklare eller leverantör, klicka här för mer information.</a>
			<br />
			<br />
			
			<form method="POST" action="/till-salu">
				<select name="search_regions">
					<option value="_all">ALLA REGIONER</option>
					{platsbanken:regions}
						<option value="{platsbanken:item get='id'/}"{kop_salj:selected_region id='{platsbanken:item get="id"/}' return=' selected="selected"'/}>{platsbanken:item get='name'/}</option>
					{/platsbanken:regions}
				</select>
				<select name="search_categories">
					<option value="_all">ALLA KATEGORIER</option>
					{kop_salj:categories}
						<option value="{kop_salj:item get='id'/}"{kop_salj:selected_category id='{kop_salj:item get="id"/}' return=' selected="selected"'/}>{kop_salj:item get="title"/}</option>
					{/kop_salj:categories}
				</select>
				<input type="submit" class="button_green" name="search_submit" style="margin:0px;" value="SÖK" />
			</form>
			<br />
			<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;" />
			<br />
			<div style="width:65%;float:left;">
				<b>Har du något att sälja?</b><br />
				Annonsera gratis i vår köp & säljmarknad! 
			</div>
			<div style="width:35%;float:left;">
				{login:logged_in state="true"}
				<button class="button_green" style="margin:0px;" onClick="window.location='/konto/mina-annonser/kop-salj/ny';">LÄGG UPP ANNONS</button>
				{/login:logged_in}
				
				{login:logged_in state="false"}
				<button class="button_green" style="margin:0px;" onClick="window.location='/konto/logga-in';">LÄGG UPP ANNONS</button>
				{/login:logged_in}
			</div>
			<br />
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>

{kop_salj:all_annonser}
<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td style="padding-right:20px;width:133px;" align="center">
				
					{kop_salj:show_image state="true" image="{kop_salj:item get='image_1'/}"}
						{if:not_exists string="{kop_salj:item get='image_1'/}" check="http"}
							<img src="/public/images/kop_salj/{kop_salj:item get='image_1'/}" alt="{kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/}" title="{kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/}" style="max-width:138px;max-height:100px;" onerror="this.src='/public/images/design/kamera.png'" />
						{/if:not_exists}
						{if:exists string="{kop_salj:item get='image_1'/}" check="http"}
							<img src="{kop_salj:item get='image_1'/}" alt="{kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/}" title="{kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/}" style="max-width:138px;max-height:100px;" onerror="this.src='/public/images/design/kamera.png'" />
						{/if:exists}
					{/kop_salj:show_image}
					
					{kop_salj:show_image state="false" image="{kop_salj:item get='image_1'/}"}
					<img src="/public/images/design/kamera.png" alt="{kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/}" title="{kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/}" />
					{/kop_salj:show_image}
					
				</td>
				<td>
					<h2><a href="/till-salu/{kop_salj:item get='id'/}/{functions:url_friendly string="{kop_salj:item get='title' if_not_exist='till salu' add=' till salu'/}"/}" style="line-height:22px;">{kop_salj:item get="title" if_not_exist="till salu" add=" till salu"/}</a></h2>
					<p><a href="/till-salu/{kop_salj:item get='id'/}/{functions:url_friendly string="{kop_salj:item get='title' if_not_exist='till salu' add=' till salu'/}"/}" style="color:#000000;font-weight:normal;">{kop_salj:item get="description" remove_br="true" cut="200" /}</a>... <a href="/till-salu/{kop_salj:item get='id'/}/{functions:url_friendly string="{kop_salj:item get='title' if_not_exist='till salu' add=' till salu'/}"/}" style="font-weight:normal !important;">Läs mer</a></p>
					{kop_salj:region id="{kop_salj:item get='region'/}"/}
					<span style="float:left;width:100px;"><strong>Pris: {kop_salj:item get='price'/}</strong></span>
				</td>
			</tr>
		</table>
	</div>
	<div class="box_empty_footer"></div>
</div>

{/kop_salj:all_annonser}

<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content" style="min-height:0px;text-align:center;">
		{pager:pages/}
	</div>
	<div class="box_empty_footer"></div>
</div>