{konto:aktivera/}

<div class="box_big">
	<div class="box_big_header">Konto - Aktivera Konto</div>
	<div class="box_big_content">
		
			<div class="box_big_lefter">
			
				{konto:activation_success state="true"}
					<h2>Ditt konto har aktiverats!</h2>
					Du kan nu börja använda alla de funktioner vi erbjuder på HRtorget.se!<br />
					<br />
					<a href="/konto/logga-in">Logga in</a>
				{/konto:activation_success}
				
				{konto:activation_success state="false"}
					<h2>Ett fel uppstod</h2>
					Något har blivit galet, vänligen försök igen eller kontakta oss!
				{/konto:activation_success}
			</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>