{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
    <script src="/public/js/admin/branschguiden/foretag_create.js"></script>
	<script>
		function updateIframe(id,request) {
			var iframe = document.getElementById('cat_startpage_'+id);
			iframe.src = "/konto/arbetsgivare/foretag/kategorier/column/"+ id +"/{page:rurl index='3'/}/no-menu"+request;
		}
		function productEdit(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "none";
			edit.style.display = "block";
		}
		
		function productClose(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "block";
			edit.style.display = "none";
		}
		function productNew() {
			var newProduct = document.getElementById('company_product_new');
			newProduct.style.display = "block";
		}
	</script>
{/template:area}

{template:area id="2"}
{admin_foretag:update_info success_redirect="/admin/branschguiden/redigera/"/}
<div style="margin:10px;">


<input type="SUBMIT" onClick="window.location='/admin/branschguiden/create'" class="button_green" value="NYTT FÖRETAG" />
<input type="SUBMIT" onClick="window.location='/admin/branschguiden/foretag'" class="button_green" value="VISA ALLA FÖRETAG" />
<br />
<br />

<form method="post" action="/{page:rurl/}" enctype="multipart/form-data">
	<div class="platsbanken_lefter_row">
		<h2>Skapa Företag</h2>
	</div>

    <br />
    <div style="display:table">
        <div style="display:table-cell;padding-right:25px">
            <div class="section_header">Foretagsuppgifter</div>
            	<div class="platsbanken_lefter_row">
            		<strong>Konto Ägare</strong><br />
            		<select name="companies_owner">
            			<option value="_empty">- Välj Ägare -</option>
            		{admin_foretag:accounts}
            			<option value="{admin_foretag:subitem get='id'/}"{if:equals arg1="{admin_foretag:item get='owner'/}" arg2="{admin_foretag:subitem get='id'/}"} selected="selected"{/if:equals}>{admin_foretag:subitem get='first_name'/} {admin_foretag:subitem get='last_name'/} ({admin_foretag:subitem get='email'/})</option>
            		{/admin_foretag:accounts}
            		</select>
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Organisations Nummer</strong><br />
            		<input type="text" class="form text" name="companies_org_number" value="{admin_foretag:item get='org_number'/}" />
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Namn</strong><br />
            		<input type="text" class="form text" name="companies_name" value="{admin_foretag:item get='name'/}" />
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Beskrivning</strong><br />
            		<input type="hidden" name="no_escape[]" value="companies_description" />
            		<textarea class="ckeditor" name="companies_description">{admin_foretag:item get='description'/}</textarea>
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Adress</strong><br />
            		<input type="text" class="form text" name="companies_street" value="{admin_foretag:item get='street'/}" />
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Postkod</strong><br />
            		<input type="text" class="form text" name="companies_zip" value="{admin_foretag:item get='zip'/}" />
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Stad</strong><br />
            		<input type="text" class="form text" name="companies_city" value="{admin_foretag:item get='city'/}" />
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Hemsida</strong><br />
            		<input type="text" class="form text" name="companies_website" value="{admin_foretag:item get='website'/}" />
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Kontakt Email</strong><br />
            		<input type="text" class="form text" name="companies_contact_mail" value="{admin_foretag:item get='contact_mail'/}" />
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Telefon</strong><br />
            		<input type="text" class="form text" name="companies_telephone" value="{admin_foretag:item get='telephone'/}" />
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Fax</strong><br />
            		<input type="text" class="form text" name="companies_fax" value="{admin_foretag:item get='fax'/}" />
            	</div>

            	<div class="platsbanken_lefter_row">
            		<strong>Bild</strong><br />

                    <div class="img_upload_div">
                       <div class="img_upload_add">
                              <div style="display:none">
                                  <input type="file" name="companies_bild" />
                              </div>

                              {admin_foretag:has_image state="false"}
                              <button type="button" class="button_green image_file_btn" id="create_companies_bild_btn" title="Ladda upp en bild"><img src="/public/images/admin/icons/add_24.png"/></button>
                              {/admin_foretag:has_image}
                              <div id="create_file_path" style="display:none"></div>


                              {admin_foretag:has_image state="true"}
                            <img id="create_company_image" title="Ikon" src="/public/images/companies/{admin_foretag:item get='image_big'/}"><br />
                              {/admin_foretag:has_image}
                       </div>
                    </div>
                    <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="create_companies_delete_img"><img src="/public/images/admin/icons/minus_24.png"/></button>
            	</div>

            	<div class="platsbanken_lefter_row">
            		<input type="submit" class="button_green" name="companies_submit" style="margin:0px;" value="SKAPA FÖRETAG" />
            	</div>
        </div>
    </div>
</form>
</div>


{/template:area}