{template:area id="1"}
<script src="/public/js/admin/branschguiden/foretag.js" type="text/javascript"></script>
{/template:area}




{template:area id="2"}

<div style="margin:10px;">







<form method="POST" action="/admin/branschguiden/foretag">
	<input type="TEXT" name="search_foretag" />
	<input type="SUBMIT" name="search_foretag_submit" class="button_green" value="SÖK FÖRETAG" />
</form>

<br />

<input type="SUBMIT" onClick="window.location='/admin/branschguiden/create'" class="button_green" value="NYTT FÖRETAG" />  

<br />
<br />

<form action="#" id="foretag_form" method="POST">


<table class="table foretag" cellpadding="0" cellspacing="0" border="0">

	<tr>
        <th>
            <div>
              <span>Företag</span>&nbsp;
              <img class="sort" src="/public/images/admin/icons/arrow_up_16.png" title="Sort by Company Ascending" sort="ASC" column="name"/>
            </div>
        </th>
		<th>BG</th>
		<th>PB</th>
        <th>
            <div>
              <span>Företags&nbsp;Admin</span>&nbsp;<img class="sort" src="/public/images/admin/icons/arrow_up_16.png" title="Sort by Contact Person Ascending" sort="ASC" column="contact_person"/>
            </div>
        </th>
		<th>Epost</th>
		<th>Telefon</th>
		<th>Hemsida</th>
		<th>Upplagd</th>
		<th>Nasta&nbsp;annons&nbsp;gar&nbsp;ut</th>
		<th>Forfragningar</th>
		<th>Nyheter</th>
	</tr>
	{admin_foretag:list}
	<tr>
		<td><a href="/admin/branschguiden/redigera/{admin_foretag:item get='id'/}">{admin_foretag:item get='name'/}</a></td>
		<td>{admin_foretag:is_bg status='true' id='{admin_foretag:item get="id"/}'}<img src="/public/images/green_dot.png" title="green dot" />{/admin_foretag:is_bg}</td>
		<td>{admin_foretag:is_pb status='true' id='{admin_foretag:item get="id"/}'}<img src="/public/images/green_dot.png" title="green dot" />{/admin_foretag:is_pb}</td>
		<td>{admin_foretag:item get='contact_person'/}</td>
		<td><a href="mailto:{admin_foretag:item get='contact_mail'/}">{admin_foretag:item get='contact_mail'/}</a></td>
		<td>{admin_foretag:item get='telephone'/}</td>
		<td><a href="{admin_foretag:fix_url url='{admin_foretag:item get='website'/}'/}" target="_blank">Hemsida</a></td>
		<td>{admin_foretag:item get='date_created_fmt'/}</td>
		<td></td>
		<td>{admin_foretag:get_requests id="{admin_foretag:item get='id'/}" /}</td>
		<td>{admin_foretag:get_news id="{admin_foretag:item get='id'/}" /}</td>
		<td>
			<a href="/admin/branschguiden/radera/{admin_foretag:item get='id'/}" onClick="return confirm('Vill du verkligen radera detta företag?');">[Ta bort]</a>
		</td>
	</tr>
	{/admin_foretag:list}
</table>
<input type="hidden" id="sort_order" name="sort_order" value="" current="{admin_foretag:get_current_sort_order /}"/>
<input type="hidden" id="sort_column" name="sort_column" value="" current="{admin_foretag:get_current_sort_column /}"/>
</form>




</div>


{/template:area}