{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<link rel="StyleSheet" href="/public/js/jquery-textext-master/src/css/textext.core.css" type="text/css" />
	<link rel="StyleSheet" href="/public/js/jquery-textext-master/src/css/textext.plugin.tags.css" type="text/css" />
	<script src="/public/js/jquery-textext-master/src/js/textext.core.js"></script>
	<script src="/public/js/jquery-textext-master/src/js/textext.plugin.tags.js"></script>
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<script src="/public/js/admin/branschguiden/foretag_create_edit.js"></script>
	<script>
		function updateIframe(id,request) {
			var iframe = document.getElementById('cat_startpage_'+id);
			iframe.src = "/konto/arbetsgivare/foretag/kategorier/column/"+ id +"/{page:rurl index='3'/}/no-menu"+request;
		}
		function productEdit(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "none";
			edit.style.display = "block";
		}
		
		function productClose(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "block";
			edit.style.display = "none";
		}
		function productNew() {
			var newProduct = document.getElementById('company_product_new');
			newProduct.style.display = "block";
		}
		
		
	</script>
{/template:area}

{template:area id="2"}
{admin_foretag:update_info success_redirect="/admin/branschguiden/redigera/{page:rurl index='3'/}"/}
<div style="margin:10px;">
<form id="company_form" method="post" action="/{page:rurl/}" enctype="multipart/form-data">
	<input type="hidden" name="companies_edit" value="{page:rurl index='3'/}" />
	<input type="hidden" id="company_image_radera" name="company_image_radera" value="" />
	<input type="hidden" id="company_logo_radera" name="company_logo_radera" value="" />

	<div class="platsbanken_lefter_row">
		<h2>{page:rurl index="3" not_empty="true"}Redigera Företag{/page:rurl index="3"}{page:rurl index="3" empty="false"}Skapa Företag{/page:rurl index="3"}</h2>
	</div>
	<div class="platsbanken_lefter_row">
		<input type="BUTTON" value="VISA FÖRETAGETS ANNONS" class="button_green" onclick="window.open('/branschguiden/leverantor/{functions:url_friendly string="{admin_foretag:item get='name'/}"/}','_blank');">
		{page:rurl index="3" not_empty="true"}
		<input type="submit" class="button_green" name="companies_submit" style="margin:0px;" value="REDIGERA FÖRETAG" />
		{/page:rurl}
		{page:rurl index="3" empty="true"}
		<input type="submit" class="button_green" name="companies_submit" style="margin:0px;" value="SKAPA FÖRETAG" />
		{/page:rurl}
	</div>
	
	<div class="platsbanken_lefter_row">
		<button onClick="toggleBannerDiv();return false;" class="button_green">FÖRETAGS BANNER (VISA / DÖLJ)</button><br />
		<script>
			function toggleBannerDiv() {
				$('#company_banner_div').toggle();
			}
		</script>
		<br />
		<div id="company_banner_div" style="display:none;">
			<strong>Banner URL</strong><br />
			<input type="TEXT" name="companies_banner_url" class="form text" style="width:800px !important;" value="{admin_foretag:item get='banner_url'/}" /><br />
			<br />
			<strong>Flash Banner</strong><br />
			<input type="file" name="company_banner_flash" class="image_file_{admin_foretag:item get='id'/} image_file_input" image_id="{admin_foretag:item get='id'/}" /><br />
			{if:not_empty string="{admin_foretag:item get='banner_flash'/}"}
			<embed id="animationName" width="980" height="120" wmode="transparent" loop="true" scale="noscale" allowscriptaccess="sameDomain" quality="high" bgcolor="#FFFFFF" name="animationName" src="/public/images/advertisement/{admin_foretag:item get='banner_flash'/}" type="application/x-shockwave-flash"><br />
			<a href="/admin/branschguiden/redigera/{page:rurl index='3'/}/delete_banner_flash" onClick="return confirm('Vill du verkligen radera flash bannern?');">Radera Flash Banner</a><br />
			<br />
			{/if:not_empty}
			<br />
			<strong>Fallback Bild</strong><br />
			<input type="file" name="company_banner_fallback" class="image_file_{admin_foretag:item get='id'/} image_file_input" image_id="{admin_foretag:item get='id'/}" /><br />
			{if:not_empty string="{admin_foretag:item get='banner_fallback'/}"}
			<img width="980" height="120" id="company_banner_fallback_{admin_foretag:item get='id'/}" title="Ikon" src="/public/images/advertisement/{admin_foretag:item get='banner_fallback'/}"><br />
			<a href="/admin/branschguiden/redigera/{page:rurl index='3'/}/delete_banner_fallback" onClick="return confirm('Vill du verkligen radera fallback bannern?');">Radera Fallback Banner</a><br />
			{/if:not_empty}
			<br />
			<hr size="1" width="1000px" style="float:left;display:inline;" />
		</div>
	</div>
	
    <div style="display:table">
        <div style="display:table-cell;padding-right:25px;width:700px;">
           
        	<div class="platsbanken_lefter_row">
        		<strong>Företags Administratör</strong><br />
        		<select name="companies_owner">
        			<option value="_empty">- Välj Användare -</option>
        		{admin_foretag:accounts}
        			<option value="{admin_foretag:subitem get='id'/}"{if:equals arg1="{admin_foretag:item get='owner'/}" arg2="{admin_foretag:subitem get='id'/}"} selected="selected"{/if:equals}>{admin_foretag:subitem get='first_name'/} {admin_foretag:subitem get='last_name'/} ({admin_foretag:subitem get='email'/})</option>
        		{/admin_foretag:accounts}
        		</select>
        	</div>
			
			
			<div class="platsbanken_lefter_row">
        		<div class="section_header">Text om företaget</div>
        		<input type="hidden" name="no_escape[]" value="companies_description" />
        		<textarea class="ckeditor" name="companies_description">{admin_foretag:item get='description'/}</textarea>
        	</div>
			<div class="platsbanken_lefter_row">
				<div class="display_table" style="width:100%;">
					<div class="display_table_cell" style="width:50%;padding-right:20px">
						 <div class="section_header">Företagsuppgifter</div>
						 <div class="platsbanken_lefter_row">
							<strong>Namn</strong><br />
							<input type="text" class="form text" name="companies_name" value="{admin_foretag:item get='name'/}" />
						</div>
						<div class="platsbanken_lefter_row">
							<strong>Orgno</strong><br />
							<input type="text" class="form text" name="companies_org_number" value="{admin_foretag:item get='org_number'/}" />
						</div>
						<div class="platsbanken_lefter_row">
							<strong>Annonsortyp</strong><br />
							<select name="companies_type">
									<option value="hidden" {if:equals arg1='{admin_foretag:item get="type"/}' arg2='hidden'} selected="selected"{/if:equals}>Gömd</option>
									<option value="gold" {if:equals arg1='{admin_foretag:item get="type"/}' arg2='gold'} selected="selected"{/if:equals}>Guld</option>
									<option value="silver" {if:equals arg1='{admin_foretag:item get="type"/}' arg2='silver'} selected="selected"{/if:equals}>Silver</option>
							</select>
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Logotyp</strong><br />
							<div class="img_upload_div">
								<div class="img_upload_add">
										<div class="input_file_div" style="display:none">
											<input type="file" name="company_logo" class="image_file_{admin_foretag:item get='id'/} image_file_input" image_id="{admin_foretag:item get='id'/}" />
										</div>

										{admin_foretag:has_logo state="false"}
										<button type="button" class="button_green image_file_btn" title="Ladda upp en bild" id="image_file_btn_{admin_foretag:item get='id'/}" image_id="{admin_foretag:item get='id'/}"><img src="/public/images/admin/icons/add_24.png"/></button>
										{/admin_foretag:has_logo}
										<div id="create_image_file_path_{admin_foretag:item get='id'/}" style="display:none"></div>


										{admin_foretag:has_logo state="true"}
											<img id="company_img_src_{admin_foretag:item get='id'/}" title="Ikon" src="/public/images/companies/{admin_foretag:item get='image_thumb'/}"><br />
											<br />
											<button type="button" class="button_green image_file_btn" title="Ladda upp en bild" id="image_file_btn_{admin_foretag:item get='id'/}" image_id="{admin_foretag:item get='id'/}"><img src="/public/images/admin/icons/add_24.png"/></button>
										{/admin_foretag:has_logo}
								 </div>
							</div>
						</div>								
						<div class="platsbanken_lefter_row">
						   <hr/>
						</div>
						<div class="platsbanken_lefter_row">
							<strong>Gata</strong><br />
							<div class="input_img_div"><input type="text" class="form text" name="companies_street[]" value="{admin_foretag:item get='street' /}" />
							<div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_address"/></div></div>
						</div>

						<div class="platsbanken_lefter_row">
							<strong>Postno</strong><br />
							<input type="text" class="form text" name="companies_zip[]" value="{admin_foretag:item get='zip'/}" />
						</div>

						<div class="platsbanken_lefter_row">
							<strong>Ort</strong><br />
							<input type="text" class="form text" name="companies_city[]" value="{admin_foretag:item get='city'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							 <ul class="additional_address_list additional_list">
								{admin_foretag:company_addresses company_id="{page:rurl index='3'/}"}
									<li>
										<div class="platsbanken_lefter_row">
											<hr/>
										</div>
										<div>
											<div class="platsbanken_lefter_row">
												<strong>*Rubrik </strong></br>
												<div class="input_img_div"><input type="text" class="form text" name="companies_section[]" value="{admin_foretag:subitem get='section'/}" /><div class="delete_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_address"/></div></div>
											</div>
											<div class="platsbanken_lefter_row">
												<strong>Gata</strong><br />
												<input type="text" class="form text" name="companies_street[]" value="{admin_foretag:subitem get='street' /}" />
											</div>
											<div class="platsbanken_lefter_row">
												<strong>Postno</strong><br />
												<input type="text" class="form text" name="companies_zip[]" value="{admin_foretag:subitem get='zip'/}" />
											</div>
											<div class="platsbanken_lefter_row">
												<strong>Ort</strong><br />
												<input type="text" class="form text" name="companies_city[]" value="{admin_foretag:subitem get='city'/}" />
											</div>
										</div>
									</li>
								{/admin_foretag:company_addresses}
							 </ul>
						</div>
						
						<div class="platsbanken_lefter_row">
						   <hr/>
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Hemsida</strong><br />
							<div class="input_img_div"><input type="text" class="form text" name="companies_website[]" value="{admin_foretag:item get='website'/}" />
							<div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_website"/></div></div>
							<div class="additional_website">
								 <ul class="additional_website_list additional_list">
									{admin_foretag:company_websites company_id="{page:rurl index='3'/}"}
										<li><strong>Hemsida </strong><br /><div class="input_img_div"><input type="text" class="form text" name="companies_website[]" value="{admin_foretag:subitem get='website'/}" /><div class="delete_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_website"/></div></div></li>
									{/admin_foretag:company_websites}
								 </ul>
							</div>
						</div>	

						<div class="platsbanken_lefter_row">
							<strong>Kontakt Email</strong><br />
							<input type="text" class="form text" name="companies_contact_mail" value="{admin_foretag:item get='contact_mail'/}" />
						</div>

						<div class="platsbanken_lefter_row">
							<strong>Telefon 1</strong><br />
							<div class="input_img_div"><input type="text" class="form text" name="companies_telephone[]" value="{admin_foretag:item get='telephone' /}" />
							<div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_telefon"/></div></div>
							<div class="additional_telefon">
								 <ul class="additional_telefon_list additional_list">
									{admin_foretag:company_telephones company_id="{page:rurl index='3'/}"}
										<li><strong>Telefon </strong><br /><div class="input_img_div"><input type="text" class="form text" name="companies_telephone[]" value="{admin_foretag:subitem get='telephone'/}" /><div class="delete_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_telefon"/></div></div></li>
									{/admin_foretag:company_telephones}
								 </ul>
							</div>
						</div>

						<div class="platsbanken_lefter_row">
							<strong>Mobiltelefon 1</strong><br />
							<div class="input_img_div"><input type="text" class="form text" name="companies_mobile[]" value="{admin_foretag:item get='mobile'/}" />
							<div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_mobile"/></div></div>
							<div class="additional_mobile">
								 <ul class="additional_mobile_list additional_list">
									{admin_foretag:company_mobiles company_id="{page:rurl index='3'/}"}
										<li><strong>Mobiltelefon </strong><br /><div class="input_img_div"><input type="text" class="form text" name="companies_mobile[]" value="{admin_foretag:subitem get='mobile'/}" /><div class="delete_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_mobile"/></div></div></li>
									{/admin_foretag:company_mobiles}
								 </ul>
							</div>
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Fax</strong><br />
							<input type="text" class="form text" name="companies_fax" value="{admin_foretag:item get='fax'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Facebook</strong><br />
							<input type="text" class="form text" name="companies_facebook" value="{admin_foretag:item get='facebook'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Twitter</strong><br />
							<input type="text" class="form text" name="companies_twitter" value="{admin_foretag:item get='twitter'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							<strong>Instagram</strong><br />
							<input type="text" class="form text" name="companies_instagram" value="{admin_foretag:item get='instagram'/}" />
						</div>
						
						<div class="platsbanken_lefter_row">
							 <strong>Sökord för frisök</strong> (Ett sökord per rad)<br/>
                             <!--<textarea style="display:none" id="companies_tags_hidden">{admin_foretag:item get='tags'/}</textarea>    
                             <div class="text-core">
                                <div class="text-wrap">
        							 <textarea name="companies_tags" rows="1" style="resize:none;width:400px;padding:0"></textarea>
                                     <div class="text-tags"></div>
                                </div>
                             </div>-->
							 <textarea name="companies_tags" rows="10" style="height:300px;width:400px;padding:0">{admin_foretag:decoded_tags/}</textarea>
						</div>						
					</div>					
					<div class="display_table_cell">
						 <div class="section_header">Produkt Bilder</div>
						 <div class="display_table company_image_div">
							<div class="image_list">
								{admin_foretag:get_company_images id='{admin_foretag:item get="id"/}'}
								
								<input type="HIDDEN" name="images_id[]" value="{admin_foretag:subitem get='id'/}" />
								
								<div class="display_table company_image_div">
									<div class="display_table_cell" style="padding-right:10px">
										 <div class="platsbanken_lefter_row">
											<div class="img_upload_div">
												<div class="img_upload_add">
														<div class="input_file_div" style="display:none">
															<input type="file" name="company_bild_{admin_foretag:subitem get='id'/}" multiple='multiple' class="image_file_{admin_foretag:subitem get='id'/} image_file_input" image_id="{admin_foretag:subitem get='id'/}" />
														</div>

														{admin_foretag:has_image state="true"}
														<img id="company_img_src_{admin_foretag:subitem get='id'/}" title="Ikon" src="/public/images/products/{admin_foretag:subitem get='image_thumb'/}" image_id="{admin_foretag:subitem get='id'/}"><br />
														{/admin_foretag:has_image}
														
													<button type="button" style="margin-top:3px;width:30%;" class="button_green image_file_btn" title="Ladda upp ny bild" id="image_file_btn_{admin_foretag:subitem get='id'/}" image_id="{admin_foretag:subitem get='id'/}">Ladda upp ny bild</button>
													<button type="button" style="margin-top:3px;width:30%;" class="button_orange image_product_delete" title="Radera produkt" product_id="{admin_foretag:subitem get='id'/}">Radera produkt</button>
												 </div>
												 
											</div>

											<div id="create_image_file_path_{admin_foretag:subitem get='id'/}" style="display:none"></div>
										</div>	
										<div class="platsbanken_lefter_row">
											<strong>Rank</strong><br />
											<select name="companies_bild_rank[]">
												<option value="" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2=''} selected="selected"{/if:equals}></option>
												<option value="1" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='1'} selected="selected"{/if:equals}>1</option>
												<option value="2" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='2'} selected="selected"{/if:equals}>2</option>
												<option value="3" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='3'} selected="selected"{/if:equals}>3</option>
												<option value="4" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='4'} selected="selected"{/if:equals}>4</option>
												<option value="5" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='5'} selected="selected"{/if:equals}>5</option>
												<option value="6" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='6'} selected="selected"{/if:equals}>6</option>
												<option value="7" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='7'} selected="selected"{/if:equals}>7</option>
												<option value="8" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='8'} selected="selected"{/if:equals}>8</option>
												<option value="9" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='9'} selected="selected"{/if:equals}>9</option>
												<option value="10" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='10'} selected="selected"{/if:equals}>10</option>
												<option value="11" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='11'} selected="selected"{/if:equals}>11</option>
												<option value="12" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='12'} selected="selected"{/if:equals}>12</option>
												<option value="13" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='13'} selected="selected"{/if:equals}>13</option>
												<option value="14" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='14'} selected="selected"{/if:equals}>14</option>
												<option value="15" {if:equals arg1='{admin_foretag:subitem get="order"/}' arg2='15'} selected="selected"{/if:equals}>15</option>										
											</select>
										</div>
										<div class="platsbanken_lefter_row">
											<strong>Bildlank</strong><br />
											<input type="text" class="form text" name="companies_bild_link[]" value="{admin_foretag:subitem get='link'/}"/>
										</div>
										
									</div>
									<div class="display_table_cell">
										<div class="platsbanken_lefter_row">
											<strong>Rubrik</strong><br />
											<input type="text" class="form text" name="companies_bild_title[]" value="{admin_foretag:subitem get='title'/}" />
										</div>
										<div class="platsbanken_lefter_row">
											 <strong>Bildtext</strong><br/>
											 <textarea name="companies_bild_desc[]" rows="10" style="resize:none;width:300px;height:200px">{admin_foretag:subitem get='description'/}</textarea>
										</div>
									</div>
								</div>
								{/admin_foretag:get_company_images}
							</div>
						<div class="platsbanken_lefter_row"><hr/></div>
						
						<div class="platsbanken_lefter_row"><input type="BUTTON" value="LÄGG TILL PRODUKT" class="button_green add_images"></div>
					</div>
				</div>
			</div>        	
            
        	<div class="platsbanken_lefter_row">

        		<h3>Ägar-Rättigheter</h3>
        		<input type="checkbox" name="companies_access_branschguiden"{if:equals arg1="{admin_foretag:item get='access_branschguiden'/}" arg2="true"} checked="checked"{/if:equals} /> Branschguiden <i>(Redigera kategorier och publicera företagsprodukter)</i><br />
        		<input type="checkbox" name="companies_access_platsbanken"{if:equals arg1="{admin_foretag:item get='access_platsbanken'/}" arg2="true"} checked="checked"{/if:equals} /> Platsbanken <i>(Skapa platsannonser)</i><br />
        		<br />
        		<br />
        		<input type="BUTTON" value="VISA FÖRETAGETS ANNONS" class="button_green" onclick="window.open('/branschguiden/foretag/{admin_foretag:item get='name'/}','_blank');">
				{page:rurl index="3" not_empty="true"}
				<input type="submit" class="button_green" name="companies_submit" style="margin:0px;" value="REDIGERA FÖRETAG" />
				{/page:rurl}
				{page:rurl index="3" empty="true"}
				<input type="submit" class="button_green" name="companies_submit" style="margin:0px;" value="SKAPA FÖRETAG" />
				{/page:rurl}
        	</div>



        	<!--<div class="platsbanken_lefter_row">
        		<hr class="custom_hr"/>

        		<h3>Företags Produkter</h3>
        		<br />
        		{admin_foretag:products}
        			<div id="company_product_{admin_foretag:item get='id'/}_show">
        				<strong>{admin_foretag:item get="title"/}</strong><br />
        				<br />

        				<table>
        					<tr>
        						<td>
        							<button class="button_green" onClick="productEdit({admin_foretag:item get='id'/});return false;">REDIGERA</button>
        						</td>
        						<td>
        							<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}">
        								<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
        								<input type="SUBMIT" onClick="return confirm('Vill du verkligen radera {admin_foretag:item get="title"/}?');" class="button_green" name="product_delete" value="TA BORT" />
        							</form>
        						</td>
        						<td>
        							{admin_foretag:product_position id="{admin_foretag:item get='id'/}" company_id="{page:rurl index='3'/}" position="not_first"}
        							<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}">
        								<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
        								<input type="SUBMIT" class="button_green" name="product_move_up" value="FLYTTA UPP" />
        							</form>
        							{/admin_foretag:product_position}
        						</td>
        						<td>
        							{admin_foretag:product_position id="{admin_foretag:item get='id'/}" company_id="{page:rurl index='3'/}" position="not_last"}
        							<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}">
        								<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
        								<input type="SUBMIT" class="button_green" name="product_move_down" value="FLYTTA NER" />
        							</form>
        							{/admin_foretag:product_position}
        						</td>
        					</tr>
        				</table>


        				<br />
        				<br />
        				<img src="/public/images/products/{admin_foretag:item get='image'/}" />
        				<hr class="custom_hr" />
        			</div>


        			<div id="company_product_{admin_foretag:item get='id'/}_edit" style="display:none;">
        				<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}" enctype="multipart/form-data">
        					<h3>Redigera {admin_foretag:item get='title'/}</h3>
        					<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
        					Rubrik:<br />
        					<input type="text" style="width:400px;" name="product_title" value="{admin_foretag:item get='title'/}" /><br />
        					<br />
        					Text:<br />
        					<textarea style="width:400px;" name="product_text">{admin_foretag:item get='text'/}</textarea><br />
        					<br />
        					Länk:<br />
        					<input type="text" style="width:400px;" name="product_url" value="{admin_foretag:item get='url'/}" /><br />
        					<br />
        					Bild:<br />
                             <div class="img_upload_div">
                                <div class="img_upload_add">
                                        <div style="display:none">
                                            <input type="file" name="product_bild" />
                                        </div>
                                        <button type="button" class="button_green image_file_btn" id="product_bild_btn" title="Ladda upp en bild" ><img src="/public/images/admin/icons/add_24.png"/></button>
                                       <div id="product_img_file_path" style="display:none"></div>
                                 </div>
                            </div>
                            <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="product_delete_img"><img src="/public/images/admin/icons/minus_24.png"/></button>
            				<br />  <br/> 
        					<input type="submit" class="button_green" name="product_edit" value="REDIGERA PRODUKT" />
        				</form>
        				<br />
        				<br />
        				<a style="cursor:pointer;" onClick="productClose({admin_foretag:item get='id'/});return false;">Stäng</a><br />
        				<hr class="custom_hr" /><br />
        			</div>
        		{/admin_foretag:products}
        		<br />

                <button class="button_green" style="margin:0px;" onClick="productNew();return false;">LÄGG TILL PRODUKT</button>
                <br/>
        		<div id="company_product_new" style="display:none;">
        			<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}" enctype="multipart/form-data">
        				<strong>Rubrik:</strong><br />
        				<input type="text" style="width:400px;" name="product_title" /><br />
        				<strong>Text:</strong><br />
        				<textarea style="width:400px;" name="product_text"></textarea><br />
        				<strong>Länk:</strong><br />
        				<input type="text" style="width:400px;" name="product_url" /><br />
        				<strong>Bild:</strong><br />
                        <div class="img_upload_div">
                            <div class="img_upload_add">
                                    <div style="display:none">
                                        <input type="file" name="product_bild" />
                                    </div>
                                    <button type="button" class="button_green image_file_btn" id="product_bild_btn" title="Ladda upp en bild" ><img src="/public/images/admin/icons/add_24.png"/></button>
                                   <div id="product_img_file_path" style="display:none"></div>
                             </div>
                        </div>
                        <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="product_delete_img"><img src="/public/images/admin/icons/minus_24.png"/></button>
        				<br />  <br/>
        				<input type="submit" class="button_green" name="product_new" value="SPARA PRODUKT" />
        			</form>
        			<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
        		</div>
        	</div>-->
        </div>
        <div style="display:table-cell;margin-left:10px;">
            <div class="platsbanken_lefter_row">
        		<div class="section_header">Kategorier</div>

        		<div class="all_categories">
        			{admin_foretag:all_categories}
        				<div style="margin-left:{admin_foretag:padding padding='{admin_foretag:subitem get='padding'/}' pixels='25'/}px;">
        					{admin_foretag:is_parent state="false"}
        						<input type="checkbox" name="companies_categories[]" value="{admin_foretag:subitem get='id'/}"{admin_foretag:in_category company_id="{page:rurl index='3'/}" id="{admin_foretag:subitem get='id'/}" state="true"} checked="checked"{/admin_foretag:in_category} />
        						{admin_foretag:subitem get="name"/}
        					{/admin_foretag:is_parent}
        					{admin_foretag:is_parent state="true"}
        						<input type="checkbox" name="companies_categories[]" value="{admin_foretag:subitem get='id'/}"{admin_foretag:in_category company_id="{page:rurl index='3'/}" id="{admin_foretag:subitem get='id'/}" state="true"} checked="checked"{/admin_foretag:in_category} />
        						<strong>{admin_foretag:subitem get="name"/}</strong>
        					{/admin_foretag:is_parent}
        				</div>
        			{/admin_foretag:all_categories}
        		</div>
        	</div>
        </div>
    </div>
</form>
</div>

{/template:area}