{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<script src="/public/js/admin/branschguiden/foretag_redigera.js"></script>
	<script>
		function updateIframe(id,request) {
			var iframe = document.getElementById('cat_startpage_'+id);
			iframe.src = "/konto/arbetsgivare/foretag/kategorier/column/"+ id +"/{page:rurl index='3'/}/no-menu"+request;
		}
		function productEdit(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "none";
			edit.style.display = "block";
		}
		
		function productClose(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "block";
			edit.style.display = "none";
		}
		function productNew() {
			var newProduct = document.getElementById('company_product_new');
			newProduct.style.display = "block";
		}
	</script>
{/template:area}

{template:area id="2"}
{admin_foretag:update_info success_redirect="/admin/branschguiden/redigera/{page:rurl index='3'/}"/}
<div style="margin:10px;">


<input type="SUBMIT" onClick="window.location='/admin/branschguiden/create'" class="button_green" value="NYTT FÖRETAG" />
<input type="SUBMIT" onClick="window.location='/admin/branschguiden/foretag'" class="button_green" value="VISA ALLA FÖRETAG" />
<br />
<br />

<form id="company_form" method="post" action="/{page:rurl/}" enctype="multipart/form-data">
	<input type="hidden" name="companies_edit" value="{page:rurl index='3'/}" />
	<input type="hidden" id="companies_bild_radera" name="companies_bild_radera" value="" />

	<div class="platsbanken_lefter_row">
		<h2>Redigera Företag</h2>
	</div>
	<input type="BUTTON" value="VISA FÖRETAGETS ANNONS" class="button_green" onclick="">

	<!--- TO REMOVE -->
    <br />
    <div style="display:table">
        <div style="display:table-cell;padding-right:25px">
            <div class="section_header">Foretagsuppgifter</div>
        	<div class="platsbanken_lefter_row">
        		<strong>Konto Ägare</strong><br />
        		<select name="companies_owner">
        			<option value="_empty">- Välj Ägare -</option>
        		{admin_foretag:accounts}
        			<option value="{admin_foretag:subitem get='id'/}"{if:equals arg1="{admin_foretag:item get='owner'/}" arg2="{admin_foretag:subitem get='id'/}"} selected="selected"{/if:equals}>{admin_foretag:subitem get='first_name'/} {admin_foretag:subitem get='last_name'/} ({admin_foretag:subitem get='email'/})</option>
        		{/admin_foretag:accounts}
        		</select>
        	</div>
			
			<div class="platsbanken_lefter_row">
        		<strong>Namn</strong><br />
        		<input type="text" class="form text" name="companies_name" value="{admin_foretag:item get='name'/}" />
        	</div>

        	<div class="platsbanken_lefter_row">
        		<strong>Organisations Nummer</strong><br />
        		<input type="text" class="form text" name="companies_org_number" value="{admin_foretag:item get='org_number'/}" />
        	</div>

			<div class="platsbanken_lefter_row">
        		<strong>Annonsortyp</strong><br />
        		<select name="company_type">
						<option value="hidden">Gömd</option>
						<option value="gold">Guld</option>
						<option value="silver">Silver</option>
				</select>
        	</div>
        	

        	<div class="platsbanken_lefter_row">
        		<strong>Beskrivning</strong><br />
        		<input type="hidden" name="no_escape[]" value="companies_description" />
        		<textarea class="ckeditor" name="companies_description">{admin_foretag:item get='description'/}</textarea>
        	</div>

        	<div class="platsbanken_lefter_row">
        		<strong>Gata</strong><br />
        		<div class="input_img_div"><input type="text" class="form text" name="companies_street[]" value="{admin_foretag:item get='street' /}" />
                <div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_address"/></div></div>
        	</div>

        	<div class="platsbanken_lefter_row">
        		<strong>Postno</strong><br />
        		<input type="text" class="form text" name="companies_zip[]" value="{admin_foretag:item get='zip'/}" />
        	</div>

        	<div class="platsbanken_lefter_row">
        		<strong>Ort</strong><br />
        		<input type="text" class="form text" name="companies_city[]" value="{admin_foretag:item get='city'/}" />
        	</div>
            
            <div class="platsbanken_lefter_row">
                 <ul class="additional_address_list additional_list">
					{admin_foretag:company_addresses company_id="{page:rurl index='3'/}"}
						<li>
							<div class="platsbanken_lefter_row">
								<hr/>
							</div>
							<div>
								<div class="platsbanken_lefter_row">
									<strong>*Rubrik </strong></br>
									<div class="input_img_div"><input type="text" class="form text" name="companies_section[]" value="{admin_foretag:subitem get='section'/}" /><div class="delete_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_address"/></div></div>
								</div>
								<div class="platsbanken_lefter_row">
									<strong>Gata</strong><br />
									<input type="text" class="form text" name="companies_street[]" value="{admin_foretag:subitem get='street' /}" />
								</div>
								<div class="platsbanken_lefter_row">
									<strong>Postno</strong><br />
									<input type="text" class="form text" name="companies_zip[]" value="{admin_foretag:subitem get='zip'/}" />
								</div>
								<div class="platsbanken_lefter_row">
									<strong>Ort</strong><br />
									<input type="text" class="form text" name="companies_city[]" value="{admin_foretag:subitem get='city'/}" />
								</div>
							</div>
						</li>
					{/admin_foretag:company_addresses}
                 </ul>
            </div>
			
			<div class="platsbanken_lefter_row">
        	   <hr/>
        	</div>


        	<div class="platsbanken_lefter_row">
        		<strong>Hemsida</strong><br />
				<div class="input_img_div"><input type="text" class="form text" name="companies_website[]" value="{admin_foretag:item get='website'/}" />
                <div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_website"/></div></div>
                <div class="additional_website">
                     <ul class="additional_website_list additional_list">
						{admin_foretag:company_websites company_id="{page:rurl index='3'/}"}
							<li><strong>Hemsida </strong><br /><div class="input_img_div"><input type="text" class="form text" name="companies_website[]" value="{admin_foretag:subitem get='website'/}" /><div class="delete_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_website"/></div></div></li>
						{/admin_foretag:company_websites}
                     </ul>
                </div>
        	</div>

        	<div class="platsbanken_lefter_row">
        		<strong>Kontakt Email</strong><br />
        		<input type="text" class="form text" name="companies_contact_mail" value="{admin_foretag:item get='contact_mail'/}" />
        	</div>
        	<div class="platsbanken_lefter_row">
        		<strong>Telefon 1</strong><br />
        		<div class="input_img_div"><input type="text" class="form text" name="companies_telephone[]" value="{admin_foretag:item get='telephone' /}" />
                <div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_telefon"/></div></div>
                <div class="additional_telefon">
                     <ul class="additional_telefon_list additional_list">
						{admin_foretag:company_telephones company_id="{page:rurl index='3'/}"}
							<li><strong>Telefon </strong><br /><div class="input_img_div"><input type="text" class="form text" name="companies_telephone[]" value="{admin_foretag:subitem get='telephone'/}" /><div class="delete_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_telefon"/></div></div></li>
						{/admin_foretag:company_telephones}
                     </ul>
                </div>
        	</div>

			<div class="platsbanken_lefter_row">
        		<strong>Mobiltelefon 1</strong><br />
        		<div class="input_img_div"><input type="text" class="form text" name="companies_mobile[]" value="{admin_foretag:item get='mobile'/}" />
                <div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_mobile"/></div></div>
                <div class="additional_mobile">
                     <ul class="additional_mobile_list additional_list">
						{admin_foretag:company_mobiles company_id="{page:rurl index='3'/}"}
							<li><strong>Mobiltelefon </strong><br /><div class="input_img_div"><input type="text" class="form text" name="companies_mobile[]" value="{admin_foretag:subitem get='mobile'/}" /><div class="delete_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_mobile"/></div></div></li>
						{/admin_foretag:company_mobiles}
                     </ul>
                </div>
        	</div>


        	<div class="platsbanken_lefter_row">
        		<strong>Fax</strong><br />
        		<input type="text" class="form text" name="companies_fax" value="{admin_foretag:item get='fax'/}" />
        	</div>

        	<div class="platsbanken_lefter_row">
        		<strong>Bild</strong><br />

                <div class="img_upload_div">
                    <div class="img_upload_add">
                            <div style="display:none">
                                <input type="file" name="companies_bild" />
                            </div>

                            {admin_foretag:has_image state="false"}
                            <button type="button" class="button_green image_file_btn" id="companies_bild_btn" title="Ladda upp en bild" ><img src="/public/images/admin/icons/add_24.png"/></button>
                            {/admin_foretag:has_image}
                            <div id="file_path" style="display:none"></div>


                            {admin_foretag:has_image state="true"}
            		            <img id="company_image" title="Ikon" src="/public/images/companies/{admin_foretag:item get='image_big'/}"><br />
                            {/admin_foretag:has_image}
                     </div>
                </div>
                <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="companies_delete_img"><img src="/public/images/admin/icons/minus_24.png"/></button>

        	</div>
            
        	<div class="platsbanken_lefter_row">

        		<h3>Ägar-Rättigheter</h3>
        		<input type="checkbox" name="companies_access_branschguiden"{if:equals arg1="{admin_foretag:item get='access_branschguiden'/}" arg2="true"} checked="checked"{/if:equals} /> Branschguiden <i>(Redigera kategorier och publicera företagsprodukter)</i><br />
        		<input type="checkbox" name="companies_access_platsbanken"{if:equals arg1="{admin_foretag:item get='access_platsbanken'/}" arg2="true"} checked="checked"{/if:equals} /> Platsbanken <i>(Skapa platsannonser)</i><br />
        		<br />
        		<br />
        		<input type="submit" class="button_green" name="companies_submit" id="companies_submit" style="margin:0px;" value="REDIGERA FÖRETAG" />
        	</div>



        	<div class="platsbanken_lefter_row">
        		<hr class="custom_hr"/>

        		<h3>Företags Produkter</h3>
        		<br />
        		{admin_foretag:products}
        			<div id="company_product_{admin_foretag:item get='id'/}_show">
        				<strong>{admin_foretag:item get="title"/}</strong><br />
        				<br />

        				<table>
        					<tr>
        						<td>
        							<button class="button_green" onClick="productEdit({admin_foretag:item get='id'/});return false;">REDIGERA</button>
        						</td>
        						<td>
        							<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}">
        								<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
        								<input type="SUBMIT" onClick="return confirm('Vill du verkligen radera {admin_foretag:item get="title"/}?');" class="button_green" name="product_delete" value="TA BORT" />
        							</form>
        						</td>
        						<td>
        							{admin_foretag:product_position id="{admin_foretag:item get='id'/}" company_id="{page:rurl index='3'/}" position="not_first"}
        							<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}">
        								<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
        								<input type="SUBMIT" class="button_green" name="product_move_up" value="FLYTTA UPP" />
        							</form>
        							{/admin_foretag:product_position}
        						</td>
        						<td>
        							{admin_foretag:product_position id="{admin_foretag:item get='id'/}" company_id="{page:rurl index='3'/}" position="not_last"}
        							<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}">
        								<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
        								<input type="SUBMIT" class="button_green" name="product_move_down" value="FLYTTA NER" />
        							</form>
        							{/admin_foretag:product_position}
        						</td>
        					</tr>
        				</table>


        				<br />
        				<br />
        				<img src="/public/images/products/{admin_foretag:item get='image'/}" />
        				<hr class="custom_hr" />
        			</div>


        			<div id="company_product_{admin_foretag:item get='id'/}_edit" style="display:none;">
        				<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}" enctype="multipart/form-data">
        					<h3>Redigera {admin_foretag:item get='title'/}</h3>
        					<input type="hidden" name="product_id" value="{admin_foretag:item get='id'/}" />
        					Rubrik:<br />
        					<input type="text" style="width:400px;" name="product_title" value="{admin_foretag:item get='title'/}" /><br />
        					<br />
        					Text:<br />
        					<textarea style="width:400px;" name="product_text">{admin_foretag:item get='text'/}</textarea><br />
        					<br />
        					Länk:<br />
        					<input type="text" style="width:400px;" name="product_url" value="{admin_foretag:item get='url'/}" /><br />
        					<br />
        					Bild:<br />
        					<!--<input type="file" style="width:400px;" name="product_image" /><br />
        					<br />
        					<img src="/public/images/products/{admin_foretag:item get='image'/}" />-->
                             <div class="img_upload_div">
                                <div class="img_upload_add">
                                        <div style="display:none">
                                            <input type="file" name="product_bild" />
                                        </div>
                                        <button type="button" class="button_green image_file_btn" id="product_bild_btn" title="Ladda upp en bild" ><img src="/public/images/admin/icons/add_24.png"/></button>
                                       <div id="product_img_file_path" style="display:none"></div>
                                 </div>
                            </div>
                            <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="product_delete_img"><img src="/public/images/admin/icons/minus_24.png"/></button>
            				<br />  <br/> 
        					<input type="submit" class="button_green" name="product_edit" value="REDIGERA PRODUKT" />
        				</form>
        				<br />
        				<br />
        				<a style="cursor:pointer;" onClick="productClose({admin_foretag:item get='id'/});return false;">Stäng</a><br />
        				<hr class="custom_hr" /><br />
        			</div>
        		{/admin_foretag:products}
        		<br />

                <button class="button_green" style="margin:0px;" onClick="productNew();return false;">LÄGG TILL PRODUKT</button>
                <br/>
        		<div id="company_product_new" style="display:none;">
        			<form method="POST" action="/admin/branschguiden/redigera/{page:rurl index='3'/}" enctype="multipart/form-data">
        				<strong>Rubrik:</strong><br />
        				<input type="text" style="width:400px;" name="product_title" /><br />
        				<strong>Text:</strong><br />
        				<textarea style="width:400px;" name="product_text"></textarea><br />
        				<strong>Länk:</strong><br />
        				<input type="text" style="width:400px;" name="product_url" /><br />
        				<strong>Bild:</strong><br />
        				<!--<input type="file" style="width:400px;" name="product_image" /><br />-->
                        <div class="img_upload_div">
                            <div class="img_upload_add">
                                    <div style="display:none">
                                        <input type="file" name="product_bild" />
                                    </div>
                                    <button type="button" class="button_green image_file_btn" id="product_bild_btn" title="Ladda upp en bild" ><img src="/public/images/admin/icons/add_24.png"/></button>
                                   <div id="product_img_file_path" style="display:none"></div>
                             </div>
                        </div>
                        <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="product_delete_img"><img src="/public/images/admin/icons/minus_24.png"/></button>
        				<br />  <br/>
        				<input type="submit" class="button_green" name="product_new" value="SPARA PRODUKT" />
        			</form>
        			<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:20px;margin-bottom:20px;" />
        		</div>
        	</div>
        </div>
        <div style="display:table-cell;margin-left:10px;">
            <div class="platsbanken_lefter_row">
        		<div class="section_header">Kategorier</div>

        		<div class="all_categories">
        			{admin_foretag:all_categories}
        				<div style="margin-left:{admin_foretag:padding padding='{admin_foretag:subitem get='padding'/}' pixels='25'/}px;">
        					{admin_foretag:is_parent state="false"}
        						<input type="checkbox" name="companies_categories[]" value="{admin_foretag:subitem get='id'/}"{admin_foretag:in_category company_id="{page:rurl index='3'/}" id="{admin_foretag:subitem get='id'/}" state="true"} checked="checked"{/admin_foretag:in_category} />
        						{admin_foretag:subitem get="name"/}
        					{/admin_foretag:is_parent}
        					{admin_foretag:is_parent state="true"}
        						<input type="checkbox" name="companies_categories[]" value="{admin_foretag:subitem get='id'/}"{admin_foretag:in_category company_id="{page:rurl index='3'/}" id="{admin_foretag:subitem get='id'/}" state="true"} checked="checked"{/admin_foretag:in_category} />
        						<strong>{admin_foretag:subitem get="name"/}</strong>
        					{/admin_foretag:is_parent}
        				</div>
        			{/admin_foretag:all_categories}
        		</div>
        	</div>
        </div>
    </div>
</form>
</div>

{/template:area}