{template:area id="1"}
<link rel="stylesheet" href="/public/js/jquery_ui/jquery-ui.css" />
<script src="/public/js/jquery_ui/jquery-1.9.1.js"></script>
<script src="/public/js/jquery_ui/jquery-ui.js"></script>
<script>
$(function() {
{branschguiden:categories status="waiting"}
	$( "#dialog_categories_{branschguiden:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( "#opener_{branschguiden:item get='id'/}" ).click(function() {
		$( "#dialog_categories_{branschguiden:item get='id'/}" ).dialog( "open" );
	});
{/branschguiden:categories}
});
</script>
{/template:area}

{template:area id="2"}

{branschguiden:categories}
	<div id="dialog_categories_{branschguiden:item get='id'/}" title="Visa Bild">
		<form method="POST" action="/{page:rurl/}" enctype="multipart/form-data">
			{branschguiden:has_image state="true"}
				<img src="/public/images/branschguiden/{branschguiden:item get='image'/}" /><br /><br />
			{/branschguiden:has_image}
			<input type="FILE" name="category_image" /><br />
			<input type="hidden" name="category_id" value="{branschguiden:item get='id'/}" />
			<br />
			<input type="submit" name="edit_category_image" class="button_green" value="REDIGERA" />
		</form>
	</div>
{/branschguiden:categories}


	{branschguiden:html set='has_children_prefix'}<li style="width:400px;"><ul><li style="width:400px;">
		<form method="post" action="/admin/branschguiden/kategorier">
				<input type="hidden" name="parent" value="[parent_id]" style="width:300px;" />
				<input type="text" name="name" value="" style="width:300px;" />
				<input type="submit" name="add" value="" class="cat_add" />
			</form></li>{/branschguiden:html}
   	{branschguiden:html set='has_children_suffix'}</ul></li>{/branschguiden:html}
	{branschguiden:html set='child_prefix'}<li style="width:400px;">{/branschguiden:html}
	{branschguiden:html set='child_suffix'}</li>{/branschguiden:html}

	<ul class="categories">
        <li>
			<form method="post" action="/admin/branschguiden/kategorier">
				<input type="hidden" name="parent" value="0" style="width:300px;" />
				<input type="text" name="name" value="" style="width:300px;" />
				<input type="submit" name="add" value="" class="cat_add" />
			</form>
		</li>
	{branschguiden:categories}
		<li style="width:600px;">
			<table>
				<tr>
					<td>
						<form method="post" action="/admin/branschguiden/kategorier">
							<input type="hidden" name="id" value="{branschguiden:item get='id'/}" style="width:300px;" />
							<input type="text" name="name" value="{branschguiden:item get='name'/}" style="width:300px;" />
					</td>
					<td style="width:60px;">
							<input type="submit" name="edit" value="" class="cat_save" />
						</form>
						<a href="/admin/branschguiden/kategorier?delete={branschguiden:item get='id'/}" onClick="return confirm('Vill du verkligen radera \'{branschguiden:item get='name'/}\' och alla dess under kategorier?');"><img src="/public/images/admin/icons/delete.png" /></a>
						{branschguiden:has_children is="false"}
						<a href="/admin/branschguiden/kategorier?add_child={branschguiden:item get='id'/}"><img src="/public/images/admin/icons/arrow_child.png" /></a>
						{/branschguiden:has_children}
					</td>
					<td style="width:100px;">
						<img src="/public/images/admin/icons/design.png" id="opener_{branschguiden:item get='id'/}" style="cursor:pointer;" />
						{branschguiden:has_image state="true"}* Har bild{/branschguiden:has_image}
					</td>
				</tr>
			</table>
		</li>
			{branschguiden:children}
				<table>
					<tr>
						<td>
							<form method="post" action="/admin/branschguiden/kategorier">
								<input type="hidden" name="id" value="{branschguiden:item get='id'/}" style="width:300px;" />
								<input type="text" name="name" value="{branschguiden:item get='name'/}" style="width:300px;" />
						</td>
						<td style="width:200px;">
								<input type="submit" name="edit" value="" class="cat_save" />
							</form>
							<a href="/admin/branschguiden/kategorier?delete={branschguiden:item get='id'/}" onClick="return confirm('Vill du verkligen radera \'{branschguiden:item get='name'/}\' och alla dess under kategorier?');"><img src="/public/images/admin/icons/delete.png" /></a>
							{branschguiden:has_children is="false"}
							<a href="/admin/branschguiden/kategorier?add_child={branschguiden:item get='id'/}"><img src="/public/images/admin/icons/arrow_child.png" border="0" /></a>
							{/branschguiden:has_children}
						</td>
					</tr>
				</table>
			{/branschguiden:children}
	{/branschguiden:categories}

	</ul>


{/template:area}