{template:area id="1"}
	{page:rurl index="3" empty="true"}
		<script>
			function updateIframe(id,request) {
				var iframe = document.getElementById('cat_startpage_'+id);
				iframe.src = "/admin/branschguiden/kategorier-pa-startsidan/column/"+ id +"/no-menu"+request;
			}
		</script>
	{/page:rurl}
	
	{page:rurl index="4" equals="1"}
		<script>
			function update(id) {
				window.location = "/admin/branschguiden/kategorier-pa-startsidan/column/1/no-menu?column=1&add="+ id;
			}
		</script>
		{branschguiden:column_update}
			<script>
				window.parent.updateIframe(2,"");
			</script>
		{/branschguiden:column_update}
	{/page:rurl}
	
	{page:rurl index="4" equals="2"}
		<script>
			function remove(id) {
				window.location = "/admin/branschguiden/kategorier-pa-startsidan/column/2/no-menu?column=2&remove="+ id;
			}
			function load(id) {
				parent.updateIframe(3,"?parent="+id);
			}
		</script>
		{branschguiden:column_update}
			<script>
				parent.updateIframe(1,"");
			</script>
		{/branschguiden:column_update}
	{/page:rurl}
	
	{page:rurl index="4" equals="3"}
		<script>
			function toggle(id) {
				window.location = "/admin/branschguiden/kategorier-pa-startsidan/column/3/no-menu?column=3&toggle="+ id +"&parent="+ {branschguiden:parent/};
			}
		</script>
		{branschguiden:column_update/}
	{/page:rurl}

{/template:area}

{template:area id="2"}
	{page:rurl index="3" equals="column"}

		{page:rurl index="4" equals="1"}
			<div class="column">
				<ul>
			{branschguiden:column index="1"}
					<li onClick="update({branschguiden:item get='id'/});">
						<div class="title">{branschguiden:item get="name"/}</div>
						<div class="buttons"><img onClick="update({branschguiden:item get='id'/});" src="/public/images/admin/icons/add.png" /></div>
					</li>
			{/branschguiden:column}
				</ul>
			</div>
		{/page:rurl}
		
		{page:rurl index="4" equals="2"}
			<div class="column">
				<ul>
			{branschguiden:column index="2"}
					<li onClick="load({branschguiden:item get='id'/});">
						<div class="title">{branschguiden:item get="name"/}</div>
						<div class="buttons"><img onClick="remove({branschguiden:item get='id'/});" src="/public/images/admin/icons/delete.png" /></div>
					</li>
			{/branschguiden:column}
				</ul>
			</div>
		{/page:rurl}
		
		{page:rurl index="4" equals="3"}
			<div class="column">
				<ul>
				{branschguiden:parent_category}
					<li>
						<div class="title"><b>{branschguiden:item get="name"/}</b></div>
					</li>
				{/branschguiden:parent_category}
				{branschguiden:column index="3" start="<li><div class='title'>Välj en huvudkategori till vänster</div></li>" empty="<li><div class='title'>Det finns inga under-kategorier.</div></li>"}
					<li onClick="toggle({branschguiden:item get='id'/});">
						<div class="title">{branschguiden:item get="name"/}</div>
						<div class="buttons">{branschguiden:sub_category_selected}<img src="/public/images/admin/icons/save.png" />{/branschguiden:sub_category_selected}</div>
					</li>
				{/branschguiden:column}
				</ul>
			</div>
		{/page:rurl}

	{/page:rurl}


	{page:rurl index="3" empty="true"}
		<table>
			<tr>
				<td>
					<strong>Huvudkategorier</strong>
				</td>
				<td>
					<strong>Valda Huvudkategorier</strong>
				</td>
				<td>
					<strong>Underkategorier</strong>
				</td>
			</tr>
			<tr>
				<td>
					<iframe class="branschguiden_categories" src="/admin/branschguiden/kategorier-pa-startsidan/column/1/no-menu" id="cat_startpage_1" class="cat_startpage_1" width="300px" height="500px"></iframe>
				</td>
				<td>
					<iframe class="branschguiden_categories" src="/admin/branschguiden/kategorier-pa-startsidan/column/2/no-menu" id="cat_startpage_2" class="cat_startpage_2" width="300px" height="500px"></iframe>
				</td>
				<td>
					<iframe class="branschguiden_categories" src="/admin/branschguiden/kategorier-pa-startsidan/column/3/no-menu" id="cat_startpage_3" class="cat_startpage_3" width="300px" height="500px"></iframe>
				</td>
			</tr>
		</table>
	{/page:rurl}

{/template:area}