{template:area id="1"}
	<link rel="StyleSheet" href="/public/js/jquery-textext-master/src/css/textext.core.css" type="text/css" />
	<link rel="StyleSheet" href="/public/js/jquery-textext-master/src/css/textext.plugin.tags.css" type="text/css" />
	<script src="/public/js/jquery-textext-master/src/js/textext.core.js"></script>
	<script src="/public/js/jquery-textext-master/src/js/textext.plugin.tags.js"></script>
	<script src="/public/js/ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script>
$(function() {
	$( "#tags-dialog" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 500
	});
	$( "#opener" ).click(function() {
		$( "#tags-dialog" ).dialog( "open" );
	});
});
</script>
{/template:area}

{template:area id="2"}
{branschguiden:email_template_update /}

<div id="tags-dialog" title="Taggar för emails">
<p>
Detta är taggar som används för att generera text i emails, som t.e.x besökarens namn.<br />
<hr size="1" width="100%" />
	<fieldset>
		<legend><i>Exempel: Om besökaren skrev <b>John Doe</b> som namn:</i></legend>
		"Hej, <b>[name]</b>! Din förfrågan har skickats!"<br />
		<i><b>Blir:</b></i><br />
		"Hej, <b>John Doe</b>! Din förfrågan har skickats!"
  </fieldset>
</p>
<p>
<b>Taggar</b><br />
<ul>
	<li>[text] = "Förfrågan..."</li>
	<li>[name] = "Ditt namn..."</li>
	<li>[email] = "Epost..."</li>
	<li>[company_name] = "Företagsnamn..."</li>
	<li>[telephone] = "Telefon..."</li>
	<li>[company_type] = "Typ av företag..."</li>
	<li>[title] = "Rubrik..."</li>
</ul>
</p>
</div>
<br/>
<input type="BUTTON" id="opener" value="VISA TAGGAR" class="button_green" onclick="openTagsDialog();">
<hr size="1" width="100%" style="border:0px;border-bottom:1px solid #dddddd;" />
	<form method="POST" action="/admin/branschguiden/requests-email-templates">
	<table cellspacing="0" cellpadding="5" border="0">
		<tr>
			<td>
				<b>Mail till företagen</b>
			</td>
			<td>
				<b>Bekräftelsemail till besökaren</b>
			</td>
		</tr>
		<tr>
			<td>
				<b>Titel</b><br />
				<input type="TEXT" name="template_title_1" style="width:500px;border:1px solid #dddddd;" value="{branschguiden:email_template id='1' get='title'/}" />
			</td>
			<td>
				<b>Titel</b><br />
				<input type="TEXT" name="template_title_2" style="width:500px;border:1px solid #dddddd;" value="{branschguiden:email_template id='2' get='title'/}" />
			</td>
		</tr>
		<tr>
			<td>
				<b>Email</b><br />
				<textarea name="template_text_1" style="width:500px;height:500px;border:1px solid #dddddd;" class="ckeditor">{branschguiden:email_template id='1' get='text'/}</textarea>
			</td>
			<td>
				<b>Email</b><br />
				<textarea name="template_text_2" style="width:500px;height:500px;border:1px solid #dddddd;" class="ckeditor">{branschguiden:email_template id='2' get='text'/}</textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2">
                <input type="SUBMIT" name="template_update" value="UPPDATERA" class="button_green">
			</td>
		</tr>
	</table>
	</form>   	
{/template:area}
















