{template:area id="1"}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script>
$(function() {
{branschguiden:requests status="waiting"}
	$( "#dialog_companies_{branschguiden:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( "#opener_{branschguiden:item get='id'/}" ).click(function() {
		$( "#dialog_companies_{branschguiden:item get='id'/}" ).dialog( "open" );
	});
{/branschguiden:requests}
{branschguiden:requests status="accepted"}
	$( "#dialog_companies_{branschguiden:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( "#opener_{branschguiden:item get='id'/}" ).click(function() {
		$( "#dialog_companies_{branschguiden:item get='id'/}" ).dialog( "open" );
	});
{/branschguiden:requests}
{branschguiden:requests status="declined"}
	$( "#dialog_companies_{branschguiden:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( "#opener_{branschguiden:item get='id'/}" ).click(function() {
		$( "#dialog_companies_{branschguiden:item get='id'/}" ).dialog( "open" );
	});
{/branschguiden:requests}
});
</script>
{/template:area}

{template:area id="2"}
<div style="margin:10px;">

{pager:set attr="items_per_page" value="50"/}
{pager:set attr="page_index" value="3"/}
{pager:set attr="page_margin" value="2"/}
{pager:set attr="url" value="/admin/branschguiden/requests/[ID]"/}
{pager:number_of_items value="{branschguiden:requests_total_items/}"/}
{pager:divider} {/pager:divider}
{pager:inactive}<button class="button_green" onClick="window.location='{pager:get attr='url'/}'">[ID]</button>{/pager:inactive}
{pager:active}<button class="button_green" onClick="window.location='{pager:get attr='url'/}">([ID])</button>{/pager:active}
{pager:prefix}<button class="button_green" onClick="window.location='/admin/branschguiden/requests/[FIRST]'">FÖRSTA</button> {/pager:prefix}
{pager:suffix} <button class="button_green" onClick="window.location='/admin/branschguiden/requests/[LAST]'">SISTA</button>{/pager:suffix}



{pager:pages/}

<br />
<br />

{branschguiden:requests}
	<div id="dialog_companies_{branschguiden:item get='id'/}" title="Visa Förfrågan" style="display:none;">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td width="150px" valign="top"><strong>Skickat</strong></td>
				<td valign="top">{branschguiden:item get='sent'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>IP</strong></td>
				<td valign="top">{branschguiden:item get='ip'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Namn</strong></td>
				<td valign="top">{branschguiden:item get='name'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Email</strong></td>
				<td valign="top">{branschguiden:item get='email'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Företags Namn</strong></td>
				<td valign="top">{branschguiden:item get='company_name'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Telefon</strong></td>
				<td valign="top">{branschguiden:item get='telephone'/}</td>
			</tr>
            <tr>
				<td valign="top"><strong>Rubrik</strong></td>
				<td valign="top">{branschguiden:item get='title'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Förfrågan</strong></td>
				<td valign="top">{branschguiden:item get='text'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Förfrågade Företag</strong></td>
				<td valign="top">
				<form method="POST" action="/{page:rurl/}">
				{branschguiden:request_companies}
					<input type="checkbox" name="companies_requested[]" value="{branschguiden:subitem get='id'/}" checked="checked" />{branschguiden:subitem get='name'/}<br />
				{/branschguiden:request_companies}
				<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;" />
				<strong>Övriga Företag</strong><br />
				{branschguiden:request_companies all="true"}
					<input type="checkbox" name="companies_requested[]" value="{branschguiden:subitem get='id'/}" />{branschguiden:subitem get='name'/}<br />
				{/branschguiden:request_companies}
				</form>
				</td>
			</tr>
		</table>
	</div>
{/branschguiden:requests}


<h2>Väntar</h2>
<table cellpadding="0" cellspacing="0" border="0" class="foretag" style="width:1000px">
	<tr class="table_header">
		<th></th>
		<th></th>
		<th></th>
		<th>Datum</th>
		<th>Rubrik</th>
		<th>Meddelande</th>
		<th>Företag</th>
		<th>Namn</th>
	</tr>
	{branschguiden:requests status="waiting"}
	<tr>
        <td style="text-align:center;width:50px"><a id="opener_{branschguiden:item get='id'/}" href="#">Visa</a></td>
        <td style="text-align:center;width:50px"><a href="#" onClick="window.location='/admin/branschguiden/requests/accept/{branschguiden:item get='id'/}'">Godkänn</a></td>
        <td style="text-align:center;width:50px"><a href="#" onClick="window.location='/admin/branschguiden/requests/decline/{branschguiden:item get='id'/}'">Neka</a></td>
		<td valign="top" style="width:75px">{date:unix_to_format unix="{branschguiden:item get='sent'/}" format="Y-m-d"/}</td>
        <td style="width:150px">{branschguiden:item get='title'/}</td>
        <td valign="top" style="width:200px">{branschguiden:item get='text' cut='50' add='...'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='company_name'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='name'/}</td>

		<!--<td valign="top" style=""><button id="opener_{branschguiden:item get='id'/}">Visa Förfrågan</button></td>
		<td valign="top" style="">
			<button onClick="document.location='/admin/branschguiden/requests/accept/{branschguiden:item get='id'/}';return false;">Godkänn</button>
			<button onClick="document.location='/admin/branschguiden/requests/decline/{branschguiden:item get='id'/}';return false;">Neka</button>
		</td>-->
	</tr>
	{/branschguiden:requests}
    <tr class="table_header"><td>&nbsp;</td></tr>
    <tr class="table_header"><td colspan="8"><h2>Accepterade</h2></td></tr>
    <tr class="table_header">
		<th></th>
		<th></th>
		<th></th>
		<th>Datum</th>
		<th>Rubrik</th>
		<th>Meddelande</th>
		<th>Företag</th>
		<th>Namn</th>
	</tr>
    {branschguiden:requests status="accepted"}
	<tr>
	    <td style="text-align:center;width:50px" ><a id="opener_{branschguiden:item get='id'/}" href="#">Visa</a></td>
        <td style="text-align:center;width:50px"></td>
        <td style="text-align:center;width:50px"></td>
		<td valign="top" style="width:75px">{date:unix_to_format unix="{branschguiden:item get='sent'/}" format="Y-m-d"/}</td>
        <td style="width:150px">{branschguiden:item get='title'/}</td>
        <td valign="top" style="width:200px">{branschguiden:item get='text' cut='50' add='...'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='company_name'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='name'/}</td>
	</tr>
	{/branschguiden:requests}
    <tr class="table_header"><td>&nbsp;</td></tr>
    <tr class="table_header"><td colspan="8"><h2>Nekade</h2></td></tr>
    <tr class="table_header">
		<th></th>
		<th></th>
		<th></th>
		<th>Datum</th>
		<th>Rubrik</th>
		<th>Meddelande</th>
		<th>Företag</th>
		<th>Namn</th>
	</tr>
    {branschguiden:requests status="declined"}
	<tr>
	    <td style="text-align:center;width:50px"><a id="opener_{branschguiden:item get='id'/}" href="#">Visa</a></td>
        <td style="text-align:center;width:50px"><a href="#" onClick="window.location='/admin/branschguiden/requests/accept/{branschguiden:item get='id'/}'">Godkänn</a></td>
        <td style="text-align:center;width:50px"></td>
		<td valign="top" style="width:75px">{date:unix_to_format unix="{branschguiden:item get='sent'/}" format="Y-m-d"/}</td>
        <td style="width:150px">{branschguiden:item get='title'/}</td>
        <td valign="top" style="width:200px">{branschguiden:item get='text' cut='50' add='...'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='company_name'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='name'/}</td>
	</tr>
	{/branschguiden:requests}
</table>

<br/>
<br/>
<!--<h2>Accepterade</h2>
<table cellpadding="0" cellspacing="0" border="0" class="foretag" style="width:1000px">
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th>Datum</th>
		<th>Rubrik</th>
		<th>Meddelande</th>
		<th>Företag</th>
		<th>Namn</th>
	</tr>
	{branschguiden:requests status="accepted"}
	<tr>
	    <td style="text-align:center;width:50px" ><a id="opener_{branschguiden:item get='id'/}" href="#">Visa</a></td>
        <td style="text-align:center;width:50px"></td>
        <td style="text-align:center;width:50px"></td>
		<td valign="top" style="width:75px">{date:unix_to_format unix="{branschguiden:item get='sent'/}" format="Y-m-d"/}</td>
        <td style="width:150px"></td>
        <td valign="top" style="width:200px">{branschguiden:item get='text' cut='50' add='...'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='company_name'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='name'/}</td>
	</tr>
	{/branschguiden:requests}
</table>


<br/>
<br/>
<h2>Nekade</h2>
<table cellpadding="0" cellspacing="0" border="0" class="foretag" style="width:1000px">
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th>Datum</th>
		<th>Rubrik</th>
		<th>Meddelande</th>
		<th>Företag</th>
		<th>Namn</th>
	</tr>
	{branschguiden:requests status="declined"}
	<tr>
	    <td style="text-align:center;width:50px"><a id="opener_{branschguiden:item get='id'/}" href="#">Visa</a></td>
        <td style="text-align:center;width:50px"><a href="#" onClick="window.location='/admin/branschguiden/requests/accept/{branschguiden:item get='id'/}'">Gödkann</a></td>
        <td style="text-align:center;width:50px"></td>
		<td valign="top" style="width:75px">{date:unix_to_format unix="{branschguiden:item get='sent'/}" format="Y-m-d"/}</td>
        <td style="width:150px"></td>
        <td valign="top" style="width:200px">{branschguiden:item get='text' cut='50' add='...'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='company_name'/}</td>
		<td valign="top" style="width:150px">{branschguiden:item get='name'/}</td>
	</tr>
	{/branschguiden:requests}
</table>  -->


<br />
<br />


{pager:pages/}





</div>
{/template:area}