{konto:create_password/}

<div class="box_big">
	<div class="box_big_header">Konto - Nytt Lösenord</div>
	<div class="box_big_content">
		
			<div class="box_big_lefter">
			
				{konto:create_password_success state="false" hash="true"}
					<h2>Ange nytt lösenord nedan:</h2>
					<br />
					<form method="POST" action="">
					Lösenord:<br />
					<input type="password" id="create_password" name="create_password" style="width:294px;" /><br />
					<br />
					Upprepa Lösenord:<br />
					<input type="password" id="create_password_check" name="create_password_check" style="width:294px;" /><br />
					<br />
					<input type="submit" class="button_green" style="float:left;" name="login_submit" value="BYT LÖSENORD" />
					<br />
					<br />
					<br />
					</form>
				{/konto:create_password_success}
				
				{konto:create_password_success state="true"}
					<h2>Ditt lösenord har ändrats!</h2>
					Lösenordet till ditt konto har ändrats, och du kan nu logga in.<br />
					<br />
					<a href="/konto/logga-in">Klicka här för att Logga In</a>.
				{/konto:create_password_success}
				
				{konto:create_password_success state="false" hash="false"}
					<h2>Ett fel uppstod.</h2>
					Vänligen gå tillbaka och försök igen, eller kontakta oss.<br />
					<br />
					<a href="/konto/logga-in">Klicka här för att Logga In</a>.
				{/konto:create_password_success}
				
			</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>