<div class="box_middle">
	<div class="box_middle_header">{lang:get string='_about_us_conditions_title'/}</div>
	<div class="box_middle_content">
	
		<div class="box_middle_lefter">
			{lang:get string='_about_us_about_menu'/} | <a href="/om-oss/kontakta-oss">{lang:get string='_about_us_contact_us_menu'/}</a> | <a href="/om-oss/vara-villkor">{lang:get string='_about_us_our_conditions_menu'/}</a>
		</div>
		
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			{html_area:get id="1"/}
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>


