<div class="box_middle">
	<div class="box_middle_header_2">
		Sök på Hrtorget.se
		<form method="GET" action="/sok">
		<div class="box_middle_header_2_content">
				<span style="float:left;margin:0px;padding:0px;">
					<input type="TEXT" class="input_text" name="q" value="{sok:search_string/}" />
				</span>
				<span style="float:left;margin:0px;padding:0px;margin-left:16px;">
					<input type="SUBMIT" class="button_green" value="NY SÖKNING" />
				</span>
		</div>
		<div class="box_middle_header_2_content_2" style="text-align:left;">
			<span style="font-size:9px !important;font-weight:normal !important;">
			
				<span class="search_bg_box" style="{sok:get_search_in check='hela_siten' return='background-color:#5AC4DF;'/}">
					<input id="search_checkbox_1" type="CHECKBOX" class="css-checkbox" name="search_in_h" value="hela_siten"{sok:get_search_in check='hela_siten' return=' checked="checked"'/} />
					<label for="search_checkbox_1" class="css-label">Hela Siten</label>
				</span>
				
				<span class="search_bg_box" style="{sok:get_search_in check='nyheter' return='background-color:#5AC4DF;'/}">
					<input rel="check_this" id="search_checkbox_2" type="CHECKBOX" class="css-checkbox" name="search_in_n" value="nyheter"{sok:get_search_in check='nyheter' return=' checked="checked"'/} />
					<label for="search_checkbox_2" class="css-label">Nyheter</label> 
				</span>
				
				<span class="search_bg_box" style="{sok:get_search_in check='branschguiden' return='background-color:#5AC4DF;'/}">
					<input rel="check_this" id="search_checkbox_3" type="CHECKBOX" class="css-checkbox" name="search_in_b" value="branschguiden"{sok:get_search_in check='branschguiden' return=' checked="checked"'/} />
					<label for="search_checkbox_3" class="css-label">Branschguiden</label> 
				</span>
				
				<span class="search_bg_box" style="{sok:get_search_in check='kop_salj' return='background-color:#5AC4DF;'/}">
					<input rel="check_this" id="search_checkbox_4" type="CHECKBOX" class="css-checkbox" name="search_in_k" value="kop_salj"{sok:get_search_in check='kop_salj' return=' checked="checked"'/} />
					<label for="search_checkbox_4" class="css-label">Köp & Sälj</label> 
				</span>
				
				<p style="margin-top:10px;margin-bottom:10px;" />
				
				<span class="search_bg_box" style="{sok:get_search_in check='platsbanken' return='background-color:#5AC4DF;'/}">
					<input rel="check_this" id="search_checkbox_5" type="CHECKBOX" class="css-checkbox" name="search_in_j" value="platsbanken"{sok:get_search_in check='platsbanken' return=' checked="checked"'/} />
					<label for="search_checkbox_5" class="css-label">Platsbanken</label> 
				</span>
				
				<span class="search_bg_box" style="{sok:get_search_in check='forum' return='background-color:#5AC4DF;'/}">
					<input rel="check_this" id="search_checkbox_6" type="CHECKBOX" class="css-checkbox" name="search_in_f" value="forum"{sok:get_search_in check='forum' return=' checked="checked"'/} />
					<label for="search_checkbox_6" class="css-label">Forum</label> 
				</span>
				
				<span class="search_bg_box" style="{sok:get_search_in check='kalender' return='background-color:#5AC4DF;'/}">
					<input rel="check_this" id="search_checkbox_7" type="CHECKBOX" class="css-checkbox" name="search_in_ka" value="kalender"{sok:get_search_in check='search_in_ka' return=' checked="checked"'/} />
					<label for="search_checkbox_7" class="css-label">Kalender</label> 
				</span>
			</span>
		</div>
		</form>
	</div>
	<div class="box_middle_content">
	
		<h3>Antal Sökresultat: {sok:total/} ("{sok:search_string/}")</h3>
	
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			{sok:results}
				{sok:has_image state="true"}
				<table border="0" width="100%" cellpadding="3" cellspacing="0">
					<tr>
						<td width="15%">
							<a href="{sok:item get='url'/}"><img src="{sok:item get='image'/}" border="0" width="75" /></a>
						</td>
						<td width="85%" valign="top" align="left">
							<table border="0" width="100%" cellpadding="3" cellspacing="0">
								<tr>
									<td width="80%" valign="top"><b><a href="{sok:item get='url'/}" style="font-size: 15px !important;">{sok:item get="title"/}</a></b></td>
									<td align="right" valign="top"><span style="color:#5AC4DF;font-size:11px;">{sok:item get="type"/}</span></td>
								</tr>
								<tr>
									<td colspan="2" valign="top"><a href="{sok:item get='url'/}" style="font-weight:normal !important;color:#000000 !important;">{sok:item get="text"/}</a></td>
								</tr>
							</table>
						</td>
					</tr>
					{sok:not_last_item}
					<tr>
						<td colspan="2">
							<hr size="1" width="100%" style="color:#cccccc;" />
						</td>
					</tr>
					{/sok:not_last_item}
				</table>
				{/sok:has_image}
				{sok:has_image state="false"}
				<table border="0" width="100%" cellpadding="3" cellspacing="0">
					<tr>
						<td width="100%" valign="top" align="left">
							<table border="0" width="100%" cellpadding="3" cellspacing="0">
								<tr>
									<td width="80%" valign="top"><b><a href="{sok:item get='url'/}" style="font-size: 15px !important;">{sok:item get="title"/}</a></b></td>
									<td align="right" valign="top"><span style="color:#5AC4DF;font-size:11px;">{sok:item get="type"/}</span></td>
								</tr>
								<tr>
									<td colspan="2" valign="top"><a href="{sok:item get='url'/}" style="font-weight:normal !important;color:#000000 !important;">{sok:item get="text"/}</a></td>
								</tr>
							</table>
						</td>
					</tr>
					{sok:not_last_item}
					<tr>
						<td>
							<hr size="1" width="100%" style="color:#cccccc;" />
						</td>
					</tr>
					{/sok:not_last_item}
				</table>
				{/sok:has_image}
			{/sok:results}
					
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>


