<div class="box_middle">
	<div class="box_middle_header">{lang:get string='_about_us_conditions_title'/}</div>
	<div class="box_middle_content">
	
		<div class="box_middle_lefter">
			<a href="/om-oss/om-hrtorget">{lang:get string='_about_us_about_menu'/}</a> | <a href="/om-oss/kontakta-oss">{lang:get string='_about_us_contact_us_menu'/}</a> | {lang:get string='_about_us_our_conditions_menu'/}
		</div>
		
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			{html_area:get id="3"/}
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>


