{template:area id="20" desc="title"}Annonsera på Hotell- & Restaurangtorget ! | Hrtorget.se{/template:area}
{template:area id="21" desc="description"}Vill du också synas i Sveriges största nätverk för hotell & restaurangbranschen. Annonsera på Hotell- & Restaurangtorget! | Hrtorget.se{/template:area}
{template:area id="22" desc="keywords"}Vill du också synas i Sveriges största nätverk för hotell & restaurangbranschen. Annonsera på Hotell- & Restaurangtorget{/template:area}

{kontakt:check/}
<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content">

		<div class="box_middle_lefter">
			<span>
				<b style="font-size:20px;line-height:25px;">
					Annonsera på Sveriges största <br />
					portal för hotell- & restaurangföretagare
				</b>
			</span><br />
			<br />
			Varje månad har Hrtorget.se mellan 20.000 – 25.000 besökare. Vårt nyhetsbrev med intressanta branschnyheter skickas varje månad ut till över 27.000 prenumeranter i branschen och ca 5.800 branschmänniskor följer oss på Facebook.
			<br />
			<br />
			Fyll i dina kontaktuppgifter nedan så återkommer vi till dig inom kort och berättar vilka möjligheter du har att nå ut på bästa möjliga sätt till minsta möjliga kostnad.
			<br />
			<br />
			<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;" />
			<br />
			<div style="background-color:#D8D5D2;padding-left:10px;padding-right:10px;padding-bottom:10px;">
			{kontakt:message state="false"}
				<br />
				<h3>Kontakta Hrtorget.se angående annonsering:</h3>
				<table width="450" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>
							<form method="POST" action="/annonsera" id="contact_form2" name="contact_form">
								<br />
								<b>Annonstyp:</b><br />
								<div id="contact_type_border" style="padding:10px;width:429px;">
									<input type="RADIO" class="contact_type" name="contact_type" value="branschguiden" /> Branschguiden<br />
									<input type="RADIO" class="contact_type" name="contact_type" value="annons" /> Banner<br />
									<input type="RADIO" class="contact_type" name="contact_type" value="platsbanken" /> Platsbanken<br />
									<input type="RADIO" class="contact_type" name="contact_type" value="kop_salj" /> Köp & Säljmarknad för leverantörer och mäklare<br />
									<input type="RADIO" class="contact_type" name="contact_type" value="ovrigt" /> Övrigt<br />
								</div>
								
								<input type="TEXT" rel="blur" name="contact_name" id="contact_name" class="text_half defaultTextActive" style="margin-right:18px;color:#000000;width:200px !important;" value="Ditt namn" title="Ditt namn" />
								<input type="TEXT" rel="blur" name="contact_email" id="contact_email" class="text_half defaultTextActive" value="Epost" title="Epost" style="color:#000000;width:200px !important;" />

								<input type="TEXT" rel="blur" name="contact_company_name" id="contact_company_name" class="text_half defaultTextActive" style="margin-right:18px;color:#000000;width:200px !important;" value="Företagsnamn" title="Företagsnamn" />
								<input type="TEXT" rel="blur" name="contact_telephone" id="contact_telephone" class="text_half defaultTextActive" value="Telefon" title="Telefon" style="color:#000000;width:200px !important;" />
								
								<textarea name="contact_message" id="contact_message" class="text_whole defaultTextActive" title="Hej, vänligen kontakta mig angående" style="color:#000000;margin-bottom:15px;width:434px !important;">Hej, vänligen kontakta mig angående</textarea>

								<div id="contact_error" style="width:471px;padding-top:10px;color:orange;font-weight:bold;"></div>
								
								<input type="SUBMIT" style="margin-top:10px;float:right;margin-right:21px;" class="button_green" id="contact_submit" name="contact_submit" value="SKICKA FÖRFRÅGAN" />
							</form>
						</td>
					</tr>
				</table>
				{/kontakt:message}
				
				{kontakt:message state="true"}
				<div style="width:100%;vertical-align:middle;text-align:center;padding-top:50px;padding-bottom:40px;">
					<img src="/public/images/gron-check-icon.png" /><br />
					<br />
					<b>Tack! Vi hör av oss till dig inom kort :-)</b>
				</div>
				{/kontakt:message}
			</div>
		</div>
		
	</div>
	<div class="box_empty_footer"></div>
</div>