{template:area id="1"}
	{page:rurl index="2" empty="true"}
		<script>
			var send_type = 'branschguiden';
			function updateIframe(id,request) {
				var iframe = document.getElementById('cat_startpage_'+id);
				iframe.src = "/admin/banners/top-big/column/"+ id +"/no-menu"+request+"&type=branschguiden"+send_type;
			}
		</script>
	{/page:rurl}
	
	{page:rurl index="3" equals="1"}
		<script>
			function update(id) {
				window.location = "/admin/banners/column/1/no-menu?column=1&add="+ id;
			}
			function load(id) {
				parent.updateIframe(3,"?parent="+id);
				parent.updateIframe(2,"?parent="+id);
			}
		</script>
		{admin_banners:column_update}
			<script>
				window.parent.updateIframe(2,"?holder=1");
			</script>
		{/admin_banners:column_update}
	{/page:rurl}
	
	{page:rurl index="3" equals="2"}
		<script>
			function remove(id) {
				window.location = "/admin/banners/column/2/no-menu?column=2&remove="+ id;
			}
			function load(id) {
				parent.updateIframe(3,"?parent="+id);
			}
		</script>
		{admin_banners:column_update}
			<script>
				parent.updateIframe(1,"?holder=1");
			</script>
		{/admin_banners:column_update}
	{/page:rurl}
	
	{page:rurl index="3" equals="3"}
		<script>
			function toggle(id) {
				window.location = "/admin/banners/column/3/no-menu?column=3&toggle="+ id +"&parent="+ {admin_banners:parent/};
			}
		</script>
		{admin_banners:column_update/}
	{/page:rurl}
	
	
	
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/public/js/admin/banners/admin_banners.js"></script>
<style>
body { font-size: 62.5%; }
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>
	
 <script>
$(function() {
var name = $( "#name" ),
email = $( "#email" ),
password = $( "#password" ),
allFields = $( [] ).add( name ).add( email ).add( password ),
tips = $( ".validateTips" );
function updateTips( t ) {
tips
.text( t )
.addClass( "ui-state-highlight" );
setTimeout(function() {
tips.removeClass( "ui-state-highlight", 1500 );
}, 500 );
}
function checkLength( o, n, min, max ) {
if ( o.val().length > max || o.val().length < min ) {
o.addClass( "ui-state-error" );
updateTips( "Length of " + n + " must be between " +
min + " and " + max + "." );
return false;
} else {
return true;
}
}
function checkRegexp( o, regexp, n ) {
if ( !( regexp.test( o.val() ) ) ) {
o.addClass( "ui-state-error" );
updateTips( n );
return false;
} else {
return true;
}
}
$( "#dialog-form" ).dialog({
	autoOpen: false,
	height: 600,
	width: 600,
	modal: true,
	buttons: {
	"Skapa Banner": function() {
		$("#create_banner_form").submit();
		$( this ).dialog( "close" );
	},
	Cancel: function() {
		$( this ).dialog( "close" );
	}
	},
	close: function() {
		allFields.val( "" ).removeClass( "ui-state-error" );
	}
});

$( "#create-banner" )
.button()
.click(function() {
	$( "#dialog-form" ).dialog( "open" );
});
});

function toggleCompany(rel) {
	$('[rel='+rel+']').toggle();
}
</script>


{/template:area}

{template:area id="2"}

	{page:rurl index="3" empty="true"}
		<div id="dialog-form" title="Skapa Banner">
		<p class="validateTips"></p>
			<form method="POST" action="?" id="create_banner_form" enctype="multipart/form-data">
				<fieldset>
					<label for="name">Koppla till företag</label>
					<select name="banner_company" id="banner_company" class="text ui-widget-content ui-corner-all">
						<option value="0">Inget företag</option>
						{admin_banners:companies}<option value="{admin_banners:item get='id'/}">{admin_banners:item get='name'/}</option>{/admin_banners:companies}
					</select>
					
					<label for="name">Storleksprofil</label>
					<select name="banner_size_profile" id="banner_size_profile" class="text ui-widget-content ui-corner-all">
						{admin_banners:size_profiles}<option value="{admin_banners:item get='id'/}">{admin_banners:item get='name'/} (w {admin_banners:item get='width'/}px * h {admin_banners:item get='height'/}px)</option>{/admin_banners:size_profiles}
					</select>
					
					<label for="email">Ersätt Bredd (Lämna tom för default bredd)</label>
					<input type="text" name="banner_override_width" id="banner_override_width" value="" class="text ui-widget-content ui-corner-all">

					<label for="email">Ersätt Höjd (Lämna tom för default höjd)</label>
					<input type="text" name="banner_override_height" id="banner_override_height" value="" class="text ui-widget-content ui-corner-all">
					
					<label for="name">Namn</label>
					<input type="text" name="banner_name" id="banner_name" class="text ui-widget-content ui-corner-all">
					
					<label for="email">URL</label>
					<input type="text" name="banner_url" id="banner_url" value="" class="text ui-widget-content ui-corner-all">
					
					<label for="email">Flash banner</label>
					<input type="file" name="banner_flash" id="banner_flash" value="" class="text ui-widget-content ui-corner-all">
					
					<label for="email">Fallback bild</label>
					<input type="file" name="banner_fallback" id="banner_fallback" value="" class="text ui-widget-content ui-corner-all">
				</fieldset>
			</form>
		</div>

		<table width="800px" cellpadding="5" cellspacing="5" border="0">
			<tr>
				<td width="350px" valign="top">
					<h1 style="font-size:16px !important;margin-bottom:10px;margin-left:10px;">Banner Bibliotek</h1>
					<button id="create-banner" style="margin-left:10px;">Skapa Banner</button>

					<div class="column" style="margin-top:10px;margin-left:10px;border:1px solid grey;width:310px;">
						<ul>
					{admin_banners:banner_companies show="all"}
							{admin_banners:banner_company}
							<li>
								<div class="title" onClick="toggleCompany('company_{admin_banners:company_id/}');"><b style="font-size:14px;">{admin_banners:company_name/}</b></div>
							</li>
							{/admin_banners:banner_company}
							<li rel="company_{admin_banners:company_id/}" style="display:none;">
								<div class="title">{admin_banners:item get="name"/}</div>
								<div class="buttons"><a href="/admin/banners/no-menu/{admin_banners:item get='id'/}" target="edit_banner_iframe"><img src="/public/images/admin/icons/design.png" /></a> <a href="?delete_banner={admin_banners:item get='id'/}" onClick="return confirm('Vill du verkligen radera {admin_banners:item get='name'/}?');"><img src="/public/images/admin/icons/delete.png" /></a></div>
							</li>
					{/admin_banners:banner_companies}
						</ul>
					</div>
				</td>
				<td valign="top">
					<iframe name="edit_banner_iframe" id="edit_banner_iframe" src="/admin/banners/no-menu/empty" width="700px" height="800px" frameborder="0"></iframe> 
				</td>
			</tr>
		</table>
	{/page:rurl}

	{page:rurl index="3" not_empty="true"}
		{page:rurl index="3" not_equal="empty"}
			{admin_banners:real_banner_edited}
				<script>window.parent.location.href = window.parent.location.href;</script>
			{/admin_banners:real_banner_edited}
			{admin_banners:edit_banner}
			<h2 style="margin-left:10px;">Redigera Banner - {admin_banners:subitem get='name'/}</h2>
					
			<form method="POST" action="?" id="create_banner_form" enctype="multipart/form-data">
				<input type="hidden" name="banner_id" value="{admin_banners:subitem get='id'/}" />
				<fieldset>
					<label for="name">Koppla till företag</label>
					<select name="banner_company" id="banner_company" class="text ui-widget-content ui-corner-all">
						<option value="0">Inget företag</option>
						{admin_banners:companies}<option value="{admin_banners:item get='id'/}"{if:equals arg1="{admin_banners:item get='id'/}" arg2="{admin_banners:subitem get='company_id'/}"} selected="selected"{/if:equals}>{admin_banners:item get='name'/}</option>{/admin_banners:companies}
					</select>
					
					<label for="name">Storleksprofil</label>
					<select name="banner_size_profile" id="banner_size_profile" class="text ui-widget-content ui-corner-all">
						{admin_banners:size_profiles}<option value="{admin_banners:item get='id'/}"{if:equals arg1="{admin_banners:item get='id'/}" arg2="{admin_banners:subitem get='size_profile'/}"} selected="selected"{/if:equals}>{admin_banners:item get='name'/} (w {admin_banners:item get='width'/}px * h {admin_banners:item get='height'/}px)</option>{/admin_banners:size_profiles}
					</select>
					
					<label for="email">Ersätt Bredd (Lämna tom för default bredd)</label>
					<input type="text" name="banner_override_width" id="banner_override_width" value="{admin_banners:subitem get='size_override_width'/}" class="text ui-widget-content ui-corner-all">

					<label for="email">Ersätt Höjd (Lämna tom för default höjd)</label>
					<input type="text" name="banner_override_height" id="banner_override_height" value="{admin_banners:subitem get='size_override_height'/}" class="text ui-widget-content ui-corner-all">
					
					<label for="name">Namn</label>
					<input type="text" name="banner_name" id="banner_name" value="{admin_banners:subitem get='name'/}" class="text ui-widget-content ui-corner-all">
					
					<label for="email">URL</label>
					<input type="text" name="banner_url" id="banner_url" value="{admin_banners:subitem get='url'/}" class="text ui-widget-content ui-corner-all">

					<label for="email">Flash banner</label>
					<input type="file" name="banner_flash" id="banner_flash" value="" class="text ui-widget-content ui-corner-all">
					<embed id="animationName" width="{admin_banners:size_profile id="{admin_banners:subitem get='id'/}" get="width"/}px" height="{admin_banners:size_profile id="{admin_banners:subitem get='id'/}" get="height"/}px" wmode="transparent" loop="true" scale="noscale" allowscriptaccess="sameDomain" quality="high" bgcolor="#FFFFFF" name="animationName" src="/public/images/advertisement/{admin_banners:subitem get='flash'/}" type="application/x-shockwave-flash">
					
					<label for="email">Fallback bild</label>
					<input type="file" name="banner_fallback" id="banner_fallback" value="" class="text ui-widget-content ui-corner-all">
					<img width="{admin_banners:size_profile id="{admin_banners:subitem get='id'/}" get="width"/}px" height="{admin_banners:size_profile id="{admin_banners:subitem get='id'/}" get="height"/}px" src="/public/images/advertisement/{admin_banners:subitem get='fallback'/}" border="0" />
					
					<br />
					<br />
					<input type="submit" value="Redigera Banner" name="edit_real_banner" />
				</fieldset>
			</form>
			{/admin_banners:edit_banner}
		{/page:rurl}
	{/page:rurl}
	
{/template:area}