{template:area id="1"}
<link rel="stylesheet" href="/public/css/branschguiden.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/public/js/admin/banners/admin_banners.js"></script>


<link rel="stylesheet" type="text/css" href="/public/js/jquery_jqplot_1_0_8r1250/dist/jquery.jqplot.css" />
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/public/js/jquery_jqplot_1_0_8r1250/dist/excanvas.js"></script><![endif]-->

<script language="javascript" type="text/javascript" src="/public/js/jquery_jqplot_1_0_8r1250/dist/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/public/js/jquery_jqplot_1_0_8r1250/dist/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="/public/js/jquery_jqplot_1_0_8r1250/dist/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/public/js/jquery_jqplot_1_0_8r1250/dist/plugins/jqplot.dateAxisRenderer.min.js"></script>

	{page:rurl index="3" empty="true"}
		<script>
			
			
			// AJAX
			var send_type = 'branschguiden';
			function updateIframe(id,request) {
				var iframe = document.getElementById('cat_startpage_'+id);
				iframe.src = "/admin/banners/branschguiden/column/"+ id +"/no-menu"+request+"&type="+send_type;
			}
			function loadBannerStatistics() {
				$.post("/admin_banner_statistics.php",
				{
				  access_type:	'load',
				  access_token:	"DonEtaso498",
				  banner_id:	$('#banner_id4').val(),
				  from:			$('#banner_start_date4').val(),
				  to:			$('#banner_end_date4').val()
				},
				function(data,status){
					$('#banner_statistics_chart').html('');
					$('#banner_statistics_chart').append(data);
				});
			}
			function activateBannerForm(banner_id,banner_type,category_id) {
				$.post("/admin_banner_info.php",
				{
				  access_type:	'get',
				  access_token:	"DonEtaso498",
				  bannerid:		banner_id,
				  bannertype:	banner_type,
				  categoryid:	category_id
				},
				function(data,status){
				  $('#banner_start_date2').val("");
				  $('#banner_end_date2').val("");
				  $('#banner_end_date_ongoing2').prop('checked', false);
				
				  var banner = jQuery.parseJSON(data);
				  $('#banner_id').val(banner_id);
				  $('#category_id').val(category_id);
				  $('#banner_type').val(banner_type);
				  $('#banner_name2').val(banner.name);
				  $('#banner_url2').val(banner.url);
				  $('#banner_end_date_ongoing2').val(banner.end_date_ongoing);
				  $( "#dialog-form2" ).dialog( "open" );
				});
			}
			function doActivateBannerForm() {
				$.post("/admin_banner_info.php",
				{
				  access_type:	'post',
				  access_token:	"DonEtaso498",
				  banner_id:   	$('#banner_id').val(),
				  category_id: 	$('#category_id').val(),
				  banner_type: 	$('#banner_type').val(),
				  banner_name: 	$('#banner_name2').val(),
				  banner_url: 	$('#banner_url2').val(),
				  banner_start_date: 		$('#banner_start_date2').val(),
				  banner_end_date: 			$('#banner_end_date2').val(),
				  banner_end_date_ongoing: 	$('#banner_end_date_ongoing2').val()
				},
				function(data,status){
				  updateIframe(3,"?column=3&parent="+$('#category_id').val());
				  $( "#dialog-form2" ).dialog( "close" );
				});
			}
			
			
			function editBannerForm2(id,category_id) {
				$.post("/admin_banner_info.php",
				{
				  access_type:	'load',
				  access_token:	"DonEtaso498",
				  instanceid:	id
				},
				function(data,status){
				  $('#banner_start_date3').val("");
				  $('#banner_end_date3').val("");
				  $('#banner_end_date_ongoing3').prop('checked', false);
				
				  var banner = jQuery.parseJSON(data);
				  $('#banner_type3').val(banner_type);
				  $('#banner_id3').val(banner_id);
				  $('#category_id3').val(category_id);
				  $('#banner_name3').val(banner.name);
				  $('#banner_url3').val(banner.url);
				  $('#banner_start_date3').val(banner.start_date);
				  $('#banner_end_date3').val(banner.end_date);
				  if(banner.end_date_ongoing == "true") {
					$('#banner_end_date_ongoing3').prop('checked', true);
				  }
				  else {
					$('#banner_end_date_ongoing3').prop('checked', false);
				  }
				  $('#instance_id3').val(banner.id);
				  $('#category_id3').val(banner.category_id);
				  $( "#dialog-form3" ).dialog( "open" );
				});
			}
			function doEditBannerForm() {
				if($('#banner_end_date_ongoing3').prop('checked')) {
					var banner_ongoing = "true";
				}
				else {
					var banner_ongoing = "false";
				}
				
				$.post("/admin_banner_info.php",
				{
				  access_type:	'edit',
				  access_token:	"DonEtaso498",
				  instance_id:  $('#instance_id3').val(),
				  banner_id:   	$('#banner_id3').val(),
				  category_id: 	$('#category_id3').val(),
				  banner_type: 	$('#banner_type3').val(),
				  banner_name: 	$('#banner_name3').val(),
				  banner_url: 	$('#banner_url3').val(),
				  banner_start_date: 		$('#banner_start_date3').val(),
				  banner_end_date: 			$('#banner_end_date3').val(),
				  banner_end_date_ongoing: 	banner_ongoing
				},
				function(data,status){
				  updateIframe(3,"?column=3&parent="+$('#category_id3').val());
				  $( "#dialog-form3" ).dialog( "close" );
				});
			}
			// BANNER STATISTICS AJAX CALL
			function doViewBannerStatistics(banner_id) {
				$('#banner_id4').val(banner_id);
				$( "#dialog-banner-statistics" ).dialog( "open" );
			}
			
		</script>
	{/page:rurl}
	
	{page:rurl index="4" equals="1"}
		<script>
			var last_cat = 0;
			function update(id) {
				window.location = "/admin/banners/branschguiden/column/1/no-menu?column=1&add="+ id;
			}
			function load(id) {
				if(last_cat > 0) {
					$("#cat_id_"+last_cat).css("background-color", "transparent");
					$("#cat_id_"+last_cat).css("color", "#444444");
				}
				
				$("#cat_id_"+id).css("background-color", "#DDDDDD");
				$("#cat_id_"+id).css("color", "#ffffff");
				last_cat = id;
				
				parent.updateIframe(3,"?parent="+id);
				parent.updateIframe(2,"?parent="+id);
			}
		</script>
		{admin_banners:column_update}
			<script>
				window.parent.updateIframe(2,"");
			</script>
		{/admin_banners:column_update}
	{/page:rurl}
	
	{page:rurl index="4" equals="2"}
		<script>
			function activateBanner(banner_id,banner_type,category_id) {
				window.parent.activateBannerForm(banner_id,banner_type,category_id);
			}
		</script>
		{admin_banners:column_update}
			<script>
				parent.updateIframe(1,"");
			</script>
		{/admin_banners:column_update}
	{/page:rurl}
	
	{page:rurl index="4" equals="3"}
		<script>
			function toggle(id) {
				window.location = "/admin/banners/branschguiden/column/3/no-menu?column=3&toggle="+ id +"&parent={admin_banners:parent/}";
			}
			function editBannerForm(id) {
				window.parent.editBannerForm2(id);
			}
			function viewBannerStatistics(id) {
				window.parent.doViewBannerStatistics(id);
			}
		</script>
		{admin_banners:column_update/}
	{/page:rurl}

<style>
body { font-size: 62.5%; }
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.list ul li {
	margin: 5px;
	border-bottom: 0px !important;
}
</style>

 <script>
$(function() {
	$( "#dialog-form" ).dialog({
		autoOpen: false,
		height: 500,
		width: 500,
		modal: true,
		buttons: {
		"Skapa Banner": function() {
			$("#create_banner_form").submit();
			$( this ).dialog( "close" );
		},
		Cancel: function() {
			$( this ).dialog( "close" );
		}
		},
		close: function() {
		//	allFields.val( "" ).removeClass( "ui-state-error" );
		}
	});

	$( "#dialog-form2" ).dialog({
		autoOpen: false,
		height: 400,
		width: 500,
		modal: true,
		buttons: {
		"Aktivera Banner": function() {
			doActivateBannerForm();
			$( this ).dialog( "close" );
		},
		Cancel: function() {
			$( this ).dialog( "close" );
		}
		},
		close: function() {
		//	allFields.val( "" ).removeClass( "ui-state-error" );
		}
	});

	$( "#dialog-form3" ).dialog({
		autoOpen: false,
		height: 400,
		width: 500,
		modal: true,
		buttons: {
			"Redigera Banner": function() {
				doEditBannerForm();
				$( this ).dialog( "close" );
			},
			Cancel: function() {
				$( this ).dialog( "close" );
			}
		},
		close: function() {
		//	allFields.val( "" ).removeClass( "ui-state-error" );
		}
	});

	$( "#dialog-banner-statistics" ).dialog({
		autoOpen: false,
		height: 700,
		width: 830,
		modal: true,
		buttons: {
			Cancel: function() {
				$( this ).dialog( "close" );
			}
		},
	});

	$( "#view-banner-statistics" )
		.button()
		.click(function() {
		$( "#dialog-banner-statistics" ).dialog( "open" );
	});

	$( "#create-user" )
		.button()
		.click(function() {
		$( "#dialog-form" ).dialog( "open" );
	});
	
	
});

function toggleCompany(rel) {
	$('[rel='+rel+']').toggle();
}
</script>

{/template:area}

{template:area id="2"}

{page:rurl index="3" empty="true"}
	<div id="dialog-banner-statistics" title="Banner Statistik">
		<input type="hidden" name="banner_id4" id="banner_id4" />
		<table width="600px" cellpadding="3" cellspacing="3" border="0">
			<tr>
				<td valign="top">
					<label for="banner_start_date4">Startdatum (yyyy-mm-dd)</label>
					<input style="height:20px !important;font-size:14px !important;" type="text" name="banner_start_date4" id="banner_start_date4" value="" class="text ui-widget-content ui-corner-all date" />
				</td>
				<td valign="top">
					<label for="banner_end_date4">Slutdatum (yyyy-mm-dd)</label>
					<input style="height:20px !important;font-size:14px !important;" type="text" name="banner_end_date4" id="banner_end_date4" value="" class="text ui-widget-content ui-corner-all date" />
				</td>
				<td valign="top">
					<label for="banner_date_submit4">&nbsp;</label>
					<input onClick="loadBannerStatistics();" style="height:33px !important;font-size:12px !important;" type="SUBMIT" name="banner_date_submit4" id="banner_date_submit4" value="Hämta Statistik" class="button_green" />
				</td>
			</tr>
		</table>
		<div id="banner_statistics_chart" style="height:auto;width:auto;font-size:13px !important;"></div>
	</div>

	<div id="dialog-form3" title="Redigera Banner">
	<p class="validateTips"></p>
		<form method="POST" action="?" id="activate_banner_form" enctype="multipart/form-data">
			<fieldset>
				<input type="hidden" name="banner_id3" id="banner_id3"/>
				<input type="hidden" name="category_id3" id="category_id3"/>
				<input type="hidden" name="banner_type3" id="banner_type3"/>
				<input type="hidden" name="instance_id3" id="instance_id3"/>

				<label for="name">Namn</label>
				<input type="text" name="banner_name3" id="banner_name3" class="text ui-widget-content ui-corner-all" value="Name here">

				<label for="email">URL</label>
				<input type="text" name="banner_url3" id="banner_url3" value="" class="text ui-widget-content ui-corner-all">

				<label for="email">Startdatum (yyyy-mm-dd)</label>
				<input type="text" name="banner_start_date3" id="banner_start_date3" value="" class="text ui-widget-content ui-corner-all date">

				<label for="email">Slutdatum (yyyy-mm-dd) | <input type="checkbox" name="banner_end_date_ongoing3" id="banner_end_date_ongoing3" style="display:inline !important;" /> Löpande slutdatum</label>
				<input type="text" name="banner_end_date3" id="banner_end_date3" value="" class="text ui-widget-content ui-corner-all date">
			</fieldset>
		</form>
	</div>

	<div id="dialog-form2" title="Aktivera Banner">
	<p class="validateTips"></p>
		<form method="POST" action="?" id="activate_banner_form" enctype="multipart/form-data">
			<fieldset>
				<input type="hidden" name="banner_id" id="banner_id"/>
				<input type="hidden" name="category_id" id="category_id"/>
				<input type="hidden" name="banner_type" id="banner_type"/>

				<label for="name">Namn</label>
				<input type="text" name="banner_name2" id="banner_name2" class="text ui-widget-content ui-corner-all" value="Name here">

				<label for="email">URL</label>
				<input type="text" name="banner_url2" id="banner_url2" value="" class="text ui-widget-content ui-corner-all">

				<label for="email">Startdatum (yyyy-mm-dd)</label>
				<input type="text" name="banner_start_date2" id="banner_start_date2" value="" class="text ui-widget-content ui-corner-all date">

				<label for="email">Slutdatum (yyyy-mm-dd) | <input type="checkbox" name="banner_end_date_ongoing2" id="banner_end_date_ongoing2" style="display:inline !important;" /> Löpande slutdatum</label>
				<input type="text" name="banner_end_date2" id="banner_end_date2" value="" class="text ui-widget-content ui-corner-all date">
			</fieldset>
		</form>
	</div>

	<div id="dialog-form" title="Skapa Banner">
	<p class="validateTips"></p>
		<form method="POST" action="?" id="create_banner_form" enctype="multipart/form-data">
			<fieldset>
				<label for="name">Koppla till företag</label>
				<select name="banner_company" id="banner_company" class="text ui-widget-content ui-corner-all">
					<option value="0">Inget företag</option>
					{admin_banners:companies}<option value="{admin_banners:item get='id'/}">{admin_banners:item get='name'/}</option>{/admin_banners:companies}
				</select>
				<br />
				<br />
				
				<label for="name">Namn</label>
				<input type="text" name="banner_name" id="banner_name" class="text ui-widget-content ui-corner-all">
				
				<label for="email">URL</label>
				<input type="text" name="banner_url" id="banner_url" value="" class="text ui-widget-content ui-corner-all">
				
				<label for="email">Flash banner</label>
				<input type="file" name="banner_flash" id="banner_flash" value="" class="text ui-widget-content ui-corner-all">
				
				<label for="email">Fallback bild</label>
				<input type="file" name="banner_fallback" id="banner_fallback" value="" class="text ui-widget-content ui-corner-all">
				</fieldset>
		</form>
	</div>
{/page:rurl}

	{page:rurl index="3" equals="column"}

		{page:rurl index="4" equals="1"}
			<div class="column">
				<ul>
			{admin_banners:column index="4"}
					<li id="cat_id_{admin_banners:item get='id'/}" onClick="load({admin_banners:item get='id'/});">
						<div class="title">{admin_banners:item get="name"/}</div>
					</li>
			{/admin_banners:column}
				</ul>
			</div>
		{/page:rurl}
		
		{page:rurl index="4" equals="2"}
			<div class="column">
				<ul>
			{admin_banners:banner_companies size_profile="2"}
					{admin_banners:banner_company}
					<li>
						<div class="title" onClick="toggleCompany('company_{admin_banners:company_id/}');"><b style="font-size:14px;">{admin_banners:company_name/}</b></div>
					</li>
					{/admin_banners:banner_company}
					<li onClick="activateBanner({admin_banners:item get='id'/},'branschguiden',{admin_banners:parent/});" rel="company_{admin_banners:company_id/}" style="display:none;">
						<div class="title">{admin_banners:item get="name"/}</div>
						<div class="buttons" style="margin-top:9px;">
							<img src="/public/images/admin/icons/add.png" border="0" />
						</div>
					</li>
			{/admin_banners:banner_companies}
				</ul>
			</div>
		{/page:rurl}
		
		{page:rurl index="4" equals="3"}
			<div class="column">
				<ul>
				{admin_banners:parent_category}
					<li>
						<div class="title"><b>{admin_banners:item get="name"/}</b></div>
					</li>
				{/admin_banners:parent_category}
				{admin_banners:column index="3" start="<li><div class='title'>Välj en huvudkategori till vänster</div></li>" empty="<li><div class='title'>Det finns inga aktiva banners.</div></li>"}
					<li>
						<div class="title" onClick="editBannerForm({admin_banners:item get='id'/},{admin_banners:parent/});" style="overflow:hidden;width:165px !important;margin-left:10px;">
							<b>{admin_banners:item get="name"/}</b><br />
							<i>{admin_banners:get_company get="name" id="{admin_banners:item get='banner_id'/}"/}</i><br />
							<i>{date:unix_to_format unix='{admin_banners:item get="start_date"/}' format='Y-m-d'/} - {date:unix_to_format unix='{admin_banners:item get="end_date"/}' format='Y-m-d'/}{if:equals arg1="{admin_banners:item get='end_date_ongoing'/}" arg2="true"} (Löpande){/if:equals}</i>
						</div>
						<div class="buttons" style="margin-top:20px;">
							<img onClick="viewBannerStatistics({admin_banners:item get='id'/});" src="/public/images/admin/icons/image.png" border="0" /> 
							<a href="/admin/banners/branschguiden/column/3/no-menu?column=3&delete_active_banner={admin_banners:item get='id'/}&parent={admin_banners:parent/}" onClick="return confirm('Vill du verkligen radera {admin_banners:item get='name'/}?');"><img src="/public/images/admin/icons/delete.png" border="0" /></a>
						</div>
					</li>
				{/admin_banners:column}
				</ul>
			</div>
		{/page:rurl}

	{/page:rurl}


	{page:rurl index="4" empty="true"}
		<h1 style="font-size:16px !important;margin-bottom:10px;margin-left:30px;">Branschguiden Banners</h1>
		<div style="margin-left:30px;">
			<table>
				<tr>
					<td>
						<strong>Huvudkategorier</strong>
					</td>
					<td>
						<strong>Alla Banners</strong>
					</td>
					<td>
						<strong>Aktiva Banners</strong>
					</td>
				</tr>
				<tr>
					<td>
						<iframe class="branschguiden_categories" src="/admin/banners/branschguiden/column/1/no-menu?type=branschguiden" id="cat_startpage_1" class="cat_startpage_1" width="300px" height="500px"></iframe>
					</td>
					<td>
						<iframe class="branschguiden_categories" src="/admin/banners/branschguiden/column/2/no-menu?type=branschguiden" id="cat_startpage_2" class="cat_startpage_2" width="300px" height="500px"></iframe>
					</td>
					<td>
						<iframe class="branschguiden_categories" src="/admin/banners/branschguiden/column/3/no-menu?type=branschguiden" id="cat_startpage_3" class="cat_startpage_3" width="300px" height="500px"></iframe>
					</td>
				</tr>
			</table>
		</div>
		
		<script>
		
			$(function() {
				var lastCompanyLi = "";
				$( "li[name=company_banners]" ).click(function() {
					var companyLi = $(this).attr("rel");
					if(lastCompanyLi != "") {
						$("li[rel="+lastCompanyLi+"]").css("background-color","transparent");
					}
					$("li[rel="+companyLi+"]").css("background-color","#DDDDDD");
					lastCompanyLi = companyLi;
				});
			});
		
		</script>
		
		<table style="width:740px !important;margin-top:50px;margin-left:30px;" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<h2>Banneröversikt Branschguiden</h2>
				</td>
			</tr>
			<tr>
				<td width="33%" valign="top">
					{branschguiden:list column="1"}
					<div class="column"{branschguiden:has_image state='true'} style="background-image:url(/public/images/branschguiden/{branschguiden:item get='image'/})"{/branschguiden:has_image}>
						<div class="title" style="overflow:hidden;"><b>{branschguiden:item get="name"/}</b></div>
						<div class="list" style="float:left;">
							<ul>
								{admin_banners:column index="3" parent="{branschguiden:item get='id'/}" type="branschguiden"}
									<li style="height:auto !important;padding:5px;border:1px dashed grey;width:180px;" name="company_banners" rel="company_b_{admin_banners:get_company get="id" id="{admin_banners:item get='banner_id'/}"/}">
										<b>{admin_banners:item get="name"/}</b><br />
										<i style="font-size:11px;">{admin_banners:get_company get="name" id="{admin_banners:item get='banner_id'/}"/}</i><br />
										<i style="font-size:11px;">{date:unix_to_format unix='{admin_banners:item get="start_date"/}' format='Y-m-d'/} - {date:unix_to_format unix='{admin_banners:item get="end_date"/}' format='Y-m-d'/}{if:equals arg1="{admin_banners:item get='end_date_ongoing'/}" arg2="true"} (Löpande){/if:equals}</i>
									</li>
								{/admin_banners:column}
							</ul>
						</div>
					</div>
					{/branschguiden:list}
				</td>
				<td width="33%" valign="top">
					{branschguiden:list column="2"}
					<div class="column"{branschguiden:has_image state='true'} style="background-image:url(/public/images/branschguiden/{branschguiden:item get='image'/})"{/branschguiden:has_image}>
						<div class="title" style="overflow:hidden;"><b>{branschguiden:item get="name"/}</b></div>
						<div class="list" style="float:left;">
							<ul>
								{admin_banners:column index="3" parent="{branschguiden:item get='id'/}" type="branschguiden"}
									<li style="height:auto !important;padding:5px;border:1px dashed grey;width:180px;" rel="company_b_{admin_banners:get_company get="id" id="{admin_banners:item get='banner_id'/}"/}">
										<b>{admin_banners:item get="name"/}</b><br />
										<i style="font-size:11px;">{admin_banners:get_company get="name" id="{admin_banners:item get='banner_id'/}"/}</i><br />
										<i style="font-size:11px;">{date:unix_to_format unix='{admin_banners:item get="start_date"/}' format='Y-m-d'/} - {date:unix_to_format unix='{admin_banners:item get="end_date"/}' format='Y-m-d'/}{if:equals arg1="{admin_banners:item get='end_date_ongoing'/}" arg2="true"} (Löpande){/if:equals}</i>
									</li>
								{/admin_banners:column}
							</ul>
						</div>
					</div>
					{/branschguiden:list}
				</td>
				<td width="33%" valign="top">
					{branschguiden:list column="3"}
					<div class="column"{branschguiden:has_image state='true'} style="background-image:url(/public/images/branschguiden/{branschguiden:item get='image'/})"{/branschguiden:has_image}>
						<div class="title" style="overflow:hidden;"><b>{branschguiden:item get="name"/}</b></div>
						<div class="list" style="float:left;">
							<ul>
								{admin_banners:column index="3" parent="{branschguiden:item get='id'/}" type="branschguiden"}
									<li style="height:auto !important;padding:5px;border:1px dashed grey;width:180px;" rel="company_b_{admin_banners:get_company get="id" id="{admin_banners:item get='banner_id'/}"/}">
										<b>{admin_banners:item get="name"/}</b><br />
										<i style="font-size:11px;">{admin_banners:get_company get="name" id="{admin_banners:item get='banner_id'/}"/}</i><br />
										<i style="font-size:11px;">{date:unix_to_format unix='{admin_banners:item get="start_date"/}' format='Y-m-d'/} - {date:unix_to_format unix='{admin_banners:item get="end_date"/}' format='Y-m-d'/}{if:equals arg1="{admin_banners:item get='end_date_ongoing'/}" arg2="true"} (Löpande){/if:equals}</i>
									</li>
								{/admin_banners:column}
							</ul>
						</div>
					</div>
					{/branschguiden:list}
				</td>
			</tr>
		</table>
	{/page:rurl}

{/template:area}