{template:area id="1"}
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.9.1.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/public/js/admin/banners/admin_banners.js"></script>

	{page:rurl index="3" empty="true"}
		<script>
			var send_type = 'startpage-small';
			function updateIframe(id,request) {
				var iframe = document.getElementById('cat_startpage_'+id);
				iframe.src = "/admin/banners/startpage-small/column/"+ id +"/no-menu"+request+"&type="+send_type;
			}
			function activateBannerForm(banner_id,banner_type,category_id) {
				$.post("/admin_banner_info.php",
				{
				  access_type:	'get',
				  access_token:	"DonEtaso498",
				  bannerid:		banner_id,
				  bannertype:	banner_type,
				  categoryid:	category_id
				},
				function(data,status){
				  $('#banner_start_date2').val("");
				  $('#banner_end_date2').val("");
				  $('#banner_end_date_ongoing2').prop('checked', false);
				
				  var banner = jQuery.parseJSON(data);
				  $('#banner_id').val(banner_id);
				  $('#category_id').val(category_id);
				  $('#banner_type').val(banner_type);
				  $('#banner_name2').val(banner.name);
				  $('#banner_url2').val(banner.url);
				  $('#banner_end_date_ongoing2').val(banner.end_date_ongoing);
				  $( "#dialog-form2" ).dialog( "open" );
				});
			}
			function doActivateBannerForm() {
				$.post("/admin_banner_info.php",
				{
				  access_type:	'post',
				  access_token:	"DonEtaso498",
				  banner_id:   	$('#banner_id').val(),
				  category_id: 	$('#category_id').val(),
				  banner_type: 	$('#banner_type').val(),
				  banner_name: 	$('#banner_name2').val(),
				  banner_url: 	$('#banner_url2').val(),
				  banner_start_date: 		$('#banner_start_date2').val(),
				  banner_end_date: 			$('#banner_end_date2').val(),
				  banner_end_date_ongoing: 	$('#banner_end_date_ongoing2').val()
				},
				function(data,status){
				  updateIframe(3,"?column=3&parent="+$('#category_id').val());
				  $( "#dialog-form2" ).dialog( "close" );
				});
			}
			
			
			function editBannerForm2(id,category_id) {
				$.post("/admin_banner_info.php",
				{
				  access_type:	'load',
				  access_token:	"DonEtaso498",
				  instanceid:	id
				},
				function(data,status){
				  $('#banner_start_date3').val("");
				  $('#banner_end_date3').val("");
				  $('#banner_end_date_ongoing3').prop('checked', false);
				
				  var banner = jQuery.parseJSON(data);
				  $('#banner_type3').val(banner_type);
				  $('#banner_id3').val(banner_id);
				  $('#category_id3').val(category_id);
				  $('#banner_name3').val(banner.name);
				  $('#banner_url3').val(banner.url);
				  $('#banner_start_date3').val(banner.start_date);
				  $('#banner_end_date3').val(banner.end_date);
				  if(banner.end_date_ongoing == "true") {
					$('#banner_end_date_ongoing3').prop('checked', true);
				  }
				  else {
					$('#banner_end_date_ongoing3').prop('checked', false);
				  }
				  $('#instance_id3').val(banner.id);
				  $('#category_id3').val(banner.category_id);
				  $( "#dialog-form3" ).dialog( "open" );
				});
			}
			function doEditBannerForm() {
				if($('#banner_end_date_ongoing3').prop('checked')) {
					var banner_ongoing = "true";
				}
				else {
					var banner_ongoing = "false";
				}
				
				$.post("/admin_banner_info.php",
				{
				  access_type:	'edit',
				  access_token:	"DonEtaso498",
				  instance_id:  $('#instance_id3').val(),
				  banner_id:   	$('#banner_id3').val(),
				  category_id: 	$('#category_id3').val(),
				  banner_type: 	$('#banner_type3').val(),
				  banner_name: 	$('#banner_name3').val(),
				  banner_url: 	$('#banner_url3').val(),
				  banner_start_date: 		$('#banner_start_date3').val(),
				  banner_end_date: 			$('#banner_end_date3').val(),
				  banner_end_date_ongoing: 	banner_ongoing
				},
				function(data,status){
				  updateIframe(3,"?column=3&parent="+$('#category_id3').val());
				  $( "#dialog-form3" ).dialog( "close" );
				});
			}
		</script>
		{admin_banners:check_page_add/}
	{/page:rurl}
	
	{page:rurl index="4" equals="1"}
		<script>
			var last_cat = 0;
			function update(id) {
				window.location = "/admin/banners/startpage-small/column/1/no-menu?column=1&add="+ id;
			}
			function load(id) {
				if(last_cat > 0) {
					$("#cat_id_"+last_cat).css("background-color", "transparent");
					$("#cat_id_"+last_cat).css("color", "#444444");
				}
				
				$("#cat_id_"+id).css("background-color", "#DDDDDD");
				$("#cat_id_"+id).css("color", "#ffffff");
				last_cat = id;
				
				parent.updateIframe(3,"?parent="+id);
				parent.updateIframe(2,"?parent="+id);
			}
		</script>
		{admin_banners:column_update}
			<script>
				window.parent.updateIframe(2,"?holder=1");
			</script>
		{/admin_banners:column_update}
	{/page:rurl}
	
	{page:rurl index="4" equals="2"}
		<script>
			function activateBanner(banner_id,banner_type,category_id) {
				window.parent.activateBannerForm(banner_id,banner_type,category_id);
			}
		</script>
		{admin_banners:column_update}
			<script>
				parent.updateIframe(1,"?holder=1");
			</script>
		{/admin_banners:column_update}
	{/page:rurl}
	
	{page:rurl index="4" equals="3"}
		<script>
			function toggle(id) {
				window.location = "/admin/banners/startpage-small/column/3/no-menu?column=3&toggle="+ id +"&parent="+ {admin_banners:parent/};
			}
			function editBannerForm(id) {
				window.parent.editBannerForm2(id);
			}
		</script>
		{admin_banners:column_update/}
	{/page:rurl}

<style>
body { font-size: 62.5%; }
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>
	
 <script>
$(function() {
	$( "#dialog-form" ).dialog({
		autoOpen: false,
		height: 300,
		width: 500,
		modal: true,
		buttons: {
		"Lägg till sida": function() {
			$("#create_page_form").submit();
			$( this ).dialog( "close" );
		},
		Cancel: function() {
			$( this ).dialog( "close" );
		}
		},
		close: function() {
		//	allFields.val( "" ).removeClass( "ui-state-error" );
		}
	});

	$( "#create-user" )
		.button()
		.click(function() {
		$( "#dialog-form" ).dialog( "open" );
	});

	$( "#dialog-form2" ).dialog({
		autoOpen: false,
		height: 400,
		width: 500,
		modal: true,
		buttons: {
		"Aktivera Banner": function() {
			doActivateBannerForm();
			$( this ).dialog( "close" );
		},
		Cancel: function() {
			$( this ).dialog( "close" );
		}
		},
		close: function() {
		//	allFields.val( "" ).removeClass( "ui-state-error" );
		}
	});

	$( "#dialog-form3" ).dialog({
		autoOpen: false,
		height: 400,
		width: 500,
		modal: true,
		buttons: {
		"Redigera Banner": function() {
			doEditBannerForm();
			$( this ).dialog( "close" );
		},
		Cancel: function() {
			$( this ).dialog( "close" );
		}
		},
		close: function() {
		//	allFields.val( "" ).removeClass( "ui-state-error" );
		}
	});
});

function toggleCompany(rel) {
	$('[rel='+rel+']').toggle();
}
</script>


{/template:area}

{template:area id="2"}


	<div id="dialog-form3" title="Redigera Banner">
	<p class="validateTips"></p>
		<form method="POST" action="?" id="activate_banner_form" enctype="multipart/form-data">
			<fieldset>
				<input type="hidden" name="banner_id3" id="banner_id3"/>
				<input type="hidden" name="category_id3" id="category_id3"/>
				<input type="hidden" name="banner_type3" id="banner_type3"/>
				<input type="hidden" name="instance_id3" id="instance_id3"/>

				<label for="name">Namn</label>
				<input type="text" name="banner_name3" id="banner_name3" class="text ui-widget-content ui-corner-all" value="Name here">

				<label for="email">URL</label>
				<input type="text" name="banner_url3" id="banner_url3" value="" class="text ui-widget-content ui-corner-all">

				<label for="email">Startdatum (yyyy-mm-dd)</label>
				<input type="text" name="banner_start_date3" id="banner_start_date3" value="" class="text ui-widget-content ui-corner-all date">

				<label for="email">Slutdatum (yyyy-mm-dd) | <input type="checkbox" name="banner_end_date_ongoing3" id="banner_end_date_ongoing3" style="display:inline !important;" /> Löpande slutdatum</label>
				<input type="text" name="banner_end_date3" id="banner_end_date3" value="" class="text ui-widget-content ui-corner-all date">
			</fieldset>
		</form>
	</div>

	<div id="dialog-form2" title="Aktivera Banner">
	<p class="validateTips"></p>
		<form method="POST" action="?" id="activate_banner_form" enctype="multipart/form-data">
			<fieldset>
				<input type="hidden" name="banner_id" id="banner_id"/>
				<input type="hidden" name="category_id" id="category_id"/>
				<input type="hidden" name="banner_type" id="banner_type"/>

				<label for="name">Namn</label>
				<input type="text" name="banner_name2" id="banner_name2" class="text ui-widget-content ui-corner-all" value="Name here">

				<label for="email">URL</label>
				<input type="text" name="banner_url2" id="banner_url2" value="" class="text ui-widget-content ui-corner-all">

				<label for="email">Startdatum (yyyy-mm-dd)</label>
				<input type="text" name="banner_start_date2" id="banner_start_date2" value="" class="text ui-widget-content ui-corner-all date">

				<label for="email">Slutdatum (yyyy-mm-dd) | <input type="checkbox" name="banner_end_date_ongoing2" id="banner_end_date_ongoing2" style="display:inline !important;" /> Löpande slutdatum</label>
				<input type="text" name="banner_end_date2" id="banner_end_date2" value="" class="text ui-widget-content ui-corner-all date">
			</fieldset>
		</form>
	</div>

	<div id="dialog-form" title="Lägg till sida">
		<form method="POST" action="?" id="create_page_form" name="create_page_form">
	<p class="validateTips"></p>
			<fieldset>
				<label for="name">Namn</label>
				<input type="text" name="page_name" id="page_name" class="text ui-widget-content ui-corner-all">
				
				<label for="email">URL</label>
				<input type="text" name="page_url" id="page_url" value="" class="text ui-widget-content ui-corner-all">
				</fieldset>
		</form>
	</div>

	{page:rurl index="3" equals="column"}

		{page:rurl index="4" equals="1"}
			<div class="column">
				<ul>
			{admin_banners:column index="5"}
				{if:equals arg1="/" arg2="{admin_banners:item get='url'/}"}
					<li id="cat_id_{admin_banners:item get='id'/}" onClick="load({admin_banners:item get='id'/});">
						<div class="title">{admin_banners:item get="name"/}<br /><font color="grey"><i>{admin_banners:item get="url"/}</i></font></div>
					</li>
				{/if:equals}
			{/admin_banners:column}
				</ul>
			</div>
		{/page:rurl}
		
		{page:rurl index="4" equals="2"}
			<div class="column">
				<ul>
			{admin_banners:banner_companies size_profile="4"}
					{admin_banners:banner_company}
					<li>
						<div class="title" onClick="toggleCompany('company_{admin_banners:company_id/}');"><b style="font-size:14px;">{admin_banners:company_name/}</b></div>
					</li>
					{/admin_banners:banner_company}
					<li onClick="activateBanner({admin_banners:item get='id'/},'startpage-small',{admin_banners:parent/});" rel="company_{admin_banners:company_id/}" style="display:none;">
						<div class="title">{admin_banners:item get="name"/}</div>
						<div class="buttons" style="margin-top:9px;">
							<img src="/public/images/admin/icons/add.png" border="0" />
						</div>
					</li>
			{/admin_banners:banner_companies}
				</ul>
			</div>
		{/page:rurl}
		
		{page:rurl index="4" equals="3"}
			<div class="column">
				<ul>
				{admin_banners:parent_category}
					<li>
						<div class="title"><b>{admin_banners:item get="name"/}</b></div>
					</li>
				{/admin_banners:parent_category}
				{admin_banners:column index="3" start="<li><div class='title'>Välj en sida till vänster</div></li>" empty="<li><div class='title'>Det finns inga aktiva banners.</div></li>"}
					<li>
						<div class="title" onClick="editBannerForm({admin_banners:item get='id'/},{admin_banners:parent/});" style="overflow:hidden;">
							<b>{admin_banners:item get="name"/}</b><br />
							<i>{admin_banners:get_company get="name" id="{admin_banners:item get='banner_id'/}"/}</i><br />
							<i>{date:unix_to_format unix='{admin_banners:item get="start_date"/}' format='Y-m-d'/} - {date:unix_to_format unix='{admin_banners:item get="end_date"/}' format='Y-m-d'/}{if:equals arg1="{admin_banners:item get='end_date_ongoing'/}" arg2="true"} (Löpande){/if:equals}</i>
						</div>
						<div class="buttons" style="margin-top:20px;">
							<a href="/admin/banners/startpage-small/column/3/no-menu?column=3&delete_active_banner={admin_banners:item get='id'/}&parent={admin_banners:parent/}&type=startpage-small" onClick="return confirm('Vill du verkligen radera {admin_banners:item get='name'/}?');"><img src="/public/images/admin/icons/delete.png" border="0" /></a>
						</div>
					</li>
				{/admin_banners:column}
				</ul>
			</div>
		{/page:rurl}

	{/page:rurl}


	{page:rurl index="4" empty="true"}
		<h1 style="font-size:16px !important;margin-bottom:10px;margin-left:10px;">Mindre Startsidan Banners</h1>
		<div style="margin-left:10px;">
			<table>
				<!--<tr>
					<td colspan="3">
						<br />
						<button id="create-user">Lägg till sida</button>
						<br />
						<br />
					</td>
				</tr>-->
				<tr>
					<td>
						<strong>Sidor</strong>
					</td>
					<td>
						<strong>Alla Banners</strong>
					</td>
					<td>
						<strong>Aktiva Banners</strong>
					</td>
				</tr>
				<tr>
					<td>
						<iframe class="branschguiden_categories" src="/admin/banners/startpage-small/column/1/no-menu?type=startpage-small" id="cat_startpage_1" class="cat_startpage_1" width="300px" height="500px"></iframe>
					</td>
					<td>
						<iframe class="branschguiden_categories" src="/admin/banners/startpage-small/column/2/no-menu?type=startpage-small" id="cat_startpage_2" class="cat_startpage_2" width="300px" height="500px"></iframe>
					</td>
					<td>
						<iframe class="branschguiden_categories" src="/admin/banners/startpage-small/column/3/no-menu?type=startpage-small" id="cat_startpage_3" class="cat_startpage_3" width="300px" height="500px"></iframe>
					</td>
				</tr>
			</table>
		</div>
	{/page:rurl}

{/template:area}