{template:area id="1"}

{/template:area}

{template:area id="2"}

<div style="margin:10px;">







<form method="POST" action="/admin/konton">
	<input type="TEXT" name="search_konton" />
	<input type="SUBMIT" name="search_konton_submit" class="button_green" value="SÖK KONTO" />
</form>

<br />

<input type="SUBMIT" onClick="window.location='/admin/konton/create'" class="button_green" value="NYTT KONTO" />
<input type="SUBMIT" onClick="window.location='/admin/konton'" class="button_green" value="VISA ALLA KONTON" />

<br />
<br />


<table cellpadding="5" cellspacing="10" border="0">
	<tr>
		<td><strong>Bild</strong></td>
		<td><strong>Namn</strong></td>
		<td><strong>Email</strong></td>
		<td><strong>Grupp</strong></td>
		<td></td>
	</tr>
	{admin_konton:list}
	<tr>
		<td valign="top" style="border-bottom:1px solid #dddddd;height:50px;">
			{admin_konton:got_image}
				<img src="/public/images/users/{admin_konton:image/}" width="50" height="55" />
			{/admin_konton:got_image}
		</td>
		<td valign="top" style="border-bottom:1px solid #dddddd;">
			<b>{admin_konton:item get='first_name'/} {admin_konton:item get='last_name'/}</b>
		</td>
		<td valign="top" style="border-bottom:1px solid #dddddd;">
			{admin_konton:item get='email'/}
		</td>
		<td valign="top" style="border-bottom:1px solid #dddddd;">
			{admin_konton:group/}
		</td>
		<td valign="top" style="border-bottom:1px solid #dddddd;">
			<button class="button_green" onClick="window.location='/admin/konton/redigera/{admin_konton:item get='id'/}'">REDIGERA</button>
			<a href="/admin/konton/nytt_losenord/{admin_konton:item get='id'/}" onClick="return confirm('Vill du verkligen skicka ett nytt lösenord till emailen för detta konto?');">[Skicka nytt lösenord]</a> | 
			<a href="/admin/konton/radera/{admin_konton:item get='id'/}" onClick="return confirm('Vill du verkligen radera detta konto?');">[Ta bort]</a>
		</td>
	</tr>
	{/admin_konton:list}
</table>














</div>


{/template:area}