{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<script>
		function updateIframe(id,request) {
			var iframe = document.getElementById('cat_startpage_'+id);
			iframe.src = "/konto/arbetsgivare/foretag/kategorier/column/"+ id +"/{page:rurl index='3'/}/no-menu"+request;
		}
		function productEdit(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "none";
			edit.style.display = "block";
		}
		
		function productClose(id) {
			var show = document.getElementById('company_product_'+id+'_show');
			var edit = document.getElementById('company_product_'+id+'_edit');
			show.style.display = "block";
			edit.style.display = "none";
		}
		function productNew() {
			var newProduct = document.getElementById('company_product_new');
			newProduct.style.display = "block";
		}
	</script>
{/template:area}

{template:area id="2"}
<div style="margin:10px;">


<input type="SUBMIT" onClick="window.location='/admin/konton/create'" class="button_green" value="NYTT KONTO" />
<input type="SUBMIT" onClick="window.location='/admin/konton'" class="button_green" value="VISA ALLA KONTON" />
<br />
<br />

<form method="post" action="/{page:rurl/}" enctype="multipart/form-data">
	<input type="hidden" name="companies_edit" value="{page:rurl index='3'/}" />
	<div class="platsbanken_lefter_row">
		<h2>Redigera Konto</h2>
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Förnamn</strong><br />
		<input type="text" class="form text" name="konton_first_name" value="{admin_konton:item get='first_name'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Efternamn</strong><br />
		<input type="text" class="form text" name="konton_last_name" value="{admin_konton:item get='last_name'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Email</strong><br />
		<input type="text" class="form text" name="konton_email" value="{admin_konton:item get='email'/}" />
	</div>
	
	<div class="platsbanken_lefter_row">
		<strong>Grupp</strong><br />
		<select name="konton_groups">
			<option value="1"{if:equals arg1="{admin_konton:item get='groups'/}" arg2="1"} selected="selected"{/if:equals}>Administratör</option>
			<option value="3"{if:equals arg1="{admin_konton:item get='groups'/}" arg2="3"} selected="selected"{/if:equals}>Arbetsgivare</option>
			<option value="4"{if:equals arg1="{admin_konton:item get='groups'/}" arg2="4"} selected="selected"{/if:equals}>Medlem (Arbetssökande)</option>
		</select>
	</div>

	<div class="platsbanken_lefter_row">
		<input type="submit" class="button_green" name="konton_edit" style="margin:0px;" value="REDIGERA KONTO" />
	</div>
	
	
</form>








</div>


{/template:area}