{template:area id="1"}
    
{/template:area}

{template:area id="2"}

<div style="margin:10px">
    <form method="POST" action="/admin/forum">
    	<input type="TEXT" name="search_forum" />
    	<input type="SUBMIT" name="search_forum_submit" class="button_green" value="SÖK FORUM" />
    </form>
    <div style="margin-top:10px">
        <table class="table foretag" cellpadding="0" cellspacing="0" border="0">
          <tr class="table_header"><td colspan="7"><h2>Väntar på godkännande</h2></td></tr>
		  <tr class="table_header">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Datum</th>
              <th>Rubrik</th>
              <th>Författare</th>
          </tr>
          {admin_forum:list type="-1"}
          <tr>
              <td><a href="/forum/list/{admin_forum:item get='id'/}" target="_blank" >Visa</a></td>
              <td><a href="/forum/edit/{admin_forum:item get='id'/}" target="_blank" >Redigera</a></td>
              <td><a href="#" onClick="window.location='/admin/forum/accept/{admin_forum:item get='id'/}'">Godkänn</a></td>
              <td><a href="/admin/forum/reject/{admin_forum:item get='id'/}" onClick="return confirm('Vill du verkligen att förkasta detta forum inlägg?');">Neka</a></td>
              <td>{date:unix_to_format unix='{admin_forum:item get="created_on" /}' format="Y-m-d" /}</td>
              <td>{admin_forum:item get="text" /}</td>
              <td>{admin_forum:item get="first_name" /} {admin_forum:item get="last_name" /}</td>
          </tr>
          {/admin_forum:list}
		  <tr class="table_header"><td>&nbsp;</td></tr>
		  <tr class="table_header"><td colspan="7"><h2>Godkända</h2></td></tr>
		   <tr class="table_header">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Datum</th>
              <th>Rubrik</th>
              <th>Författare</th>
          </tr>
		  <tr>
                {admin_forum:list type="1"}
                <tr>
                    <td><a href="/forum/list/{admin_forum:item get='id'/}" target="_blank" >Visa</a></td>
					<td><a href="/forum/edit/{admin_forum:item get='id'/}" target="_blank" >Redigera</a></td>
                    <td><a href="/admin/forum/delete/{admin_forum:item get='id'/}" onClick="return confirm('Vill du verkligen radera detta forum inlägg?');">Radera</a></td>
                    <td>&nbsp;</td>
                    <td>{date:unix_to_format unix='{admin_forum:item get="created_on" /}' format="Y-m-d" /}</td>
                    <td>{admin_forum:item get="text" /}</td>
                    <td>{admin_forum:item get="first_name" /} {admin_forum:item get="last_name" /}</td>
                </tr>
                {/admin_forum:list}
           </tr>
        </table>
    </div>
</div>

{/template:area}