{template:area id="20" desc="title"}Alla restaurangmässor- , events- & tävlingar för hotell & restaurangbranschen{/template:area}
{template:area id="21" desc="description"}Här hittar du alla restaurangmässor- , events- & tävlingar för hotell- & restaurangbranschen. Tipsa oss gärna om ngt event saknas!{/template:area}
{template:area id="22" desc="keywords"}kalender restaurangmässa hotellmässa mässa event bartävling bartendertävling kocktävlingar{/template:area}


<div class="box_middle">
	<div class="box_middle_header">Kalender</div>
	<div class="box_middle_content">

		<div class="box_middle_lefter">
			
			
			Här hittar du information och datum för branschmässor, events och tävlingar.<br />
			<br />
			<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;" />
			<br />
			
			<table cellspacing="3" cellpadding="3" border="0">
				{kalender:list}
				<tr>
					<td valign="top">
						<img src="/public/images/design/kalender.png" />
					</td>
					<td>
						<h3>{kalender:day/} {functions:month number='{kalender:month/}'/} {kalender:year/}</h3>
						
						<h2>{kalender:item get="title"/}</h2>
						
						<img src="/public/images/kalender/{kalender:item get='image'/}" style="margin:8px;float:right;" />
						{kalender:item get="text"/}<br />
						<br />
					</td>
				</tr>
				{/kalender:list}
			</table>
			
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>