{template:area id="1"}
	<script src="/public/js/ckeditor_full/ckeditor.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	<script>
		$(document).ready(function() {
			$("select").change(function () {
				var id = $(this).val();
				window.location = '/admin/html-ytor/redigera/'+ id;
			});
		});
	</script>
{/template:area}

{template:area id="2"}

	<div style="margin:10px;">
		<h2>HTML Ytor</h2>

		<select>
			<option>- Välj -</option>
			{html_area:list}
				<option value="{html_area:item get='id'/}">{html_area:item get="title"/}</option>
			{/html_area:list}
		</select>
		
		
	{page:rurl index="2" equals="redigera"}
		<br />
		<br />
		<h2>Redigera</h2>
		<br />
		<form method="POST" action="/admin/html-ytor/redigera/{html_area:subitem get='id'/}">
			<strong>Rubrik</strong>
			<br />
			<br />
			<input type="text" name="html_area_title" style="width:300px;" value="{html_area:subitem get='title'/}" />
			<br />
			<br />
			<strong>Beskrivning</strong>
			<br />
			<br />
			<textarea name="html_area_description" style="width:700px;height:150px;">{html_area:subitem get='description'/}</textarea>
			<br />
			<br />
			<strong>HTML</strong>
			<br />
			<br />
			<input type="hidden" name="no_escape[]" value="html_area_html" />
			<div style="width:800px;">
				<textarea name="html_area_html" class="ckeditor" style="width:800px;height:300px;">{html_area:subitem get='html'/}</textarea>
			</div>
			<br />
			<br />
			<input type="submit" name="html_area_edit" class="button_green" value="REDIGERA" />
		</form>
		
		<br />
	{/page:rurl}
		
		
	</div>

{/template:area}
















