<div class="box_middle">
	<div class="box_middle_header">Skicka offertförfrågan till flera leverantörer samtidigt!</div>
	
	
{branschguiden:check_request /}
	
	
	<div class="box_middle_content" id="request_form" style="display:none;">
		<form method="POST" action="?" id="request_form2" name="request_form">
		<h3>Kryssa för de leverantörer i listan nedan som du vill få offert ifrån. Ange därefter dina kontaktuppgifter och vad du är på jakt efter.</h3>
		<div style="height:260px;">
	
			<input type="TEXT" rel="blur" name="request_name" id="request_name" class="text_half defaultTextActive" style="margin-right:18px;" value="Ditt namn" title="Ditt namn" />
			<input type="TEXT" rel="blur" name="request_email" id="request_email" class="text_half defaultTextActive" value="Epost" title="Epost" />

			<input type="TEXT" rel="blur" name="request_company_name" id="request_company_name" class="text_half defaultTextActive" style="margin-right:18px;" value="Företagsnamn" title="Företagsnamn" />
			<input type="TEXT" rel="blur"  name="request_telephone" id="request_telephone"class="text_half defaultTextActive" value="Telefon" title="Telefon" />
			<input type="TEXT" rel="blur"  name="request_title" id="request_title"class="text_whole defaultTextActive" value="Rubrik" title="Rubrik" />
			
			<div style="float:left;display:block;font-size:11px;margin-top:10px;">Förklara UTFÖRLIGT vad du är på jakt efter...</div>
			
			<textarea rel="blur" style="margin-top:5px !important;width:444px !important;" name="request_text" id="request_text" class="text_whole defaultTextActive" title="Förklara UTFÖRLIGT vad du är på jakt efter...">Förklara UTFÖRLIGT vad du är på jakt efter...</textarea>
			
			<input type="SUBMIT" style="margin-top:18px;float:right;" class="button_green" id="request_submit" name="request_submit" value="SKICKA FÖRFRÅGAN" />
			<div id="valj_leverantor"></div>
		</div>
		
		<div style="width:300px;border:0px;word-wrap:break-word;">
			Valda leverantörer:<br />
			<div id="choosen_suppliers">Inga leverantörer valda.</div>
		</div>
	</div>
	
	<div class="box_middle_content" id="request_form_empty">
		<h3>Kryssa för de leverantörer i listan nedan som du vill få offert ifrån. Ange därefter dina kontaktuppgifter och vad du är på jakt efter.</h3>
		<div style="height:112px;">
			<textarea rel="blur" onFocus="switchForm();" class="text_whole defaultTextActive" style="height:30px;" title="Förklara UTFÖRLIGT vad du är på jakt efter...">Förklara UTFÖRLIGT vad du är på jakt efter...</textarea>
			
			<input type="SUBMIT" style="margin-top:18px;float:right;" class="button_green" onClick="switchForm();" value="SKICKA FÖRFRÅGAN" />
		</div>
	</div>
	
	
	
	
	
	<div class="box_middle_footer"></div>
</div>

<div class="box_empty">
	<div class="box_empty_header"></div>
	<div class="box_empty_content">
	
		<h3>Antal Leverantörer: {sok:total/}st ("{sok:search_string/}")</h3>
	
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			{sok:results}
				{sok:has_image state="true"}
				<table border="0" width="100%" cellpadding="3" cellspacing="0">
					<tr>
						<td width="15%">
							<div style="">
								<div class="box_empty_icon" style="text-align:center;">
									<a href="/branschguiden/leverantor/{functions:url_friendly string='{sok:item get='title'/}'/}">
										<img src="{sok:item get='image'/}" style="max-width:150px;max-height:100px;" title="{sok:item get='title'/}" border="0" />
									</a>
								</div>
								<div class="box_empty_text">
									<div class="box_empty_text_title"><a href="/branschguiden/leverantor/{functions:url_friendly string='{sok:item get='title'/}'/}">{sok:item get='title'/}</a></div>
									<div class="box_empty_text_area2">
										<img src="/public/images/fa-offert.png" /> <input type="checkbox" name="request_companies[]" value="{sok:item get='id'/}" title="{sok:item get='title'/}" rel="offerts" />
										<br />
										<input type="BUTTON" class="green_button_contact_us contact_block_show" rel="contact_{sok:item get='id'/}" value="Kontakta Oss" />
									</div>
									<div class="box_empty_text_text">
										
										<div style="position:relative;display: block; width: 235px; height: 107px;">
											<a href="/branschguiden/leverantor/{functions:url_friendly string='{sok:item get='title'/}'/}" style="font-weight:normal;color:#000000;">
												{sok:item get="text" remove_br="true"/}
											</a>
										</div>
										<div id="contact_{sok:item get='id'/}" style="display: none;position:relative;background-color: #ffffff; margin-top: -107px; width: 235px; height: 107px; margin-left: 0px;">
											<h3>Kontakt Information</h3>
											Telefon: 035-123456<br />
											Mobil: 0701-123456<br />
											Epost: test@test.com
										</div>
										
									</div>
									<div class="box_empty_text_readmore"><a href="/branschguiden/leverantor/{functions:url_friendly string='{sok:item get='title'/}'/}" target="_blank">Läs mer</a></div>
								</div>
							</div>
						</td>
					</tr>
					{sok:not_last_item}
					<tr>
						<td colspan="2">
							<hr size="1" width="100%" style="color:#cccccc;margin-top:20px;margin-bottom:20px;" />
						</td>
					</tr>
					{/sok:not_last_item}
				</table>
				{/sok:has_image}
				{sok:has_image state="false"}
				<table border="0" width="100%" cellpadding="3" cellspacing="0">
					<tr>
						<td width="100%" valign="top" align="left">
							<div style="">
								<div class="box_empty_icon" style="text-align:center;">
									<a href="/branschguiden/leverantor/{functions:url_friendly string='{sok:item get='title'/}'/}">
										<img src="/public/images/companies/{sok:item get='image'/}" style="max-width:150px;max-height:100px;" title="{sok:item get='title'/}" border="0" />
									</a>
								</div>
								<div class="box_empty_text">
									<div class="box_empty_text_title"><a href="/branschguiden/leverantor/{functions:url_friendly string='{sok:item get='title'/}'/}">{sok:item get='title'/}</a></div>
									<div class="box_empty_text_area2">
										<img src="/public/images/fa-offert.png" /> <input type="checkbox" name="request_companies[]" value="{sok:item get='id'/}" title="{sok:item get='title'/}" rel="offerts" />
										<br />
										<input type="BUTTON" class="green_button_contact_us contact_block_show" rel="contact_{sok:item get='id'/}" value="Kontakta Oss" />
									</div>
									<div class="box_empty_text_text">
										
										<div style="position:relative;display: block; width: 235px; height: 107px;">
											<a href="/branschguiden/leverantor/{functions:url_friendly string='{sok:item get='title'/}'/}" style="font-weight:normal;color:#000000;">
												{sok:item get="text" remove_br="true"/}
											</a>
										</div>
										<div id="contact_{sok:item get='id'/}" style="display: none;position:relative;background-color: #ffffff; margin-top: -107px; width: 235px; height: 107px; margin-left: 0px;">
											<h3>Kontakt Information</h3>
											Telefon: 035-123456<br />
											Mobil: 0701-123456<br />
											Epost: test@test.com
										</div>
										
									</div>
									<div class="box_empty_text_readmore"><a href="/branschguiden/leverantor/{functions:url_friendly string='{sok:item get='title'/}'/}" target="_blank">Läs mer</a></div>
								</div>
							</div>
						</td>
					</tr>
					{sok:not_last_item}
					<tr>
						<td>
							<hr size="1" width="100%" style="color:#cccccc;margin-top:20px;margin-bottom:20px;" />
						</td>
					</tr>
					{/sok:not_last_item}
				</table>
				{/sok:has_image}
			{/sok:results}
		</div>
		
	</div>
	<div class="box_empty_footer"></div>
</div>


