{pager:set attr="items_per_page" value="50"/}
{pager:set attr="page_index" value="3"/}
{pager:set attr="page_margin" value="2"/}
{pager:set attr="url" value="/admin/kop-salj/annonser/[ID]"/}
{pager:number_of_items value="{kop_salj:total_requests/}"/}
{pager:divider} {/pager:divider}
{pager:inactive}<button class="button_green" onClick="window.location='{pager:get attr='url'/}'">[ID]</button>{/pager:inactive}
{pager:active}<button class="button_green" onClick="window.location='{pager:get attr='url'/}">([ID])</button>{/pager:active}
{pager:prefix}<button class="button_green" onClick="window.location='/admin/kop-salj/annonser/[FIRST]'">FÖRSTA</button> {/pager:prefix}
{pager:suffix} <button class="button_green" onClick="window.location='/admin/kop-salj/annonser/[LAST]'">SISTA</button>{/pager:suffix}




{template:area id="1"}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script>

$(function() {
   {kop_salj:requests}
        $( "#dialog_annonser_{kop_salj:item get='id'/}" ).dialog({
    		autoOpen: false,
    		modal: true,
    		buttons: {
    			'SPARA': function() {
    				//$( this ).dialog( "close" );
    			},
                'ANNULLERA': function() {
    				$( this ).dialog( "close" );
    			}
    		},
    		width: 700
    	});
    	$( ".opener_{kop_salj:item get='id'/}" ).click(function() {
    		$( "#dialog_annonser_{kop_salj:item get='id'/}" ).dialog( "open" );
    	});
   {/kop_salj:requests}

});
</script>
{/template:area}

{template:area id="2"}
<div style="margin:10px;">

{pager:pages/}

<br />
<br />
{kop_salj:requests}
    <div id="dialog_annonser_{kop_salj:item get='id'/}" title="Redigera">
        <table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td width="150px" valign="top"><strong>Annonsör</strong></td>
				<td valign="top">{account:by_id id="{kop_salj:item get='account_id'/}" get="first_name"/} {account:by_id id="{kop_salj:item get='account_id'/}" get="last_name"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Rubrik</strong></td>
				<td valign="top"><input type="text" class="form text" name="kop_salj_title" value="{kop_salj:item get='title'/}" /></td>
			</tr>
			<tr>
				<td valign="top"><strong>Pris</strong></td>
				<td valign="top"><input type="text" class="form text" name="kop_salj_price" value="{kop_salj:item get='price'/}" /></td>
			</tr>
			<tr>
				<td valign="top"><strong>Kategori</strong></td>
				<td valign="top"><select name="kop_salj_category" class="form">
						<option value="_empty">- Välj Kategori -</option>
						{kop_salj:categories}<option value="{kop_salj:item get='id'/}"{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='category' value='{kop_salj:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{kop_salj:item get='title'/}</option>{/kop_salj:categories}
					</select></td>
			</tr>
			<tr>
				<td valign="top"><strong>Kontakt Person</strong></td>
				<td valign="top">
					<strong>Namn:</strong><br /> <input type="text" name="kop_salj_contact_name" class="form text" value="{kop_salj:item get='contact_name'/}" /><br />
                    <strong>Telefon 1:</strong> <br /><input type="text" name="kop_salj_contact_phone_1" class="form text" value="{kop_salj:item get='contact_phone_1'/}"/><br />
					<strong>Telefon 2:</strong> <br /><input type="text" name="kop_salj_contact_phone_2" class="form text" value="{kop_salj:item get='contact_phone_2'/}"/><br />
                    <strong>Email:</strong><br /> <input type="text" name="kop_salj_contact_email" class="form text" value="{kop_salj:item get='contact_email'/}" /><br />
				</td>
			</tr>
			<tr>
				<td valign="top"><strong>Ort</strong></td>
				<td valign="top"><input type="text" class="form text" name="kop_salj_city" value="{kop_salj:item get='city'/}" /></td>
			</tr>
			<tr>
				<td valign="top"><strong>Region</strong></td>
				<td valign="top"><input type="hidden" name="selected_kop_salj_region" value="{kop_salj:region id='{kop_salj:item get='region'/}' get='name'/}"/>
                    <select name="kop_salj_region" class="form">
						<option value="_empty">- Välj Region -</option>
						{kop_salj:regions}<option value="{kop_salj:item get='id'/}"{kop_salj:info index='{page:rurl index="4"/}' get='kop_salj' name='region' value='{kop_salj:item get="id"/}' posted_first='true' return=' selected="selected"'/}>{kop_salj:item get='name'/}</option>{/kop_salj:regions}
					</select></td>
			</tr>
			<tr>
				<td valign="top"><strong>Beskrivning</strong></td>
				<td valign="top"><textarea class="ckeditor" name="kop_salj_description">{kop_salj:item get="description"/}</textarea></td>
			</tr>
			<tr>
				<td valign="top"><strong>Bilder</strong></td>
				<td valign="top"><strong>Bilder (Max 8st)</strong><br />
					Bild 1 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					<br />
					Bild 2 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					<br />
					Bild 3 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
				    <br />
					Bild 4 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					<br />
					Bild 5 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
				    <br />
					Bild 6 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					<br />
					Bild 7 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
					<br />
					Bild 8 <input type="file" class="form" class="form text" name="kop_salj_bild[]" id="kop_salj_bild[]" /><br />
				</td>
				<!--<td valign="top">
					{kop_salj:images}
						<img src="/public/images/kop_salj/{kop_salj:image get='image'/}" /><br />
						<br />
					{/kop_salj:images}
				</td>-->
			</tr> 
		</table>
	</div>
{/kop_salj:requests}

<table class="table foretag" cellpadding="0" cellspacing="0" border="0">
    <tr><td colspan="7"><h3>Väntar på godkånnande</h3></td></tr>
	<tr class="table_header">
		<th style="width:40px"></th>
		<th style="width:60px"></th>
		<th style="width:60px"></th>
		<th style="width:60px"></th>
		<th style="width:100px">Datum</th>
		<th style="width:150px">Annons</th>
		<th style="width:100px">Annonsör</th>
	</tr>
	{kop_salj:requests status="waiting"}
	<tr>
        <td style="text-align:center"><a href="/till-salu/{kop_salj:item get='id'/}/{kop_salj:item get='title'/}" target="_blank">Visa</a></td>
        <td style="text-align:center"><a href="#" class="opener_{kop_salj:item get='id'/}">Redigera</a></td>
        <td style="text-align:center"><a href="#" onClick="document.location='/admin/kop-salj/annonser/accept/{kop_salj:item get='id'/}';return false;">Godkänn</a></td>
        <td style="text-align:center"><a href="#" onClick="document.location='/admin/kop-salj/annonser/decline/{kop_salj:item get='id'/}';return false;">Neka</a></td>
		<td>{date:unix_to_format unix='{kop_salj:item get='added'/}' format='Y-m-d'/}</td>
        <td>{kop_salj:item get='title'/}</td>
        <td>{account:by_id id="{kop_salj:item get='account_id'/}" get="first_name"/} {account:by_id id="{kop_salj:item get='account_id'/}" get="last_name"/}</td>
	</tr>
	{/kop_salj:requests}
    <tr class="table_header"><td colspan="7"><h3>Godkända</h3></td></tr>
    {kop_salj:requests status="accepted"}
	<tr>
        <td style="text-align:center"><a href="/till-salu/{kop_salj:item get='id'/}/{kop_salj:item get='title'/}" target="_blank">Visa</a></td>
        <td style="text-align:center"><a href="#" class="opener_{kop_salj:item get='id'/}">Redigera</a></td>
        <td style="text-align:center"><a href="/admin/kop-salj/annonser/delete/{kop_salj:item get='id'/}" onClick="return confirm('Vill du verkligen ta bort denna annons ?');">Radera</a></td>
        <td style="text-align:center"></td>
        <td>{date:unix_to_format unix='{kop_salj:item get='added'/}' format='Y-m-d'/}</td>
        <td>{kop_salj:item get='title'/}</td>
        <td>{account:by_id id="{kop_salj:item get='account_id'/}" get="first_name"/} {account:by_id id="{kop_salj:item get='account_id'/}" get="last_name"/}</td>
	</tr>
	{/kop_salj:requests}
</table>
<!--<br />
<br />
<h3>Nekade</h3>
<br />
<table class="table" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<th style="width:80px"></th>
		<th style="width:80px"></th>
		<th style="width:80px"></th>
		<th style="width:80px"></th>
		<th style="width:100px">Datum</th>
		<th style="width:150px">Annons</th>
		<th style="width:100px">Annonsör</th>
	</tr>
	{kop_salj:requests status="declined"}
	<tr>
        <td style="text-align:center"><a href="#" class="opener_{kop_salj:item get='id'/}">Visa Annons</a></td>
        <td style="text-align:center"><a href="#" onClick="document.location='/admin/kop-salj/annonser/accept/{kop_salj:item get='id'/}';return false;">Godkänn</a></td>
        <td></td>
        <td >{account:by_id id="{kop_salj:item get='account_id'/}" get="first_name"/} {account:by_id id="{kop_salj:item get='account_id'/}" get="last_name"/}</td>
		<td >{kop_salj:item get='title'/}</td>
		<td >{kop_salj:item get='price'/}</td>
		<td >{kop_salj:category id='{kop_salj:item get="category"/}' get='title'/}</td>
		<td >{kop_salj:item get='city'/}</td>
		<td >{kop_salj:region id='{kop_salj:item get="region"/}' get='title'/}</td>
	</tr>
	{/kop_salj:requests}
</table> -->


<br />
<br />


{pager:pages/}

</div>
{/template:area}