{template:area id="1"}

{/template:area}

{template:area id="2"}
	
	<ul class="categories">
	{annonser:all_job_categories}
		<li style="width:400px;">
			<table>
				<tr>
					<td>
						<form method="post" action="/admin/platsbanken/job-categories">
							<input type="hidden" name="id" value="{annonser:item get='id'/}" style="width:300px;" />
							<input type="text" name="name" value="{annonser:item get='name'/}" style="width:300px;" />
					</td>
					<td style="width:200px;">
							<input type="submit" name="edit" value="" class="cat_save" />
						</form>
						<a href="/admin/platsbanken/job-categories?delete={annonser:item get='id'/}" onClick="return confirm('Vill du verkligen radera \'{annonser:item get='name'/}\' och alla dess under kategorier?');"><img src="/public/images/admin/icons/delete.png" /></a>
					</td>
				</tr>
			</table>
		</li>
	{/annonser:all_job_categories}
		<li>
			<form method="post" action="/admin/platsbanken/job-categories">
				<input type="text" name="name" value="" style="width:300px;" />
				<input type="submit" name="add" value="" class="cat_add" />
			</form>
		</li>
	</ul>
	
	
{/template:area}