{template:area id="1"}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script>
$(function() {
{kop_salj:meddelanden status="waiting"}
	$( "#dialog_annonser_{kop_salj:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{kop_salj:item get='id'/}" ).click(function() {
		$( "#dialog_annonser_{kop_salj:item get='id'/}" ).dialog( "open" );
	});
{/kop_salj:meddelanden}
{kop_salj:meddelanden status="accepted"}
	$( "#dialog_annonser_{kop_salj:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{kop_salj:item get='id'/}" ).click(function() {
		$( "#dialog_annonser_{kop_salj:item get='id'/}" ).dialog( "open" );
	});
{/kop_salj:meddelanden}
{kop_salj:meddelanden status="declined"}
	$( "#dialog_annonser_{kop_salj:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{kop_salj:item get='id'/}" ).click(function() {
		$( "#dialog_annonser_{kop_salj:item get='id'/}" ).dialog( "open" );
	});
{/kop_salj:meddelanden}
});
</script>
{/template:area}

{template:area id="2"}
{kop_salj:meddelanden status="waiting"}
	<div id="dialog_annonser_{kop_salj:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td valign="top"><strong>Namn</strong></td>
				<td valign="top">{kop_salj:item get='name'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Email</strong></td>
				<td valign="top">{kop_salj:item get='email'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Telefonnummer</strong></td>
				<td valign="top">{kop_salj:item get="telephone"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Meddelande</strong></td>
				<td valign="top">{kop_salj:item get="message"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Aktion</strong><br />(Väntar på svar)</td>
				<td valign="top">
					<div style="display:table">
                        <div style="display:table-cell"><button onClick="document.location='/admin/kop-salj/meddelanden/accept/{kop_salj:item get='id'/}';return false;" class="button_green">Godkänn</button></div>
					    <div style="padding-left:10px;display:table-cell"><form method="POST" action="/admin/kop-salj/meddelanden/decline/{kop_salj:item get='id'/}">
        						<button class="button_green">Neka</button>
        					</form></div>
                    </div>
				</td>
			</tr>
		</table>
	</div>
{/kop_salj:meddelanden}
{kop_salj:meddelanden status="accepted"}
	<div id="dialog_annonser_{kop_salj:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td valign="top"><strong>Namn</strong></td>
				<td valign="top">{kop_salj:item get='name'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Email</strong></td>
				<td valign="top">{kop_salj:item get='email'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Telefonnummer</strong></td>
				<td valign="top">{kop_salj:item get="telephone"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Meddelande</strong></td>
				<td valign="top">{kop_salj:item get="message"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Aktion</strong><br />(Godkänd)</td>
				<td valign="top">
					<form method="POST" action="/admin/kop-salj/meddelanden/resend/{kop_salj:item get='id'/}">
						<button class="button_green">Skicka mails igen</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
{/kop_salj:meddelanden}
{kop_salj:meddelanden status="declined"}
	<div id="dialog_annonser_{kop_salj:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td valign="top"><strong>Namn</strong></td>
				<td valign="top">{kop_salj:item get='name'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Email</strong></td>
				<td valign="top">{kop_salj:item get='email'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Telefonnummer</strong></td>
				<td valign="top">{kop_salj:item get="telephone"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Meddelande</strong></td>
				<td valign="top">{kop_salj:item get="message"/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Aktion</strong><br />(Nekad)</td>
				<td valign="top">
					<button class="button_green" onClick="document.location='/admin/kop-salj/meddelanden/accept/{kop_salj:item get='id'/}';return false;">Godkänn</button><br />
				</td>
			</tr>
		</table>
	</div>
{/kop_salj:meddelanden}




<div style="margin-left:10px">
  <br/>
  <br/>
  <h3>Väntar på svar</h3>
  <br/>
  <table class="table" cellpadding="0" cellspacing="0" border="0">
  	<tr>
          <th style="width:100px"></th>
          <th style="width:100px"></th>
          <th style="width:100px"></th>
  		<th style="width:150px">Namn</th>
  		<th style="width:150px">Email</th>
  		<th style="width:150px">Telefon</th>
  		<th style="width:200px">Meddelande</th>
  	</tr>
  	{kop_salj:meddelanden status="waiting"}
  	<tr>
          <td style="text-align:center"><a href="#" class="opener_{kop_salj:item get='id'/}">Visa Meddelande</a></td>
          <td style="text-align:center"><a href="#" onClick="document.location='/admin/kop-salj/meddelanden/accept/{kop_salj:item get='id'/}';return false;">Godkänn</a></td>
          <td style="text-align:center"><a href="#" onClick="document.location='/admin/kop-salj/meddelanden/decline/{kop_salj:item get='id'/}';return false;">Neka</a></td>
  		<td >{kop_salj:item get='name'/}</td>
  		<td >{kop_salj:item get='email'/}</td>
  		<td >{kop_salj:item get='telephone'/}</td>
  		<td >{kop_salj:item get="message" cut='50' add='...'/}</td>
  	</tr>
  	{/kop_salj:meddelanden}
  </table>

  <br/>
  <br/>
  <h3>Godkända</h3>
  <br/>
  <table class="table" cellpadding="0" cellspacing="0" border="0">
  	<tr>
          <th style="width:100px"></th>
          <th style="width:100px"></th>
          <th style="width:100px"></th>
  		<th style="width:150px">Namn</th>
  		<th style="width:150px">Email</th>
  		<th style="width:150px">Telefon</th>
  		<th style="width:200px">Meddelande</th>
  	</tr>
  	{kop_salj:meddelanden status="accepted"}
  	<tr>
          <td style="text-align:center"><a href="#" class="opener_{kop_salj:item get='id'/}">Visa Meddelande</a></td>
          <td style="text-align:center"><a href="#" onClick="document.location='/admin/kop-salj/meddelanden/resend/{kop_salj:item get='id'/}';return false;">Skicka mails igen</a></td>
          <td></td>
          <td >{kop_salj:item get='name'/}</td>
  		<td >{kop_salj:item get='email'/}</td>
  		<td >{kop_salj:item get='telephone'/}</td>
  		<td >{kop_salj:item get="message" cut='50' add='...'/}</td>
  	</tr>
  	{/kop_salj:meddelanden}
  </table>

  <br/>
  <br/>

  <h3>Nekade</h3>
  <br/>

  <table class="table" cellpadding="0" cellspacing="0" border="0">
  	<tr>
          <th style="width:100px;"></th>
          <th style="width:100px"></th>
          <th style="width:100px"></th>
  		<th style="width:150px">Namn</th>
  		<th style="width:150px">Email</th>
  		<th style="width:150px">Telefon</th>
  		<th style="width:200px">Meddelande</th>
  	</tr>
  	{kop_salj:meddelanden status="declined"}
  	<tr>
        <td style="text-align:center"><a href="#" class="opener_{kop_salj:item get='id'/}">Visa Meddelande</a></td>
        <td style="text-align:center"><a href="#" onClick="document.location='/admin/kop-salj/meddelanden/accept/{kop_salj:item get='id'/}';return false;">Godkänn</a></td>
        <td></td>
  		<td >{kop_salj:item get='name'/}</td>
  		<td >{kop_salj:item get='email'/}</td>
  		<td >{kop_salj:item get='telephone'/}</td>
  		<td >{kop_salj:item get="message" cut='50' add='...'/}</td>
  	</tr>
  	{/kop_salj:meddelanden}
  </table>

  {/template:area}
</div>