{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<script src="/public/js/admin/branschnyheter/add.js"></script>
{/template:area}

{template:area id="2"}
<div style="margin:10px;">

{admin_branschnyheter:check_add/}

	<form id="add_article_form" method="post" action="/admin/branschnyheter/add" enctype="multipart/form-data">
    <div>
         <div class="platsbanken_lefter_row">
			<h2>Skapa Branschnyhet</h2>

			{admin_branschnyheter:message check="true"}
				<h3 style="color:limegreen;">{admin_branschnyheter:message/}</h3>
			{/admin_branschnyheter:message}


		</div>
        <div class="platsbanken_lefter_row">
  			<strong>Välj Företag</strong><br />
  			<select name="branschnyheter_company">
  				{admin_foretag:list}
  					<option value="{admin_foretag:item get='id'/}">{admin_foretag:item get='name'/}</option>
  				{/admin_foretag:list}
  			</select>
           <input type="checkbox" id="branschnyheter_show_company" name="branschnyheter_show_company" value="yes"/> Koppla inte till företag
  		</div>

        <div class="platsbanken_lefter_row">
    		{admin_branschnyheter:check_article_exists}	
				<input type="button" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA" />
			{/admin_branschnyheter:check_article_exists}	
    		<input type="submit" class="button_green" name="branschnyheter_publish" style="margin:0px;" value="PUBLICERA" />
    		<input type="submit" class="button_green" name="branschnyheter_submit" style="margin:0px;" value="SPARA" />
  		</div>
    </div>
    <div style="display:table">
        <div style="display:table-cell;padding-right:20px">
          <div class="platsbanken_lefter_row">
              <strong>Rubrik</strong><br />
              <input type="text" class="form text" name="branschnyheter_title" />
          </div>
          <div class="platsbanken_lefter_row">
              <strong>Ingress</strong><br />
              <input type="hidden" name="no_escape[]" value="branschnyheter_breadcrumb" />
              <textarea class="ckeditor" name="branschnyheter_breadcrumb"></textarea>
          </div>
          <div class="platsbanken_lefter_row">
              <strong>Brödtext 1</strong><br />
              <input type="hidden" name="no_escape[]" value="branschnyheter_text1" />
              <textarea class="ckeditor" name="branschnyheter_text1"></textarea>
          </div>

          <div class="platsbanken_lefter_row">
              <strong>Brödtext 2</strong><br />
              <input type="hidden" name="no_escape[]" value="branschnyheter_text2" />
              <textarea class="ckeditor" name="branschnyheter_text2"></textarea>
          </div>
		  
		   <div class="platsbanken_lefter_row">
				{admin_branschnyheter:check_article_exists}	
					<input type="button" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA" />
				{/admin_branschnyheter:check_article_exists}	
				<input type="submit" class="button_green" name="branschnyheter_publish" style="margin:0px;" value="PUBLICERA" />
				<input type="submit" class="button_green" name="branschnyheter_submit" style="margin:0px;" value="SPARA" />
			</div>
        </div>
        <div style="display:table-cell">
            <div class="platsbanken_lefter_row">
    			<div class="section_header">Bilder</div>
                <br />
                <br />
               <strong>Miniatyrbild</strong><br />
                <div class="img_upload_div">
                    <div class="img_upload_add">
                            <div style="display:none">
                                <input type="file" name="branschnyheter_bild[]" />
                            </div>
                            <button type="button" class="button_green image_file_btn" id="news_bild_btn_1" title="Ladda upp en bild" onclick="$('#branschnyheter_bild_1').click();"><img src="/public/images/admin/icons/add_24.png"/></button>
                            <div id="file_path_1" style="display:none"></div>
                     </div>
                </div>
                <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="news_delete_img_1"><img src="/public/images/admin/icons/minus_24.png"/></button>
            </div>

			<div class="platsbanken_lefter_row">
			
				<div class="display_table">
                    <div class="display_table_cell">
						<strong>Stor Bild 1</strong><br />
						<div class="img_upload_div">
							<div class="img_upload_add">
									<div class="input_file_div" style="display:none">
										<input type="file" name="branschnyheter_bild[]" multiple='multiple' class="image_file_{admin_branschnyheter:subitem get='rnum'/} image_file_input" image_id='{admin_branschnyheter:subitem get='rnum'/}' />
									</div>
									{admin_branschnyheter:has_image state="false"}
									<button type="button" class="button_green image_file_btn" title="Ladda upp en bild" id="image_file_btn_{admin_platsbanken:subitem get='rnum'/}" image_id="{admin_branschnyheter:subitem get='rnum'/}"><img src="/public/images/admin/icons/add_24.png"/></button>
									{/admin_branschnyheter:has_image}
									<div id="create_image_file_path_{admin_branschnyheter:subitem get='rnum'/}" style="display:none"></div>
									
									{admin_branschnyheter:has_image state="true"}
									<img id="branschnyheter_img_src_{admin_branschnyheter:subitem get='rnum'/}" title="Ikon" src="/public/images/branschnyheter/{admin_branschnyheter:subitem get='image'/}" image_id="{admin_branschnyheter:subitem get='rnum'/}"><br />
									{/admin_branschnyheter:has_image}
							 </div>
						</div>
						<button type="button" class="button_orange delete_image_btn" style="width:315px" image_id="{admin_branschnyheter:subitem get='rnum'/}" title="Radera bild"><img src="/public/images/admin/icons/minus_24.png"/></button>
					</div>
					<div class="display_table_cell" style="padding-top: 20px; padding-left: 10px;">
					  <img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_images"/>
					</div>
				</div>
				</div>
			<div class="platsbanken_lefter_row image_list">
			</div>
        </div>
    </div>
     
    </form>
</div>

{/template:area}