{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<script src="/public/js/admin/branschnyheter/add_edit.js"></script>
{/template:area}

{template:area id="2"}
<div>

{admin_branschnyheter:check_add/}
{admin_branschnyheter:check_edit/} 

	<form id="add_article_form" method="post" action="/admin/branschnyheter/{admin_branschnyheter:check_news_edit/}" enctype="multipart/form-data">
	<input type="hidden" name=" branschnyheter_edit" value="{page:rurl index='3'/}" />
    <input type="hidden" id="branschnyheter_logo_radera" name="branschnyheter_logo_radera" value="" />
    <input type="hidden" id="branschnyheter_image_radera" name="branschnyheter_image_radera" value="" />
    <div>
         <div class="platsbanken_lefter_row">
			<h2>{page:rurl index="3" not_empty="true"}Redigera Branschnyhet{/page:rurl index="3"}{page:rurl index="3" empty="false"}Skapa Branschnyhet{/page:rurl index="3"} </h2>

			{admin_branschnyheter:message check="true"}
				<h3 style="color:limegreen;">{admin_branschnyheter:message/}</h3>
			{/admin_branschnyheter:message}


		</div>
        <div class="platsbanken_lefter_row">
  			<strong>Välj Företag</strong><br />
  			<select name="branschnyheter_company">
  				{admin_foretag:list}
  					<option value="{admin_foretag:item get='id'/}"{if:equals arg1='{admin_foretag:item get="id"/}' arg2='{admin_branschnyheter:item get="company_id"/}'} selected="selected"{/if:equals}>{admin_foretag:item get='name'/}</option>
  				{/admin_foretag:list}
  			</select>
           <input type="checkbox" id="branschnyheter_show_company" name="branschnyheter_show_company" value="yes"  {admin_branschnyheter:get_show_company_info /} /> Koppla inte till företag
  		</div>

        <div class="platsbanken_lefter_row">
    		{admin_branschnyheter:check_article_exists}
				<input type="button" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA"  news="{admin_branschnyheter:item get='id'/}"/>
			{/admin_branschnyheter:check_article_exists}
            {page:rurl index="3" empty="false"}
    		<input type="submit" class="button_green" name="branschnyheter_publish" style="margin:0px;" value="PUBLICERA" />
    		<!--<input type="submit" class="button_green" name="branschnyheter_submit" style="margin:0px;" value="SPARA" /> -->
            {/page:rurl}
            {page:rurl index="3" not_empty="true"}
            <input type="submit" class="button_green" name="branschnyheter_edit" style="margin:0px;" value="REDIGERA" />
            {/page:rurl}
  		</div>
    </div>
    <div style="display:table">
        <div style="display:table-cell;padding-right:20px">
          <div class="platsbanken_lefter_row">
              <strong>Rubrik</strong><br />
              <input type="text" class="form text" name="branschnyheter_title" value="{admin_branschnyheter:item get='title'/}" />
          </div>
          <div class="platsbanken_lefter_row">
              <strong>Ingress</strong><br />
              <input type="hidden" name="no_escape[]" value="branschnyheter_breadcrumb" />
              <textarea class="ckeditor" name="branschnyheter_breadcrumb">{admin_branschnyheter:item get="breadcrumb"/}</textarea>
          </div>
          <div class="platsbanken_lefter_row">
              <strong>Brödtext 1</strong><br />
              <input type="hidden" name="no_escape[]" value="branschnyheter_text1" />
              <textarea class="ckeditor" name="branschnyheter_text1">{admin_branschnyheter:item get="text_1"/}</textarea>
          </div>

          <div class="platsbanken_lefter_row">
              <strong>Brödtext 2</strong><br />
              <input type="hidden" name="no_escape[]" value="branschnyheter_text2" />
              <textarea class="ckeditor" name="branschnyheter_text2">{admin_branschnyheter:item get="text_2"/}</textarea>
          </div>

		   <div class="platsbanken_lefter_row">
			   	{admin_branschnyheter:check_article_exists}
				<input type="button" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA"  news="{admin_branschnyheter:item get='id'/}"/>
    			{/admin_branschnyheter:check_article_exists}
                {page:rurl index="3" empty="false"}
        		<input type="submit" class="button_green" name="branschnyheter_publish" style="margin:0px;" value="PUBLICERA" />
        		<input type="submit" class="button_green" name="branschnyheter_submit" style="margin:0px;" value="SPARA" />
                {/page:rurl}
                {page:rurl index="3" not_empty="true"}
                <input type="submit" class="button_green" name="branschnyheter_edit" style="margin:0px;" value="REDIGERA" />
                {/page:rurl}
			</div>
        </div>
        <div style="display:table-cell">

			<div class="platsbanken_lefter_row image_list">
				<div class='branschnyheter_image_div' style='margin-top:10px'>
				<strong>Miniatyrbild</strong>
					<div class="img_upload_div">
						<div class="img_upload_add">
							{admin_branschnyheter:has_image state="true" branschnyheter_id="{admin_branschnyheter:item get='id'/}" type="image_thumb"}
							<img style="max-width:300px;max-height:300px;" id="company_img_src_{admin_branschnyheter:subitem get='id'/}" title="Ikon" src="/public/images/branschnyheter/{admin_branschnyheter:bild branschnyheter_id="{admin_branschnyheter:item get='id'/}" type='image_thumb'/}" image_id="{admin_branschnyheter:subitem get='id'/}"><br />
							{/admin_branschnyheter:has_image}
							
							<input type="file" style="width:80%;height:30px;" name="branschnyheter_image_thumb" class="button_green" image_id="{admin_branschnyheter:subitem get='id'/}" />									
							{admin_branschnyheter:has_image state="true" branschnyheter_id="{admin_branschnyheter:item get='id'/}" type="image_thumb"}
							<a href="?delete_image=image_thumb&branschnyheter_id={admin_branschnyheter:item get='id'/}" style="margin-top:3px;width:30%;padding-top:0px;height:17px;" class="button_orange" title="Radera bild" onClick="return confirm('Vill du verkligen radera denna bild?');">Radera bild</a>
							{/admin_branschnyheter:has_image}
						</div>
					</div>
				</div>
			</div>

			<div class="platsbanken_lefter_row image_list">
				<div class='branschnyheter_image_div' style='margin-top:10px'>
				<strong>Efter ingress bild</strong>
					<div class="img_upload_div">
						<div class="img_upload_add">
							{admin_branschnyheter:has_image state="true" branschnyheter_id="{admin_branschnyheter:item get='id'/}" type="image_big"}
							<img style="max-width:300px;max-height:300px;" id="company_img_src_{admin_branschnyheter:subitem get='id'/}" title="Ikon" src="/public/images/branschnyheter/{admin_branschnyheter:bild branschnyheter_id="{admin_branschnyheter:item get='id'/}" type='image_big'/}" image_id="{admin_branschnyheter:subitem get='id'/}"><br />
							{/admin_branschnyheter:has_image}
								
							<input type="file" style="width:80%;height:30px;" name="branschnyheter_image_big" class="button_green" image_id="{admin_branschnyheter:subitem get='id'/}" />		
							{admin_branschnyheter:has_image state="true" branschnyheter_id="{admin_branschnyheter:item get='id'/}" type="image_big"}
							<a href="?delete_image=image_big&branschnyheter_id={admin_branschnyheter:item get='id'/}" style="margin-top:3px;width:30%;padding-top:0px;height:17px;" class="button_orange" title="Radera bild" onClick="return confirm('Vill du verkligen radera denna bild?');">Radera bild</a>
							{/admin_branschnyheter:has_image}
						</div>
					</div>
				</div>
			</div>

			<div class="platsbanken_lefter_row image_list">
				<div class='branschnyheter_image_div' style='margin-top:10px'>
				<strong>Efter brödtext 1 bild</strong>
					<div class="img_upload_div">
						<div class="img_upload_add">
							{admin_branschnyheter:has_image state="true" branschnyheter_id="{admin_branschnyheter:item get='id'/}" type="image_big_2"}
							<img style="max-width:300px;max-height:300px;" id="company_img_src_{admin_branschnyheter:subitem get='id'/}" title="Ikon" src="/public/images/branschnyheter/{admin_branschnyheter:bild branschnyheter_id="{admin_branschnyheter:item get='id'/}" type='image_big_2'/}" image_id="{admin_branschnyheter:subitem get='id'/}"><br />
							{/admin_branschnyheter:has_image}
								
							<input type="file" style="width:80%;height:30px;" name="branschnyheter_image_big_2" class="button_green" />		
							{admin_branschnyheter:has_image state="true" branschnyheter_id="{admin_branschnyheter:item get='id'/}" type="image_big_2"}
							<a href="?delete_image=image_big_2&branschnyheter_id={admin_branschnyheter:item get='id'/}" style="margin-top:3px;width:30%;padding-top:0px;height:17px;" class="button_orange" title="Radera bild" onClick="return confirm('Vill du verkligen radera denna bild?');">Radera bild</a>
							{/admin_branschnyheter:has_image}
						</div>
					</div>
				</div>
			</div>

				<div class="platsbanken_lefter_row">
					<div class="section_header">Lägg till filmklipp</div>
				</div>
                {admin_branschnyheter:get_news_movies limit='1' id='{admin_branschnyheter:item get="id"/}' /}
				<div class="branschnyheter_movie_div">
					<div class="display_table">
					  <div class="display_table_cell">
						<div class="platsbanken_lefter_row">
							<strong>Länk till filmklipp</strong><br />
							<div class="input_img_div">
								<input type="text" class="form text" name="branschnyheter_movie_link[]" value="{admin_branschnyheter:subitem get='link' /}" />
								<div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_movie"/></div>
							</div>
						</div>
						<div class="platsbanken_lefter_row">
						  <strong>Bildtext</strong><br />
						  <input type="text" class="form text" name="branschnyheter_movie_text[]" value="{admin_branschnyheter:subitem get='title' /}" />
						</div>
						<div class="platsbanken_lefter_row">
						  <strong>Placering</strong><br />
						  <select name="branschnyheter_movie_location[]">
							<option value=""></option>
							<option value="below_introduction" {if:equals arg1='below_introduction' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals} >Under Ingress</option>
							<option value="below_body_1" {if:equals arg1='below_body_1' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals}>Under brödtext 1</option>
							<option value="below_body_2" {if:equals arg1='below_body_2' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals}>Under brödtext 2</option>
						  </select>
						</div>
					  </div>
					</div>
				</div>
				<div class="platsbanken_lefter_row">

					<div class="branschnyheter_movie_list">
                        {admin_branschnyheter:get_news_movies min='1' id='{admin_branschnyheter:item get="id"/}' }
                           <div class="branschnyheter_movie_div">
					<div class="display_table">
					  <div class="display_table_cell">
						<div class="platsbanken_lefter_row">
							<strong>Länk till filmklipp</strong><br />
							<div class="input_img_div">
								<input type="text" class="form text" name="branschnyheter_movie_link[]" value="{admin_branschnyheter:subitem get='link' /}" />
								<div class="add_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_movie"/></div>
							</div>
						</div>
						<div class="platsbanken_lefter_row">
						  <strong>Bildtext</strong><br />
						  <input type="text" class="form text" name="branschnyheter_movie_text[]" value="{admin_branschnyheter:subitem get='title' /}" />
						</div>
						<div class="platsbanken_lefter_row">
						  <strong>Placering</strong><br />
						  <select name="branschnyheter_movie_location[]">
							<option value=""></option>
							<option value="below_introduction" {if:equals arg1='below_introduction' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals} >Under Ingress</option>
							<option value="below_body_1" {if:equals arg1='below_body_1' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals}>Under brödtext 1</option>
							<option value="below_body_2" {if:equals arg1='below_body_2' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals}>Under brödtext 2</option>
						  </select>
						</div>
					  </div>
					</div>
				</div>
                        {/admin_branschnyheter:get_news_movies}

					</div>
				</div>
			</div>
    </div>

    </form>
</div>

{/template:area}