{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
	<script src="/public/js/admin/branschnyheter/add_edit.js"></script>
{/template:area}

{template:area id="2"}
<div>

{admin_branschnyheter:check_add/}
{admin_branschnyheter:check_edit/} 

	<form id="add_article_form" method="post" action="/admin/branschnyheter/{admin_branschnyheter:check_news_edit/}" enctype="multipart/form-data">
	<input type="hidden" name=" branschnyheter_edit" value="{page:rurl index='3'/}" />
    <input type="hidden" id="branschnyheter_logo_radera" name="branschnyheter_logo_radera" value="" />
    <input type="hidden" id="branschnyheter_image_radera" name="branschnyheter_image_radera" value="" />
    <div>
         <div class="platsbanken_lefter_row">
			<h2>{page:rurl index="3" not_empty="true"}Redigera Branschnyhet{/page:rurl index="3"}{page:rurl index="3" empty="false"}Skapa Branschnyhet{/page:rurl index="3"} </h2>

			{admin_branschnyheter:message check="true"}
				<h3 style="color:limegreen;">{admin_branschnyheter:message/}</h3>
			{/admin_branschnyheter:message}


		</div>
        <div class="platsbanken_lefter_row">
  			<strong>Välj Företag</strong><br />
  			<select name="branschnyheter_company">
  				{admin_foretag:list}
  					<option value="{admin_foretag:item get='id'/}"{if:equals arg1='{admin_foretag:item get="id"/}' arg2='{admin_branschnyheter:item get="company_id"/}'} selected="selected"{/if:equals}>{admin_foretag:item get='name'/}</option>
  				{/admin_foretag:list}
  			</select>
           <input type="checkbox" id="branschnyheter_show_company" name="branschnyheter_show_company" value="yes"  {admin_branschnyheter:get_show_company_info /} /> Koppla inte till företag
  		</div>

        <div class="platsbanken_lefter_row">
    		{admin_branschnyheter:check_article_exists}
				<input type="button" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA"  news="{admin_branschnyheter:item get='id'/}"/>
			{/admin_branschnyheter:check_article_exists}
            {page:rurl index="3" empty="false"}
    		<input type="submit" class="button_green" name="branschnyheter_publish" style="margin:0px;" value="PUBLICERA" />
    		<!--<input type="submit" class="button_green" name="branschnyheter_submit" style="margin:0px;" value="SPARA" /> -->
            {/page:rurl}
            {page:rurl index="3" not_empty="true"}
            <input type="submit" class="button_green" name="branschnyheter_edit" style="margin:0px;" value="REDIGERA" />
            {/page:rurl}
  		</div>
    </div>
    <div style="display:table">
        <div style="display:table-cell;padding-right:20px">
          <div class="platsbanken_lefter_row">
              <strong>Rubrik</strong><br />
              <input type="text" class="form text" name="branschnyheter_title" value="{admin_branschnyheter:item get='title'/}" />
          </div>
          <div class="platsbanken_lefter_row">
              <strong>Ingress</strong><br />
              <input type="hidden" name="no_escape[]" value="branschnyheter_breadcrumb" />
              <textarea class="ckeditor" name="branschnyheter_breadcrumb">{admin_branschnyheter:item get="breadcrumb"/}</textarea>
          </div>
          <div class="platsbanken_lefter_row">
              <strong>Brödtext 1</strong><br />
              <input type="hidden" name="no_escape[]" value="branschnyheter_text1" />
              <textarea class="ckeditor" name="branschnyheter_text1">{admin_branschnyheter:item get="text_1"/}</textarea>
          </div>

          <div class="platsbanken_lefter_row">
              <strong>Brödtext 2</strong><br />
              <input type="hidden" name="no_escape[]" value="branschnyheter_text2" />
              <textarea class="ckeditor" name="branschnyheter_text2">{admin_branschnyheter:item get="text_2"/}</textarea>
          </div>

		   <div class="platsbanken_lefter_row">
			   	{admin_branschnyheter:check_article_exists}
				<input type="button" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA"  news="{admin_branschnyheter:item get='id'/}"/>
    			{/admin_branschnyheter:check_article_exists}
                {page:rurl index="3" empty="false"}
        		<input type="submit" class="button_green" name="branschnyheter_publish" style="margin:0px;" value="PUBLICERA" />
        		<input type="submit" class="button_green" name="branschnyheter_submit" style="margin:0px;" value="SPARA" />
                {/page:rurl}
                {page:rurl index="3" not_empty="true"}
                <input type="submit" class="button_green" name="branschnyheter_edit" style="margin:0px;" value="REDIGERA" />
                {/page:rurl}
			</div>
        </div>
        <div style="display:table-cell">
            <div class="platsbanken_lefter_row">
    			<div class="section_header">Lagg till Bilder</div>
                <br />
                <br />
               <strong>Miniatyrbild</strong><br />
                <div class="img_upload_div">
                    <div class="img_upload_add">
                            <div class="input_file_div" style="display:none">
                                <input type="file" name="branschnyheter_mini" class="image_file_{admin_branschnyheter:item get='id'/} image_file_input" image_id="{admin_branschnyheter:item get='id'/}" />
                            </div>
                            {if:not_empty string="{admin_branschnyheter:item get='image_mini_thumb'/}"}
              					<img src="/public/images/branschnyheter/{admin_branschnyheter:item get='image_mini_thumb'/}" id="branschnyheter_img_src_{admin_branschnyheter:item get='id'/}" image_id="{admin_branschnyheter:item get='id'/}"/><br />
              				{/if:not_empty}
                            {if:empty string="{admin_branschnyheter:item get='image_mini_thumb'/}"}
                                <button type="button" class="button_green image_file_btn" id="image_file_btn_{admin_branschnyheter:item get='id'/}" title="Ladda upp en bild" image_id="{admin_branschnyheter:item get='id'/}"><img src="/public/images/admin/icons/add_24.png"/></button>
                                <div id="create_image_file_path_{admin_branschnyheter:item get='id'/}" style="display:none"></div>
                            {/if:empty}
                     </div>
                </div>
                <button type="button" class="button_orange delete_image_btn" style="width:315px" title="Radera bild" image_id="{admin_branschnyheter:item get='id'/}" img_type="miniature"><img src="/public/images/admin/icons/minus_24.png"/></button>
            </div>

			<div class="platsbanken_lefter_row">
				<div class="display_table">
					<div class="display_table_cell">
						<strong>Stor Bild 1</strong><br />
						<div class="img_upload_div">
							<div class="img_upload_add">
								<div class="input_file_div" style="display:none">
									<input type="file" name="branschnyheter_bild[]" multiple='multiple' class="image_file_{admin_branschnyheter:subitem get='rnum'/} image_file_input" image_id="{admin_branschnyheter:subitem get='rnum'/}" />
								</div>
								{admin_branschnyheter:has_image state="false"}
								<button type="button" class="button_green image_file_btn" title="Ladda upp en bild" id="image_file_btn_{admin_branschnyheter:subitem get='rnum'/}" image_id="{admin_branschnyheter:subitem get='rnum'/}"><img src="/public/images/admin/icons/add_24.png"/></button>
								{/admin_branschnyheter:has_image}
								<div id="create_image_file_path_{admin_branschnyheter:subitem get='rnum'/}" style="display:none"></div>

								{admin_branschnyheter:get_news_images limit='1' id='{admin_branschnyheter:item get="id"/}'}
								{admin_branschnyheter:has_image state="true"}
								<img id="branschnyheter_img_src_{admin_branschnyheter:subitem get='rnum'/}" title="Ikon" src="/public/images/branschnyheter/{admin_branschnyheter:subitem get='image_thumb'/}" image_id="{admin_branschnyheter:subitem get='rnum'/}"><br />
								{/admin_branschnyheter:has_image}
								{/admin_branschnyheter:get_news_images}
							</div>
						</div>
						<div class="img_upload_title"><input type="text" class="form text" multiple='multiple' name="branschnyheter_image_title[]" value="{admin_branschnyheter:subitem get='title'/}" /></div>
						<button type="button" class="button_orange delete_image_btn" style="width:315px" image_id="{admin_branschnyheter:subitem get='rnum'/}" title="Radera bild"><img src="/public/images/admin/icons/minus_24.png"/></button>
					</div>
					<div class="display_table_cell">
						<div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_images"/></div></div>
					</div>
				</div>

			<div class="platsbanken_lefter_row image_list">
				{admin_branschnyheter:get_news_images min='1' id='{admin_branschnyheter:item get="id"/}'}
				<div class='branschnyheter_image_div' style='margin-top:10px'>
				<strong>Stor bild {admin_branschnyheter:subitem get='rownumber'/}</strong>
				<div class="img_upload_div">
					<div class="img_upload_add">
						<div class="input_file_div" style="display:none">
							<input type="file" name="branschnyheter_bild[]" class="image_file_{admin_branschnyheter:subitem get='rnum'/} image_file_input" multiple='multiple' image_id='{admin_branschnyheter:subitem get="rnum"/}' />
						</div>
						{admin_branschnyheter:has_image state="false"}
						<button type="button" class="button_green image_file_btn" id="image_file_btn_{admin_branschnyheter:subitem get='rnum'/} " title="Ladda upp en bild" image_id="{admin_branschnyheter:subitem get='rnum'/}"><img src="/public/images/admin/icons/add_24.png"/></button>
						{/admin_branschnyheter:has_image}
						<div id="create_image_file_path_{admin_branschnyheter:subitem get='rnum'/}" style="display:none"></div>

						{admin_branschnyheter:has_image state="true"}
						  <img id="branschnyheter_img_src_{admin_branschnyheter:subitem get='rnum'/}" title="Ikon" src="/public/images/branschnyheter/{admin_branschnyheter:subitem get='image_thumb'/}"><br />
						{/admin_branschnyheter:has_image}
						
						
						<div class="img_upload_add">
								<div class="input_file_div" style="display:none">
									<input type="file" name="company_bild_{admin_foretag:subitem get='id'/}" multiple='multiple' class="image_file_{admin_foretag:subitem get='id'/} image_file_input" image_id="{admin_foretag:subitem get='id'/}" />
								</div>

								{admin_foretag:has_image state="true"}
								<img id="company_img_src_{admin_foretag:subitem get='id'/}" title="Ikon" src="/public/images/products/{admin_foretag:subitem get='image_thumb'/}" image_id="{admin_foretag:subitem get='id'/}"><br />
								{/admin_foretag:has_image}
								
							<button type="button" style="margin-top:3px;width:30%;" class="button_green image_file_btn" title="Ladda upp ny bild" id="image_file_btn_{admin_foretag:subitem get='id'/}" image_id="{admin_foretag:subitem get='id'/}">Ladda upp ny bild</button>
							<button type="button" style="margin-top:3px;width:30%;" class="button_orange image_product_delete" title="Radera produkt" product_id="{admin_foretag:subitem get='id'/}">Radera produkt</button>
						 </div>
						 
						 
					</div>
				</div>
				<div class="img_upload_title"><input type="text" class="form text" multiple='multiple' name="branschnyheter_image_title[]" value="{admin_branschnyheter:subitem get='title'/}"/></div>
				<button type="button" class="button_orange delete_image_btn" style="width:315px" image_id="{admin_branschnyheter:subitem get='rnum'/}" title="Radera bild"><img src="/public/images/admin/icons/minus_24.png"/></button>
				</div>
				{/admin_branschnyheter:get_news_images}
			</div>

				<div class="platsbanken_lefter_row">
					<div class="section_header">Lägg till filmklipp</div>
				</div>
                {admin_branschnyheter:get_news_movies limit='1' id='{admin_branschnyheter:item get="id"/}' /}
				<div class="branschnyheter_movie_div">
					<div class="display_table">
					  <div class="display_table_cell">
						<div class="platsbanken_lefter_row">
							<strong>Länk till filmklipp</strong><br />
							<div class="input_img_div">
								<input type="text" class="form text" name="branschnyheter_movie_link[]" value="{admin_branschnyheter:subitem get='link' /}" />
								<div class="add_img_div"><img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_movie"/></div>
							</div>
						</div>
						<div class="platsbanken_lefter_row">
						  <strong>Bildtext</strong><br />
						  <input type="text" class="form text" name="branschnyheter_movie_text[]" value="{admin_branschnyheter:subitem get='title' /}" />
						</div>
						<div class="platsbanken_lefter_row">
						  <strong>Placering</strong><br />
						  <select name="branschnyheter_movie_location[]">
							<option value=""></option>
							<option value="below_introduction" {if:equals arg1='below_introduction' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals} >Under Ingress</option>
							<option value="below_body_1" {if:equals arg1='below_body_1' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals}>Under brödtext 1</option>
							<option value="below_body_2" {if:equals arg1='below_body_2' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals}>Under brödtext 2</option>
						  </select>
						</div>
					  </div>
					</div>
				</div>
				<div class="platsbanken_lefter_row">

					<div class="branschnyheter_movie_list">
                        {admin_branschnyheter:get_news_movies min='1' id='{admin_branschnyheter:item get="id"/}' }
                           <div class="branschnyheter_movie_div">
					<div class="display_table">
					  <div class="display_table_cell">
						<div class="platsbanken_lefter_row">
							<strong>Länk till filmklipp</strong><br />
							<div class="input_img_div">
								<input type="text" class="form text" name="branschnyheter_movie_link[]" value="{admin_branschnyheter:subitem get='link' /}" />
								<div class="add_img_div"><img src="/public/images/admin/icons/delete_24.png" alt="delete_24.png" style="cursor:pointer" class="delete_movie"/></div>
							</div>
						</div>
						<div class="platsbanken_lefter_row">
						  <strong>Bildtext</strong><br />
						  <input type="text" class="form text" name="branschnyheter_movie_text[]" value="{admin_branschnyheter:subitem get='title' /}" />
						</div>
						<div class="platsbanken_lefter_row">
						  <strong>Placering</strong><br />
						  <select name="branschnyheter_movie_location[]">
							<option value=""></option>
							<option value="below_introduction" {if:equals arg1='below_introduction' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals} >Under Ingress</option>
							<option value="below_body_1" {if:equals arg1='below_body_1' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals}>Under brödtext 1</option>
							<option value="below_body_2" {if:equals arg1='below_body_2' arg2='{admin_branschnyheter:subitem get="location"/}'} selected="selected"{/if:equals}>Under brödtext 2</option>
						  </select>
						</div>
					  </div>
					</div>
				</div>
                        {/admin_branschnyheter:get_news_movies}

					</div>
				</div>
			</div>
    </div>

    </form>
</div>

{/template:area}