{pager:set attr="items_per_page" value="50"/}
{pager:set attr="page_index" value="3"/}
{pager:set attr="page_margin" value="2"/}
{pager:set attr="url" value="/admin/branschnyheter/requests/[ID]"/}
{pager:number_of_items value="{branschnyheter:list_total_items/}"/}
{pager:divider} {/pager:divider}
{pager:inactive}<button class="button_green" onClick="window.location='{pager:get attr='url'/}'">[ID]</button>{/pager:inactive}
{pager:active}<button class="button_green" onClick="window.location='{pager:get attr='url'/}">([ID])</button>{/pager:active}
{pager:prefix}<button class="button_green" onClick="window.location='/admin/branschnyheter/requests/[FIRST]'">FÖRSTA</button> {/pager:prefix}
{pager:suffix} <button class="button_green" onClick="window.location='/admin/branschnyheter/requests/[LAST]'">SISTA</button>{/pager:suffix}


{template:area id="1"}
<link rel="stylesheet" href="/public/js/jquery_ui/jquery-ui.css" />
<script src="/public/js/jquery_ui/jquery-1.9.1.js"></script>
<script src="/public/js/jquery_ui/jquery-ui.js"></script>
<script>
$(function() {
{branschnyheter:list}
	$( "#dialog_branschnyheter_{branschnyheter:item get='id'/}" ).dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		},
		width: 700
	});
	$( ".opener_{branschnyheter:item get='id'/}" ).click(function() {
		$( "#dialog_branschnyheter_{branschnyheter:item get='id'/}" ).dialog( "open" );
	});
{/branschnyheter:list}
});
</script>
{/template:area}

{template:area id="2"}
<div style="margin:10px;">

{pager:pages/}

<br />
<br />

{branschnyheter:list}
	<div id="dialog_branschnyheter_{branschnyheter:item get='id'/}" title="Visa Annons">
		<table cellspacing="0" cellpadding="5" border="0">
			<tr>
				<td width="150px" valign="top"><strong>Företag</strong></td>
				<td valign="top">{annonser:company_info id='{branschnyheter:item get="company_id"/}' get='name'/}</td>
			</tr>
			<tr>
				<td width="150px" valign="top"><strong>Rubrik</strong></td>
				<td valign="top">{branschnyheter:item get='title'/}</td>
			</tr>
			<tr>
				<td width="150px" valign="top"><strong>Brödtext</strong></td>
				<td valign="top">{branschnyheter:item get='breadcrumb'/}</td>
			</tr>
			<tr>
				<td width="150px" valign="top"><strong>Text</strong></td>
				<td valign="top">{branschnyheter:item get='text'/}</td>
			</tr>
			<tr>
				<td valign="top"><strong>Bild 1</strong></td>
				<td valign="top"><img src="/public/images/branschnyheter/{branschnyheter:item get='image_big_1'/}" title="Ikon" /></td>
			</tr>
			<tr>
				<td valign="top"><strong>Bild 2</strong></td>
				<td valign="top"><img src="/public/images/branschnyheter/{branschnyheter:item get='image_big_2'/}" title="Ikon" /></td>
			</tr>
			<tr>
				<td valign="top"><strong>Aktion</strong><br />(Väntar på svar)</td>
				<td valign="top">
					<button onClick="document.location='/admin/branschnyheter/accept/{branschnyheter:item get='id'/}';return false;">Godkänn</button><br />
					<form method="POST" action="/admin/branschnyheter/decline/{branschnyheter:item get='id'/}">
						Meddelande:<br />
						<textarea class="textarea" name="branschnyheter_status_comment">{branschnyheter:item get='status_comment'/}</textarea><br />
						<button>Neka</button>
					</form>
				</td>
			</tr>
		</table>
	</div>
{/branschnyheter:list}




<br />
<br />
<table class="foretag" cellspacing="0" cellpadding="0">
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Datum</th>
        <th>Nyhet</th>
        <th>Företag</th>
    </tr>
    {branschnyheter:list}
    <tr>
       <td><a href="#" onClick="window.open('/nyheter/{branschnyheter:item get='id'/}','_blank');">Visa</a></td>
       <td><a href="#" onClick="window.location='/admin/branschnyheter/edit/{branschnyheter:item get='id'/}'">Redigera</a></td>
       <td><a href="/admin/branschnyheter/delete/{branschnyheter:item get='id'/}" onClick="return confirm('Vill du verkligen radera \'{branschnyheter:item get='title'/}\'?');">Radera</a></td>
       <td>{date:unix_to_format unix="{branschnyheter:item get='added'/}" format="d/m/Y"/}</td>
       <td>{branschnyheter:item get='title'/}</td>
       <td>{branschnyheter:get_company_name id='{branschnyheter:item get="company_id"/}' get='name' /}</td>
    </tr>
    {/branschnyheter:list}
</table>


<br />
<br />


{pager:pages/}

</div>
{/template:area}