{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
    <script src="/public/js/admin/branschnyheter/edit.js"></script>
{/template:area}

{template:area id="2"}
<div style="margin:10px;line-height:20px;">

	{page:rurl index="3" empty="true"}
		<form method="POST" action="/{page:rurl/}">
			Sök efter branschnyheter:<br />
			<input type="text" class="form text" name="branschnyheter_search" style="width:400px;" /> 
			<input type="submit" class="button_green" style="margin:0px;border:0px;border-bottom:1px;" value="SÖK" />
		</form>
		<br />
		<hr style="width:100%;" />
		<b>Resultat</b><br />
		{admin_branschnyheter:check_search}
			<font style="font-size:8px;">[<a href="/admin/branschnyheter/delete/{admin_branschnyheter:item get='id'/}" onClick="return confirm('Vill du verkligen radera {admin_branschnyheter:item get="title"/}?');">TA BORT</a>]</font> 
			<a href="/admin/branschnyheter/edit/{admin_branschnyheter:item get='id'/}">{admin_branschnyheter:item get="title"/}</a><br />
		{/admin_branschnyheter:check_search}
	{/page:rurl}
	
	
	
	
	
	{page:rurl index="3" not_empty="true"}
		{admin_branschnyheter:check_edit/}
		<form id="edit_article_form" method="post" action="/admin/branschnyheter/edit/{page:rurl index='3'/}" enctype="multipart/form-data">
            <input type="hidden" id="branschnyheter_bild_radera_1" name="branschnyheter_bild_radera_1" value=""/>
            <input type="hidden" id="branschnyheter_bild_radera_2" name="branschnyheter_bild_radera_2" value=""/>

			<div>
				<div class="platsbanken_lefter_row">
					<h2>Redigera Branschnyhet</h2>

					{admin_branschnyheter:message check="true"}
						<h3 style="color:limegreen;">{admin_branschnyheter:message/}</h3>
					{/admin_branschnyheter:message}
				</div>
				
				<div class="platsbanken_lefter_row">
					<strong>Välj Företag</strong><br />
					<select name="branschnyheter_company">
						{admin_foretag:list}
							<option value="{admin_foretag:item get='id'/}"{if:equals arg1='{admin_foretag:item get="id"/}' arg2='{admin_branschnyheter:item get="id"/}'} selected="selected"{/if:equals}>{admin_foretag:item get='name'/}</option>
						{/admin_foretag:list}
					</select>
					<input type="checkbox" id="branschnyheter_show_company" name="branschnyheter_show_company" value="yes" {admin_branschnyheter:get_show_company_info /}/> Koppla inte till företag
				</div>
				
				<div>
					<div class="platsbanken_lefter_row">
						{admin_branschnyheter:check_article_exists}						
							<input type="button" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA" news="{admin_branschnyheter:item get='id'/}" />
						{/admin_branschnyheter:check_article_exists}
						<input type="submit" class="button_green" name="branschnyheter_edit" style="margin:0px;" value="REDIGERA BRANSCHNYHET" />
					</div>
				</div>
            </div>
            <div style="display:table">
                <div style="display:table-cell;padding-right:20px">
                  <div class="platsbanken_lefter_row">
                      <strong>Rubrik</strong><br />
                      <input type="text" class="form text" name="branschnyheter_title" value="{admin_branschnyheter:item get='title'/}" />
                  </div>
                  <div class="platsbanken_lefter_row">
                      <strong>Ingress</strong><br />
                      <input type="hidden" name="no_escape[]" value="branschnyheter_breadcrumb" />
                      <textarea class="ckeditor" name="branschnyheter_breadcrumb">{admin_branschnyheter:item get="breadcrumb"/}</textarea>
                  </div>
                  <div class="platsbanken_lefter_row">
                      <strong>Brödtext 1</strong><br />
                      <input type="hidden" name="no_escape[]" value="branschnyheter_text1" />
                      <textarea class="ckeditor" name="branschnyheter_text1">{admin_branschnyheter:item get="text_1"/}</textarea>
                  </div>

                  <div class="platsbanken_lefter_row">
                      <strong>Brödtext 2</strong><br />
                      <input type="hidden" name="no_escape[]" value="branschnyheter_text2" />
                      <textarea class="ckeditor" name="branschnyheter_text2">{admin_branschnyheter:item get="text_2"/}</textarea>
                  </div>
                </div>
                <div style="display:table-cell">
                    <div class="platsbanken_lefter_row">
            			<div class="section_header">Bilder</div>
                        <br />
                        <br />

            			<!--Bild 1: <input type="file" class="form text" name="branschnyheter_bild[]" id="branschnyheter_bild[]" /><br />
            			<br />
            			Bild 2: <input type="file" class="form text" name="branschnyheter_bild[]" id="branschnyheter_bild[]" />-->
                       <strong>Miniatyrbild</strong><br />
                        <div class="img_upload_div">
                            <div class="img_upload_add">
                                    <div style="display:none">
                                        <input type="file" id="edit_branschnyheter_bild_1" name="branschnyheter_bild_1" />
                                    </div>
                                    {if:not_empty string="{admin_branschnyheter:item get='image_thumb_1'/}"}
                      					<img src="/public/images/branschnyheter/{admin_branschnyheter:item get='image_thumb_1'/}" id="edit_bild_1_image" /><br />
                      				{/if:not_empty}
                                    {if:empty string="{admin_branschnyheter:item get='image_thumb_1'/}"}
                                        <button type="button" class="button_green image_file_btn" id="edit_news_bild_btn_1" title="Ladda upp en bild" onclick="$('#edit_branschnyheter_bild_1').click();"><img src="/public/images/admin/icons/add_24.png"/></button>
                                        <div id="edit_file_path_1" style="display:none"></div>
                                    {/if:empty}
                                    <!--<button type="button" class="button_green image_file_btn" id="news_bild_btn_1" title="Ladda upp en bild" onclick="$('#branschnyheter_bild_1').click();"><img src="/public/images/admin/icons/add_24.png"/></button>
                                    <div id="file_path_1" style="display:none"></div>-->
                             </div>
                        </div>
                        <button type="button" class="button_orange" style="width:315px" title="Radera bild" id="edit_news_delete_img_1"><img src="/public/images/admin/icons/minus_24.png"/></button>
                    </div>

                    <div class="platsbanken_lefter_row">
						<div class="display_table">
							<div class="display_table_cell">
								<strong>Stor Bild 1</strong><br />
								<div class="img_upload_div">
									<div class="img_upload_add">
											<div style="display:none">
												<input type="file" id="edit_branschnyheter_bild_2" name="branschnyheter_bild_2" />
											</div>
											{if:not_empty string="{admin_branschnyheter:item get='image_thumb_2'/}"}
												<img src="/public/images/branschnyheter/{admin_branschnyheter:item get='image_thumb_2'/}" id="edit_bild_2_image" /><br />
											{/if:not_empty}
											{if:empty string="{admin_branschnyheter:item get='image_thumb_2'/}"}
												<button type="button" class="button_green image_file_btn" id="edit_news_bild_btn_2" title="Ladda upp en bild" onclick="$('#edit_branschnyheter_bild_2').click();"><img src="/public/images/admin/icons/add_24.png"/></button>
												<div id="edit_file_path_2" style="display:none"></div>
											{/if:empty}
											<!--<button type="button" class="button_green image_file_btn" id="news_bild_btn_2" title="Ladda upp en bild" onclick="$('#branschnyheter_bild_2').click();"><img src="/public/images/admin/icons/add_24.png"/></button>
											<div id="file_path_2" style="display:none"></div> -->
									 </div>
								</div>
								<button type="button" class="button_orange" style="width:315px" title="Radera bild" id="edit_news_delete_img_2"><img src="/public/images/admin/icons/minus_24.png"/></button>
							</div>
							<div class="display_table_cell" style="padding-top: 20px; padding-left: 10px;">
							  <img src="/public/images/admin/icons/plus_24.png" alt="plus_24.png" style="cursor:pointer" class="add_images"/>
							</div>
						</div>

                    </div>
                </div>
            </div>
			<div>
				<div class="platsbanken_lefter_row">
					<input type="button" class="button_green" name="branschnyheter_preview" style="margin:0px;" value="FÖRHANDSGRANSKA" news="{admin_branschnyheter:item get='id'/}" />
					<input type="submit" class="button_green" name="branschnyheter_edit" style="margin:0px;" value="REDIGERA BRANSCHNYHET" />
				</div>
			</div>
			
		</form>
	{/page:rurl}
</div>
{/template:area}

