{template:area id="1"}
	<link rel="StyleSheet" href="/public/css/konto.css" type="text/css" />
	<script src="/public/js/ckeditor/ckeditor.js"></script>
    <script src="/public/js/admin/branschnyheter/edit.js"></script>
{/template:area}

{template:area id="2"}
claireeee
{/template:area}