{template:area id="20" desc="title"}Kontakta oss på Hotell- & Restaurangtorget | Hrtorget.se{/template:area}
{template:area id="21" desc="description"}Kontaktuppgifter till Hotell- & Restaurangtorget{/template:area}
{template:area id="22" desc="keywords"}Kontaktuppgifter till Hotell- & Restaurangtorget{/template:area}

<div class="box_middle">
	<div class="box_middle_header">Om HRtorget.se - Om Oss</div>
	<div class="box_middle_content">
	
		<div class="box_middle_lefter">
			<a href="/om-oss/om-hrtorget">Om HR Torget</a> | Kontakta Oss | <a href="/om-oss/vara-villkor">Våra Villkor</a>
		</div>
		
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			{html_area:get id="2"/}
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>


