{template:area id="20" desc="title"}Hotell- & Restaurangtorget – Sveriges största marknadsplats för hotell- & restaurangbranschen! | Hrtorget.se{/template:area}
{template:area id="21" desc="description"}Välkommen till Sveriges största marknadsplats för hotell- & restaurangbranschen!{/template:area}
{template:area id="22" desc="keywords"}hotell restaurang cafe portal community marknadsplats{/template:area}

<div class="box_middle">
	<div class="box_middle_header">Om HRtorget.se - Om Oss</div>
	<div class="box_middle_content">
	
		<div class="box_middle_lefter">
			Om HR Torget | <a href="/om-oss/kontakta-oss">Kontakta Oss</a> | <a href="/om-oss/vara-villkor">Våra Villkor</a>
		</div>
		
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			{html_area:get id="1"/}
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>


