{template:area id="20" desc="title"}Villkor för Hotell- & Restaurangtorget | Hrtorget.se{/template:area}
{template:area id="21" desc="description"}Info om cookies och villkor för Hotell- & Restaurangtorget{/template:area}
{template:area id="22" desc="keywords"}Info om cookies och villkor för Hotell- & Restaurangtorget{/template:area}

<div class="box_middle">
	<div class="box_middle_header">Om HRtorget.se - Om Oss</div>
	<div class="box_middle_content">
	
		<div class="box_middle_lefter">
			<a href="/om-oss/om-hrtorget">Om HR Torget</a> | <a href="/om-oss/kontakta-oss">Kontakta Oss</a> | Våra Villkor
		</div>
		
		<div class="box_middle_divider"></div>
		
		<div class="box_middle_lefter">
			{html_area:get id="3"/}
		</div>
		
	</div>
	<div class="box_middle_footer"></div>
</div>


