{konto:new_password/}

<div class="box_big">
	<div class="box_big_header">Konto - Glömt Lösenord</div>
	<div class="box_big_content">
		
			<div class="box_big_lefter">
			
				{konto:new_password_success state="false"}
					<h2>Fyll i den email du registrerade dig med nedan:</h2>
					<br />
					<form method="POST" action="">
					Din Email:<br />
					<input type="text" id="new_password_email" name="new_password_email" style="width:294px;" /><br />
					<br />
					<input type="submit" class="button_green" style="float:left;" name="login_submit" value="SKICKA" />
					<br />
					<br />
					<br />
					</form>
				{/konto:new_password_success}
				
				{konto:new_password_success state="true"}
					<h2>Ett mail har skickats till dig!</h2>
					Följ länken i mailet du har fått från oss, för att byta lösenord.<br />
					<br />
					Det kan ta upp till 5 minuter att få mailet, men det skickas oftast direkt.
				{/konto:new_password_success}
				
			</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>