<div class="box_big">
	<div class="box_big_header">Konto - Meddelanden</div>
	<div class="box_big_content">
	
	{meddelanden:got_messages state="false"}
		Du har inga meddelanden.
	{/meddelanden:got_messages}
	
	{meddelanden:got_messages state="true"}
	
{page:rurl index="2" empty="true"}
	<table width="100%" cellpadding="5" cellspacing="0">
			<tr>
				<td width="100%" colspan="4">
					* = Nytt meddelande
				</td>
			</tr>
			<tr>
				<td width="5%">
					
				</td>
				<td width="50%">
					<b>Titel</b>
				</td>
				<td width="30%">
					<b>Avsändare</b>
				</td>
				<td width="15%">
					<b>Skickad</b>
				</td>
			</tr>
			
		{meddelanden:list}
			<tr>
				<td>
					{meddelanden:got_new_message state="true" parent="{meddelanden:item get='id' /}"}
						*
					{/meddelanden:got_new_message}
				</td>
				<td>
					<a href="/konto/meddelanden/{meddelanden:item get='id' /}">{meddelanden:item get="title" /}</a>
				</td>
				<td>
					{account:by_id id='{meddelanden:item get="sender"/}' get='first_name'/} {account:by_id id='{meddelanden:item get="sender"/}' get='last_name'/}
				</td>
				<td>
					{meddelanden:item get="sent" /}
				</td>
			</tr>
		{/meddelanden:list}
	</table>
		
	{/meddelanden:got_messages}
{/page:rurl}

<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:10px;margin-bottom:10px;" />

	</div>
	<div class="box_big_footer"></div>
</div>
{page:rurl index="2" not_empty="true"}


{meddelanden:messages id="{page:rurl index='2'/}"}
<a name="post_{meddelanden:item get='id'/}"></a>
<div class="box_big_empty">
	<div class="box_big_empty_header"></div>
	<div class="box_big_empty_content" style="min-height:0px;">
		<h2>{meddelanden:item get="title"/}</h2>
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td valign="top" width="100px;">
					<img src="/public/images/users/{platsbanken:profile_image account_id='{meddelanden:item get='sender'/}' /}" style="max-width:75px;" title="Profilbild" />
				</td>
				<td valign="top">
					<h3>{account:by_id id='{meddelanden:item get="sender"/}' get='first_name'/} {account:by_id id='{meddelanden:item get="sender"/}' get='last_name'/}:</h3>
					{meddelanden:item get="message"/}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<hr style="width:100%;border:0px;border-bottom:1px solid #e1e1e1;margin-top:10px;margin-bottom:10px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					{meddelanden:item get="sent"/}
				</td>
			</tr>
		</table>
	</div>
	<div class="box_big_empty_footer"></div>
</div>
{/meddelanden:messages}

<div class="box_big_empty">
	<div class="box_big_empty_header"></div>
	<div class="box_big_empty_content" style="min-height:0px;">
		<h3>Svara på meddelande:</h3>
		<form method="post" action="/{page:rurl/}">
			<b>Rubrik</b><br />
			<br />
			<input type="text" id="title" name="title" style="width:455px;"/><br />
			<br />
			<b>Meddelande</b><br />
			<br />
			<textarea id="message" name="message" style="width:455px;height:200px;"></textarea><br />
			<br />
			<input type="submit" class="button_green" name="message_reply" style="margin:0px;" value="SVARA PÅ MEDDELANDE" />
		</form>
	</div>
	<div class="box_big_empty_footer"></div>
</div>

{/page:rurl}
