{konto:resend_activation/}

<div class="box_big">
	<div class="box_big_header">Konto - Skicka aktiverings mail igen</div>
	<div class="box_big_content">
		
			<div class="box_big_lefter">
			
				{konto:resend_success state="false"}
					<h2>Fyll i den email du registrerade dig med nedan:</h2>
					<br />
					<form method="POST" action="">
					Din Email:<br />
					<input type="text" id="resend_email" name="resend_email" style="width:294px;" /><br />
					<br />
					<input type="submit" class="button_green" style="float:left;" name="login_submit" value="SKICKA MAIL IGEN" />
					<br />
					<br />
					<br />
					</form>
				{/konto:resend_success}
				
				{konto:resend_success state="true"}
					<h2>Verifierings emailet har skickats! Vänligen verifiera din email.</h2>
					Du måste verifiera din email, genom att följa länken i mailet du fått från oss.<br />
					<br />
					Det kan ta upp till 5 minuter att få mailet, men det skickas oftast direkt.
				{/konto:resend_success}
				
			</div>
		
	</div>
	<div class="box_big_footer"></div>
</div>