{template:area id="1"}
	<script>
		$(document).ready(function(){
			$('#language_locale').change(function(){
				var locale = $(this).val();
				window.location = "/admin/language/"+locale;
			});
		});
		
		function toggleTranslationBox(id) {
			$("tr[name="+id+"]").toggle();
		}
	</script>
	<style>
		.syntaxHeader:hover {
			cursor: pointer;
		}
	</style>
{/template:area}

{template:area id="2"}
<div style="margin:15px;">
	<h2>Språk - Översättningar</h2>
	<br />
	<form method="POST" action="?">
		Syntax:<br />
		<input type="TEXT" name="new_syntax_syntax" style="width:400px;" /><br />
		Svenska:<br />
		<textarea name="new_syntax_swedish" style="width:400px;height:50px;"></textarea><br />
		Beskrivning:<br />
		<textarea name="new_syntax_description" style="width:400px;height:50px;"></textarea><br />
		<input type="SUBMIT" name="new_syntax_submit" value="Lägg till" />
	</form>
	<br />
	<hr size="1" width="100%" />
	<br />
	<form method="POST" action="?">
		<table width="100%" cellpadding="5" cellspacing="5">
			<tr>
				<td colspan="2">
					<input type="SUBMIT" value="Spara" />
				</td>
			</tr>
		{admin_language:syntaxes}
			<tr class="syntaxHeader" style="background-color:#e1e1e1;" onClick="toggleTranslationBox('syntaxBox_{admin_language:syntax get='id'/}');">
				<td colspan="2"><h2>{admin_language:syntax get="syntax"/}</h2><i style="color:#808080;">{admin_language:syntax get="description"/}</i></td>
			</tr>
			{admin_language:locales}
			<tr style="display:none;" class="translationBox" name="syntaxBox_{admin_language:syntax get='id'/}">
				<td align="right"><b>{admin_language:locale get="name"/}</b></td>
				<td><textarea name="{admin_language:syntax get='syntax'/}__{admin_language:locale get='locale'/}" style="width:600px;height:50px;">{admin_language:translation/}</textarea></td>
			</tr>
			{/admin_language:locales}
		{/admin_language:syntaxes}
			<tr>
				<td colspan="2">
					<input type="SUBMIT" value="Spara" />
				</td>
			</tr>
		</table>
	</form>
</div>
{/template:area}