/************
 LANDING PAGE
 ************/
.main {
	position: absolute;
	top: 0px;
	left: 200px;
	width: 1265px;
	margin-left: auto;
	margin-right: auto;
	min-height: 500px;
}
.top_banner {
	width: 980px;
	display: block;
}
.top_menu_items {
	width: 980px;
	overflow: hidden;
	height: 25px;
    background-image: url("/public/images/startpage/dark.png");
}
.top_menu_items a {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    width: 120px;
	border-right: 1px solid #17577B;
}
.top_menu_items a:active {
    background-image: url("/public/images/startpage/orange.png");
}
.top_menu_items a:hover {
    background-image: url("/public/images/startpage/light.png");
}
.top_menu_info_bar {
    background: url("/public/images/startpage/submeny.png") no-repeat scroll 0 -11px transparent;
    height: 53px;
    margin-left: -1px;
    overflow: hidden;
    position: static;
    width: 980px;
}
.top_menu_info_bar .box {
	float: left;
	font-size: 13px;
    line-height: 14px;
    margin: 9px 0 0 15px;
    padding: 0;
    text-align: center;
}
.top_white_spacer {
	width: 980px;
	height: 25px;
}
.top_white_spacer .box {
	float: left;
	font-size: 12px;
    line-height: 14px;
    margin: 0px 20px 0 15px;
    padding: 0;
	color: #696969;
}
.content {
	width: 980px;
	display: block;
}
.content .left {
	float: left;
	width: 743px;
	margin-right: 9px;
	margin-top: 7px;
}
.content .left .box {
	width: 732px;
	border: 0px solid #09779e;
	padding: 10px;
	margin-bottom: 20px;
}
.content .right {
	float: right;
	width: 190px;
}
.content .right .reklam {
	margin-bottom: 5px;
}


.box_big {
    width: 780px;
	display: block;
	background-image: url("/public/images/design/box_big_bg.png");
}
.box_big .box_big_header {
    background-image: url("/public/images/design/box_big_header.png");
    color: #FFFFFF;
    display: block;
    font-size: 17px;
    font-weight: bold;
    height: 32px;
    padding-left: 15px;
    padding-top: 10px;
    width: 765px;
}
.box_big .box_big_content {
    width: 740px;
	min-height: 100px;
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.box_big .box_big_footer {
    width: 780px;
	height: 22px;
	display: block;
	background-image: url("/public/images/design/box_big_footer.png");
}


.big_box_divider {
	width: 740px;
	height: 0px;
	display: block;
	margin-top: 20px;
    margin-bottom: 20px;
	border: 0px;
	border-bottom: 1px #e1e1e1 solid;
}
















.box_big_empty {
    width: 780px;
	display: block;
	background-image: url("/public/images/design/box_big_bg.png");
	margin-top: 9px;
}
.box_big_empty .box_big_empty_header {
    background-image: url("/public/images/design/box_big_header_empty.png");
    color: #FFFFFF;
    display: block;
    font-size: 17px;
    font-weight: bold;
    height: 15px;
    padding-left: 15px;
    width: 765px;
}
.box_big_empty .box_big_empty_content {
    display: block;
    min-height: 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    width: 712px;
}
.box_big_empty .box_big_empty_footer {
    width: 780px;
	height: 22px;
	display: block;
	background-image: url("/public/images/design/box_big_footer.png");
}

.box_big_empty_icon {
    display: block;
    float: left;
    height: 100px;
    margin-right: 15px;
    margin-top: -7px;
    width: 150px;
}
.box_big_empty_text {
    display: block;
    float: left;
    height: 100px;
    width: 541px;
}
.box_big_empty_text_title {
    display: block;
    float: left;
    font-size: 20px;
    line-height: 25px;
    margin-left: 0px;
    margin-top: -10px;
    overflow: hidden;
    width: 580px;
}
.box_big_empty_text_area {
    color: #109ACB;
    display: block;
    font-size: 13px;
    font-weight: bold;
	color: grey;
}
.box_big_empty_text_area2 {
    color: #109ACB;
    display: block;
    float: right;
    font-size: 13px;
    font-weight: bold;
    margin-right: -15px;
    margin-top: -25px;
}
.box_big_empty_text_text {
    display: block;
    margin-top: 16px;
    width: 556px;
}
.box_big_empty_text_readmore {
    display: block;
    float: left;
    margin-left: 508px;
    margin-top: 116px;
    position: absolute;
}

